Repository yPinn/Niibot: changes, and which lint-staged commands are due for each by the changed paths.
All: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml, npx --prefix frontend markdownlint --fix

style(ui): add thin scrollbar utility class
  frontend/src/index.css
Due: none

feat(settings): collapsible payment platform cards
  frontend/src/pages/Settings.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

feat(insights): scatter chart and viewer list redesign
  frontend/src/pages/analytics/Insights.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

fix(insights): correct recharts tick and shape prop types
  frontend/src/pages/analytics/Insights.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

fix(insights): cast tick x/y to number before arithmetic
  frontend/src/pages/analytics/Insights.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

feat(analytics): add session/stream-time to insights
  backend/api/routers/analytics_router.py
  backend/shared/repositories/analytics/_query_mixin.py
  backend/tests/shared/test_analytics_repo.py
  frontend/src/api/analytics.ts
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

refactor(ui): extract WarningBanner and DiscordHelpBanner
  frontend/src/components/DiscordHelpBanner.tsx
  frontend/src/components/WarningBanner.tsx
  frontend/src/index.css
  frontend/src/pages/discord/Dashboard.tsx
  frontend/src/pages/docs/GetStarted.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

style(typography): replace text-xs/sm with design tokens
  frontend/src/components/AnalyticsChart.tsx
  frontend/src/components/LoadingSpinner.tsx
  frontend/src/components/StatsCard.tsx
  frontend/src/pages/Landing.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

refactor(routing): normalize URL paths
  frontend/src/App.tsx
  frontend/src/config/navigation.ts
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

feat(online-dropdown): add grant-mod action
  frontend/src/components/OnlineDropdown.tsx
  frontend/src/pages/analytics/Insights.tsx
  frontend/src/pages/modules/VideoQueue.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

feat(analytics): viewer attendance heatmap
  backend/api/routers/analytics_router.py
  backend/api/services/analytics_service.py
  backend/shared/migrations/versions/048_add_chatter_stats_channel_user_index.sql
  backend/shared/repositories/analytics/_query_mixin.py
  frontend/src/api/analytics.ts
  frontend/src/pages/analytics/Insights.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(events): parallel loading for redemptions and rewards
  frontend/src/pages/dashboard/Events.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

feat(animations): add entrance animations to public pages
  frontend/src/pages/DonatePage.tsx
  frontend/src/pages/Login.tsx
  frontend/src/pages/PublicCommands.tsx
  frontend/src/pages/docs/GetStarted.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

feat(video-queue): add Bilibili video support
  backend/api/routers/video_queue_router.py
  backend/shared/migrations/versions/049_video_queue_add_bilibili.sql
  backend/shared/models/video_queue.py
  backend/shared/repositories/video_queue.py
  backend/twitch/components/channel_points.py
  backend/twitch/components/video_queue.py
  frontend/src/api/videoQueue.ts
  frontend/src/pages/VideoQueueOverlay.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(timer): use send_announcement API for announce
  backend/twitch/components/timer_manager.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(ui): add select-none to interactive components
  frontend/src/components/SortableHead.tsx
  frontend/src/components/VariableInserter.tsx
  frontend/src/components/login-form.tsx
  frontend/src/components/nav-channels.tsx
  frontend/src/components/ui/avatar.tsx
  frontend/src/components/ui/badge.tsx
  frontend/src/components/ui/breadcrumb.tsx
  frontend/src/components/ui/button.tsx
  frontend/src/components/ui/dropdown-menu.tsx
  frontend/src/components/ui/select.tsx
  frontend/src/components/ui/sidebar.tsx
  frontend/src/components/ui/table.tsx
  frontend/src/components/ui/tabs.tsx
  frontend/src/components/ui/textarea.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

fix(analytics): remove fixed-height overflow layout in Insights
  frontend/src/pages/analytics/Insights.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

docs: update README for all services
  README.md
  backend/README.md
  frontend/README.md
Due: none

chore: bump version to 1.7.0
  backend/pyproject.toml
  frontend/package-lock.json
  frontend/package.json
Due: npx --prefix frontend prettier --write --ignore-unknown

fix(twitch): fix channel.follow subscription auth
  backend/twitch/core/subscriptions.py
  backend/uv.lock
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(twitch): notify reauth when broadcaster scopes missing
  backend/twitch/components/general_commands.py
  backend/twitch/core/_notify_mixin.py
  backend/twitch/core/bot.py
  backend/twitch/utils/reauth.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

refactor(twitch): move reauth notify to event_message
  backend/twitch/core/bot.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(twitch): rank template anti-repeat and time format
  backend/twitch/components/general_commands.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(frontend): unpin Insights viewer list height from left panel
  frontend/src/pages/analytics/Insights.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

fix(twitch): fix channel.follow subscription auth
  backend/twitch/core/_channel_mixin.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(frontend): remove fixed height cap on Insights viewer list
  frontend/src/pages/analytics/Insights.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

test(twitch): add _needs_reauth to bot event_message fixture
  backend/tests/twitch/test_bot_event_message.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(frontend): token-driven Insights viewer list max-height
  frontend/src/index.css
  frontend/src/pages/analytics/Insights.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

feat(db): add viewer_channel_status and streak tables
  backend/shared/migrations/versions/049_add_viewer_channel_status.sql
  backend/shared/migrations/versions/050_backfill_viewer_attendance_streaks.sql
  backend/shared/migrations/versions/051_add_total_gifts_given.sql
Due: none

feat(analytics): persist viewer status from EventSub events
  backend/api/services/analytics_service.py
  backend/shared/repositories/analytics/_events_mixin.py
  backend/shared/repositories/analytics/_query_mixin.py
  backend/tests/shared/test_analytics_repo.py
  backend/twitch/components/events.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

refactor(analytics): simplify viewer profile endpoint
  backend/api/routers/analytics_router.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(frontend): show Twitch badges and roles in viewer analytics
  frontend/src/api/analytics.ts
  frontend/src/components/ui/icon.tsx
  frontend/src/components/ui/index.ts
  frontend/src/components/ui/tooltip.tsx
  frontend/src/components/ui/twitch-badge.tsx
  frontend/src/pages/analytics/Insights.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

feat(modules): add chat overlay page with route and nav entry
  frontend/src/App.tsx
  frontend/src/config/navigation.ts
  frontend/src/pages/modules/ChatOverlay.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

chore: update dependencies and global styles
  frontend/src/api/config.ts
  frontend/src/index.css
  frontend/src/lib/apiCache.ts
  package-lock.json
  package.json
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

fix(analytics): address code review findings
  backend/api/routers/analytics_router.py
  backend/shared/repositories/analytics/_events_mixin.py
  backend/shared/repositories/analytics/_query_mixin.py
  backend/twitch/components/events.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(frontend): clean up code review findings
  frontend/src/pages/analytics/Insights.tsx
  frontend/src/pages/modules/ChatOverlay.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

fix(analytics): fix 500 on GET /channel/badges
  backend/api/routers/analytics_router.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(chat-overlay): use real badge images in preview
  frontend/src/pages/modules/ChatOverlay.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

fix(analytics): show subscriber badge without custom channel badge
  frontend/src/pages/analytics/Insights.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

Path conditions:
  npx --prefix frontend eslint --fix: any of: frontend/**/*.{js,jsx,ts,tsx}
  npx --prefix frontend prettier --write --ignore-unknown: ((any of: frontend/**/*.{js,jsx,ts,tsx}) or (any of: docs/**/*.md)) or (any of: **/*.{json,yml,yaml})
  uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff: any of: backend/**/*.py
  uv run --project backend ruff format --config backend/pyproject.toml: any of: backend/**/*.py
  npx --prefix frontend markdownlint --fix: any of: docs/**/*.md
