Repository yPinn/Niibot: changes, and which lint-staged commands are due for each by the changed paths.
All: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml, npx --prefix frontend markdownlint --fix

refactor(twitch): reduce token-refresh and reauth log noise
  backend/tests/twitch/test_bot_event_message.py
  backend/tests/twitch/test_bot_token_events.py
  backend/twitch/core/bot.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

refactor(twitch): dedup shared chat session logs
  backend/tests/twitch/test_bot_event_message.py
  backend/twitch/core/bot.py
  backend/twitch/core/subscriptions.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(twitch): handle Optional name in shared chat
  backend/twitch/core/bot.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(packs): events subfolder + xd_ent fact audit
  .gitignore
  backend/data/README.md
  backend/data/packs/twitch_culture/PACK.md
  backend/data/packs/xd_ent/PACK.md
  backend/data/packs/xd_ent/basics.md
  backend/data/packs/xd_ent/ecosystem.md
  backend/data/packs/xd_ent/events/2015-nl-pentakill.md
  backend/data/packs/xd_ent/events/2018-roger-win-trading.md
  backend/data/packs/xd_ent/events/2019-roger-hct-championship.md
  backend/data/packs/xd_ent/events/2024-xdent-founding.md
  backend/data/packs/xd_ent/events/2026-three-way-alliance.md
  backend/data/packs/xd_ent/events/roger-incidents.md
  backend/data/packs/xd_ent/founding.md
  backend/data/packs/xd_ent/notes.md
  backend/data/packs/xd_ent/people/nl.md
  backend/data/packs/xd_ent/people/roger.md
  backend/data/packs/xd_ent/timeline.md
Due: none

refactor(ui): unify lock overlays + zh-tw copy
  frontend/src/components/AffiliateLockOverlay.tsx
  frontend/src/components/LockOverlay.tsx
  frontend/src/components/WipLockOverlay.tsx
  frontend/src/pages/Settings.tsx
  frontend/src/pages/dashboard/Events.tsx
  frontend/src/pages/modules/GameQueue.tsx
  frontend/src/pages/modules/VideoQueue.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

refactor(ui): consolidate Empty into EmptyState helper
  frontend/src/components/ui/empty.tsx
  frontend/src/components/ui/index.ts
  frontend/src/pages/DonatePage.tsx
  frontend/src/pages/PublicCommands.tsx
  frontend/src/pages/analytics/Insights.tsx
  frontend/src/pages/analytics/Matcher.tsx
  frontend/src/pages/analytics/insights/LoyaltyDonut.tsx
  frontend/src/pages/analytics/insights/ViewerList.tsx
  frontend/src/pages/analytics/insights/ViewerScatterChart.tsx
  frontend/src/pages/analytics/matcher/ViewerTable.tsx
  frontend/src/pages/crosshairs/index.tsx
  frontend/src/pages/dashboard/Events.tsx
  frontend/src/pages/dashboard/Timers.tsx
  frontend/src/pages/dashboard/commands/CustomTab.tsx
  frontend/src/pages/docs/Releases.tsx
  frontend/src/pages/modules/GameQueue.tsx
  frontend/src/pages/modules/VideoQueue.tsx
  frontend/src/pages/modules/crosshairs/index.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

fix(ui): tighten RWD breakpoints for tiles and cards
  frontend/src/pages/analytics/Insights.tsx
  frontend/src/pages/docs/GetStarted.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

chore(deps): refresh backend uv and frontend npm lockfiles
  backend/uv.lock
  frontend/package-lock.json
Due: npx --prefix frontend prettier --write --ignore-unknown

fix(security): tighten DOMPurify CSS allowlist
  frontend/src/lib/sanitize.ts
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

fix(cache): forceRefresh bypasses pending dedup
  frontend/src/lib/apiCache.ts
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

fix(auth): refreshUser returns user; gate dev logs
  frontend/src/contexts/AuthContext.tsx
  frontend/src/pages/activate/index.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

refactor(ui): replace raw elements with ui primitives
  frontend/src/components/ErrorBoundary.tsx
  frontend/src/components/ProtectedRoute.tsx
  frontend/src/components/nav-channels.tsx
  frontend/src/pages/dashboard/Overview.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

refactor(format): consolidate utils into lib/format
  frontend/src/lib/format.ts
  frontend/src/pages/analytics/Insights.tsx
  frontend/src/pages/analytics/Matcher.tsx
  frontend/src/pages/analytics/insights/utils.ts
  frontend/src/pages/analytics/matcher/ViewerTable.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

refactor(crosshairs): promote components to components/crosshairs
  frontend/src/components/crosshairs/CrosshairCardBase.tsx
  frontend/src/components/crosshairs/CrosshairPreview.tsx
  frontend/src/components/crosshairs/SortDropdown.tsx
  frontend/src/components/crosshairs/utils.ts
  frontend/src/components/crosshairs/valorantDecode.ts
  frontend/src/pages/crosshairs/index.tsx
  frontend/src/pages/modules/crosshairs/CrosshairAdjustSheet.tsx
  frontend/src/pages/modules/crosshairs/CrosshairCardBase.tsx
  frontend/src/pages/modules/crosshairs/CrosshairPreview.tsx
  frontend/src/pages/modules/crosshairs/SortDropdown.tsx
  frontend/src/pages/modules/crosshairs/utils.ts
  frontend/src/pages/modules/crosshairs/valorantDecode.ts
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

refactor(shared): extract DeleteConfirmDialog and useGrantMod
  frontend/src/components/DeleteConfirmDialog.tsx
  frontend/src/components/ModSetupDialog.tsx
  frontend/src/components/OnlineDropdown.tsx
  frontend/src/hooks/useGrantMod.ts
  frontend/src/pages/Settings.tsx
  frontend/src/pages/admin/index.tsx
  frontend/src/pages/dashboard/Timers.tsx
  frontend/src/pages/dashboard/commands/CommandSheet.tsx
  frontend/src/pages/modules/crosshairs/index.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

fix(dev): mount Docker socket for admin container log access
  docker-compose.dev.yml
Due: npx --prefix frontend prettier --write --ignore-unknown

refactor(pages): split large pages into sub-modules
  frontend/src/pages/admin/Monitor.tsx
  frontend/src/pages/admin/components/ActivationCard.tsx
  frontend/src/pages/admin/components/BotStatusPanel.tsx
  frontend/src/pages/admin/components/ChannelCard.tsx
  frontend/src/pages/admin/components/ScopeSection.tsx
  frontend/src/pages/admin/index.tsx
  frontend/src/pages/admin/monitor/DbConsole.tsx
  frontend/src/pages/admin/monitor/LogLineRow.tsx
  frontend/src/pages/admin/monitor/StatusCards.tsx
  frontend/src/pages/admin/monitor/logParsers.ts
  frontend/src/pages/modules/AI.tsx
  frontend/src/pages/modules/ChatOverlay.tsx
  frontend/src/pages/modules/VideoQueue.tsx
  frontend/src/pages/modules/ai/EmoteSection.tsx
  frontend/src/pages/modules/ai/constants.ts
  frontend/src/pages/modules/ai/utils.ts
  frontend/src/pages/modules/chatOverlay/ChatPreview.tsx
  frontend/src/pages/modules/chatOverlay/CssHighlight.tsx
  frontend/src/pages/modules/chatOverlay/SettingsControls.tsx
  frontend/src/pages/modules/chatOverlay/options.ts
  frontend/src/pages/modules/videoQueue/QueueTable.tsx
  frontend/src/pages/modules/videoQueue/utils.ts
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

refactor(layout): consolidate page and nav chrome into layout/
  frontend/src/App.tsx
  frontend/src/components/layout/PageHeader.tsx
  frontend/src/components/layout/PageMain.tsx
  frontend/src/components/layout/SidebarLayout.tsx
  frontend/src/components/layout/app-sidebar.tsx
  frontend/src/components/layout/bot-switcher.tsx
  frontend/src/components/layout/nav-channels.tsx
  frontend/src/components/layout/nav-main.tsx
  frontend/src/components/layout/nav-secondary.tsx
  frontend/src/components/layout/nav-user.tsx
  frontend/src/components/layout/theme-provider.tsx
  frontend/src/components/ui/sonner.tsx
  frontend/src/pages/Landing.tsx
  frontend/src/pages/Login.tsx
  frontend/src/pages/PublicCommands.tsx
  frontend/src/pages/Settings.tsx
  frontend/src/pages/Support.tsx
  frontend/src/pages/admin/Modules.tsx
  frontend/src/pages/admin/Monitor.tsx
  frontend/src/pages/admin/index.tsx
  frontend/src/pages/analytics/Insights.tsx
  frontend/src/pages/analytics/Matcher.tsx
  frontend/src/pages/crosshairs/index.tsx
  frontend/src/pages/dashboard/Events.tsx
  frontend/src/pages/dashboard/Overview.tsx
  frontend/src/pages/dashboard/Timers.tsx
  frontend/src/pages/dashboard/commands/index.tsx
  frontend/src/pages/discord/Dashboard.tsx
  frontend/src/pages/docs/GetStarted.tsx
  frontend/src/pages/docs/Releases.tsx
  frontend/src/pages/modules/AI.tsx
  frontend/src/pages/modules/ChatOverlay.tsx
  frontend/src/pages/modules/GameQueue.tsx
  frontend/src/pages/modules/VideoQueue.tsx
  frontend/src/pages/modules/crosshairs/index.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

refactor(legal): extract shared LegalSection helper
  frontend/src/components/LegalSection.tsx
  frontend/src/pages/Privacy.tsx
  frontend/src/pages/Terms.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

refactor(picker): unify OptionGroup and OptionButtonGroup
  frontend/src/components/primitives/OptionPicker.tsx
  frontend/src/components/primitives/index.ts
  frontend/src/pages/modules/AI.tsx
  frontend/src/pages/modules/ChatOverlay.tsx
  frontend/src/pages/modules/ai/EmoteSection.tsx
  frontend/src/pages/modules/chatOverlay/SettingsControls.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

feat(db): admission + tenancy schema and backfill
  backend/shared/migrations/versions/076_identities.sql
  backend/shared/migrations/versions/077_admission.sql
  backend/shared/migrations/versions/078_tenant_ownership.sql
  backend/shared/migrations/versions/079_credentials_linkage.sql
  backend/shared/migrations/versions/080_backfill_admission.sql
  backend/shared/migrations/versions/081_backfill_tenant.sql
  backend/shared/migrations/versions/082_backfill_credentials.sql
  backend/shared/migrations/versions/083_tenant_rls.sql
Due: none

feat: rewire admission + tenancy in api, web, bot
  backend/api/core/dependencies.py
  backend/api/routers/admin_router.py
  backend/api/routers/auth_router.py
  backend/api/routers/channels_router.py
  backend/api/routers/commands_router.py
  backend/api/services/__init__.py
  backend/api/services/admission_service.py
  backend/api/services/identity_service.py
  backend/api/services/oauth_service.py
  backend/api/services/tenant_service.py
  backend/shared/repositories/activation_request.py
  backend/shared/repositories/channel_member.py
  backend/shared/repositories/identity.py
  backend/shared/repositories/membership.py
  backend/twitch/components/channel_points.py
  frontend/src/api/admin.ts
  frontend/src/api/config.ts
  frontend/src/api/user.ts
  frontend/src/pages/activate/index.tsx
  frontend/src/pages/admin/components/ActivationCard.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

test: cover admission + tenancy and migrate router tests
  backend/tests/api/test_admin_router.py
  backend/tests/api/test_admission_service.py
  backend/tests/api/test_auth_router.py
  backend/tests/api/test_commands_router.py
  backend/tests/api/test_identity_service.py
  backend/tests/api/test_oauth_service.py
  backend/tests/api/test_tenant_service.py
  backend/tests/shared/test_activation_request_repo.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

docs: admission and tenancy architecture
  CLAUDE.md
  docs/architecture/admission-and-tenancy.md
Due: npx --prefix frontend prettier --write --ignore-unknown, npx --prefix frontend markdownlint --fix

fix(api): pass owner_id when seeding redemptions
  backend/api/services/command_config_service.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(seo): complete metadata and social OG
  frontend/functions/_middleware.ts
  frontend/index.html
  frontend/public/_redirects
  frontend/public/apple-touch-icon.png
  frontend/public/icon-192.png
  frontend/public/icon-512.png
  frontend/public/robots.txt
  frontend/public/site.webmanifest
  frontend/public/sitemap.xml
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

feat: gate WIP lock to production only
  frontend/.env.example
  frontend/README.md
  frontend/src/config/env.test.ts
  frontend/src/config/env.ts
  frontend/src/pages/Settings.tsx
  frontend/src/pages/Support.tsx
  frontend/src/pages/analytics/Matcher.tsx
  frontend/src/vite-env.d.ts
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

docs: add architecture overview and sync READMEs
  README.md
  backend/README.md
  docs/architecture/overview.md
Due: npx --prefix frontend prettier --write --ignore-unknown, npx --prefix frontend markdownlint --fix

chore: bump version to 1.12
  backend/pyproject.toml
  backend/uv.lock
Due: none

fix(scrapling): pin deps with uv.lock
  backend/scrapling/Dockerfile
  backend/scrapling/pyproject.toml
  backend/scrapling/requirements.txt
  backend/scrapling/uv.lock
Due: none

chore: replace deprecated UV_NATIVE_TLS env
  backend/api/Dockerfile
  backend/discord/Dockerfile
  backend/scrapling/Dockerfile
  backend/twitch/Dockerfile
Due: none

fix(discord): fix event-log audit attribution
  backend/discord/cogs/events.py
  backend/tests/discord/test_events.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

perf(discord): cache fonts and share http session
  backend/discord/bot.py
  backend/discord/core/__init__.py
  backend/discord/core/message_image.py
  backend/tests/discord/test_message_image.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(discord): display event-log times in GMT+8
  backend/discord/cogs/events.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat: add admin bot emote sync diagnostics
  backend/api/routers/admin_router.py
  backend/api/routers/ai_settings_router.py
  backend/api/services/emote_sync.py
  backend/tests/api/test_admin_router.py
  backend/tests/api/test_ai_settings_router.py
  frontend/src/api/admin.ts
  frontend/src/api/config.ts
  frontend/src/pages/admin/Modules.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

refactor(discord): bound event-log caches
  backend/discord/cogs/events.py
  backend/tests/discord/test_events.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

refactor(discord): split events cog into a package
  backend/discord/cogs/events/__init__.py
  backend/discord/cogs/events/_audit.py
  backend/discord/cogs/events/_embeds.py
  backend/discord/cogs/events/_persistence.py
  backend/discord/cogs/events/cog.py
  backend/discord/cogs/events/constants.py
  backend/tests/discord/test_events.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(discord): add per-guild role ignore list for logs
  backend/discord/cogs/events/_persistence.py
  backend/discord/cogs/events/cog.py
  backend/tests/discord/test_events.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

Path conditions:
  npx --prefix frontend eslint --fix: any of: frontend/**/*.{js,jsx,ts,tsx}
  npx --prefix frontend prettier --write --ignore-unknown: ((any of: frontend/**/*.{js,jsx,ts,tsx}) or (any of: docs/**/*.md)) or (any of: **/*.{json,yml,yaml})
  uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff: any of: backend/**/*.py
  uv run --project backend ruff format --config backend/pyproject.toml: any of: backend/**/*.py
  npx --prefix frontend markdownlint --fix: any of: docs/**/*.md
