Repository yPinn/Niibot: changes, and which lint-staged commands are due for each by the changed paths.
All: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml, npx --prefix frontend markdownlint --fix

.lintstagedrc:

{
  "frontend/**/*.{js,jsx,ts,tsx}": [
    "npx --prefix frontend eslint --fix",
    "npx --prefix frontend prettier --write --ignore-unknown"
  ],
  "backend/**/*.py": [
    "uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff",
    "uv run --project backend ruff format --config backend/pyproject.toml"
  ],
  "docs/**/*.md": [
    "npx --prefix frontend markdownlint --fix",
    "npx --prefix frontend prettier --write --ignore-unknown"
  ],
  "**/*.{json,yml,yaml}": [
    "npx --prefix frontend prettier --write --ignore-unknown"
  ]
}

feat(frontend): add emote insertion picker
  frontend/src/api/admin.ts
  frontend/src/api/aiSettings.ts
  frontend/src/api/config.ts
  frontend/src/api/emotes.ts
  frontend/src/components/EmoteInserter.test.tsx
  frontend/src/components/EmoteInserter.tsx
  frontend/src/hooks/useChannelEmotes.ts
  frontend/src/lib/apiCache.ts
  frontend/src/pages/modules/AI.test.tsx
  frontend/src/pages/modules/AI.tsx
  frontend/src/pages/modules/ai/EmoteSection.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

feat(frontend): add emote picker to chat editors
  frontend/src/pages/dashboard/Timers.tsx
  frontend/src/pages/dashboard/channelPoints/CheckinSettingsSheet.tsx
  frontend/src/pages/dashboard/channelPoints/FirstSettingsSheet.tsx
  frontend/src/pages/dashboard/commands/CommandSheet.tsx
  frontend/src/pages/dashboard/events/EventSheet.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

fix(api): map new builtin equivalents on import
  backend/api/services/command_import/mapping.py
  backend/api/services/command_import/service.py
  backend/tests/api/test_command_import_mapping.py
  backend/tests/api/test_command_import_router.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(twitch): request channel:manage:broadcast scope
  backend/shared/twitch_scopes.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(twitch): add title/game/tags/marker commands
  backend/tests/twitch/test_channel_info.py
  backend/twitch/components/channel_info.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(twitch): add winner command
  backend/tests/twitch/test_games.py
  backend/twitch/components/games.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(twitch): add accountage command
  backend/tests/twitch/test_viewer_stats.py
  backend/twitch/components/viewer_stats.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(twitch): add del self-timeout command
  backend/tests/twitch/test_general_commands.py
  backend/twitch/components/general_commands.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(twitch): add quote command and quotes table
  backend/shared/migrations/versions/126_add_quotes.sql
  backend/shared/models/quote.py
  backend/shared/repositories/quote.py
  backend/tests/shared/test_attendance_migrations.py
  backend/tests/shared/test_quote_repo.py
  backend/tests/twitch/test_quotes.py
  backend/twitch/components/quotes.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(twitch): register new builtins in the catalog
  backend/shared/builtin_commands.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

test(shared): pin builtin category/order guarantee
  backend/tests/shared/test_command_config_repo.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(twitch): fix two mypy errors from the parity builtins
  backend/twitch/components/general_commands.py
  backend/twitch/components/quotes.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(ai): add roleplay domain compiler
  backend/shared/roleplay/__init__.py
  backend/shared/roleplay/compiler.py
  backend/shared/roleplay/contracts.py
  backend/shared/roleplay/normalization.py
  backend/shared/roleplay/prompt.py
  backend/shared/roleplay/retrieval.py
  backend/shared/roleplay/validation.py
  backend/tests/shared/roleplay/test_roleplay.py
  docs/architecture/roleplay-character-system-v1.md
Due: npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml, npx --prefix frontend markdownlint --fix

feat(ai): add lightweight roleplay evaluation gate
  backend/scripts/eval_roleplay.py
  backend/shared/roleplay/__init__.py
  backend/shared/roleplay/compiler.py
  backend/shared/roleplay/contracts.py
  backend/shared/roleplay/evaluation.py
  backend/shared/roleplay/prompt.py
  backend/shared/roleplay/retrieval.py
  backend/tests/scripts/test_eval_roleplay.py
  backend/tests/shared/roleplay/test_evaluation.py
  backend/tests/shared/roleplay/test_roleplay.py
  docs/architecture/roleplay-character-system-v1.md
  docs/examples/roleplay/rem-character-set.md
Due: npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml, npx --prefix frontend markdownlint --fix

feat(ai): persist roleplay and guard free-tier capacity
  backend/discord/cogs/ai.py
  backend/shared/assistant/__init__.py
  backend/shared/assistant/capacity.py
  backend/shared/assistant/contracts.py
  backend/shared/assistant/harness.py
  backend/shared/assistant/prompt.py
  backend/shared/assistant/router.py
  backend/shared/migrations/versions/127_add_roleplay_sets.sql
  backend/shared/models/__init__.py
  backend/shared/models/roleplay.py
  backend/shared/repositories/ai_settings.py
  backend/shared/repositories/roleplay.py
  backend/shared/roleplay/__init__.py
  backend/shared/roleplay/codec.py
  backend/tests/discord/test_ai.py
  backend/tests/shared/assistant/test_capacity.py
  backend/tests/shared/assistant/test_prompt.py
  backend/tests/shared/assistant/test_router.py
  backend/tests/shared/roleplay/factories.py
  backend/tests/shared/roleplay/test_persistence.py
  backend/tests/shared/roleplay/test_persistence_postgres.py
  backend/tests/shared/test_ai_settings_repo.py
  backend/tests/twitch/test_ai.py
  backend/twitch/components/ai.py
  docs/architecture/ai-assistant-harness.md
  docs/architecture/roleplay-character-system-v1.md
Due: npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml, npx --prefix frontend markdownlint --fix

feat(ai): add tenant roleplay API
  backend/api/app.py
  backend/api/core/dependencies.py
  backend/api/routers/__init__.py
  backend/api/routers/roleplay_router.py
  backend/api/services/__init__.py
  backend/api/services/assistant_scope_notifications.py
  backend/api/services/roleplay_service.py
  backend/shared/assistant/__init__.py
  backend/shared/assistant/scope.py
  backend/tests/api/test_assistant_scope_notifications.py
  backend/tests/api/test_roleplay_router.py
  backend/tests/api/test_roleplay_service.py
  backend/tests/shared/assistant/test_scope_change.py
  docs/architecture/roleplay-character-system-v1.md
  docs/reference/api-endpoints.md
Due: npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml, npx --prefix frontend markdownlint --fix

feat(ai): wire roleplay runtime
  backend/api/routers/ai_settings_router.py
  backend/api/services/emote_sync.py
  backend/shared/assistant/__init__.py
  backend/shared/assistant/memory.py
  backend/shared/assistant/scope.py
  backend/shared/repositories/ai_settings.py
  backend/tests/api/test_ai_settings_router.py
  backend/tests/api/test_emote_sync.py
  backend/tests/shared/assistant/test_memory.py
  backend/tests/shared/assistant/test_scope_change.py
  backend/tests/shared/test_ai_settings_prompt.py
  backend/tests/shared/test_ai_settings_repo.py
  backend/tests/twitch/test_ai.py
  backend/tests/twitch/test_notify_mixin.py
  backend/twitch/components/ai.py
  backend/twitch/core/_notify_mixin.py
  backend/twitch/core/bot.py
  docs/architecture/ai-assistant-harness.md
  docs/architecture/overview.md
  docs/architecture/roleplay-character-system-v1.md
  docs/reference/api-endpoints.md
Due: npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml, npx --prefix frontend markdownlint --fix

feat(ai): add guided roleplay dashboard
  .impeccable/surfaces/frontend-src-pages-modules-ai-tsx.md
  backend/api/app.py
  backend/api/routers/ai_settings_router.py
  backend/api/routers/channels_router.py
  backend/tests/api/test_ai_settings_router.py
  backend/tests/api/test_channels_router.py
  docs/architecture/roleplay-character-system-v1.md
  frontend/src/api/aiSettings.test.ts
  frontend/src/api/aiSettings.ts
  frontend/src/api/config.ts
  frontend/src/api/emotes.ts
  frontend/src/api/roleplay.test.ts
  frontend/src/api/roleplay.ts
  frontend/src/pages/modules/AI.test.tsx
  frontend/src/pages/modules/AI.tsx
  frontend/src/pages/modules/ai/PersonaPanel.tsx
  frontend/src/pages/modules/ai/RoleplayWizard.tsx
  frontend/src/pages/modules/ai/RoleplayWorkspace.test.tsx
  frontend/src/pages/modules/ai/RoleplayWorkspace.tsx
  frontend/src/pages/modules/ai/roleplayWizardUtils.ts
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml, npx --prefix frontend markdownlint --fix

refactor(ai): clarify roleplay authoring copy
  frontend/src/pages/modules/AI.test.tsx
  frontend/src/pages/modules/AI.tsx
  frontend/src/pages/modules/ai/PersonaPanel.tsx
  frontend/src/pages/modules/ai/RoleplayWizard.tsx
  frontend/src/pages/modules/ai/RoleplayWorkspace.test.tsx
  frontend/src/pages/modules/ai/RoleplayWorkspace.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

feat(ai): add private roleplay package transfer
  backend/api/routers/roleplay_router.py
  backend/api/services/roleplay_service.py
  backend/shared/models/roleplay.py
  backend/shared/repositories/roleplay.py
  backend/shared/roleplay/__init__.py
  backend/shared/roleplay/portable.py
  backend/tests/api/test_roleplay_router.py
  backend/tests/api/test_roleplay_service.py
  backend/tests/shared/roleplay/test_persistence.py
  backend/tests/shared/roleplay/test_persistence_postgres.py
  backend/tests/shared/roleplay/test_portable.py
  docs/architecture/roleplay-character-system-v1.md
  frontend/src/api/config.ts
  frontend/src/api/roleplay.test.ts
  frontend/src/api/roleplay.ts
  frontend/src/assets/fontawesome/css/fontawesome.subset.css
  frontend/src/pages/modules/ai/RoleplayImportDialog.tsx
  frontend/src/pages/modules/ai/RoleplayWorkspace.test.tsx
  frontend/src/pages/modules/ai/RoleplayWorkspace.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml, npx --prefix frontend markdownlint --fix

feat(auth): manage Twitch authorization lifecycle
  backend/api/app.py
  backend/api/core/dependencies.py
  backend/api/routers/auth_router.py
  backend/api/routers/bot_accounts_router.py
  backend/api/routers/tenants_router.py
  backend/api/services/__init__.py
  backend/api/services/_twitch_api/_oauth.py
  backend/api/services/auth_service.py
  backend/api/services/bot_account_service.py
  backend/api/services/twitch_api.py
  backend/api/services/twitch_authorization_service.py
  backend/shared/migrations/versions/128_add_twitch_authorization_lifecycle.sql
  backend/shared/repositories/channel.py
  backend/tests/api/test_auth_router.py
  backend/tests/api/test_auth_service.py
  backend/tests/api/test_bot_account_service.py
  backend/tests/api/test_bot_accounts_router.py
  backend/tests/api/test_membership_dependencies.py
  backend/tests/api/test_session_version.py
  backend/tests/api/test_tenants_router.py
  backend/tests/api/test_twitch_api.py
  backend/tests/api/test_twitch_authorization_service.py
  backend/tests/shared/test_twitch_authorization_migration.py
  backend/tests/twitch/test_notify_mixin.py
  backend/twitch/core/_notify_mixin.py
  backend/twitch/core/bot.py
  docs/architecture/bot-accounts-and-collaboration.md
  docs/architecture/overview.md
  docs/reference/api-endpoints.md
  frontend/src/api/botAccounts.test.ts
  frontend/src/api/botAccounts.ts
  frontend/src/api/config.ts
  frontend/src/components/settings/BotAccountsCard.test.tsx
  frontend/src/components/settings/BotAccountsCard.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml, npx --prefix frontend markdownlint --fix

feat(commands): normalize imported bot variables
  backend/api/services/command_import/mapping.py
  backend/api/services/command_import/sources/chiwabots_backup.py
  backend/shared/command_variables.py
  backend/tests/api/test_chiwabots_backup.py
  backend/tests/api/test_command_import_mapping.py
  backend/tests/twitch/test_substitution.py
  backend/twitch/utils/substitution.py
  frontend/src/pages/dashboard/commands/CommandSheet.test.tsx
  frontend/src/pages/dashboard/commands/CommandSheet.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(checkin): add carry-over attendance model
  backend/shared/checkin_templates.py
  backend/shared/migrations/versions/129_add_checkin_carryovers.sql
  backend/shared/models/attendance.py
  backend/shared/repositories/attendance.py
  backend/shared/services/attendance.py
  backend/tests/shared/test_attendance_repo.py
  backend/tests/shared/test_attendance_repo_postgres.py
  backend/tests/shared/test_attendance_service.py
  backend/tests/shared/test_checkin_import_migration.py
  backend/tests/shared/test_checkin_templates.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(checkin): import summaries from tabular sources
  backend/api/app.py
  backend/api/core/dependencies.py
  backend/api/routers/checkin_router.py
  backend/api/services/_twitch_api/_users.py
  backend/api/services/checkin_import/__init__.py
  backend/api/services/checkin_import/formats.py
  backend/api/services/checkin_import/models.py
  backend/api/services/checkin_import/service.py
  backend/api/services/twitch_api.py
  backend/pyproject.toml
  backend/tests/api/test_checkin_import_formats.py
  backend/tests/api/test_checkin_import_router.py
  backend/tests/api/test_checkin_import_service.py
  backend/tests/api/test_membership_dependencies.py
  backend/tests/api/test_twitch_api.py
  backend/uv.lock
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(checkin): add dashboard import workflow
  docs/architecture/attendance-and-community-overlays.md
  docs/reference/api-endpoints.md
  frontend/src/api/checkin.test.ts
  frontend/src/api/checkin.ts
  frontend/src/api/config.ts
  frontend/src/pages/dashboard/channelPoints/CheckinImportSheet.test.tsx
  frontend/src/pages/dashboard/channelPoints/CheckinImportSheet.tsx
  frontend/src/pages/dashboard/channelPoints/CheckinSettingsSheet.tsx
  frontend/src/pages/dashboard/channelPoints/index.test.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, npx --prefix frontend markdownlint --fix

fix(checkin): support Google Sheets column mapping
  backend/api/routers/checkin_router.py
  backend/api/services/checkin_import/formats.py
  backend/api/services/checkin_import/models.py
  backend/api/services/checkin_import/service.py
  backend/tests/api/test_checkin_import_formats.py
  backend/tests/api/test_checkin_import_router.py
  docs/architecture/attendance-and-community-overlays.md
  docs/reference/api-endpoints.md
  frontend/src/api/checkin.test.ts
  frontend/src/api/checkin.ts
  frontend/src/api/config.ts
  frontend/src/pages/dashboard/channelPoints/CheckinImportSheet.test.tsx
  frontend/src/pages/dashboard/channelPoints/CheckinImportSheet.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml, npx --prefix frontend markdownlint --fix

feat(checkin): make imports preview-first
  frontend/src/pages/dashboard/channelPoints/CheckinImportSheet.test.tsx
  frontend/src/pages/dashboard/channelPoints/CheckinImportSheet.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

feat(ai): strengthen roleplay context and voice
  backend/scripts/eval_roleplay.py
  backend/shared/assistant/prompt.py
  backend/shared/packs.py
  backend/shared/repositories/ai_settings.py
  backend/shared/roleplay/__init__.py
  backend/shared/roleplay/codec.py
  backend/shared/roleplay/compiler.py
  backend/shared/roleplay/contracts.py
  backend/shared/roleplay/portable.py
  backend/shared/roleplay/prompt.py
  backend/shared/roleplay/validation.py
  backend/tests/scripts/test_eval_roleplay.py
  backend/tests/shared/assistant/test_prompt.py
  backend/tests/shared/roleplay/test_persistence.py
  backend/tests/shared/roleplay/test_portable.py
  backend/tests/shared/roleplay/test_roleplay.py
  backend/tests/shared/test_ai_settings_prompt.py
  backend/tests/shared/test_packs.py
  backend/tests/twitch/test_ai.py
  backend/twitch/components/ai.py
  docs/architecture/ai-assistant-harness.md
  docs/architecture/roleplay-character-system-v1.md
  docs/examples/roleplay/rem-character-set.json
  docs/examples/roleplay/rem-character-set.md
  frontend/src/api/roleplay.test.ts
  frontend/src/api/roleplay.ts
  frontend/src/pages/modules/ai/RoleplayWizard.tsx
  frontend/src/pages/modules/ai/RoleplayWorkspace.test.tsx
  frontend/src/pages/modules/ai/roleplayWizardUtils.ts
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml, npx --prefix frontend markdownlint --fix

feat(checkin): add daily order variable
  backend/shared/checkin_templates.py
  backend/shared/models/attendance.py
  backend/shared/repositories/attendance.py
  backend/shared/services/attendance.py
  backend/tests/shared/test_attendance_repo.py
  backend/tests/shared/test_attendance_repo_postgres.py
  backend/tests/shared/test_attendance_service.py
  backend/tests/shared/test_checkin_templates.py
  docs/architecture/attendance-and-community-overlays.md
  docs/reference/api-endpoints.md
  frontend/src/pages/dashboard/channelPoints/CheckinSettingsSheet.tsx
  frontend/src/pages/dashboard/channelPoints/index.test.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml, npx --prefix frontend markdownlint --fix

feat(events): support Twitch watch streak shares
  backend/shared/events.py
  backend/shared/migrations/versions/130_add_watch_streak_event.sql
  backend/tests/api/test_event_config_service.py
  backend/tests/api/test_events_router.py
  backend/tests/twitch/test_event_catalog.py
  backend/twitch/components/events.py
  frontend/src/api/events.ts
  frontend/src/pages/dashboard/events/index.test.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(checkin): add portable export and safe data reset
  backend/api/routers/checkin_router.py
  backend/api/services/checkin_data_service.py
  backend/shared/migrations/versions/131_allow_checkin_collection_reset.sql
  backend/tests/api/test_checkin_data_router.py
  backend/tests/api/test_checkin_data_service.py
  backend/tests/shared/test_attendance_repo_postgres.py
  backend/tests/shared/test_collection_migrations.py
  docs/architecture/attendance-and-community-overlays.md
  docs/reference/api-endpoints.md
  frontend/src/api/checkin.test.ts
  frontend/src/api/checkin.ts
  frontend/src/api/config.ts
  frontend/src/pages/dashboard/channelPoints/CheckinDataManagement.test.tsx
  frontend/src/pages/dashboard/channelPoints/CheckinDataManagement.tsx
  frontend/src/pages/dashboard/channelPoints/CheckinSettingsSheet.tsx
  frontend/src/pages/dashboard/channelPoints/index.test.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml, npx --prefix frontend markdownlint --fix

feat(checkin): resolve imported viewers by Twitch identity
  backend/api/routers/checkin_router.py
  backend/api/services/checkin_import/formats.py
  backend/api/services/checkin_import/models.py
  backend/api/services/checkin_import/service.py
  backend/tests/api/test_checkin_import_formats.py
  backend/tests/api/test_checkin_import_router.py
  backend/tests/api/test_checkin_import_service.py
  frontend/src/api/checkin.test.ts
  frontend/src/api/checkin.ts
  frontend/src/api/config.ts
  frontend/src/pages/dashboard/channelPoints/CheckinImportSheet.test.tsx
  frontend/src/pages/dashboard/channelPoints/CheckinImportSheet.tsx
  frontend/src/pages/dashboard/channelPoints/CheckinLeaderboard.test.tsx
  frontend/src/pages/dashboard/channelPoints/CheckinLeaderboard.tsx
  frontend/src/pages/dashboard/channelPoints/index.test.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(events): thank viewers for watch streaks
  backend/shared/events.py
  backend/shared/migrations/versions/134_update_watch_streak_default.sql
  backend/tests/api/test_events_router.py
  backend/tests/twitch/test_event_catalog.py
  frontend/src/pages/dashboard/events/index.test.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(video-queue): secure admission and track playback
  backend/api/routers/donation_router.py
  backend/api/routers/video_queue_router.py
  backend/shared/instafix_client.py
  backend/shared/migrations/versions/132_video_queue_overlay_capability.sql
  backend/shared/migrations/versions/133_video_queue_volume.sql
  backend/shared/migrations/versions/135_video_queue_rankings.sql
  backend/shared/models/video_queue.py
  backend/shared/repositories/video_queue.py
  backend/shared/safe_urls.py
  backend/shared/services/video_queue_admission.py
  backend/shared/video_sources.py
  backend/tests/api/test_video_queue_router.py
  backend/tests/shared/test_instafix_client.py
  backend/tests/shared/test_video_queue_admission.py
  backend/tests/shared/test_video_queue_migrations.py
  backend/tests/shared/test_video_queue_repo.py
  backend/tests/shared/test_video_sources_registry.py
  backend/twitch/components/channel_points.py
  backend/twitch/components/video_queue.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(video-queue): align provider playback lifecycle
  frontend/src/api/config.ts
  frontend/src/api/videoQueue.test.ts
  frontend/src/api/videoQueue.ts
  frontend/src/pages/VideoQueueOverlay.test.tsx
  frontend/src/pages/VideoQueueOverlay.tsx
  frontend/src/pages/videoQueueOverlay/players/bilibili.ts
  frontend/src/pages/videoQueueOverlay/players/instagramReel.ts
  frontend/src/pages/videoQueueOverlay/players/shared.ts
  frontend/src/pages/videoQueueOverlay/players/twitchClip.ts
  frontend/src/pages/videoQueueOverlay/players/twitchVod.test.ts
  frontend/src/pages/videoQueueOverlay/players/twitchVod.ts
  frontend/src/pages/videoQueueOverlay/players/types.ts
  frontend/src/pages/videoQueueOverlay/players/verticalResources.test.ts
  frontend/src/pages/videoQueueOverlay/players/youtube.ts
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

feat(video-queue): add rankings and refine workspace
  frontend/src/assets/fontawesome/css/fontawesome.subset.css
  frontend/src/pages/modules/videoQueue/BlocklistSection.test.tsx
  frontend/src/pages/modules/videoQueue/BlocklistSection.tsx
  frontend/src/pages/modules/videoQueue/HistoryTable.test.tsx
  frontend/src/pages/modules/videoQueue/HistoryTable.tsx
  frontend/src/pages/modules/videoQueue/NowPlayingCard.test.tsx
  frontend/src/pages/modules/videoQueue/NowPlayingCard.tsx
  frontend/src/pages/modules/videoQueue/OverlayCard.test.tsx
  frontend/src/pages/modules/videoQueue/OverlayCard.tsx
  frontend/src/pages/modules/videoQueue/QueueCard.tsx
  frontend/src/pages/modules/videoQueue/RankingPanel.test.tsx
  frontend/src/pages/modules/videoQueue/RankingPanel.tsx
  frontend/src/pages/modules/videoQueue/RulesCard.test.tsx
  frontend/src/pages/modules/videoQueue/RulesCard.tsx
  frontend/src/pages/modules/videoQueue/SettingsCard.test.tsx
  frontend/src/pages/modules/videoQueue/SettingsCard.tsx
  frontend/src/pages/modules/videoQueue/SourceSettingsCard.test.tsx
  frontend/src/pages/modules/videoQueue/SourceSettingsCard.tsx
  frontend/src/pages/modules/videoQueue/VideoQueuePageSkeleton.test.tsx
  frontend/src/pages/modules/videoQueue/VideoQueuePageSkeleton.tsx
  frontend/src/pages/modules/videoQueue/index.tsx
  frontend/src/pages/modules/videoQueue/utils.test.ts
  frontend/src/pages/modules/videoQueue/utils.ts
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

docs(video-queue): document provider and ranking contracts
  docs/architecture/video-queue-platforms.md
  docs/reference/api-endpoints.md
Due: npx --prefix frontend prettier --write --ignore-unknown, npx --prefix frontend markdownlint --fix

fix(settings): support API-only authorization management
  .github/secrets/prod.env.example
  .github/secrets/staging.env.example
  backend/api/app.py
  backend/api/services/bot_account_service.py
  backend/api/services/twitch_authorization_service.py
  backend/shared.env.example
  backend/shared/errors.py
  backend/shared/twitch_token_crypto.py
  backend/tests/api/test_bot_account_service.py
  backend/tests/api/test_twitch_authorization_service.py
  backend/tests/scripts/test_ensure_local_env.py
  docs/guides/development.md
  docs/guides/environment.md
  env.registry.toml
  scripts/ensure_local_env.py
  scripts/env.sh
Due: npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml, npx --prefix frontend markdownlint --fix

fix(settings): harden authorization UI and dev proxy
  frontend/src/api/config.test.ts
  frontend/src/api/config.ts
  frontend/src/components/settings/BotAccountsCard.test.tsx
  frontend/src/components/settings/BotAccountsCard.tsx
  frontend/vite.config.ts
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

feat(live-display): add visual overlay workspace
  frontend/src/pages/modules/CommunityOverlaySettings.test.tsx
  frontend/src/pages/modules/CommunityOverlaySettings.tsx
  frontend/src/pages/modules/communityOverlay/CheckinBlockCard.tsx
  frontend/src/pages/modules/communityOverlay/TarotBlockCard.tsx
  frontend/src/pages/modules/communityOverlay/ThemeEditor.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown
