Repository yPinn/Niibot: changes, and which lint-staged commands are due for each by the changed paths.
All: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml, npx --prefix frontend markdownlint --fix

feat: add global CSS reset, fix oklch color refs, and refine commands UI
  backend/shared/migrations/versions/010_set_default_cooldowns.sql
  backend/shared/migrations/versions/011_fix_cooldowns_and_cleanup.sql
  backend/shared/models/channel.py
  backend/shared/repositories/command_config.py
  backend/twitch/components/channel_points.py
  backend/twitch/components/cmds.py
  backend/twitch/components/command_manager.py
  backend/twitch/core/bot.py
  frontend/src/components/AnalyticsChart.tsx
  frontend/src/components/ui/sidebar.tsx
  frontend/src/index.css
  frontend/src/pages/Commands.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat: command groups, public page, variables
  backend/api/routers/commands_router.py
  backend/api/services/command_config_service.py
  backend/twitch/components/cmds.py
  backend/twitch/components/command_manager.py
  backend/twitch/components/owner_cmds.py
  backend/twitch/core/bot.py
  frontend/src/App.tsx
  frontend/src/api/commands.ts
  frontend/src/api/config.ts
  frontend/src/pages/Commands.tsx
  frontend/src/pages/PublicCommands.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

refactor(Niibot): update twitch bot core and overhaul frontend UI/UX
  backend/twitch/core/bot.py
  frontend/src/App.tsx
  frontend/src/components/login-form.tsx
  frontend/src/index.css
  frontend/src/pages/About.tsx
  frontend/src/pages/Commands.tsx
  frontend/src/pages/Dashboard.tsx
  frontend/src/pages/Events.tsx
  frontend/src/pages/NotFound.tsx
  frontend/src/pages/PublicCommands.tsx
  frontend/src/pages/SystemStatus.tsx
  frontend/src/pages/TypographyDemo.tsx
  frontend/src/pages/discord/Dashboard.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(database): add keep-alive to prevent timeout errors
  backend/discord/bot.py
  backend/shared/database.py
  backend/twitch/main.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(database): add connection validation and retry logic
  backend/shared/database.py
  backend/shared/repositories/command_config.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

refactor(frontend): use Avatar component in PublicCommands page
  frontend/src/pages/PublicCommands.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

perf(database): optimize pool sizing per service workload
  backend/api/core/database.py
  backend/discord/bot.py
  backend/twitch/main.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(database): add connect_timeout for pool init
  backend/shared/database.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

refactor: unify DB pool config, status polling, and frontend fixes
  backend/api/core/database.py
  backend/api/routers/commands_router.py
  backend/api/services/command_config_service.py
  backend/discord/bot.py
  backend/shared/database.py
  backend/twitch/main.py
  frontend/src/App.tsx
  frontend/src/api/bots.ts
  frontend/src/api/commands.ts
  frontend/src/api/config.ts
  frontend/src/components/OnlineDropdown.tsx
  frontend/src/components/login-form.tsx
  frontend/src/contexts/AuthContext.tsx
  frontend/src/contexts/ServiceStatusContext.tsx
  frontend/src/index.css
  frontend/src/pages/Commands.tsx
  frontend/src/pages/Dashboard.tsx
  frontend/src/pages/Events.tsx
  frontend/src/pages/PublicCommands.tsx
  frontend/src/pages/SystemStatus.tsx
  frontend/src/pages/TypographyDemo.tsx
  frontend/src/pages/discord/Dashboard.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix: route metadata, game_id, session resilience, pg_listener
  backend/api/routers/auth_router.py
  backend/api/routers/commands_router.py
  backend/api/services/command_config_service.py
  backend/api/services/twitch_api.py
  backend/shared/repositories/analytics.py
  backend/twitch/components/cmds.py
  backend/twitch/core/bot.py
  backend/twitch/core/pg_listener.py
  frontend/public/_routes.json
  frontend/src/hooks/useDocumentTitle.ts
  frontend/src/pages/About.tsx
  frontend/src/pages/Commands.tsx
  frontend/src/pages/Dashboard.tsx
  frontend/src/pages/Events.tsx
  frontend/src/pages/Login.tsx
  frontend/src/pages/NotFound.tsx
  frontend/src/pages/PublicCommands.tsx
  frontend/src/pages/SystemStatus.tsx
  frontend/src/pages/discord/Dashboard.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(database): expire stale connections on health check failure
  backend/shared/database.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(twitch): verify sessions via Twitch API instead of relying on EventSub
  backend/twitch/core/bot.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

perf(database): tune pool keepalive for Supabase idle disconnect
  backend/shared/database.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

style: format session verify loop (linter)
  backend/twitch/core/bot.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix: add Cloudflare Pages Function for /status endpoint
  frontend/functions/status/index.ts
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

fix(analytics): reconcile session durations with Twitch VOD data
  backend/shared/repositories/analytics.py
  backend/twitch/core/bot.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

style: format analytics and bot (ruff)
  backend/shared/repositories/analytics.py
  backend/twitch/core/bot.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat: add command tabs, polling session tracker, spacing system
  backend/api/routers/commands_router.py
  backend/api/services/command_config_service.py
  backend/shared/database.py
  backend/twitch/core/bot.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/api/commands.ts
  frontend/src/components/ui/tabs.tsx
  frontend/src/index.css
  frontend/src/pages/About.tsx
  frontend/src/pages/Commands.tsx
  frontend/src/pages/Dashboard.tsx
  frontend/src/pages/Events.tsx
  frontend/src/pages/Login.tsx
  frontend/src/pages/NotFound.tsx
  frontend/src/pages/PublicCommands.tsx
  frontend/src/pages/SystemStatus.tsx
  frontend/src/pages/discord/Dashboard.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(api): non-blocking DB connect to prevent Render port scan timeout
  backend/api/app.py
  backend/api/core/dependencies.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(commands): use CardAction for header layout
  frontend/src/hooks/useDocumentTitle.ts
  frontend/src/pages/About.tsx
  frontend/src/pages/Commands.tsx
  frontend/src/pages/Dashboard.tsx
  frontend/src/pages/Events.tsx
  frontend/src/pages/Login.tsx
  frontend/src/pages/NotFound.tsx
  frontend/src/pages/PublicCommands.tsx
  frontend/src/pages/SystemStatus.tsx
  frontend/src/pages/discord/Dashboard.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

fix(auth): redirect to login on DB not ready during OAuth callback
  backend/api/routers/auth_router.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

perf(database): tune pool timeouts and cache ensure_defaults
  backend/api/app.py
  backend/shared/database.py
  backend/shared/repositories/command_config.py
  backend/shared/repositories/event_config.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(bot): prevent 429 restart loop and improve rate limit handling
  backend/discord/bot.py
  backend/discord/cogs/birthday/cog.py
  backend/twitch/main.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(database): log exception type when connection error message is empty
  backend/shared/database.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

debug(database): add network diagnostics on first connection failure
  backend/shared/database.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

style: format database.py (ruff)
  backend/shared/database.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

refactor(database): separate Session/Transaction Pooler pool configs
  backend/shared/database.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(health): decouple from DB for Render
  backend/api/app.py
  backend/discord/bot.py
  backend/shared/cache.py
  backend/shared/database.py
  backend/twitch/core/bot.py
  backend/twitch/main.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(logging): ensure Rich handler with force=True
  backend/discord/bot.py
  backend/twitch/core/logging.py
  backend/twitch/main.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

refactor: unify architecture standards across all services
  backend/api/core/config.py
  backend/api/core/logging.py
  backend/api/main.py
  backend/discord/bot.py
  backend/discord/core/__init__.py
  backend/discord/core/config.py
  backend/discord/core/health_server.py
  backend/discord/core/logging.py
  backend/shared/cache.py
  backend/shared/database.py
  backend/twitch/core/health_server.py
  backend/twitch/main.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(cache): add stale fallback for DB resilience
  backend/shared/cache.py
  backend/shared/repositories/analytics.py
  backend/shared/repositories/birthday.py
  backend/shared/repositories/channel.py
  backend/shared/repositories/command_config.py
  backend/shared/repositories/event_config.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(auth): add unified users table and refactor auth system
  backend/api/core/dependencies.py
  backend/api/routers/analytics_router.py
  backend/api/routers/auth_router.py
  backend/api/routers/channels_router.py
  backend/api/routers/commands_router.py
  backend/api/routers/events_router.py
  backend/api/routers/stats_router.py
  backend/api/services/auth_service.py
  backend/shared/migrations/versions/012_add_users_table.sql
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(frontend): sync theme preference from user account
  frontend/src/App.tsx
  frontend/src/api/config.ts
  frontend/src/api/user.ts
  frontend/src/components/theme-provider.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

chore: update configs and frontend polish
  backend/api/.env.example
  backend/api/services/twitch_api.py
  backend/discord/.env.example
  backend/twitch/.env.example
  backend/twitch/components/cmds.py
  frontend/package-lock.json
  frontend/src/api/commands.ts
  frontend/src/api/events.ts
  frontend/src/pages/Commands.tsx
  frontend/src/pages/Events.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(resilience): add warm cache, exception isolation, and pool heartbeat
  backend/discord/bot.py
  backend/shared/database.py
  backend/shared/repositories/command_config.py
  backend/twitch/core/bot.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(resilience): add exception isolation to guards, auth, and list endpoints
  backend/api/routers/auth_router.py
  backend/shared/repositories/channel.py
  backend/shared/repositories/command_config.py
  backend/shared/repositories/event_config.py
  backend/twitch/core/bot.py
  backend/twitch/core/guards.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(frontend): add login error alert components
  frontend/src/components/AnalyticsChart.tsx
  frontend/src/components/LoadingSpinner.tsx
  frontend/src/components/OnlineDropdown.tsx
  frontend/src/components/StatsCard.tsx
  frontend/src/components/app-sidebar.tsx
  frontend/src/components/bot-switcher.tsx
  frontend/src/components/layouts/SidebarLayout.tsx
  frontend/src/components/login-form.tsx
  frontend/src/components/nav-channels.tsx
  frontend/src/components/nav-main.tsx
  frontend/src/components/nav-secondary.tsx
  frontend/src/components/nav-user.tsx
  frontend/src/components/ui/alert.tsx
  frontend/src/components/ui/index.ts
  frontend/src/pages/About.tsx
  frontend/src/pages/Commands.tsx
  frontend/src/pages/Events.tsx
  frontend/src/pages/NotFound.tsx
  frontend/src/pages/PublicCommands.tsx
  frontend/src/pages/SystemStatus.tsx
  frontend/src/pages/TypographyDemo.tsx
  frontend/src/pages/discord/Dashboard.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

feat: add command management options, case-insensitive matching, and UI polish
  backend/discord/cogs/admin.py
  backend/discord/cogs/events.py
  backend/discord/cogs/moderation.py
  backend/shared/repositories/command_config.py
  backend/twitch/components/command_manager.py
  backend/twitch/core/bot.py
  frontend/src/components/OnlineDropdown.tsx
  frontend/src/components/StatsCard.tsx
  frontend/src/pages/Commands.tsx
  frontend/src/pages/Events.tsx
  frontend/src/pages/PublicCommands.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix: cross-origin cookie policy and canonical Tailwind classes
  backend/api/routers/auth_router.py
  frontend/src/components/AnalyticsChart.tsx
  frontend/src/components/nav-channels.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

Path conditions:
  npx --prefix frontend eslint --fix: any of: frontend/**/*.{js,jsx,ts,tsx}
  npx --prefix frontend prettier --write --ignore-unknown: ((any of: frontend/**/*.{js,jsx,ts,tsx}) or (any of: docs/**/*.md)) or (any of: **/*.{json,yml,yaml})
  uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff: any of: backend/**/*.py
  uv run --project backend ruff format --config backend/pyproject.toml: any of: backend/**/*.py
  npx --prefix frontend markdownlint --fix: any of: docs/**/*.md
