Repository yPinn/Niibot: changes, and which lint-staged commands are due for each by the changed paths.
All: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml, npx --prefix frontend markdownlint --fix

.lintstagedrc:

{
  "frontend/**/*.{js,jsx,ts,tsx}": [
    "npx --prefix frontend eslint --fix",
    "npx --prefix frontend prettier --write --ignore-unknown"
  ],
  "backend/**/*.py": [
    "uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff",
    "uv run --project backend ruff format --config backend/pyproject.toml"
  ],
  "docs/**/*.md": [
    "npx --prefix frontend markdownlint --fix",
    "npx --prefix frontend prettier --write --ignore-unknown"
  ],
  "**/*.{json,yml,yaml}": [
    "npx --prefix frontend prettier --write --ignore-unknown"
  ]
}

fix(auth): handle OAuth response failures
  frontend/src/api/errors.ts
  frontend/src/api/twitchOAuth.test.ts
  frontend/src/api/twitchOAuth.ts
  frontend/src/components/login-form.test.tsx
  frontend/src/components/login-form.tsx
  frontend/src/contexts/AuthContext.test.tsx
  frontend/src/contexts/AuthContext.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

feat(checkin): add channel leaderboard
  backend/api/routers/checkin_router.py
  backend/shared/models/attendance.py
  backend/shared/repositories/attendance.py
  backend/shared/services/attendance.py
  backend/tests/api/test_checkin_router.py
  backend/tests/shared/test_attendance_repo.py
  backend/tests/shared/test_attendance_service.py
  frontend/src/api/checkin.test.ts
  frontend/src/api/checkin.ts
  frontend/src/api/config.ts
  frontend/src/pages/dashboard/channelPoints/CheckinLeaderboard.tsx
  frontend/src/pages/dashboard/channelPoints/CheckinSettingsSheet.tsx
  frontend/src/pages/dashboard/channelPoints/index.test.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

test(checkin): verify leaderboard with PostgreSQL
  .github/workflows/ci.yml
  backend/tests/shared/test_attendance_repo_postgres.py
Due: npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(vip): support manual VIP removal
  backend/api/routers/vip_router.py
  backend/api/services/_twitch_api/_channel.py
  backend/shared/services/vip.py
  backend/tests/api/test_twitch_api.py
  backend/tests/api/test_vip_router.py
  backend/tests/shared/test_vip_service.py
  frontend/src/api/vip.test.ts
  frontend/src/api/vip.ts
  frontend/src/assets/fontawesome/css/fontawesome.subset.css
  frontend/src/assets/fontawesome/fontawesomeSubset.test.ts
  frontend/src/pages/dashboard/channelPoints/VipSettingsSheet.tsx
  frontend/src/pages/dashboard/channelPoints/index.test.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

docs(deploy): document Cloudflare request limits
  docs/guides/cloudflare-pages.md
  docs/guides/deployment.md
Due: npx --prefix frontend prettier --write --ignore-unknown, npx --prefix frontend markdownlint --fix

fix(overlay): reduce persistent polling traffic
  frontend/src/config/overlayPolling.test.ts
  frontend/src/config/overlayPolling.ts
  frontend/src/pages/CommunityOverlay.test.tsx
  frontend/src/pages/CommunityOverlay.tsx
  frontend/src/pages/GameQueueOverlay.tsx
  frontend/src/pages/VideoQueueOverlay.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

docs(deploy): define Live Display stream contract
  docs/guides/cloudflare-pages.md
Due: npx --prefix frontend prettier --write --ignore-unknown, npx --prefix frontend markdownlint --fix

feat(api): stream Live Display updates
  backend/api/app.py
  backend/api/core/dependencies.py
  backend/api/routers/community_overlay_router.py
  backend/api/services/community_overlay_stream.py
  backend/shared/migrations/versions/104_notify_community_overlay_updates.sql
  backend/shared/models/attendance.py
  backend/shared/repositories/community_overlay.py
  backend/shared/services/community_overlay.py
  backend/tests/api/test_community_overlay_stream.py
  backend/tests/shared/test_attendance_migrations.py
  backend/tests/shared/test_community_overlay_repo.py
  backend/tests/shared/test_community_overlay_service.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(overlay): consume Live Display event stream
  frontend/functions/api/[[path]].ts
  frontend/functions/api/proxy.test.ts
  frontend/src/api/communityOverlayStream.test.ts
  frontend/src/api/communityOverlayStream.ts
  frontend/src/api/config.ts
  frontend/src/config/overlayPolling.test.ts
  frontend/src/config/overlayPolling.ts
  frontend/src/pages/CommunityOverlay.test.tsx
  frontend/src/pages/CommunityOverlay.tsx
  frontend/vitest.config.ts
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

docs: correct stale Live Display transport description
  docs/architecture/attendance-and-community-overlays.md
Due: npx --prefix frontend prettier --write --ignore-unknown, npx --prefix frontend markdownlint --fix

feat(checkin): rank by ledger, add reply delay
  backend/api/routers/checkin_router.py
  backend/shared/builtin_commands.py
  backend/shared/migrations/versions/105_add_checkin_reply_delay.sql
  backend/shared/models/attendance.py
  backend/shared/repositories/attendance.py
  backend/shared/services/attendance.py
  backend/tests/api/test_checkin_router.py
  backend/tests/shared/test_attendance_migrations.py
  backend/tests/shared/test_attendance_repo.py
  backend/tests/shared/test_attendance_repo_postgres.py
  backend/tests/shared/test_attendance_service.py
  backend/tests/twitch/test_attendance_commands.py
  backend/tests/twitch/test_channel_points_checkin.py
  backend/twitch/components/attendance.py
  backend/twitch/components/channel_points.py
  backend/twitch/components/general_commands.py
  docs/architecture/attendance-and-community-overlays.md
  docs/reference/api-endpoints.md
  frontend/src/api/checkin.test.ts
  frontend/src/api/checkin.ts
  frontend/src/pages/dashboard/channelPoints/CheckinSettingsSheet.tsx
  frontend/src/pages/dashboard/channelPoints/index.test.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml, npx --prefix frontend markdownlint --fix

fix(overlay): make contrast advisory, simplify Live Display UI
  backend/shared/community_overlay_themes.py
  backend/tests/api/test_community_overlay_router.py
  backend/tests/shared/test_community_overlay_themes.py
  docs/guides/cloudflare-pages.md
  docs/reference/api-endpoints.md
  frontend/src/pages/CommunityOverlay.test.tsx
  frontend/src/pages/CommunityOverlay.tsx
  frontend/src/pages/modules/CommunityOverlaySettings.test.tsx
  frontend/src/pages/modules/CommunityOverlaySettings.tsx
  frontend/src/pages/modules/communityOverlay/ThemeEditor.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml, npx --prefix frontend markdownlint --fix

docs(video-queue): stream contract + naming map
  docs/architecture/attendance-and-community-overlays.md
  docs/guides/cloudflare-pages.md
  docs/reference/api-endpoints.md
Due: npx --prefix frontend prettier --write --ignore-unknown, npx --prefix frontend markdownlint --fix

feat(api): stream Video Queue updates via NOTIFY-woken SSE
  backend/api/app.py
  backend/api/core/dependencies.py
  backend/api/routers/community_overlay_router.py
  backend/api/routers/video_queue_router.py
  backend/api/services/notify_stream.py
  backend/shared/migrations/versions/106_notify_video_queue_updates.sql
  backend/shared/repositories/video_queue.py
  backend/tests/api/test_community_overlay_stream.py
  backend/tests/api/test_notify_stream.py
  backend/tests/api/test_video_queue_router.py
  backend/tests/shared/test_video_queue_migrations.py
  backend/tests/shared/test_video_queue_repo.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(overlay): consume Video Queue event stream
  frontend/functions/api/[[path]].ts
  frontend/functions/api/proxy.test.ts
  frontend/src/api/communityOverlayStream.ts
  frontend/src/api/config.ts
  frontend/src/api/sseStream.test.ts
  frontend/src/api/sseStream.ts
  frontend/src/api/videoQueueStream.test.ts
  frontend/src/api/videoQueueStream.ts
  frontend/src/config/overlayPolling.test.ts
  frontend/src/config/overlayPolling.ts
  frontend/src/pages/VideoQueueOverlay.test.tsx
  frontend/src/pages/VideoQueueOverlay.tsx
  frontend/vitest.config.ts
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

refactor(video-queue): unify platform registry
  backend/api/routers/video_queue_router.py
  backend/shared/video_sources.py
  backend/tests/api/test_video_queue_router.py
  backend/tests/shared/test_video_sources_registry.py
  backend/tests/twitch/test_channel_points_video_queue.py
  backend/twitch/components/channel_points.py
  backend/twitch/components/video_queue.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

refactor(overlay): split player strategies by platform
  frontend/src/pages/VideoQueueOverlay.test.tsx
  frontend/src/pages/VideoQueueOverlay.tsx
  frontend/src/pages/modules/VideoQueue.tsx
  frontend/src/pages/modules/videoQueue/QueueTable.tsx
  frontend/src/pages/videoQueueOverlay/players/bilibili.ts
  frontend/src/pages/videoQueueOverlay/players/index.ts
  frontend/src/pages/videoQueueOverlay/players/shared.ts
  frontend/src/pages/videoQueueOverlay/players/twitchClip.ts
  frontend/src/pages/videoQueueOverlay/players/types.ts
  frontend/src/pages/videoQueueOverlay/players/youtube.ts
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

docs(video-queue): platform support notes
  docs/architecture/video-queue-platforms.md
Due: npx --prefix frontend prettier --write --ignore-unknown, npx --prefix frontend markdownlint --fix

fix(twitch): back off failing timed VIP expiry loop
  backend/tests/twitch/test_channel_points_vip.py
  backend/twitch/components/channel_points.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(ci): audit installed env not lockfile universe
  .github/workflows/ci.yml
Due: npx --prefix frontend prettier --write --ignore-unknown

fix(ci): audit installed env not lockfile universe (#186)
  .github/workflows/ci.yml
Due: npx --prefix frontend prettier --write --ignore-unknown

chore(husky): migrate hooks to v9 format
  .husky/commit-msg
  .husky/pre-commit
  package.json
Due: npx --prefix frontend prettier --write --ignore-unknown

chore(husky): migrate hooks to v9 format (#187)
  .husky/commit-msg
  .husky/pre-commit
  package.json
Due: npx --prefix frontend prettier --write --ignore-unknown

chore(deps): refresh transitive lockfile versions
  frontend/package-lock.json
  package-lock.json
Due: npx --prefix frontend prettier --write --ignore-unknown

chore(deps): refresh transitive lockfile versions (#188)
  frontend/package-lock.json
  package-lock.json
Due: npx --prefix frontend prettier --write --ignore-unknown

fix(video-queue): clip embed + timer fallback
  backend/shared/video_sources.py
  docs/architecture/video-queue-platforms.md
  frontend/src/pages/VideoQueueOverlay.test.tsx
  frontend/src/pages/VideoQueueOverlay.tsx
  frontend/src/pages/videoQueueOverlay/players/bilibili.ts
  frontend/src/pages/videoQueueOverlay/players/index.ts
  frontend/src/pages/videoQueueOverlay/players/shared.ts
  frontend/src/pages/videoQueueOverlay/players/twitchClip.ts
  frontend/src/pages/videoQueueOverlay/players/types.ts
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml, npx --prefix frontend markdownlint --fix

fix(video-queue): clip embed + timer fallback (#189)
  backend/shared/video_sources.py
  docs/architecture/video-queue-platforms.md
  frontend/src/pages/VideoQueueOverlay.test.tsx
  frontend/src/pages/VideoQueueOverlay.tsx
  frontend/src/pages/videoQueueOverlay/players/bilibili.ts
  frontend/src/pages/videoQueueOverlay/players/index.ts
  frontend/src/pages/videoQueueOverlay/players/shared.ts
  frontend/src/pages/videoQueueOverlay/players/twitchClip.ts
  frontend/src/pages/videoQueueOverlay/players/types.ts
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml, npx --prefix frontend markdownlint --fix

feat(video-queue): reject unplayable YouTube videos
  backend/api/routers/video_queue_router.py
  backend/shared/video_sources.py
  backend/tests/api/test_video_queue_router.py
  backend/tests/shared/test_video_queue_repo.py
  backend/tests/shared/test_video_sources_registry.py
  backend/tests/twitch/test_channel_points_video_queue.py
  backend/twitch/components/channel_points.py
  backend/twitch/components/video_queue.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(video-queue): live dashboard via SSE, now-playing progress
  docs/architecture/video-queue-platforms.md
  frontend/src/hooks/useVideoQueueStream.test.ts
  frontend/src/hooks/useVideoQueueStream.ts
  frontend/src/pages/modules/VideoQueue.tsx
  frontend/src/pages/modules/videoQueue/utils.ts
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, npx --prefix frontend markdownlint --fix

feat(video-queue): playability precheck + live dashboard (P1) (#190)
  backend/api/routers/video_queue_router.py
  backend/shared/video_sources.py
  backend/tests/api/test_video_queue_router.py
  backend/tests/shared/test_video_queue_repo.py
  backend/tests/shared/test_video_sources_registry.py
  backend/tests/twitch/test_channel_points_video_queue.py
  backend/twitch/components/channel_points.py
  backend/twitch/components/video_queue.py
  docs/architecture/video-queue-platforms.md
  frontend/src/hooks/useVideoQueueStream.test.ts
  frontend/src/hooks/useVideoQueueStream.ts
  frontend/src/pages/modules/VideoQueue.tsx
  frontend/src/pages/modules/videoQueue/utils.ts
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml, npx --prefix frontend markdownlint --fix

fix(overlay): mute plumbing + clip autoplay attr
  docs/architecture/video-queue-platforms.md
  frontend/src/pages/VideoQueueOverlay.test.tsx
  frontend/src/pages/VideoQueueOverlay.tsx
  frontend/src/pages/modules/VideoQueue.tsx
  frontend/src/pages/videoQueueOverlay/players/bilibili.ts
  frontend/src/pages/videoQueueOverlay/players/twitchClip.ts
  frontend/src/pages/videoQueueOverlay/players/types.ts
  frontend/src/pages/videoQueueOverlay/players/youtube.ts
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, npx --prefix frontend markdownlint --fix

fix(overlay): mute plumbing + clip autoplay attr (#191)
  docs/architecture/video-queue-platforms.md
  frontend/src/pages/VideoQueueOverlay.test.tsx
  frontend/src/pages/VideoQueueOverlay.tsx
  frontend/src/pages/modules/VideoQueue.tsx
  frontend/src/pages/videoQueueOverlay/players/bilibili.ts
  frontend/src/pages/videoQueueOverlay/players/twitchClip.ts
  frontend/src/pages/videoQueueOverlay/players/types.ts
  frontend/src/pages/videoQueueOverlay/players/youtube.ts
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, npx --prefix frontend markdownlint --fix

fix(overlay): revert allow-attr, restore bilibili OBS url
  docs/architecture/video-queue-platforms.md
  frontend/src/pages/VideoQueueOverlay.test.tsx
  frontend/src/pages/videoQueueOverlay/players/bilibili.ts
  frontend/src/pages/videoQueueOverlay/players/twitchClip.ts
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, npx --prefix frontend markdownlint --fix

fix(overlay): revert allow-attr, restore bilibili OBS url (#193)
  docs/architecture/video-queue-platforms.md
  frontend/src/pages/VideoQueueOverlay.test.tsx
  frontend/src/pages/videoQueueOverlay/players/bilibili.ts
  frontend/src/pages/videoQueueOverlay/players/twitchClip.ts
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, npx --prefix frontend markdownlint --fix

fix(csp): allow bilibili.com in overlay frame-src
  frontend/public/_headers
Due: none

fix(csp): allow bilibili.com in overlay frame-src (#194)
  frontend/public/_headers
Due: none

feat(overlay): play Twitch clips via signed source video
  backend/api/routers/video_queue_router.py
  backend/shared/repositories/video_queue.py
  backend/shared/video_sources.py
  backend/tests/api/test_video_queue_router.py
  backend/tests/shared/test_video_queue_repo.py
  docs/architecture/video-queue-platforms.md
  docs/reference/api-endpoints.md
  frontend/public/_headers
  frontend/src/api/config.ts
  frontend/src/api/videoQueue.ts
  frontend/src/pages/VideoQueueOverlay.test.tsx
  frontend/src/pages/videoQueueOverlay/players/twitchClip.ts
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml, npx --prefix frontend markdownlint --fix

feat(overlay): play Twitch clips via signed source video (#195)
  backend/api/routers/video_queue_router.py
  backend/shared/repositories/video_queue.py
  backend/shared/video_sources.py
  backend/tests/api/test_video_queue_router.py
  backend/tests/shared/test_video_queue_repo.py
  docs/architecture/video-queue-platforms.md
  docs/reference/api-endpoints.md
  frontend/public/_headers
  frontend/src/api/config.ts
  frontend/src/api/videoQueue.ts
  frontend/src/pages/VideoQueueOverlay.test.tsx
  frontend/src/pages/videoQueueOverlay/players/twitchClip.ts
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml, npx --prefix frontend markdownlint --fix

fix(overlay): use Bilibili's official embed player
  docs/architecture/video-queue-platforms.md
  frontend/public/_headers
  frontend/src/pages/VideoQueueOverlay.test.tsx
  frontend/src/pages/videoQueueOverlay/players/bilibili.ts
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, npx --prefix frontend markdownlint --fix

fix(overlay): use Bilibili's official embed player (#196)
  docs/architecture/video-queue-platforms.md
  frontend/public/_headers
  frontend/src/pages/VideoQueueOverlay.test.tsx
  frontend/src/pages/videoQueueOverlay/players/bilibili.ts
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, npx --prefix frontend markdownlint --fix
