Repository yPinn/Niibot: changes, and which lint-staged commands are due for each by the changed paths.
All: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix, uv run --project backend ruff format, npx --prefix frontend markdownlint --fix

.lintstagedrc:

{
  "frontend/**/*.{js,jsx,ts,tsx}": [
    "npx --prefix frontend eslint --fix",
    "npx --prefix frontend prettier --write --ignore-unknown"
  ],
  "backend/**/*.py": [
    "uv run --project backend ruff check --fix",
    "uv run --project backend ruff format"
  ],
  "docs/**/*.md": [
    "npx --prefix frontend markdownlint --fix",
    "npx --prefix frontend prettier --write --ignore-unknown"
  ],
  "**/*.{json,yml,yaml}": [
    "npx --prefix frontend prettier --write --ignore-unknown"
  ]
}

chore(Niibot): update setting
  .husky/pre-commit
  .lintstagedrc
  backend/discord/bot.py
  backend/discord/cogs/admin.py
  backend/discord/cogs/ai.py
  backend/discord/cogs/birthday/cog.py
  backend/discord/cogs/eat/cog.py
  backend/discord/cogs/events.py
  backend/discord/cogs/fortune.py
  backend/discord/cogs/games.py
  backend/discord/cogs/giveaway.py
  backend/discord/cogs/moderation.py
  backend/discord/cogs/rate_limit_monitor.py
  backend/discord/cogs/tarot.py
  backend/discord/cogs/tft.py
  backend/discord/cogs/utility.py
  backend/pyproject.toml
  backend/scripts/seed_test_sessions.py
  backend/uv.lock
  frontend/package-lock.json
  frontend/package.json
Due: npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix, uv run --project backend ruff format

build: update lint-staged config
  .lintstagedrc
Due: none

refactor(Niibot): change dockerfile image into uv
  .dockerignore
  backend/api/Dockerfile
  backend/discord/Dockerfile
  backend/twitch/Dockerfile
  frontend/.prettierrc
  frontend/package-lock.json
  frontend/package.json
Due: npx --prefix frontend prettier --write --ignore-unknown

fix(Niibot): render build error
  backend/api/Dockerfile
  backend/discord/Dockerfile
  backend/twitch/Dockerfile
Due: none

fix(Niibot): update Dockerfile
  backend/api/Dockerfile
  backend/discord/Dockerfile
Due: none

fix(Niibot): update Dockerfile
  backend/api/Dockerfile
  backend/discord/Dockerfile
  backend/twitch/Dockerfile
Due: none

fix(Discord): add database connection log
  backend/discord/database/connection.py
Due: uv run --project backend ruff check --fix, uv run --project backend ruff format

fix(Discord): update env supabase url
  backend/discord/.env.example
  backend/discord/database/connection.py
Due: uv run --project backend ruff check --fix, uv run --project backend ruff format

refactor(Niibot): optimize project config, CI/CD, and deployment
  .dockerignore
  .github/workflows/ci.yml
  .lintstagedignore
  .lintstagedrc
  backend/.dockerignore
  backend/api/.env.example
  backend/api/Dockerfile
  backend/api/core/config.py
  backend/api/core/database.py
  backend/discord/.env.example
  backend/discord/Dockerfile
  backend/discord/bot.py
  backend/discord/cogs/birthday/cog.py
  backend/discord/database/connection.py
  backend/discord/http_server.py
  backend/pyproject.toml
  backend/twitch/.env.example
  backend/twitch/Dockerfile
  backend/twitch/core/config.py
  backend/twitch/health_server.py
  backend/twitch/main.py
  backend/uv.lock
  docker-compose.yml
  frontend/.dockerignore
  frontend/.prettierrc
  frontend/Dockerfile
  frontend/nginx.conf
  frontend/package-lock.json
  frontend/package.json
  frontend/src/api/config.ts
  frontend/src/api/twitchOauth.ts
  frontend/src/pages/Login.tsx
  package.json
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix, uv run --project backend ruff format

fix(frontend): use Pages Functions for API proxy
  frontend/functions/api/[[path]].ts
  frontend/functions/health/index.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/public/_redirects
  frontend/public/_routes.json
  frontend/tsconfig.functions.json
  frontend/tsconfig.json
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

docs: update env examples for proxy setup
  backend/api/.env.example
  frontend/.env.example
Due: none

fix(frontend): use manual redirect in API proxy
  frontend/functions/api/[[path]].ts
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

fix(backend): replace jwt with PyJWT for encode/decode support
  backend/pyproject.toml
  backend/uv.lock
Due: none

feat: unify health server and heartbeat
  README.md
  backend/api/.env.example
  backend/api/README.md
  backend/api/app.py
  backend/api/core/config.py
  backend/discord/.env.example
  backend/discord/README.md
  backend/discord/bot.py
  backend/discord/health_server.py
  backend/discord/http_server.py
  backend/twitch/.env.example
  backend/twitch/README.md
  backend/twitch/components/channel_points.py
  backend/twitch/core/config.py
  backend/twitch/main.py
  frontend/README.md
  frontend/src/components/TwitchPlayer.tsx
  frontend/src/pages/Dashboard.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix, uv run --project backend ruff format

style(Niibot): adjust .env.example default content
  backend/api/.env.example
  backend/discord/.env.example
  backend/twitch/.env.example
  frontend/.env.example
Due: none

fix(Api): turn /ping route into GET/HEAD
  backend/api/app.py
Due: uv run --project backend ruff check --fix, uv run --project backend ruff format

feat(Frontend): add OG and Discord preview settings
  frontend/index.html
Due: none

fix(api): resolve db pool async runtime warnings
  backend/api/core/dependencies.py
  backend/api/routers/analytics_router.py
  backend/api/routers/auth_router.py
  backend/api/routers/channels_router.py
Due: uv run --project backend ruff check --fix, uv run --project backend ruff format

feat(Api): improve channel sync logic
  backend/api/routers/auth_router.py
  backend/api/services/channel_service.py
Due: uv run --project backend ruff check --fix, uv run --project backend ruff format

feat(Backend): add shared module with unified database, cache, and repository layer
  backend/pyproject.toml
  backend/requirements.txt
  backend/shared/__init__.py
  backend/shared/cache.py
  backend/shared/database.py
  backend/shared/migrations/__init__.py
  backend/shared/migrations/runner.py
  backend/shared/migrations/versions/000_initial_schema.sql
  backend/shared/migrations/versions/001_add_game_id.sql
  backend/shared/migrations/versions/002_fix_channel_constraints.sql
  backend/shared/models/__init__.py
  backend/shared/models/analytics.py
  backend/shared/models/birthday.py
  backend/shared/models/channel.py
  backend/shared/repositories/__init__.py
  backend/shared/repositories/analytics.py
  backend/shared/repositories/birthday.py
  backend/shared/repositories/channel.py
  backend/uv.lock
Due: uv run --project backend ruff check --fix, uv run --project backend ruff format

refactor(Backend): migrate all services to shared database module
  backend/api/Dockerfile
  backend/api/core/database.py
  backend/api/services/analytics_service.py
  backend/api/services/channel_service.py
  backend/discord/Dockerfile
  backend/discord/bot.py
  backend/discord/cogs/birthday/cog.py
  backend/discord/cogs/birthday/views.py
  backend/discord/database/__init__.py
  backend/discord/database/birthday.py
  backend/discord/database/connection.py
  backend/discord/database/schema.sql
  backend/twitch/Dockerfile
  backend/twitch/core/__init__.py
  backend/twitch/core/database.py
  backend/twitch/database/analytics.py
  backend/twitch/database/analytics_schema.sql
  backend/twitch/database/migrations/001_add_game_info.sql
  backend/twitch/database/migrations/README.md
  backend/twitch/database/schema.sql
  backend/twitch/main.py
Due: uv run --project backend ruff check --fix, uv run --project backend ruff format

refactor(Backend): reorganize utility scripts into backend/scripts/
  backend/scripts/db_clear_test_data.py
  backend/scripts/db_migrate.py
  backend/scripts/db_seed_sessions.py
  backend/scripts/db_show_tokens.py
  backend/scripts/discord_cmd_ls.py
  backend/scripts/discord_cmd_rm.py
  backend/scripts/run_migration.py
  backend/scripts/twitch_oauth.py
Due: uv run --project backend ruff check --fix, uv run --project backend ruff format

fix(Docker): add PYTHONPATH for shared module imports
  backend/api/Dockerfile
  backend/discord/Dockerfile
  backend/twitch/Dockerfile
Due: none

chore(Frontend): comment out dev-only env var in example
  frontend/.env.example
Due: none

fix(Api): use injected pool in routers
  backend/api/routers/auth_router.py
  backend/api/routers/channels_router.py
  frontend/src/components/nav-channels.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix, uv run --project backend ruff format

chore: update .env.example for production
  backend/api/.env.example
  backend/discord/.env.example
  backend/twitch/.env.example
Due: none

fix(Api): update token management logic
  backend/api/routers/channels_router.py
  backend/api/services/__init__.py
  backend/api/services/channel_service.py
  backend/api/services/twitch_api.py
Due: uv run --project backend ruff check --fix, uv run --project backend ruff format

chore(Frontend): update frontend package
  frontend/package-lock.json
Due: npx --prefix frontend prettier --write --ignore-unknown

refactor(Backend): reorganize modules into core/ and add raid shoutout
  .gitignore
  backend/discord/bot.py
  backend/discord/cogs/ai.py
  backend/discord/cogs/birthday/cog.py
  backend/discord/cogs/eat/cog.py
  backend/discord/cogs/fortune.py
  backend/discord/cogs/games.py
  backend/discord/cogs/giveaway.py
  backend/discord/cogs/tarot.py
  backend/discord/cogs/tft.py
  backend/discord/cogs/utility.py
  backend/discord/core/__init__.py
  backend/discord/core/config.py
  backend/discord/core/health_server.py
  backend/discord/core/rate_limiter.py
  backend/discord/run.py
  backend/scripts/db_clear.py
  backend/scripts/db_seed.py
  backend/scripts/db_tokens.py
  backend/scripts/dc_ls.py
  backend/scripts/dc_rm.py
  backend/scripts/tw_oauth.py
  backend/twitch/components/event.py
  backend/twitch/core/__init__.py
  backend/twitch/core/config.py
  backend/twitch/core/health_server.py
  backend/twitch/core/subscriptions.py
  backend/twitch/main.py
  package.json
Due: npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix, uv run --project backend ruff format

feat(Backend): replace polling with PostgreSQL NOTIFY for real-time token detection
  backend/api/core/database.py
  backend/discord/bot.py
  backend/scripts/db_check.py
  backend/shared/migrations/versions/003_new_token_notify.sql
  backend/twitch/main.py
Due: uv run --project backend ruff check --fix, uv run --project backend ruff format

fix(Discord,Frontend): improve 429 logging and prevent empty array caching
  backend/discord/bot.py
  frontend/src/lib/apiCache.ts
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix, uv run --project backend ruff format

chore(Backend): add sync twitch vod
  backend/api/services/twitch_api.py
  backend/scripts/db_backfill_sessions.py
  backend/shared/repositories/analytics.py
  backend/twitch/main.py
Due: uv run --project backend ruff check --fix, uv run --project backend ruff format

feat(Niibot): add chatter stats and analytics UI
  backend/api/main.py
  backend/api/routers/stats_router.py
  backend/shared/migrations/versions/004_add_chatter_stats.sql
  backend/shared/repositories/analytics.py
  backend/twitch/components/cmds.py
  backend/twitch/main.py
  frontend/src/components/AnalyticsChart.tsx
  frontend/src/components/OnlineDropdown.tsx
  frontend/src/components/nav-channels.tsx
  frontend/src/components/ui/sidebar.tsx
  frontend/src/contexts/AuthContext.tsx
  frontend/src/index.css
  frontend/src/pages/Dashboard.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix, uv run --project backend ruff format

feat(Backend,Frontend): add DB-driven configs and refactor Twitch bot
  backend/api/app.py
  backend/api/routers/commands_router.py
  backend/api/routers/events_router.py
  backend/api/services/__init__.py
  backend/api/services/channel_service.py
  backend/api/services/command_config_service.py
  backend/api/services/event_config_service.py
  backend/shared/migrations/versions/005_add_event_configs.sql
  backend/shared/migrations/versions/006_add_command_and_redemption_configs.sql
  backend/shared/migrations/versions/007_add_command_aliases.sql
  backend/shared/models/command_config.py
  backend/shared/models/event_config.py
  backend/shared/repositories/command_config.py
  backend/shared/repositories/event_config.py
  backend/twitch/components/ai.py
  backend/twitch/components/channel_points.py
  backend/twitch/components/cmds.py
  backend/twitch/components/command_manager.py
  backend/twitch/components/event.py
  backend/twitch/components/owner_cmds.py
  backend/twitch/components/sukaoMao.py
  backend/twitch/components/tft.py
  backend/twitch/core/__init__.py
  backend/twitch/core/bot.py
  backend/twitch/core/guards.py
  backend/twitch/core/health_server.py
  backend/twitch/core/pg_listener.py
  backend/twitch/main.py
  frontend/src/api/commands.ts
  frontend/src/api/config.ts
  frontend/src/api/events.ts
  frontend/src/components/nav-channels.tsx
  frontend/src/pages/Commands.tsx
  frontend/src/pages/Events.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix, uv run --project backend ruff format

feat(shared): simplify cooldown logic
  backend/shared/migrations/versions/008_add_channel_default_cooldowns.sql
  backend/shared/migrations/versions/009_simplify_cooldown_and_redirect.sql
  backend/shared/models/channel.py
  backend/shared/models/command_config.py
  backend/shared/repositories/channel.py
  backend/shared/repositories/command_config.py
Due: uv run --project backend ruff check --fix, uv run --project backend ruff format

feat(api): update channel and command services
  backend/api/routers/channels_router.py
  backend/api/routers/commands_router.py
  backend/api/services/command_config_service.py
Due: uv run --project backend ruff check --fix, uv run --project backend ruff format

refactor(twitch): align bot with new cooldowns
  backend/twitch/components/ai.py
  backend/twitch/components/channel_points.py
  backend/twitch/components/cmds.py
  backend/twitch/components/command_manager.py
  backend/twitch/components/sukaoMao.py
  backend/twitch/components/tft.py
  backend/twitch/core/bot.py
  backend/twitch/core/guards.py
Due: uv run --project backend ruff check --fix, uv run --project backend ruff format

feat(frontend): update config and command UI
  frontend/src/api/channels.ts
  frontend/src/api/commands.ts
  frontend/src/api/config.ts
  frontend/src/pages/About.tsx
  frontend/src/pages/Commands.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown
