Repository yPinn/Niibot: changes, and which lint-staged commands are due for each by the changed paths.
All: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml, npx --prefix frontend markdownlint --fix

refactor: unify twitch module and class naming
  backend/api/app.py
  backend/api/core/logging_setup.py
  backend/discord/core/__init__.py
  backend/discord/core/logging_setup.py
  backend/shared/events.py
  backend/tests/twitch/test_ai.py
  backend/tests/twitch/test_event_catalog.py
  backend/tests/twitch/test_events.py
  backend/tests/twitch/test_games.py
  backend/twitch/components/crosshair.py
  backend/twitch/components/events.py
  backend/twitch/core/__init__.py
  backend/twitch/core/eventsub_catalog.py
  backend/twitch/core/logging_setup.py
  backend/twitch/core/subscription_manager.py
  backend/twitch/main.py
  backend/twitch/utils/event_render.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(events): extend catalog schema, harden render
  backend/shared/events.py
  backend/tests/twitch/test_event_catalog.py
  backend/tests/twitch/test_event_render.py
  backend/twitch/components/events.py
  backend/twitch/utils/event_render.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(events): add GET /api/events/catalog; count_source counts
  backend/api/routers/events_router.py
  backend/api/services/event_config_service.py
  backend/tests/api/test_event_config_service.py
  backend/tests/api/test_events_router.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

refactor(events): split Events page into events/ package
  frontend/src/App.tsx
  frontend/src/pages/dashboard/Events.tsx
  frontend/src/pages/dashboard/events/EventSheet.tsx
  frontend/src/pages/dashboard/events/EventsTable.tsx
  frontend/src/pages/dashboard/events/RedemptionsCard.tsx
  frontend/src/pages/dashboard/events/constants.ts
  frontend/src/pages/dashboard/events/index.tsx
  frontend/src/pages/dashboard/events/types.ts
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

feat(events): drive the dashboard from GET /api/events/catalog
  frontend/src/api/config.ts
  frontend/src/api/events.ts
  frontend/src/pages/dashboard/events/EventSheet.tsx
  frontend/src/pages/dashboard/events/EventsTable.tsx
  frontend/src/pages/dashboard/events/TemplatePreview.tsx
  frontend/src/pages/dashboard/events/constants.ts
  frontend/src/pages/dashboard/events/index.tsx
  frontend/src/pages/dashboard/events/renderTemplate.test.ts
  frontend/src/pages/dashboard/events/renderTemplate.ts
  frontend/vitest.config.ts
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

fix(events): correct resub default greeting (086)
  backend/shared/migrations/versions/086_fix_resub_default_and_bits_options.sql
Due: none

feat(events): optional [[ ]] segments and $(@name) mentions
  backend/tests/twitch/test_event_render.py
  backend/twitch/utils/event_render.py
  frontend/src/pages/dashboard/events/renderTemplate.test.ts
  frontend/src/pages/dashboard/events/renderTemplate.ts
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(events): sub greetings via channel.chat.notification
  backend/api/routers/events_router.py
  backend/shared/events.py
  backend/shared/migrations/versions/086_events_catalog_v2.sql
  backend/shared/migrations/versions/086_fix_resub_default_and_bits_options.sql
  backend/tests/api/test_events_router.py
  backend/tests/twitch/test_event_catalog.py
  backend/tests/twitch/test_event_render.py
  backend/twitch/components/events.py
  backend/twitch/core/eventsub_catalog.py
  backend/twitch/utils/event_render.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(events): surface gift_recipient row and [[ ]] hint
  frontend/src/api/events.ts
  frontend/src/assets/fontawesome/css/fontawesome.subset.css
  frontend/src/pages/dashboard/events/EventSheet.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

feat(analytics): capture sub_is_prime from chat notifications
  backend/shared/migrations/versions/087_viewer_sub_is_prime.sql
  backend/shared/repositories/analytics/_events_mixin.py
  backend/tests/shared/test_analytics_repo.py
  backend/tests/twitch/test_event_catalog.py
  backend/twitch/components/events.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(analytics): plus program point estimate endpoint
  backend/api/routers/analytics_router.py
  backend/api/services/analytics_service.py
  backend/shared/repositories/analytics/_query_viewers.py
  backend/tests/api/test_analytics_router.py
  backend/tests/api/test_analytics_service.py
  backend/tests/shared/test_analytics_repo.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(analytics): plus program point card on the insights page
  frontend/src/api/analytics.ts
  frontend/src/api/config.ts
  frontend/src/lib/apiCache.ts
  frontend/src/lib/plus-program.test.ts
  frontend/src/lib/plus-program.ts
  frontend/src/pages/analytics/Insights.tsx
  frontend/src/pages/analytics/insights/PlusProgramCard.test.tsx
  frontend/src/pages/analytics/insights/PlusProgramCard.tsx
  frontend/vitest.config.ts
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

feat(analytics): show points-to-subs shortfall on the plus card
  frontend/src/lib/plus-program.test.ts
  frontend/src/lib/plus-program.ts
  frontend/src/pages/analytics/insights/PlusProgramCard.test.tsx
  frontend/src/pages/analytics/insights/PlusProgramCard.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

refactor(analytics): polish the plus program card
  frontend/src/pages/analytics/Insights.tsx
  frontend/src/pages/analytics/insights/PlusProgramCard.test.tsx
  frontend/src/pages/analytics/insights/PlusProgramCard.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

refactor(ui): extract SettingRow component
  frontend/src/components/SettingRow.tsx
  frontend/src/pages/admin/Modules.tsx
  frontend/src/pages/dashboard/Timers.tsx
  frontend/src/pages/dashboard/commands/CommandSheet.tsx
  frontend/src/pages/dashboard/events/EventSheet.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

refactor(ui): pass the sort state object to SortableHead
  frontend/src/components/SortableHead.tsx
  frontend/src/components/TableSkeletonRows.tsx
  frontend/src/hooks/useSortState.ts
  frontend/src/pages/PublicCommands.tsx
  frontend/src/pages/dashboard/Timers.tsx
  frontend/src/pages/dashboard/commands/BuiltinTab.tsx
  frontend/src/pages/dashboard/commands/CustomTab.tsx
  frontend/src/pages/dashboard/events/EventsTable.tsx
  frontend/src/pages/dashboard/events/RedemptionsCard.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

feat(ui): add Progress meter; adopt in the plus card
  frontend/src/components/ui/index.ts
  frontend/src/components/ui/progress.tsx
  frontend/src/pages/analytics/Insights.tsx
  frontend/src/pages/analytics/insights/PlusProgramCard.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

feat(events): highlight template vars in the live preview
  frontend/src/pages/dashboard/events/EventSheet.tsx
  frontend/src/pages/dashboard/events/TemplatePreview.tsx
  frontend/src/pages/dashboard/events/renderTemplate.test.ts
  frontend/src/pages/dashboard/events/renderTemplate.ts
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

refactor(analytics): rebalance the plus program card
  frontend/src/pages/analytics/insights/PlusProgramCard.test.tsx
  frontend/src/pages/analytics/insights/PlusProgramCard.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

refactor(ui): extract TableShell and TableEmptyRow
  frontend/src/components/TableEmptyRow.tsx
  frontend/src/components/TableShell.tsx
  frontend/src/components/primitives/EmptyState.tsx
  frontend/src/components/primitives/index.ts
  frontend/src/pages/PublicCommands.tsx
  frontend/src/pages/dashboard/Timers.tsx
  frontend/src/pages/dashboard/commands/BuiltinTab.tsx
  frontend/src/pages/dashboard/commands/CustomTab.tsx
  frontend/src/pages/dashboard/commands/index.tsx
  frontend/src/pages/dashboard/events/EventsTable.tsx
  frontend/src/pages/dashboard/events/RedemptionsCard.tsx
  frontend/src/pages/modules/GameQueue.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

feat(commands): add category to builtin command catalog
  backend/api/services/command_config_service.py
  backend/shared/builtin_commands.py
  backend/tests/shared/test_builtin_catalog.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(events): move var descriptions to a hover strip
  backend/shared/events.py
  frontend/src/components/VariableInserter.tsx
  frontend/src/pages/dashboard/events/EventSheet.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

test: polyfill ResizeObserver in the jsdom setup
  frontend/src/test/setup.ts
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

feat(commands): group the builtin tables by category
  frontend/src/api/commands.ts
  frontend/src/components/TableGroupHeader.tsx
  frontend/src/lib/groupByCategory.test.ts
  frontend/src/lib/groupByCategory.ts
  frontend/src/pages/PublicCommands.tsx
  frontend/src/pages/dashboard/commands/BuiltinTab.tsx
  frontend/vitest.config.ts
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

fix(commands): keep category_label in API responses
  backend/api/routers/commands_router.py
  backend/api/services/command_config_service.py
  backend/tests/api/test_commands_router.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(commands): gate !so and !condemn to moderators
  backend/shared/builtin_commands.py
  backend/shared/migrations/versions/088_builtin_command_roles.sql
  backend/shared/repositories/command_config.py
  backend/tests/shared/test_builtin_catalog.py
  backend/tests/shared/test_command_config_repo.py
  backend/tests/twitch/test_general_commands.py
  backend/twitch/components/games.py
  backend/twitch/components/general_commands.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

refactor(fe): adopt spacing and type tokens
  frontend/src/components/AnalyticsChart.tsx
  frontend/src/components/ErrorBoundary.tsx
  frontend/src/components/StatsCard.tsx
  frontend/src/components/layout/nav-channels.tsx
  frontend/src/components/ui/alert-dialog.tsx
  frontend/src/components/ui/dialog.tsx
  frontend/src/components/ui/empty.tsx
  frontend/src/components/ui/sheet.tsx
  frontend/src/pages/analytics/Matcher.tsx
  frontend/src/pages/analytics/insights/ViewerList.tsx
  frontend/src/pages/dashboard/commands/CustomTab.tsx
  frontend/src/pages/docs/Releases.tsx
  frontend/src/pages/modules/crosshairs/index.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

refactor(fe): unify table loading skeletons
  frontend/src/components/TableSkeletonRows.tsx
  frontend/src/pages/analytics/matcher/ViewerTable.tsx
  frontend/src/pages/dashboard/Timers.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

refactor(fe): simplify shared logic and table grouping
  frontend/src/components/GroupedTableBody.tsx
  frontend/src/components/ui/progress.tsx
  frontend/src/lib/groupByCategory.ts
  frontend/src/lib/plus-program.test.ts
  frontend/src/lib/plus-program.ts
  frontend/src/lib/sort.ts
  frontend/src/pages/PublicCommands.tsx
  frontend/src/pages/analytics/Insights.tsx
  frontend/src/pages/analytics/insights/PlusProgramCard.tsx
  frontend/src/pages/dashboard/commands/BuiltinTab.tsx
  frontend/src/pages/dashboard/commands/index.tsx
  frontend/src/pages/dashboard/events/TemplatePreview.tsx
  frontend/src/pages/dashboard/events/index.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

feat(sidebar): smoother collapse, persisted state, stable shell
  frontend/src/components/layout/SidebarLayout.tsx
  frontend/src/components/ui/sidebar.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

refactor(css): rework the light theme palette
  frontend/src/index.css
Due: none

docs: add impeccable design context
  .impeccable.md
Due: none

chore: track Claude Code skills and commands in git
  .claude/skills/discordpy/SKILL.md
  .claude/skills/discordpy/examples.md
  .claude/skills/discordpy/reference.md
  .claude/skills/twitchio/SKILL.md
  .claude/skills/twitchio/examples.md
  .claude/skills/twitchio/reference.md
  .gitignore
Due: none

feat(activation): grant lifecycle & provenance model
  backend/shared/migrations/versions/089_activation_grants.sql
  backend/shared/repositories/activation_code.py
  backend/tests/shared/test_activation_code_repo.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(activation): consume channel-points grants on login
  backend/api/services/admission_service.py
  backend/tests/api/test_admission_service.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(activation): auto-activate on login, atomic code redeem
  backend/api/routers/auth_router.py
  backend/tests/api/test_auth_router.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

Path conditions:
  npx --prefix frontend eslint --fix: any of: frontend/**/*.{js,jsx,ts,tsx}
  npx --prefix frontend prettier --write --ignore-unknown: ((any of: frontend/**/*.{js,jsx,ts,tsx}) or (any of: docs/**/*.md)) or (any of: **/*.{json,yml,yaml})
  uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff: any of: backend/**/*.py
  uv run --project backend ruff format --config backend/pyproject.toml: any of: backend/**/*.py
  npx --prefix frontend markdownlint --fix: any of: docs/**/*.md
