Repository yPinn/Niibot: changes, and which lint-staged commands are due for each by the changed paths.
All: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml, npx --prefix frontend markdownlint --fix

.lintstagedrc:

{
  "frontend/**/*.{js,jsx,ts,tsx}": [
    "npx --prefix frontend eslint --fix",
    "npx --prefix frontend prettier --write --ignore-unknown"
  ],
  "backend/**/*.py": [
    "uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff",
    "uv run --project backend ruff format --config backend/pyproject.toml"
  ],
  "docs/**/*.md": [
    "npx --prefix frontend markdownlint --fix",
    "npx --prefix frontend prettier --write --ignore-unknown"
  ],
  "**/*.{json,yml,yaml}": [
    "npx --prefix frontend prettier --write --ignore-unknown"
  ]
}

feat(monitor): log filter, date timestamps, auto-follow
  frontend/src/pages/admin/Monitor.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

feat(ai): bias guard and hardcoded channel policy
  backend/api/routers/ai_settings_router.py
  backend/shared/repositories/ai_settings.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(admin): broadcaster status and enhanced ModStatusBadge
  frontend/src/api/admin.ts
  frontend/src/pages/admin/index.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

fix(monitor): default INFO filter, add mobile filter row
  frontend/src/pages/admin/Monitor.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

feat(config): bot username env var, skip mod dialog for bot
  frontend/.env.example
  frontend/src/api/config.ts
  frontend/src/pages/dashboard/Overview.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

fix(bot): prevent spurious mod-guard on startup
  backend/twitch/core/_session_mixin.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(scrapling): suppress /health access logs from uvicorn
  backend/scrapling/main.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(types): mypy attr-defined in _SessionMixin
  backend/twitch/core/_session_mixin.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(chat-overlay): scrollbars, noise, 7TV username
  frontend/src/pages/modules/ChatOverlay.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

refactor(chat-overlay): extract CSS logic to chatOverlayCss.ts
  frontend/src/App.tsx
  frontend/src/config/navigation.ts
  frontend/src/pages/modules/ChatOverlay.tsx
  frontend/src/pages/modules/chatOverlayCss.ts
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

refactor(backend): api code-review fixes
  backend/api/routers/admin_router.py
  backend/api/routers/analytics_router.py
  backend/api/routers/channels_router.py
  backend/api/routers/commands_router.py
  backend/api/routers/events_router.py
  backend/api/routers/game_queue_router.py
  backend/api/routers/timers_router.py
  backend/api/services/command_config_service.py
  backend/api/services/event_config_service.py
  backend/api/services/game_queue_service.py
  backend/api/services/timer_service.py
  backend/shared/repositories/command_config.py
  backend/shared/repositories/event_config.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(frontend): api type fixes from backend review
  frontend/src/api/analytics.ts
  frontend/src/api/channels.ts
  frontend/src/api/timers.ts
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

fix(ui): use text-sub for role badge label
  frontend/src/components/ui/twitch-badge.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

fix(twitch): invalidate token cache on broadcaster re-auth
  backend/shared/migrations/versions/069_token_reauth_notify.sql
  backend/tests/twitch/test_notify_mixin.py
  backend/twitch/core/_notify_mixin.py
  backend/twitch/core/bot.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(timers): null-guard timer.id before comparison
  frontend/src/pages/dashboard/Timers.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

feat(config): add new secrets for discord and releases
  .github/workflows/deploy.yml
  backend/api/.env.example
  backend/api/core/config.py
  secrets.env.example
Due: npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(discord): add member join/ban/unban audit log events
  backend/discord/cogs/events.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(api): add discord webhook and releases proxy routers
  backend/api/app.py
  backend/api/routers/__init__.py
  backend/api/routers/discord_webhook_router.py
  backend/api/routers/releases_router.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(frontend): add Releases page with markdown rendering
  frontend/src/App.tsx
  frontend/src/api/config.ts
  frontend/src/api/releases.ts
  frontend/src/config/navigation.ts
  frontend/src/pages/docs/Releases.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

fix(admin): use two-column grid layout in ActivationCodes
  frontend/src/pages/admin/ActivationCodes.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

feat(db): add channel overlap tables and chatter stats index
  backend/shared/migrations/versions/070_add_chatter_stats_user_index.sql
  backend/shared/migrations/versions/071_add_channel_overlap_tables.sql
Due: none

feat(backend): add Matcher channel overlap analytics
  backend/api/app.py
  backend/api/routers/__init__.py
  backend/api/routers/matcher_router.py
  backend/api/services/analytics_service.py
  backend/api/services/twitch_api.py
  backend/shared/migrations/seed_matcher_test.sql
  backend/shared/repositories/analytics/__init__.py
  backend/shared/repositories/analytics/_overlap_mixin.py
  backend/twitch/components/general_commands.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(frontend): add Matcher page with channel overlap analytics
  frontend/src/App.tsx
  frontend/src/api/analytics.ts
  frontend/src/components/nav-main.tsx
  frontend/src/config/navigation.ts
  frontend/src/pages/analytics/Matcher.tsx
  frontend/src/pages/analytics/matcher/ChannelCard.tsx
  frontend/src/pages/analytics/matcher/ViewerTable.tsx
  frontend/src/pages/analytics/matcher/types.ts
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

fix(discord): fix NotoEmoji font missing in Docker image
  backend/discord/Dockerfile
  backend/discord/core/message_image.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

refactor(frontend): polish Matcher page UI
  frontend/src/pages/analytics/Matcher.tsx
  frontend/src/pages/analytics/matcher/ChannelCard.tsx
  frontend/src/pages/analytics/matcher/ViewerTable.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

feat(scripts): add Matcher overlap backfill script
  backend/scripts/tw_backfill_matcher.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(matcher): fix ROUND type error and multi-channel backfill
  backend/scripts/tw_backfill_matcher.py
  backend/shared/repositories/analytics/_overlap_mixin.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(frontend): sort Matcher channels by suitability score
  frontend/src/pages/analytics/Matcher.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

refactor(matcher): simplify ChannelCard and enrich detail panel
  frontend/src/pages/analytics/Matcher.tsx
  frontend/src/pages/analytics/matcher/ChannelCard.tsx
  frontend/src/pages/analytics/matcher/ViewerTable.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

feat(matcher): filter streamers and bots from overlap
  backend/shared/migrations/seed_matcher_test_v2.sql
  backend/shared/migrations/versions/072_add_known_bots.sql
  backend/shared/repositories/analytics/_overlap_mixin.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(activation): parallel request on niibot_auth redemption
  backend/twitch/components/channel_points.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(admin): zone channels by health and fix RWD layout
  frontend/src/pages/admin/index.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

fix(admin): push ActivationCodes layout breakpoint to lg
  frontend/src/pages/admin/ActivationCodes.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

fix(matcher): exclude managed channels from overlap
  backend/shared/repositories/analytics/_overlap_mixin.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

refactor(matcher): replace raw-count score with percentage formula
  frontend/src/pages/analytics/Matcher.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

feat(matcher): redesign ChannelCard and add Twitch channel CTA
  backend/api/routers/matcher_router.py
  frontend/src/api/analytics.ts
  frontend/src/pages/analytics/matcher/ChannelCard.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

refactor(admin): compact ChannelCard layout and fix Bot truncation
  frontend/src/pages/admin/index.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

chore(backend): bump version to v1.10
  backend/pyproject.toml
  backend/uv.lock
Due: none

feat(video-queue): add delete entry endpoint and remove button
  backend/api/routers/video_queue_router.py
  backend/shared/repositories/video_queue.py
  frontend/src/api/config.ts
  frontend/src/api/videoQueue.ts
  frontend/src/pages/modules/VideoQueue.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(admin): merge ActivationCodes into admin page
  backend/api/routers/admin_router.py
  frontend/src/App.tsx
  frontend/src/api/admin.ts
  frontend/src/config/navigation.ts
  frontend/src/pages/admin/ActivationCodes.tsx
  frontend/src/pages/admin/index.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml
