Repository yPinn/Niibot: changes, and which lint-staged commands are due for each by the changed paths.
All: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml, npx --prefix frontend markdownlint --fix

fix(twitch): prefer display_name for requested_by and add reauth to queue redemptions
  backend/twitch/components/channel_points.py
  backend/twitch/components/video_queue.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(overlay): default YouTube playback quality to highres
  frontend/src/pages/VideoQueueOverlay.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

fix(scripts): align env loading order and var names with shared.env
  backend/scripts/db_check.py
  backend/scripts/db_migrate.py
  backend/scripts/tw_oauth.py
  backend/scripts/tw_tokens.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(scripts): fix OAuth callback on macOS by using dual-stack IPv6 server
  backend/scripts/tw_oauth.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(scripts): shared.env.local now overrides system env vars
  backend/scripts/db_check.py
  backend/scripts/db_migrate.py
  backend/scripts/tw_oauth.py
  backend/scripts/tw_tokens.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(scrapling): guard SPA stale DOM and fix post image filter
  backend/scrapling/main.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(cache): add invalidate_prefix and scope channel cache invalidation
  backend/shared/cache.py
  backend/shared/repositories/command_config.py
  backend/shared/repositories/event_config.py
  backend/tests/shared/test_cache.py
  backend/tests/shared/test_command_config_repo.py
  backend/tests/shared/test_event_config_repo.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

refactor(twitch): cache refresh, channel_points cleanup, regex rate limit
  backend/twitch/components/ai.py
  backend/twitch/components/channel_points.py
  backend/twitch/components/command_manager.py
  backend/twitch/core/_notify_mixin.py
  backend/twitch/core/_router_mixin.py
  backend/twitch/core/_session_mixin.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(scrapling): relax URL guard to post ID and recover placeholder images
  backend/scrapling/main.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(dashboard): deduplicate SHA in version string when git describe already embeds it
  frontend/src/pages/dashboard/SystemStatus.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

feat(video-queue): add help sheet with setup instructions
  frontend/src/pages/modules/VideoQueue.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

fix(discord): expand CJK font paths and guard empty cache
  backend/discord/Dockerfile
  backend/discord/cogs/events.py
  backend/discord/core/message_image.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(ui): standardize Icon sizing and add PageMain layout
  frontend/src/components/PageMain.tsx
  frontend/src/components/StatsCard.tsx
  frontend/src/components/ui/button.tsx
  frontend/src/components/ui/card.tsx
  frontend/src/components/ui/icon.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

refactor(pages): adopt PageMain, fix icon sizes, align nav titles
  frontend/.env.example
  frontend/src/pages/Settings.tsx
  frontend/src/pages/dashboard/Events.tsx
  frontend/src/pages/dashboard/SystemStatus.tsx
  frontend/src/pages/dashboard/commands/index.tsx
  frontend/src/pages/discord/Dashboard.tsx
  frontend/src/pages/docs/GetStarted.tsx
  frontend/src/pages/modules/GameQueue.tsx
  frontend/src/pages/modules/Timers.tsx
  frontend/src/pages/modules/VideoQueue.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

chore(release): bump version to 1.3.2
  backend/pyproject.toml
  backend/uv.lock
  frontend/package.json
Due: npx --prefix frontend prettier --write --ignore-unknown

fix(analytics): pass days param to get_total_commands_from_config
  backend/api/routers/stats_router.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(events): record cheer/bits events to stream_events
  backend/shared/migrations/versions/044_stream_events_add_cheer_type.sql
  backend/shared/repositories/analytics/_events_mixin.py
  backend/twitch/components/events.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(analytics): add viewer list, viewer profile, and insights endpoints
  backend/api/routers/analytics_router.py
  backend/api/services/analytics_service.py
  backend/api/services/twitch_api.py
  backend/shared/migrations/seed_insights_test.sql
  backend/shared/repositories/analytics/_caches.py
  backend/shared/repositories/analytics/_query_mixin.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

refactor(db): register JSON/JSONB codecs in session mode pool init
  backend/shared/database.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

chore(models): add last_used_at field to CommandConfig
  backend/shared/models/command_config.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(frontend): add Insights page with viewer leaderboard and profile sheet
  frontend/src/App.tsx
  frontend/src/api/analytics.ts
  frontend/src/api/config.ts
  frontend/src/components/AnalyticsChart.tsx
  frontend/src/config/navigation.ts
  frontend/src/lib/apiCache.ts
  frontend/src/pages/dashboard/Insights.tsx
  frontend/src/pages/modules/VideoQueue.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

fix(analytics): JSON codecs for transaction mode; Insights summary stats
  backend/shared/database.py
  frontend/src/components/AnalyticsChart.tsx
  frontend/src/pages/dashboard/Insights.tsx
  frontend/src/pages/dashboard/Overview.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

refactor(auth): consolidate Twitch OAuth scopes into shared module
  backend/api/services/twitch_api.py
  backend/shared/twitch_scopes.py
  backend/twitch/core/config.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(frontend): add days to useMemo deps; fix SheetContent width syntax
  frontend/src/components/AnalyticsChart.tsx
  frontend/src/pages/dashboard/Insights.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

ci(deploy): auto-generate version as vMAJOR.MINOR.N (sha)
  .github/workflows/deploy.yml
  docs/versioning.md
Due: npx --prefix frontend prettier --write --ignore-unknown, npx --prefix frontend markdownlint --fix

fix(frontend): responsive tables, layout fixes, chart stability, error UX
  frontend/src/api/channels.test.ts
  frontend/src/api/channels.ts
  frontend/src/components/AnalyticsChart.tsx
  frontend/src/components/OnlineDropdown.tsx
  frontend/src/pages/PublicCommands.tsx
  frontend/src/pages/Settings.tsx
  frontend/src/pages/dashboard/Insights.tsx
  frontend/src/pages/dashboard/commands/BuiltinTab.tsx
  frontend/src/pages/dashboard/commands/CustomTab.tsx
  frontend/src/pages/discord/Dashboard.tsx
  frontend/src/pages/docs/GetStarted.tsx
  frontend/src/pages/modules/GameQueue.tsx
  frontend/src/pages/modules/Timers.tsx
  frontend/src/pages/modules/VideoQueue.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

chore: bump version to v1.4.0
  backend/pyproject.toml
  frontend/package.json
Due: npx --prefix frontend prettier --write --ignore-unknown

fix(frontend): remove unused catch binding in Settings
  frontend/src/pages/Settings.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

fix(ci): quote version string; tighten unused-vars rule; drop Prettier cache
  .github/workflows/deploy.yml
  frontend/eslint.config.js
  frontend/src/pages/docs/GetStarted.tsx
  package.json
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

feat(insights): viewer card avatar + balanced header spacing
  backend/api/routers/analytics_router.py
  frontend/src/api/analytics.ts
  frontend/src/pages/dashboard/Insights.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(twitch-api): add get_follow_status via /channels/followers
  backend/api/services/twitch_api.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(insights): fetch live follow/sub/avatar in parallel; fix follow_since accuracy
  backend/api/routers/analytics_router.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(insights): filter known Twitch bots from viewer list
  backend/shared/repositories/analytics/_query_mixin.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(insights): correct follow status on scope error; narrow viewer sheet
  backend/api/services/twitch_api.py
  frontend/src/pages/dashboard/Insights.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

chore: bump root version to 1.4.0
  package.json
Due: npx --prefix frontend prettier --write --ignore-unknown

chore: remove unused analytics dataclasses
  backend/shared/models/__init__.py
  backend/shared/models/analytics.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(insights): fix import order; exclude broadcaster from list
  backend/shared/repositories/analytics/_query_mixin.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

chore: sync uv.lock to backend v1.4.0
  backend/uv.lock
Due: none

refactor(ui): add SheetSection; restructure ViewerSheet layout
  frontend/src/components/ui/index.ts
  frontend/src/components/ui/sheet.tsx
  frontend/src/pages/dashboard/Insights.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

refactor(video-queue): apply SheetSection to help sheet
  frontend/src/pages/modules/VideoQueue.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

Path conditions:
  npx --prefix frontend eslint --fix: any of: frontend/**/*.{js,jsx,ts,tsx}
  npx --prefix frontend prettier --write --ignore-unknown: ((any of: frontend/**/*.{js,jsx,ts,tsx}) or (any of: docs/**/*.md)) or (any of: **/*.{json,yml,yaml})
  uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff: any of: backend/**/*.py
  uv run --project backend ruff format --config backend/pyproject.toml: any of: backend/**/*.py
  npx --prefix frontend markdownlint --fix: any of: docs/**/*.md
