Repository yPinn/Niibot: changes, and which lint-staged commands are due for each by the changed paths.
All: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml, npx --prefix frontend markdownlint --fix

.lintstagedrc:

{
  "frontend/**/*.{js,jsx,ts,tsx}": [
    "npx --prefix frontend eslint --fix",
    "npx --prefix frontend prettier --write --ignore-unknown"
  ],
  "backend/**/*.py": [
    "uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff",
    "uv run --project backend ruff format --config backend/pyproject.toml"
  ],
  "docs/**/*.md": [
    "npx --prefix frontend markdownlint --fix",
    "npx --prefix frontend prettier --write --ignore-unknown"
  ],
  "**/*.{json,yml,yaml}": [
    "npx --prefix frontend prettier --write --ignore-unknown"
  ]
}

fix(overlay): crop Bilibili player chrome
  frontend/src/pages/videoQueueOverlay/players/bilibili.ts
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

feat(video-queue): playback history tab
  backend/api/app.py
  backend/api/routers/video_queue_router.py
  backend/shared/migrations/versions/107_video_queue_history_index.sql
  backend/shared/models/video_queue.py
  backend/shared/repositories/video_queue.py
  backend/tests/api/test_video_queue_router.py
  backend/tests/shared/test_video_queue_repo.py
  docs/reference/api-endpoints.md
  frontend/src/api/config.ts
  frontend/src/api/videoQueue.ts
  frontend/src/pages/modules/VideoQueue.tsx
  frontend/src/pages/modules/videoQueue/HistoryTable.test.tsx
  frontend/src/pages/modules/videoQueue/HistoryTable.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml, npx --prefix frontend markdownlint --fix

chore(fa): add clock-rotate-left to subset
  frontend/src/assets/fontawesome/css/fontawesome.subset.css
Due: none

fix(overlay): hide Bilibili chrome via idle state + jsapi nudge
  frontend/src/pages/videoQueueOverlay/players/bilibili.ts
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

feat(video-queue): playback history tab (P2 PR A) (#192)
  backend/api/app.py
  backend/api/routers/video_queue_router.py
  backend/shared/migrations/versions/107_video_queue_history_index.sql
  backend/shared/models/video_queue.py
  backend/shared/repositories/video_queue.py
  backend/tests/api/test_video_queue_router.py
  backend/tests/shared/test_video_queue_repo.py
  docs/reference/api-endpoints.md
  frontend/src/api/config.ts
  frontend/src/api/videoQueue.ts
  frontend/src/assets/fontawesome/css/fontawesome.subset.css
  frontend/src/pages/modules/VideoQueue.tsx
  frontend/src/pages/modules/videoQueue/HistoryTable.test.tsx
  frontend/src/pages/modules/videoQueue/HistoryTable.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml, npx --prefix frontend markdownlint --fix

feat(video-queue): support twitch.tv/videos VODs
  backend/api/routers/video_queue_router.py
  backend/shared/migrations/versions/108_video_queue_twitch_vod.sql
  backend/shared/models/video_queue.py
  backend/shared/repositories/video_queue.py
  backend/shared/video_sources.py
  backend/tests/api/test_video_queue_router.py
  backend/tests/shared/test_video_queue_repo.py
  backend/tests/shared/test_video_sources_registry.py
  backend/twitch/components/channel_points.py
  backend/twitch/components/video_queue.py
  docs/architecture/video-queue-platforms.md
  frontend/src/api/videoQueue.ts
  frontend/src/pages/VideoQueueOverlay.test.tsx
  frontend/src/pages/VideoQueueOverlay.tsx
  frontend/src/pages/videoQueueOverlay/players/index.ts
  frontend/src/pages/videoQueueOverlay/players/twitchVod.test.ts
  frontend/src/pages/videoQueueOverlay/players/twitchVod.ts
  frontend/src/pages/videoQueueOverlay/players/types.ts
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml, npx --prefix frontend markdownlint --fix

fix(overlay): hide Bilibili player chrome (#197)
  frontend/src/pages/videoQueueOverlay/players/bilibili.ts
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

feat(video-queue): support twitch.tv/videos VODs (#198)
  backend/api/routers/video_queue_router.py
  backend/shared/migrations/versions/108_video_queue_twitch_vod.sql
  backend/shared/models/video_queue.py
  backend/shared/repositories/video_queue.py
  backend/shared/video_sources.py
  backend/tests/api/test_video_queue_router.py
  backend/tests/shared/test_video_queue_repo.py
  backend/tests/shared/test_video_sources_registry.py
  backend/twitch/components/channel_points.py
  backend/twitch/components/video_queue.py
  docs/architecture/video-queue-platforms.md
  frontend/src/api/videoQueue.ts
  frontend/src/pages/VideoQueueOverlay.test.tsx
  frontend/src/pages/VideoQueueOverlay.tsx
  frontend/src/pages/videoQueueOverlay/players/index.ts
  frontend/src/pages/videoQueueOverlay/players/twitchVod.test.ts
  frontend/src/pages/videoQueueOverlay/players/twitchVod.ts
  frontend/src/pages/videoQueueOverlay/players/types.ts
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml, npx --prefix frontend markdownlint --fix

feat(video-queue): length + replay-cooldown gates
  backend/api/routers/video_queue_router.py
  backend/shared/migrations/versions/109_video_queue_submission_gates.sql
  backend/shared/models/video_queue.py
  backend/shared/repositories/video_queue.py
  backend/tests/api/test_video_queue_router.py
  backend/tests/shared/test_video_queue_repo.py
  backend/twitch/components/channel_points.py
  backend/twitch/components/video_queue.py
  docs/reference/api-endpoints.md
  frontend/src/api/videoQueue.ts
  frontend/src/pages/modules/VideoQueue.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml, npx --prefix frontend markdownlint --fix

feat(video-queue): length + replay-cooldown gates (#199)
  backend/api/routers/video_queue_router.py
  backend/shared/migrations/versions/109_video_queue_submission_gates.sql
  backend/shared/models/video_queue.py
  backend/shared/repositories/video_queue.py
  backend/tests/api/test_video_queue_router.py
  backend/tests/shared/test_video_queue_repo.py
  backend/twitch/components/channel_points.py
  backend/twitch/components/video_queue.py
  docs/reference/api-endpoints.md
  frontend/src/api/videoQueue.ts
  frontend/src/pages/modules/VideoQueue.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml, npx --prefix frontend markdownlint --fix

refactor(overlay): drop bilibili no-op chrome nudge
  docs/architecture/video-queue-platforms.md
  frontend/src/pages/videoQueueOverlay/players/bilibili.ts
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, npx --prefix frontend markdownlint --fix

refactor(overlay): drop bilibili no-op chrome nudge (#200)
  docs/architecture/video-queue-platforms.md
  frontend/src/pages/videoQueueOverlay/players/bilibili.ts
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, npx --prefix frontend markdownlint --fix

feat(video-queue): submission blocklist
  backend/api/routers/video_queue_router.py
  backend/shared/migrations/versions/110_video_queue_blocklist.sql
  backend/shared/models/video_queue.py
  backend/shared/repositories/video_queue.py
  backend/tests/api/test_video_queue_router.py
  backend/tests/shared/test_video_queue_repo.py
  backend/tests/twitch/test_channel_points_video_queue.py
  backend/twitch/components/channel_points.py
  backend/twitch/components/video_queue.py
  docs/reference/api-endpoints.md
  frontend/src/api/config.ts
  frontend/src/api/videoQueue.ts
  frontend/src/pages/modules/VideoQueue.tsx
  frontend/src/pages/modules/videoQueue/BlocklistSection.test.tsx
  frontend/src/pages/modules/videoQueue/BlocklistSection.tsx
  frontend/src/pages/modules/videoQueue/HistoryTable.test.tsx
  frontend/src/pages/modules/videoQueue/HistoryTable.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml, npx --prefix frontend markdownlint --fix

feat(video-queue): submission blocklist (#201)
  backend/api/routers/video_queue_router.py
  backend/shared/migrations/versions/110_video_queue_blocklist.sql
  backend/shared/models/video_queue.py
  backend/shared/repositories/video_queue.py
  backend/tests/api/test_video_queue_router.py
  backend/tests/shared/test_video_queue_repo.py
  backend/tests/twitch/test_channel_points_video_queue.py
  backend/twitch/components/channel_points.py
  backend/twitch/components/video_queue.py
  docs/reference/api-endpoints.md
  frontend/src/api/config.ts
  frontend/src/api/videoQueue.ts
  frontend/src/pages/modules/VideoQueue.tsx
  frontend/src/pages/modules/videoQueue/BlocklistSection.test.tsx
  frontend/src/pages/modules/videoQueue/BlocklistSection.tsx
  frontend/src/pages/modules/videoQueue/HistoryTable.test.tsx
  frontend/src/pages/modules/videoQueue/HistoryTable.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml, npx --prefix frontend markdownlint --fix

feat(bot-invite): rewrite consent page copy
  frontend/src/assets/fontawesome/css/fontawesome.subset.css
  frontend/src/components/settings/BotAccountsCard.tsx
  frontend/src/pages/BotAuthorizationResult.tsx
  frontend/src/pages/BotInvite.test.tsx
  frontend/src/pages/BotInvite.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

refactor(payment): per-gateway provider layer
  backend/api/routers/donation_router.py
  backend/api/routers/payment_config_router.py
  backend/api/services/__init__.py
  backend/api/services/payment/__init__.py
  backend/api/services/payment/_base.py
  backend/api/services/payment/_cmv.py
  backend/api/services/payment/_ecpay.py
  backend/api/services/payment/_mpg.py
  backend/api/services/payment/_newebpay.py
  backend/api/services/payment/_paypal.py
  backend/shared/models/donation.py
  backend/tests/api/test_donation_router.py
  backend/tests/api/test_payment_cmv.py
  backend/tests/api/test_payment_mpg.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(payment): url-encode ~ in ECPay CheckMacValue
  backend/api/services/payment/_cmv.py
  backend/tests/api/test_payment_cmv.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(crypto): warn when a credential fails to decrypt
  backend/shared/crypto.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(bot-invite): rewrite consent page copy (#202)
  frontend/src/assets/fontawesome/css/fontawesome.subset.css
  frontend/src/components/settings/BotAccountsCard.tsx
  frontend/src/pages/BotAuthorizationResult.tsx
  frontend/src/pages/BotInvite.test.tsx
  frontend/src/pages/BotInvite.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

feat(settings): reveal-toggle secret input
  frontend/src/components/SecretInput.test.tsx
  frontend/src/components/SecretInput.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

refactor(settings): extract PaymentConfigCard
  frontend/src/components/settings/PaymentConfigCard.test.tsx
  frontend/src/components/settings/PaymentConfigCard.tsx
  frontend/src/components/settings/PaymentPlatformCard.tsx
  frontend/src/pages/Settings.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

feat(settings): persist enable toggle immediately
  frontend/src/components/settings/PaymentConfigCard.test.tsx
  frontend/src/components/settings/PaymentConfigCard.tsx
  frontend/src/components/settings/PaymentPlatformCard.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

feat(settings): guard merchant id, clamp amount, link portal
  frontend/src/components/settings/PaymentConfigCard.test.tsx
  frontend/src/components/settings/PaymentConfigCard.tsx
  frontend/src/components/settings/PaymentPlatformCard.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

chore(donation): drop unused PLATFORM_COLORS
  frontend/src/api/donation.ts
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

refactor(payment): per-gateway provider layer + fix ~ CheckMacValue (#203)
  backend/api/routers/donation_router.py
  backend/api/routers/payment_config_router.py
  backend/api/services/__init__.py
  backend/api/services/payment/__init__.py
  backend/api/services/payment/_base.py
  backend/api/services/payment/_cmv.py
  backend/api/services/payment/_ecpay.py
  backend/api/services/payment/_mpg.py
  backend/api/services/payment/_newebpay.py
  backend/api/services/payment/_paypal.py
  backend/shared/crypto.py
  backend/shared/models/donation.py
  backend/tests/api/test_donation_router.py
  backend/tests/api/test_payment_cmv.py
  backend/tests/api/test_payment_mpg.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(settings): toggleFn returns void for useOptimisticToggle
  frontend/src/components/settings/PaymentConfigCard.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

refactor(settings): extract PaymentConfigCard + real enable toggle (#204)
  frontend/src/api/donation.ts
  frontend/src/components/SecretInput.test.tsx
  frontend/src/components/SecretInput.tsx
  frontend/src/components/settings/PaymentConfigCard.test.tsx
  frontend/src/components/settings/PaymentConfigCard.tsx
  frontend/src/components/settings/PaymentPlatformCard.tsx
  frontend/src/pages/Settings.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

refactor(overlay): extract SetupSteps component
  frontend/src/components/SetupSteps.tsx
  frontend/src/pages/modules/ChatOverlay.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

style(overlay-url): use text-label size token
  frontend/src/components/OverlayUrlBlock.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

feat(video-queue): redesign dashboard page
  frontend/src/App.tsx
  frontend/src/assets/fontawesome/css/fontawesome.subset.css
  frontend/src/pages/modules/VideoQueue.tsx
  frontend/src/pages/modules/videoQueue/BlocklistSection.tsx
  frontend/src/pages/modules/videoQueue/HistoryTable.test.tsx
  frontend/src/pages/modules/videoQueue/HistoryTable.tsx
  frontend/src/pages/modules/videoQueue/NowPlayingCard.tsx
  frontend/src/pages/modules/videoQueue/OverlayCard.tsx
  frontend/src/pages/modules/videoQueue/QueueCard.tsx
  frontend/src/pages/modules/videoQueue/QueueTable.tsx
  frontend/src/pages/modules/videoQueue/RulesCard.tsx
  frontend/src/pages/modules/videoQueue/SetupGuideSheet.tsx
  frontend/src/pages/modules/videoQueue/index.tsx
  frontend/src/pages/modules/videoQueue/utils.ts
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

refactor(docs): refresh Get Started, promote community CTA
  frontend/src/components/DiscordHelpBanner.tsx
  frontend/src/pages/docs/GetStarted.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

feat(ui): shared FeatureCard component
  frontend/src/components/FeatureCard.tsx
  frontend/src/pages/discord/Dashboard.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

refactor(docs): rebuild Get Started layout
  frontend/src/pages/docs/GetStarted.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

fix(video-queue): stagger section entrance animation
  frontend/src/pages/modules/videoQueue/index.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

feat(video-queue): redesign dashboard page (#210)
  frontend/src/App.tsx
  frontend/src/assets/fontawesome/css/fontawesome.subset.css
  frontend/src/components/DiscordHelpBanner.tsx
  frontend/src/components/FeatureCard.tsx
  frontend/src/components/OverlayUrlBlock.tsx
  frontend/src/components/SetupSteps.tsx
  frontend/src/pages/discord/Dashboard.tsx
  frontend/src/pages/docs/GetStarted.tsx
  frontend/src/pages/modules/ChatOverlay.tsx
  frontend/src/pages/modules/VideoQueue.tsx
  frontend/src/pages/modules/videoQueue/BlocklistSection.tsx
  frontend/src/pages/modules/videoQueue/HistoryTable.test.tsx
  frontend/src/pages/modules/videoQueue/HistoryTable.tsx
  frontend/src/pages/modules/videoQueue/NowPlayingCard.tsx
  frontend/src/pages/modules/videoQueue/OverlayCard.tsx
  frontend/src/pages/modules/videoQueue/QueueCard.tsx
  frontend/src/pages/modules/videoQueue/QueueTable.tsx
  frontend/src/pages/modules/videoQueue/RulesCard.tsx
  frontend/src/pages/modules/videoQueue/SetupGuideSheet.tsx
  frontend/src/pages/modules/videoQueue/index.tsx
  frontend/src/pages/modules/videoQueue/utils.ts
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

chore: bump backend version to v1.15
  backend/pyproject.toml
  backend/uv.lock
Due: none

fix(video-queue): don't reject Bilibili on unverifiable metadata
  backend/api/routers/video_queue_router.py
  backend/shared/video_sources.py
  backend/tests/api/test_video_queue_router.py
  backend/tests/shared/test_video_sources_registry.py
  backend/tests/twitch/test_channel_points_video_queue.py
  backend/tests/twitch/test_video_queue_component.py
  backend/twitch/components/channel_points.py
  backend/twitch/components/video_queue.py
  docs/architecture/video-queue-platforms.md
Due: npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml, npx --prefix frontend markdownlint --fix

fix(video-queue): don't reject Bilibili on unverifiable metadata (#212)
  backend/api/routers/video_queue_router.py
  backend/shared/video_sources.py
  backend/tests/api/test_video_queue_router.py
  backend/tests/shared/test_video_sources_registry.py
  backend/tests/twitch/test_channel_points_video_queue.py
  backend/tests/twitch/test_video_queue_component.py
  backend/twitch/components/channel_points.py
  backend/twitch/components/video_queue.py
  docs/architecture/video-queue-platforms.md
Due: npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml, npx --prefix frontend markdownlint --fix

fix(video-queue): don't reject Bilibili on unverifiable metadata (#213)
  backend/api/routers/video_queue_router.py
  backend/shared/video_sources.py
  backend/tests/api/test_video_queue_router.py
  backend/tests/shared/test_video_sources_registry.py
  backend/tests/twitch/test_channel_points_video_queue.py
  backend/tests/twitch/test_video_queue_component.py
  backend/twitch/components/channel_points.py
  backend/twitch/components/video_queue.py
  docs/architecture/video-queue-platforms.md
Due: npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml, npx --prefix frontend markdownlint --fix

feat(video-queue): risk-control-aware Bilibili metadata client
  backend/discord/cogs/social_preview/cog.py
  backend/discord/cogs/social_preview/constants.py
  backend/shared/bilibili_client.py
  backend/shared/video_sources.py
  backend/tests/discord/social_preview/test_bilibili.py
  backend/tests/shared/test_bilibili_client.py
  docs/architecture/video-queue-platforms.md
Due: npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml, npx --prefix frontend markdownlint --fix
