Repository yPinn/Niibot: changes, and which lint-staged commands are due for each by the changed paths.
All: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml, npx --prefix frontend markdownlint --fix

.lintstagedrc:

{
  "frontend/**/*.{js,jsx,ts,tsx}": [
    "npx --prefix frontend eslint --fix",
    "npx --prefix frontend prettier --write --ignore-unknown"
  ],
  "backend/**/*.py": [
    "uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff",
    "uv run --project backend ruff format --config backend/pyproject.toml"
  ],
  "docs/**/*.md": [
    "npx --prefix frontend markdownlint --fix",
    "npx --prefix frontend prettier --write --ignore-unknown"
  ],
  "**/*.{json,yml,yaml}": [
    "npx --prefix frontend prettier --write --ignore-unknown"
  ]
}

fix(resilience): tune DB pool keepalive for Supavisor cross-region stability
  backend/discord/bot.py
  backend/shared/cache.py
  backend/shared/database.py
  backend/twitch/core/bot.py
  backend/twitch/core/pg_listener.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(frontend): use canonical Tailwind v4 class syntax
  frontend/src/components/AnalyticsChart.tsx
  frontend/src/components/layouts/SidebarLayout.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

feat(frontend): replace inline login error with sonner toast notification
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/login-form.tsx
  frontend/src/components/ui/index.ts
  frontend/src/components/ui/sonner.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

feat: add event options support with raid auto-shoutout toggle and subscribe lock
  backend/api/routers/events_router.py
  backend/api/services/event_config_service.py
  backend/shared/migrations/versions/013_add_event_options.sql
  backend/shared/models/event_config.py
  backend/shared/repositories/event_config.py
  backend/twitch/components/event.py
  frontend/src/App.tsx
  frontend/src/api/events.ts
  frontend/src/pages/Events.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(resilience): shorten pool idle lifetime and heartbeat for Supavisor
  backend/discord/bot.py
  backend/shared/database.py
  backend/twitch/core/bot.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(resilience): memory-first cache with pg_notify sync
  README.md
  backend/api/README.md
  backend/discord/README.md
  backend/discord/bot.py
  backend/scripts/tw_oauth.py
  backend/shared/cache.py
  backend/shared/database.py
  backend/shared/migrations/versions/014_config_change_notify.sql
  backend/shared/repositories/channel.py
  backend/shared/repositories/command_config.py
  backend/shared/repositories/event_config.py
  backend/twitch/README.md
  backend/twitch/components/cmds.py
  backend/twitch/core/bot.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(ai): switch to openrouter/free model and remove reasoning logic
  backend/discord/.env.example
  backend/discord/cogs/ai.py
  backend/twitch/.env.example
  backend/twitch/components/ai.py
  backend/twitch/core/config.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(twitch): stop custom text commands from reaching builtin command parser
  backend/twitch/core/bot.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(ai): strip <think> reasoning blocks from openrouter/free responses
  backend/discord/cogs/ai.py
  backend/twitch/components/ai.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(ai): increase max_tokens and suppress reasoning output for free models
  backend/discord/cogs/ai.py
  backend/twitch/components/ai.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(ai): handle truncated think tags and improve response logging
  backend/discord/cogs/ai.py
  backend/twitch/components/ai.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(ai): auto-retry on empty response from openrouter/free
  backend/discord/cogs/ai.py
  backend/twitch/components/ai.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

refactor(frontend): overhaul design system and apply Twitch theme
  frontend/src/api/user.ts
  frontend/src/components/ui/card.tsx
  frontend/src/components/ui/empty.tsx
  frontend/src/components/ui/sheet.tsx
  frontend/src/index.css
  frontend/src/lib/apiCache.ts
  frontend/src/pages/About.tsx
  frontend/src/pages/Commands.tsx
  frontend/src/pages/Dashboard.tsx
  frontend/src/pages/Events.tsx
  frontend/src/pages/Login.tsx
  frontend/src/pages/SystemStatus.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

feat: add Settings page with account linking and fix AI type annotations
  backend/api/routers/auth_router.py
  backend/api/services/discord_api.py
  backend/api/services/twitch_api.py
  backend/discord/cogs/ai.py
  backend/twitch/components/ai.py
  frontend/package-lock.json
  frontend/src/App.tsx
  frontend/src/api/account.ts
  frontend/src/api/config.ts
  frontend/src/api/index.ts
  frontend/src/components/nav-user.tsx
  frontend/src/components/ui/breadcrumb.tsx
  frontend/src/components/ui/chart.tsx
  frontend/src/components/ui/dropdown-menu.tsx
  frontend/src/components/ui/select.tsx
  frontend/src/components/ui/sidebar.tsx
  frontend/src/components/ui/table.tsx
  frontend/src/components/ui/tabs.tsx
  frontend/src/components/ui/tooltip.tsx
  frontend/src/pages/Settings.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(twitch): use dedicated connections for LISTEN to avoid pool exhaustion
  backend/twitch/core/bot.py
  backend/twitch/core/pg_listener.py
  backend/twitch/main.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(db): reduce heartbeat intervals to 15s to prevent Supavisor idle kills
  backend/discord/bot.py
  backend/twitch/core/bot.py
  backend/twitch/core/pg_listener.py
  frontend/src/config/navigation.ts
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(db): switch API to Session Pooler and fix pool init race condition
  backend/api/.env.example
  backend/api/app.py
  backend/discord/.env.example
  backend/shared/database.py
  backend/twitch/.env.example
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(discord): use actual retry_after for 429 retries and enforce 20min Cloudflare ban minimum
  backend/discord/bot.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(events): detect non-partner via broadcaster_type instead of rewards 403
  backend/api/routers/events_router.py
  backend/api/services/twitch_api.py
  frontend/src/api/events.ts
  frontend/src/pages/Events.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(db): reduce pool sizes to prevent Session Pooler max clients error
  backend/shared/database.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(discord): don't exit on Cloudflare ban, wait indefinitely instead
  backend/discord/bot.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(api): increase heartbeat acquire timeout and use real DB health check
  backend/api/app.py
  backend/discord/bot.py
  backend/twitch/core/bot.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

chore(discord): update .env.example variables setting
  backend/discord/.env.example
  backend/discord/bot.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(discord): close leaked HTTP session before Cloudflare retry
  backend/discord/bot.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

refactor(api): optimize TwitchAPIClient with token cache and connection reuse
  backend/api/app.py
  backend/api/core/dependencies.py
  backend/api/routers/channels_router.py
  backend/api/services/twitch_api.py
  backend/scripts/db_backfill_sessions.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

refactor(api): optimize DiscordAPIClient with Basic Auth and connection reuse
  backend/api/app.py
  backend/api/core/dependencies.py
  backend/api/services/discord_api.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

chore(deps): upgrade backend and frontend dependencies
  backend/pyproject.toml
  backend/uv.lock
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/AnalyticsChart.tsx
  frontend/src/components/ui/chart.tsx
  package-lock.json
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

feat(frontend): add sortable columns to Events page tables
  frontend/src/pages/Events.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

feat(discord): expand tarot to full 78-card deck with finance category
  backend/data/tarot.json
  backend/discord/cogs/tarot.py
Due: npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat: add game queue system for channel points redemption
  backend/api/app.py
  backend/api/routers/__init__.py
  backend/api/routers/events_router.py
  backend/api/routers/game_queue_router.py
  backend/api/services/game_queue_service.py
  backend/shared/migrations/versions/015_add_game_queue.sql
  backend/shared/models/game_queue.py
  backend/shared/repositories/command_config.py
  backend/shared/repositories/game_queue.py
  backend/twitch/components/channel_points.py
  backend/twitch/components/game_queue.py
  frontend/src/App.tsx
  frontend/src/api/config.ts
  frontend/src/api/gameQueue.ts
  frontend/src/config/navigation.ts
  frontend/src/pages/GameQueueOverlay.tsx
  frontend/src/pages/modules/GameQueue.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(twitch): add tarot chat command component
  backend/twitch/components/tarot.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(frontend): fix GameQueue Icon prop and User type errors
  frontend/src/pages/modules/GameQueue.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

refactor(bot): auto-collect builtin commands from component declarations
  backend/shared/repositories/command_config.py
  backend/twitch/components/ai.py
  backend/twitch/components/channel_points.py
  backend/twitch/components/cmds.py
  backend/twitch/components/sukaoMao.py
  backend/twitch/components/tarot.py
  backend/twitch/components/tft.py
  backend/twitch/core/bot.py
  frontend/src/config/navigation.ts
  frontend/src/pages/Events.tsx
  frontend/src/pages/GameQueueOverlay.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(bot): use sys.modules to collect component COMMANDS in setup_hook
  backend/twitch/core/bot.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(frontend): add system status toast and unify notification style
  backend/shared/repositories/command_config.py
  frontend/src/App.tsx
  frontend/src/contexts/ServiceStatusContext.tsx
  frontend/src/pages/Events.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(db): set search_path on all trigger functions + simplify status toast
  backend/shared/migrations/versions/016_fix_function_search_path.sql
  frontend/src/contexts/ServiceStatusContext.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

feat(bot): add condemn command, improve tarot format and command descriptions
  backend/api/services/command_config_service.py
  backend/twitch/components/cmds.py
  backend/twitch/components/tarot.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

refactor(commands): unify description source from backend BUILTIN_DESCRIPTIONS
  backend/api/routers/commands_router.py
  backend/api/services/command_config_service.py
  frontend/src/api/commands.ts
  frontend/src/pages/Commands.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

refactor(commands): split admin/public descriptions and remove truncation
  backend/api/services/command_config_service.py
  frontend/src/pages/Commands.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(bot): compact tarot response into single message with full meaning
  backend/twitch/components/tarot.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml
