Repository yPinn/Niibot: changes, and which lint-staged commands are due for each by the changed paths.
All: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml, npx --prefix frontend markdownlint --fix

.lintstagedrc:

{
  "frontend/**/*.{js,jsx,ts,tsx}": [
    "npx --prefix frontend eslint --fix",
    "npx --prefix frontend prettier --write --ignore-unknown"
  ],
  "backend/**/*.py": [
    "uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff",
    "uv run --project backend ruff format --config backend/pyproject.toml"
  ],
  "docs/**/*.md": [
    "npx --prefix frontend markdownlint --fix",
    "npx --prefix frontend prettier --write --ignore-unknown"
  ],
  "**/*.{json,yml,yaml}": [
    "npx --prefix frontend prettier --write --ignore-unknown"
  ]
}

feat(discord): notify Codex usage resets (#272)
  backend/discord/cogs/codex_resets/__init__.py
  backend/discord/cogs/codex_resets/_embeds.py
  backend/discord/cogs/codex_resets/_state.py
  backend/discord/cogs/codex_resets/cog.py
  backend/discord/cogs/utility.py
  backend/tests/discord/test_codex_resets.py
  docs/reference/static-data.md
Due: npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml, npx --prefix frontend markdownlint --fix

fix(db): skip schedule publish before channel row
  backend/shared/migrations/versions/156_fix_stream_schedule_token_trigger.sql
  backend/tests/shared/test_stream_schedule_token_trigger_migration.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(vq): relay live playlist, explain rejections
  backend/api/routers/video_queue_router.py
  backend/shared/migrations/versions/157_video_queue_shared_volume.sql
  backend/shared/models/video_queue.py
  backend/shared/repositories/video_queue.py
  backend/shared/services/video_queue_admission.py
  backend/shared/services/video_queue_insert.py
  backend/shared/video_queue_messages.py
  backend/shared/video_segments.py
  backend/shared/video_sources.py
  backend/tests/api/test_video_queue_router.py
  backend/tests/shared/test_video_queue_admission.py
  backend/tests/shared/test_video_queue_insert.py
  backend/tests/shared/test_video_queue_messages.py
  backend/tests/shared/test_video_queue_migrations.py
  backend/tests/shared/test_video_queue_repo.py
  backend/tests/shared/test_video_segments.py
  backend/tests/shared/test_video_sources_registry.py
  backend/tests/twitch/test_video_queue_component.py
  backend/twitch/components/video_queue.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(log): hide frame locals in dev tracebacks
  backend/shared/logging_setup.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(vq): autoplay live and VOD in the OBS overlay
  frontend/package-lock.json
  frontend/package.json
  frontend/public/_headers
  frontend/src/api/config.ts
  frontend/src/api/videoQueue.ts
  frontend/src/lib/clientErrorReporter.test.ts
  frontend/src/lib/clientErrorReporter.ts
  frontend/src/pages/VideoQueueOverlay.module.css
  frontend/src/pages/VideoQueueOverlay.test.tsx
  frontend/src/pages/VideoQueueOverlay.tsx
  frontend/src/pages/videoQueueOverlay/players/hlsDiagnostics.test.ts
  frontend/src/pages/videoQueueOverlay/players/hlsDiagnostics.ts
  frontend/src/pages/videoQueueOverlay/players/liveInsert.test.ts
  frontend/src/pages/videoQueueOverlay/players/liveInsert.ts
  frontend/src/pages/videoQueueOverlay/players/twitchVod.test.ts
  frontend/src/pages/videoQueueOverlay/players/twitchVod.ts
  frontend/src/pages/videoQueueOverlay/players/types.ts
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

feat(ui): drag overlay URLs into OBS
  frontend/src/assets/fontawesome/css/fontawesome.subset.css
  frontend/src/components/OverlayUrlBlock.test.tsx
  frontend/src/components/OverlayUrlBlock.tsx
  frontend/src/components/SetupSteps.tsx
  frontend/src/pages/modules/ChatOverlay.tsx
  frontend/src/pages/modules/CommunityOverlaySettings.test.tsx
  frontend/src/pages/modules/CommunityOverlaySettings.tsx
  frontend/src/pages/modules/GameQueue.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

docs(vq): document live playback and VOD autoplay
  docs/architecture/video-queue-platforms.md
Due: npx --prefix frontend prettier --write --ignore-unknown, npx --prefix frontend markdownlint --fix

feat(vq): video/live mode toggle, tidier setup
  frontend/src/pages/dashboard/channelPoints/ChannelPointActionsTable.tsx
  frontend/src/pages/dashboard/channelPoints/index.test.tsx
  frontend/src/pages/dashboard/channelPoints/index.tsx
  frontend/src/pages/dashboard/events/index.test.tsx
  frontend/src/pages/modules/communityOverlay/CheckinBlockCard.tsx
  frontend/src/pages/modules/videoQueue/HistoryTable.tsx
  frontend/src/pages/modules/videoQueue/NowPlayingCard.test.tsx
  frontend/src/pages/modules/videoQueue/NowPlayingCard.tsx
  frontend/src/pages/modules/videoQueue/OverlayCard.test.tsx
  frontend/src/pages/modules/videoQueue/OverlayCard.tsx
  frontend/src/pages/modules/videoQueue/QueueTable.tsx
  frontend/src/pages/modules/videoQueue/RankingPanel.test.tsx
  frontend/src/pages/modules/videoQueue/RankingPanel.tsx
  frontend/src/pages/modules/videoQueue/RulesCard.test.tsx
  frontend/src/pages/modules/videoQueue/RulesCard.tsx
  frontend/src/pages/modules/videoQueue/SettingsCard.test.tsx
  frontend/src/pages/modules/videoQueue/SettingsCard.tsx
  frontend/src/pages/modules/videoQueue/SetupGuideSheet.test.tsx
  frontend/src/pages/modules/videoQueue/SetupGuideSheet.tsx
  frontend/src/pages/modules/videoQueue/SourceSettingsCard.test.tsx
  frontend/src/pages/modules/videoQueue/SourceSettingsCard.tsx
  frontend/src/pages/modules/videoQueue/index.tsx
  frontend/src/pages/modules/videoQueue/utils.ts
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

test(channel-points): allow slow check-in test
  frontend/src/pages/dashboard/channelPoints/index.test.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

feat(vq): let queued videos play over live
  backend/api/routers/video_queue_router.py
  backend/shared/repositories/video_queue.py
  backend/shared/video_queue_messages.py
  backend/tests/api/test_video_queue_router.py
  backend/tests/shared/test_video_queue_messages.py
  backend/tests/shared/test_video_queue_repo.py
  backend/tests/twitch/test_channel_points_video_queue.py
  backend/tests/twitch/test_video_queue_component.py
  backend/twitch/components/channel_points.py
  backend/twitch/components/video_queue.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(vq): show live only while the queue is empty
  frontend/src/pages/VideoQueueOverlay.test.tsx
  frontend/src/pages/VideoQueueOverlay.tsx
  frontend/src/pages/modules/videoQueue/NowPlayingCard.test.tsx
  frontend/src/pages/modules/videoQueue/NowPlayingCard.tsx
  frontend/src/pages/modules/videoQueue/index.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

docs(vq): document live as a background source
  docs/architecture/video-queue-platforms.md
Due: npx --prefix frontend prettier --write --ignore-unknown, npx --prefix frontend markdownlint --fix

feat(vq): play queued videos over live playback (#275)
  backend/api/routers/video_queue_router.py
  backend/shared/repositories/video_queue.py
  backend/shared/video_queue_messages.py
  backend/tests/api/test_video_queue_router.py
  backend/tests/shared/test_video_queue_messages.py
  backend/tests/shared/test_video_queue_repo.py
  backend/tests/twitch/test_channel_points_video_queue.py
  backend/tests/twitch/test_video_queue_component.py
  backend/twitch/components/channel_points.py
  backend/twitch/components/video_queue.py
  docs/architecture/video-queue-platforms.md
  frontend/src/pages/VideoQueueOverlay.test.tsx
  frontend/src/pages/VideoQueueOverlay.tsx
  frontend/src/pages/modules/videoQueue/NowPlayingCard.test.tsx
  frontend/src/pages/modules/videoQueue/NowPlayingCard.tsx
  frontend/src/pages/modules/videoQueue/index.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml, npx --prefix frontend markdownlint --fix

chore: bump backend version to v1.18
  backend/pyproject.toml
  backend/uv.lock
Due: none

chore: bump backend version to v1.18 (#276)
  backend/pyproject.toml
  backend/uv.lock
Due: none

fix(docker): cache static layers below refresh
  backend/discord/Dockerfile
  backend/scrapling/Dockerfile
Due: none

fix(vq): recover or skip mid-playback stalls
  docs/architecture/video-queue-platforms.md
  frontend/src/pages/videoQueueOverlay/players/shared.ts
  frontend/src/pages/videoQueueOverlay/players/twitchVod.test.ts
  frontend/src/pages/videoQueueOverlay/players/twitchVod.ts
  frontend/src/pages/videoQueueOverlay/players/youtube.test.ts
  frontend/src/pages/videoQueueOverlay/players/youtube.ts
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, npx --prefix frontend markdownlint --fix

fix(vq): relay Twitch live variant playlists
  backend/api/routers/video_queue_router.py
  backend/shared/video_sources.py
  backend/tests/api/test_video_queue_router.py
  backend/tests/shared/test_video_sources_registry.py
  docs/guides/cloudflare-pages.md
  frontend/src/pages/videoQueueOverlay/players/liveInsert.ts
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml, npx --prefix frontend markdownlint --fix

chore(env): add optional API_DIRECT_URL
  .github/variables/prod.env.example
  .github/variables/stg.env.example
  backend/api/.env.example
  backend/api/core/config.py
  docs/guides/environment.md
  env.manifest.json
  env.registry.toml
Due: npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml, npx --prefix frontend markdownlint --fix

fix(telemetry): report third-party 403s
  frontend/src/lib/clientErrorReporter.test.ts
  frontend/src/lib/clientErrorReporter.ts
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

Merge pull request #278 from yPinn/chore/api-direct-url
  .github/variables/prod.env.example
  .github/variables/stg.env.example
  backend/api/.env.example
  backend/api/core/config.py
  docs/guides/environment.md
  env.manifest.json
  env.registry.toml
Due: npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml, npx --prefix frontend markdownlint --fix

fix(vq): relay Twitch live variant playlists (#279)
  backend/api/routers/video_queue_router.py
  backend/shared/video_sources.py
  backend/tests/api/test_video_queue_router.py
  backend/tests/shared/test_video_sources_registry.py
  docs/guides/cloudflare-pages.md
  frontend/src/pages/videoQueueOverlay/players/liveInsert.ts
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml, npx --prefix frontend markdownlint --fix

fix(telemetry): report third-party 403s (#280)
  frontend/src/lib/clientErrorReporter.test.ts
  frontend/src/lib/clientErrorReporter.ts
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

feat(telemetry): report CSP violations
  frontend/src/lib/clientErrorReporter.test.ts
  frontend/src/lib/clientErrorReporter.ts
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

feat(telemetry): report CSP violations (#281)
  frontend/src/lib/clientErrorReporter.test.ts
  frontend/src/lib/clientErrorReporter.ts
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

fix(headers): restore CSP and frame rules
  frontend/public/_headers
  frontend/src/config/headers.test.ts
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

fix(headers): restore CSP and frame rules (#282)
  frontend/public/_headers
  frontend/src/config/headers.test.ts
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

docs(vq): correct live HLS relay notes
  docs/architecture/video-queue-platforms.md
Due: npx --prefix frontend prettier --write --ignore-unknown, npx --prefix frontend markdownlint --fix

docs(vq): correct live HLS relay notes (#283)
  docs/architecture/video-queue-platforms.md
Due: npx --prefix frontend prettier --write --ignore-unknown, npx --prefix frontend markdownlint --fix

fix(headers): allow theme script in overlay CSP
  frontend/public/_headers
  frontend/src/config/headers.test.ts
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

fix(headers): allow theme script in overlay CSP (#284)
  frontend/public/_headers
  frontend/src/config/headers.test.ts
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

fix(discord): diff full command payloads
  backend/scripts/discord_ops/commands.py
  backend/scripts/nb.py
  backend/tests/scripts/test_discord_ops.py
  backend/tests/scripts/test_nb.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

ci(deploy): sync Discord commands after deploy
  .github/variables/prod.env.example
  .github/variables/stg.env.example
  .github/workflows/_deploy.yml
  docs/guides/discord.md
  env.manifest.json
  env.registry.toml
Due: npx --prefix frontend prettier --write --ignore-unknown, npx --prefix frontend markdownlint --fix

feat(codex): reset reminders and guild timezones
  backend/discord/cogs/codex_resets/_embeds.py
  backend/discord/cogs/codex_resets/_state.py
  backend/discord/cogs/codex_resets/cog.py
  backend/discord/cogs/utility.py
  backend/tests/discord/test_codex_resets.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(discord): sync commands on deploy; Codex reminders (#286)
  .github/variables/prod.env.example
  .github/variables/stg.env.example
  .github/workflows/_deploy.yml
  backend/discord/cogs/codex_resets/_embeds.py
  backend/discord/cogs/codex_resets/_state.py
  backend/discord/cogs/codex_resets/cog.py
  backend/discord/cogs/utility.py
  backend/scripts/discord_ops/commands.py
  backend/scripts/nb.py
  backend/tests/discord/test_codex_resets.py
  backend/tests/scripts/test_discord_ops.py
  backend/tests/scripts/test_nb.py
  docs/guides/discord.md
  env.manifest.json
  env.registry.toml
Due: npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml, npx --prefix frontend markdownlint --fix

feat(codex): rework notification embeds
  backend/discord/cogs/codex_resets/_embeds.py
  backend/discord/cogs/codex_resets/cog.py
  backend/discord/cogs/utility.py
  backend/tests/discord/test_codex_resets.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

refactor(codex): split /codex and /codex-config
  backend/discord/cogs/codex_resets/_embeds.py
  backend/discord/cogs/codex_resets/cog.py
  backend/discord/cogs/utility.py
  backend/tests/discord/test_codex_resets.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

refactor(discord): unify slash-command scope and access
  backend/discord/cogs/birthday/cog.py
  backend/discord/cogs/codex_resets/cog.py
  backend/discord/cogs/eat/cog.py
  backend/discord/cogs/events/cog.py
  backend/discord/cogs/moderation.py
  backend/discord/cogs/utility.py
  backend/discord/core/__init__.py
  backend/discord/core/slash.py
  backend/tests/discord/test_slash_conventions.py
  docs/guides/discord.md
Due: npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml, npx --prefix frontend markdownlint --fix

feat(discord): warn about stale commands in other scope
  backend/scripts/discord_ops/commands.py
  backend/tests/scripts/test_discord_ops.py
  docs/guides/discord.md
Due: npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml, npx --prefix frontend markdownlint --fix
