Repository yPinn/Niibot: changes, and which lint-staged commands are due for each by the changed paths.
All: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml, npx --prefix frontend markdownlint --fix

feat(twitch): add deployed bot reset invites
  backend/api/routers/bot_accounts_router.py
  backend/api/services/bot_account_service.py
  backend/scripts/nb.py
  backend/scripts/twitch_ops/invite.py
  backend/tests/scripts/test_nb.py
  backend/tests/scripts/test_twitch_invite.py
  docs/guides/deployment.md
  scripts/README.md
Due: npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml, npx --prefix frontend markdownlint --fix

fix(discord): harden deployment operations
  .github/secrets/prod.env.example
  .github/secrets/stg.env.example
  .github/variables/prod.env.example
  .github/variables/stg.env.example
  backend/api/.env.example
  backend/api/routers/discord_webhook_router.py
  backend/discord/.env.example
  backend/discord/Dockerfile
  backend/discord/bot.py
  backend/discord/cogs/rate_limit_monitor.py
  backend/discord/cogs/utility.py
  backend/discord/core/__init__.py
  backend/discord/core/config.py
  backend/discord/core/rate_limiter.py
  backend/scripts/discord_ops/commands.py
  backend/scripts/nb.py
  backend/tests/api/test_discord_webhook_router.py
  backend/tests/scripts/test_discord_ops.py
  backend/tests/scripts/test_env_gen.py
  backend/tests/scripts/test_nb.py
  docs/README.md
  docs/guides/deployment.md
  docs/guides/discord.md
  docs/guides/environment.md
  docs/reference/api-endpoints.md
  env.manifest.json
  env.registry.toml
  frontend/README.md
  frontend/src/vite-env.d.ts
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml, npx --prefix frontend markdownlint --fix

test(api): isolate deployed log settings
  backend/tests/api/test_admin_router.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(deploy): isolate environment worktrees
  .github/variables/prod.env.example
  .github/variables/stg.env.example
  .github/workflows/_deploy.yml
  backend/tests/scripts/test_env_check.py
  backend/tests/scripts/test_env_ci.py
  backend/tests/scripts/test_env_gen.py
  backend/tests/scripts/test_environment_contract.py
  docs/guides/deployment.md
  env.manifest.json
  env.registry.toml
  scripts/env/check.py
  scripts/env/ci.py
  scripts/env/gen.py
Due: npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml, npx --prefix frontend markdownlint --fix

fix(twitch): fix channel-toggle race and mod gaps
  backend/tests/twitch/test_bot_event_message.py
  backend/tests/twitch/test_bot_token_events.py
  backend/tests/twitch/test_mod_guard.py
  backend/tests/twitch/test_notify_mixin.py
  backend/tests/twitch/test_stream_online.py
  backend/twitch/components/channel_points.py
  backend/twitch/core/_notify_mixin.py
  backend/twitch/core/bot.py
  backend/twitch/utils/mod_guard.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

chore: bump backend version to v1.17
  backend/pyproject.toml
  backend/uv.lock
Due: none

fix(env): add explicit encryption key rotation
  backend/tests/scripts/test_env_init.py
  scripts/env/init.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(env): preserve base64 padding in secret sync
  .github/push.sh
  backend/tests/scripts/test_environment_contract.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(twitch): harden bot oauth recovery errors
  backend/api/routers/bot_accounts_router.py
  backend/tests/api/test_bot_accounts_router.py
  frontend/src/pages/BotAuthorizationResult.tsx
  frontend/src/pages/BotInvite.test.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(twitch): type bot oauth validation timestamp
  backend/api/services/bot_account_service.py
  backend/tests/api/test_bot_account_service.py
  backend/tests/api/test_bot_account_service_postgres.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(twitch): reconcile chat subscriptions after bot auth
  backend/tests/twitch/test_notify_mixin.py
  backend/twitch/core/_notify_mixin.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(stream-schedule): add occurrence overrides and bounds
  backend/api/routers/stream_schedule_router.py
  backend/shared/migrations/versions/141_backfill_stream_schedule_opening_segments.sql
  backend/shared/migrations/versions/142_add_stream_schedule_occurrence_exceptions.sql
  backend/shared/migrations/versions/143_migrate_stream_schedule_skip_sentinels.sql
  backend/shared/migrations/versions/144_harden_stream_schedule_bounds.sql
  backend/shared/models/stream_schedule.py
  backend/shared/repositories/stream_schedule.py
  backend/shared/services/stream_schedule_service.py
  backend/shared/stream_schedule_validation.py
  backend/tests/api/test_stream_schedule_router.py
  backend/tests/shared/test_stream_schedule_migrations.py
  backend/tests/shared/test_stream_schedule_repository.py
  backend/tests/shared/test_stream_schedule_service.py
  backend/tests/twitch/test_general_commands.py
  backend/tests/twitch/test_stream_schedule_manager.py
  backend/twitch/components/general_commands.py
  backend/twitch/components/stream_schedule_manager.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(stream-schedule): support timezone-aware occurrence editing
  frontend/src/api/config.ts
  frontend/src/api/streamSchedule.ts
  frontend/src/pages/modules/streamSchedule/CalendarView.test.tsx
  frontend/src/pages/modules/streamSchedule/CalendarView.tsx
  frontend/src/pages/modules/streamSchedule/ScheduleSheet.tsx
  frontend/src/pages/modules/streamSchedule/SegmentList.tsx
  frontend/src/pages/modules/streamSchedule/SettingsSheet.tsx
  frontend/src/pages/modules/streamSchedule/WeekTimeline.tsx
  frontend/src/pages/modules/streamSchedule/calendar.test.ts
  frontend/src/pages/modules/streamSchedule/calendar.ts
  frontend/src/pages/modules/streamSchedule/index.tsx
  frontend/src/pages/modules/streamSchedule/time.test.ts
  frontend/src/pages/modules/streamSchedule/time.ts
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

test(api): isolate middleware logging setup
  backend/tests/api/test_app_middleware.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(deploy): pin validated immutable revisions
  .github/workflows/_deploy.yml
  .github/workflows/ci.yml
  .github/workflows/deploy-prod.yml
  .github/workflows/deploy-staging.yml
  backend/tests/scripts/test_deploy_workflow.py
  backend/tests/scripts/test_environment_contract.py
Due: npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

docs(ci): align public repository policy
  docs/guides/ci-policy.md
  docs/guides/deployment.md
  docs/reference/versioning.md
  frontend/vitest.config.ts
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, npx --prefix frontend markdownlint --fix

fix(attendance): preserve verified long-running sessions
  backend/shared/repositories/analytics/_session_mixin.py
  backend/tests/shared/test_analytics_repo.py
  backend/tests/twitch/test_session_service.py
  backend/twitch/core/session_service.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(attendance): require live broadcast-day check-ins
  backend/shared/migrations/versions/145_add_checkin_live_only.sql
  backend/shared/models/__init__.py
  backend/shared/models/attendance.py
  backend/shared/repositories/attendance.py
  backend/shared/services/attendance.py
  backend/tests/shared/test_attendance_migrations.py
  backend/tests/shared/test_attendance_repo.py
  backend/tests/shared/test_attendance_repo_postgres.py
  backend/tests/shared/test_attendance_service.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(attendance): resolve redemptions by event time
  backend/shared/migrations/versions/146_update_checkin_duplicate_broadcast_day.sql
  backend/tests/shared/test_attendance_migrations.py
  backend/tests/twitch/test_attendance_commands.py
  backend/tests/twitch/test_channel_points_checkin.py
  backend/twitch/components/channel_points.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(attendance): track consecutive broadcast days
  backend/api/routers/checkin_router.py
  backend/api/services/checkin_data_service.py
  backend/shared/checkin_streaks.py
  backend/shared/migrations/versions/148_add_stream_session_checkin_days.sql
  backend/shared/repositories/analytics/_session_mixin.py
  backend/shared/repositories/attendance.py
  backend/shared/services/attendance.py
  backend/tests/api/test_checkin_router.py
  backend/tests/shared/test_analytics_repo.py
  backend/tests/shared/test_attendance_migrations.py
  backend/tests/shared/test_attendance_repo.py
  backend/tests/shared/test_attendance_repo_postgres.py
  backend/tests/shared/test_attendance_service.py
  backend/tests/shared/test_checkin_streaks.py
  docs/architecture/attendance-and-community-overlays.md
  docs/reference/api-endpoints.md
  frontend/src/api/checkin.test.ts
  frontend/src/api/checkin.ts
  frontend/src/pages/dashboard/channelPoints/CheckinSettingsSheet.tsx
  frontend/src/pages/dashboard/channelPoints/index.test.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml, npx --prefix frontend markdownlint --fix

feat(stream-schedule): refine scheduling experience
  frontend/src/pages/modules/streamSchedule/GamePicker.test.tsx
  frontend/src/pages/modules/streamSchedule/GamePicker.tsx
  frontend/src/pages/modules/streamSchedule/ScheduleSheet.test.tsx
  frontend/src/pages/modules/streamSchedule/ScheduleSheet.tsx
  frontend/src/pages/modules/streamSchedule/SegmentList.test.ts
  frontend/src/pages/modules/streamSchedule/SegmentList.tsx
  frontend/src/pages/modules/streamSchedule/segmentTimeSlots.ts
  frontend/src/pages/modules/streamSchedule/types.ts
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

feat(stream-schedule): publish plans to Twitch
  backend/api/app.py
  backend/api/core/dependencies.py
  backend/api/routers/stream_schedule_router.py
  backend/api/services/_twitch_api/_schedule.py
  backend/api/services/stream_schedule_publisher.py
  backend/api/services/twitch_api.py
  backend/shared/migrations/versions/149_add_stream_schedule_twitch_publish.sql
  backend/shared/models/stream_schedule.py
  backend/shared/repositories/stream_schedule_publish.py
  backend/shared/twitch_scopes.py
  backend/tests/api/test_stream_schedule_publish_loop.py
  backend/tests/api/test_stream_schedule_publisher.py
  backend/tests/api/test_stream_schedule_router.py
  backend/tests/api/test_twitch_api.py
  backend/tests/shared/test_stream_schedule_migrations.py
  backend/tests/shared/test_stream_schedule_publish_repository.py
  backend/tests/shared/test_twitch_scopes.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(stream-schedule): show Twitch publish status
  frontend/src/api/botAccounts.ts
  frontend/src/api/config.ts
  frontend/src/api/streamSchedule.test.ts
  frontend/src/api/streamSchedule.ts
  frontend/src/pages/modules/streamSchedule/TwitchPublishStatus.test.tsx
  frontend/src/pages/modules/streamSchedule/TwitchPublishStatus.tsx
  frontend/src/pages/modules/streamSchedule/index.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

fix(stream-schedule): stabilize next-stream summary
  frontend/src/pages/modules/streamSchedule/CalendarView.test.tsx
  frontend/src/pages/modules/streamSchedule/CalendarView.tsx
  frontend/src/pages/modules/streamSchedule/NextScheduleCard.test.tsx
  frontend/src/pages/modules/streamSchedule/NextScheduleCard.tsx
  frontend/src/pages/modules/streamSchedule/WeekTimeline.tsx
  frontend/src/pages/modules/streamSchedule/index.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

docs: document bot selection and command imports
  docs/README.md
  docs/architecture/bot-accounts-and-collaboration.md
  docs/architecture/default-command-expansion.md
  docs/architecture/overview.md
  docs/guides/command-import.md
  docs/guides/deployment.md
  docs/reference/api-endpoints.md
Due: npx --prefix frontend prettier --write --ignore-unknown, npx --prefix frontend markdownlint --fix

refactor(bot-accounts): simplify authorization guidance
  frontend/src/pages/BotInvite.test.tsx
  frontend/src/pages/BotInvite.tsx
  frontend/src/pages/admin/components/BotStatusPanel.test.tsx
  frontend/src/pages/admin/components/BotStatusPanel.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

feat(bot-accounts): expose Twitch account identities
  backend/api/routers/bot_accounts_router.py
  backend/api/services/bot_account_service.py
  backend/api/services/twitch_authorization_service.py
  backend/tests/api/test_bot_account_service.py
  backend/tests/api/test_bot_accounts_router.py
  backend/tests/api/test_twitch_authorization_service.py
  frontend/src/api/botAccounts.ts
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(settings): consolidate Twitch account controls
  frontend/src/assets/fontawesome/css/fontawesome.subset.css
  frontend/src/components/TwitchAccountIdentity.tsx
  frontend/src/components/settings/BotAccountsCard.test.tsx
  frontend/src/components/settings/BotAccountsCard.tsx
  frontend/src/pages/admin/components/BotStatusPanel.test.tsx
  frontend/src/pages/admin/components/BotStatusPanel.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

refactor(bot-invite): simplify authorization consent
  frontend/src/pages/BotAuthorizationResult.tsx
  frontend/src/pages/BotInvite.test.tsx
  frontend/src/pages/BotInvite.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

docs(bot-accounts): document Twitch identity fallback
  docs/architecture/bot-accounts-and-collaboration.md
  docs/reference/api-endpoints.md
Due: npx --prefix frontend prettier --write --ignore-unknown, npx --prefix frontend markdownlint --fix

fix(backend): isolate runtime settings during test collection
  backend/api/routers/command_import_router.py
  backend/api/services/bot_selection_service.py
  backend/tests/api/test_channels_router.py
  backend/tests/twitch/test_crosshair_import.py
  backend/twitch/components/crosshair.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

test(backend): isolate postgres integration fixtures
  backend/tests/api/test_bot_account_service_postgres.py
  backend/tests/shared/test_command_config_repo_postgres.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(twitch): fuzzy category match for !game
  backend/tests/twitch/test_channel_info.py
  backend/twitch/components/channel_info.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(twitch): add chat argument normaliser
  backend/tests/twitch/test_command_input.py
  backend/twitch/utils/command_input.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(twitch): accept Riot IDs with spaces in !tft
  backend/tests/twitch/test_tft.py
  backend/twitch/components/tft.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(twitch): normalise !tags and !game input
  backend/tests/twitch/test_channel_info.py
  backend/twitch/components/channel_info.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

Path conditions:
  npx --prefix frontend eslint --fix: any of: frontend/**/*.{js,jsx,ts,tsx}
  npx --prefix frontend prettier --write --ignore-unknown: ((any of: frontend/**/*.{js,jsx,ts,tsx}) or (any of: docs/**/*.md)) or (any of: **/*.{json,yml,yaml})
  uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff: any of: backend/**/*.py
  uv run --project backend ruff format --config backend/pyproject.toml: any of: backend/**/*.py
  npx --prefix frontend markdownlint --fix: any of: docs/**/*.md
