Repository yPinn/Niibot: changes, and which lint-staged commands are due for each by the changed paths.
All: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml, npx --prefix frontend markdownlint --fix

test(backend): augment test suites for backend fixes
  backend/tests/api/test_donation_router.py
  backend/tests/api/test_oauth_service.py
  backend/tests/discord/test_giveaway_persistence.py
  backend/tests/shared/test_video_queue_repo.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

refactor(discord): reorganize slash commands into logical groups
  backend/discord/cogs/admin.py
  backend/discord/cogs/events.py
  backend/discord/cogs/games.py
  backend/discord/cogs/moderation.py
  backend/discord/cogs/rate_limit_monitor.py
  backend/discord/cogs/utility.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(discord): remove redundant local import sys shadowing module-level import
  backend/discord/core/logging.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

style(backend): ruff format 5 files
  backend/discord/cogs/events.py
  backend/discord/cogs/giveaway/cog.py
  backend/discord/cogs/utility.py
  backend/tests/api/test_oauth_service.py
  backend/tests/shared/test_video_queue_repo.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(discord): resolve mypy errors in admin and giveaway cogs
  backend/discord/cogs/admin.py
  backend/discord/cogs/giveaway/cog.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

ci(deploy): selective per-service build and restart based on changed paths
  .github/workflows/deploy.yml
Due: npx --prefix frontend prettier --write --ignore-unknown

fix(discord): rename cog_group to cogmgr — discord.py forbids cog_ prefix on attributes
  backend/discord/cogs/admin.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

refactor(api): centralize constants and extract helpers
  backend/api/core/constants.py
  backend/api/routers/auth_router.py
  backend/api/routers/bots_router.py
  backend/api/routers/commands_router.py
  backend/api/routers/donation_router.py
  backend/api/routers/video_queue_router.py
  backend/api/services/message_trigger_service.py
  backend/api/services/timer_service.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

refactor(discord): extract helpers and centralize auth checks
  backend/discord/bot.py
  backend/discord/cogs/admin.py
  backend/discord/cogs/birthday/cog.py
  backend/discord/cogs/eat/cog.py
  backend/discord/cogs/games.py
  backend/discord/cogs/giveaway/_views.py
  backend/discord/cogs/moderation.py
  backend/discord/cogs/tft.py
  backend/discord/cogs/utility.py
  backend/discord/core/__init__.py
  backend/discord/core/config.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(twitch): utc datetimes, running loop, and dead code removal
  backend/twitch/components/channel_points.py
  backend/twitch/components/command_manager.py
  backend/twitch/components/events.py
  backend/twitch/components/timer_manager.py
  backend/twitch/components/video_queue.py
  backend/twitch/core/_message_router_mixin.py
  backend/twitch/core/_notify_mixin.py
  backend/twitch/core/subscriptions.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

chore(frontend): deps bump, CI format fix, HTML meta
  .github/workflows/ci.yml
  frontend/README.md
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
Due: npx --prefix frontend prettier --write --ignore-unknown

refactor(frontend): migrate Tabs to @radix-ui/react-tabs
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/ui/tabs.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

test(AuthContext): cover refreshUser, logout, refreshChannels
  frontend/src/contexts/AuthContext.test.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

docs: update frontend and project README
  README.md
  frontend/README.md
Due: none

fix(frontend): add missing alert-dialog dep, fix Settings type
  frontend/package-lock.json
  frontend/package.json
  frontend/src/pages/Settings.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

docs(frontend): group tech stack by category in README
  frontend/README.md
Due: none

fix(backend): sort imports per ruff I001
  backend/twitch/components/command_manager.py
  backend/twitch/core/_message_router_mixin.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(twitch): add !roll and !choose commands
  backend/shared/builtin_commands.py
  backend/tests/twitch/conftest.py
  backend/tests/twitch/test_games_component.py
  backend/twitch/components/games.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(shared): add requested_by_id and atomic vq clear
  backend/shared/migrations/versions/043_video_queue_add_requested_by_id.sql
  backend/shared/models/video_queue.py
  backend/shared/repositories/video_queue.py
  backend/twitch/components/channel_points.py
  backend/twitch/components/video_queue.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(twitch): include broadcaster in mod-only command guards
  backend/twitch/components/command_manager.py
  backend/twitch/components/game_queue.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(twitch): use UTC datetime and thread-safe RNG in tarot
  backend/twitch/components/tarot.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

chore(backend): bump version to 1.0.0
  backend/pyproject.toml
  backend/uv.lock
Due: none

ci: coverage report, scheduled rebuild, image pruning
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  backend/scripts/db_backup.sh
Due: npx --prefix frontend prettier --write --ignore-unknown

fix(frontend): loading skeletons, tsconfig, and PWA manifest
  frontend/public/site.webmanifest
  frontend/src/pages/Settings.tsx
  frontend/src/pages/dashboard/Events.tsx
  frontend/src/pages/dashboard/SystemStatus.tsx
  frontend/src/pages/modules/GameQueue.tsx
  frontend/src/pages/modules/Timers.tsx
  frontend/src/pages/modules/VideoQueue.tsx
  frontend/tsconfig.app.json
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

docs: update READMEs for v1.0.0
  README.md
  backend/README.md
  frontend/README.md
Due: none

fix(backend): sort imports per ruff I001 in command_manager
  backend/pyproject.toml
Due: none

fix(backend): fix import order in command_manager
  backend/twitch/components/command_manager.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(twitch): skip unavailable models (404) in AI fallback loop
  backend/twitch/components/ai.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(twitch): load .env before setup_logging
  backend/twitch/main.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(ai): load fallbacks from data/free_models.json
  backend/data/free_models.json
  backend/discord/cogs/ai.py
  backend/scripts/update_free_models.py
  backend/twitch/components/ai.py
Due: npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(scripts): use urllib.parse.quote in update_free_models
  backend/scripts/update_free_models.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(discord): allow paragraph breaks in AI system prompt
  backend/discord/cogs/ai.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(status): add loaded features count and improve status display
  backend/api/routers/bots_router.py
  backend/discord/core/health_server.py
  backend/twitch/core/health_server.py
  frontend/src/api/bots.ts
  frontend/src/pages/dashboard/SystemStatus.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

chore(data): reorder free_models by Chinese quality and recency
  backend/data/free_models.json
Due: npx --prefix frontend prettier --write --ignore-unknown

feat(frontend): add motion animation system
  backend/pyproject.toml
  frontend/package.json
  frontend/src/components/LoadingSpinner.tsx
  frontend/src/components/PageHeader.tsx
  frontend/src/components/app-sidebar.tsx
  frontend/src/components/layouts/SidebarLayout.tsx
  frontend/src/components/login-form.tsx
  frontend/src/components/ui/index.ts
  frontend/src/components/ui/motion.tsx
  frontend/src/lib/motion.ts
  frontend/src/pages/Landing.tsx
  frontend/src/pages/NotFound.tsx
  frontend/src/pages/Settings.tsx
  frontend/src/pages/dashboard/Events.tsx
  frontend/src/pages/dashboard/Overview.tsx
  frontend/src/pages/dashboard/SystemStatus.tsx
  frontend/src/pages/dashboard/commands/index.tsx
  frontend/src/pages/discord/Dashboard.tsx
  frontend/src/pages/modules/GameQueue.tsx
  frontend/src/pages/modules/Timers.tsx
  frontend/src/pages/modules/VideoQueue.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

fix(frontend): resolve motion type conflicts and bundle splitting
  frontend/src/App.tsx
  frontend/src/components/LoadingSpinner.tsx
  frontend/src/components/layouts/SidebarLayout.tsx
  frontend/src/components/ui/motion.tsx
  frontend/src/pages/dashboard/Overview.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

refactor(ui): unify affiliate lock overlay and fix chart border
  frontend/src/components/AnalyticsChart.tsx
  frontend/src/pages/Settings.tsx
  frontend/src/pages/dashboard/Events.tsx
  frontend/src/pages/modules/VideoQueue.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

feat(discord): add social media link preview cog
  backend/api/core/config.py
  backend/discord/bot.py
  backend/discord/cogs/social_preview/__init__.py
  backend/discord/cogs/social_preview/_embeds.py
  backend/discord/cogs/social_preview/cog.py
  backend/discord/cogs/social_preview/constants.py
  backend/twitch/main.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(frontend): misc quality fixes
  frontend/src/api/stats.ts
  frontend/src/components/AnalyticsChart.tsx
  frontend/src/components/ErrorBoundary.tsx
  frontend/src/components/theme-provider.tsx
  frontend/src/pages/DonatePage.tsx
  frontend/src/pages/modules/Timers.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

refactor(discord): extract EmbedFactory and UserBoundView, migrate all cogs
  backend/discord/cogs/ai.py
  backend/discord/cogs/birthday/cog.py
  backend/discord/cogs/birthday/views.py
  backend/discord/cogs/eat/cog.py
  backend/discord/cogs/events.py
  backend/discord/cogs/fortune.py
  backend/discord/cogs/games.py
  backend/discord/cogs/giveaway/_views.py
  backend/discord/cogs/giveaway/cog.py
  backend/discord/cogs/rate_limit_monitor.py
  backend/discord/cogs/tarot.py
  backend/discord/cogs/tft.py
  backend/discord/cogs/utility.py
  backend/discord/core/__init__.py
  backend/discord/core/embed_factory.py
  backend/discord/core/views.py
  backend/tests/discord/test_embed_factory.py
  backend/uv.lock
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

Path conditions:
  npx --prefix frontend eslint --fix: any of: frontend/**/*.{js,jsx,ts,tsx}
  npx --prefix frontend prettier --write --ignore-unknown: ((any of: frontend/**/*.{js,jsx,ts,tsx}) or (any of: docs/**/*.md)) or (any of: **/*.{json,yml,yaml})
  uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff: any of: backend/**/*.py
  uv run --project backend ruff format --config backend/pyproject.toml: any of: backend/**/*.py
  npx --prefix frontend markdownlint --fix: any of: docs/**/*.md
