Repository yPinn/Niibot: changes, and which lint-staged commands are due for each by the changed paths.
All: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml, npx --prefix frontend markdownlint --fix

.lintstagedrc:

{
  "frontend/**/*.{js,jsx,ts,tsx}": [
    "npx --prefix frontend eslint --fix",
    "npx --prefix frontend prettier --write --ignore-unknown"
  ],
  "backend/**/*.py": [
    "uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff",
    "uv run --project backend ruff format --config backend/pyproject.toml"
  ],
  "docs/**/*.md": [
    "npx --prefix frontend markdownlint --fix",
    "npx --prefix frontend prettier --write --ignore-unknown"
  ],
  "**/*.{json,yml,yaml}": [
    "npx --prefix frontend prettier --write --ignore-unknown"
  ]
}

feat(auth): auto-activate owner on Twitch OAuth
  backend/api/routers/auth_router.py
  frontend/src/components/ProtectedRoute.tsx
  frontend/src/pages/activate/index.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(tokens): add requires_reauth flag
  backend/api/routers/auth_router.py
  backend/shared/migrations/versions/073_tokens_add_requires_reauth.sql
  backend/shared/repositories/channel.py
  backend/twitch/core/_notify_mixin.py
  backend/twitch/utils/reauth.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

refactor(scripts): add staging env support to tw_oauth.py
  backend/scripts/tw_oauth.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

chore(deps): add httpx2 to dev deps
  backend/pyproject.toml
  backend/uv.lock
Due: none

fix(scripts): backup silent exit + rename archive
  .gitignore
  scripts/env.sh
Due: none

feat(ci): limit staging push deploy to api and twitch
  .github/workflows/_deploy.yml
  .github/workflows/deploy-staging.yml
Due: npx --prefix frontend prettier --write --ignore-unknown

fix(ci): always run migrations on deploy
  .github/workflows/_deploy.yml
  .gitignore
  backend/scripts/tw_oauth.py
Due: npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(ci): always run migrations on deploy (#28)
  .github/workflows/_deploy.yml
  .gitignore
  backend/scripts/tw_oauth.py
Due: npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(deps): upgrade pyjwt 2.12.1 -> 2.13.0 (4 CVEs)
  backend/pyproject.toml
  backend/uv.lock
Due: none

fix(ci): empty flags exit + prod service inputs
  .github/workflows/_deploy.yml
  .github/workflows/deploy-prod.yml
Due: npx --prefix frontend prettier --write --ignore-unknown

chore: merge staging into main (#30)
  .github/workflows/_deploy.yml
  .github/workflows/deploy-prod.yml
Due: npx --prefix frontend prettier --write --ignore-unknown

fix(deps): upgrade aiohttp 3.13.5 -> 3.14.0 (2 CVEs)
  backend/pyproject.toml
  backend/uv.lock
Due: none

ci: coverage gate, gitleaks, trivy, smoke test
  .github/workflows/_deploy.yml
  .github/workflows/ci.yml
  backend/pyproject.toml
  frontend/vite.config.ts
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

chore(ci): add dependabot config targeting staging
  .github/dependabot.yml
Due: npx --prefix frontend prettier --write --ignore-unknown

fix(ci): grant pull-requests read for gitleaks scan
  .github/workflows/ci.yml
Due: npx --prefix frontend prettier --write --ignore-unknown

fix(ci): workflow permissions for gitleaks + pipefail
  .github/workflows/ci.yml
  .github/workflows/deploy-prod.yml
  .github/workflows/deploy-staging.yml
Due: npx --prefix frontend prettier --write --ignore-unknown

chore(ci): add gitleaks allowlist for test fixtures
  .gitleaks.toml
Due: none

refactor(ci): decouple CI from CD via workflow_run
  .github/workflows/ci.yml
  .github/workflows/deploy-prod.yml
  .github/workflows/deploy-staging.yml
Due: npx --prefix frontend prettier --write --ignore-unknown

refactor(ci): decouple CI from CD via workflow_run
  .github/workflows/ci.yml
Due: npx --prefix frontend prettier --write --ignore-unknown

fix(ci): fallback BASE_SHA for workflow_run deploys
  .github/workflows/_deploy.yml
Due: npx --prefix frontend prettier --write --ignore-unknown

fix(security): apt-get upgrade in images + trivy ignore affected
  .github/workflows/_deploy.yml
  backend/api/Dockerfile
  backend/discord/Dockerfile
  backend/twitch/Dockerfile
Due: npx --prefix frontend prettier --write --ignore-unknown

fix(ci): ignore trivy will_not_fix CVEs in scan
  .github/workflows/_deploy.yml
Due: npx --prefix frontend prettier --write --ignore-unknown

fix(ci): ignore fix_deferred CVEs in trivy scan
  .github/workflows/_deploy.yml
Due: npx --prefix frontend prettier --write --ignore-unknown

fix(test): missing DATA_DIR and twitchio deprecation warning
  backend/api/core/config.py
  backend/pyproject.toml
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

chore(backend): bump version to 1.11
  backend/pyproject.toml
  backend/uv.lock
Due: none

fix(staging): migrate service must use nb-api-stg image
  docker-compose.staging.yml
Due: npx --prefix frontend prettier --write --ignore-unknown

fix(migration): make 073 idempotent with IF NOT EXISTS
  backend/shared/migrations/versions/073_tokens_add_requires_reauth.sql
Due: none

chore(ci): fix comments and prod migrate image
  .github/workflows/deploy-prod.yml
  .github/workflows/deploy-staging.yml
  docker-compose.prod.yml
Due: npx --prefix frontend prettier --write --ignore-unknown

refactor(ci): staging deploy in CI job, prod manual-only
  .github/workflows/ci.yml
  .github/workflows/deploy-prod.yml
  .github/workflows/deploy-staging.yml
Due: npx --prefix frontend prettier --write --ignore-unknown

feat(ai): knowledge pack harness injection
  backend/data/knowledge_packs/twitch_culture.md
  backend/shared/knowledge_packs.py
  backend/shared/repositories/ai_settings.py
  backend/twitch/components/ai.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(ai): global module_config table for pack settings
  backend/shared/migrations/versions/074_ai_settings_add_packs.sql
  backend/shared/migrations/versions/075_module_config.sql
  backend/shared/repositories/module_config.py
  backend/twitch/core/_notify_mixin.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(admin): modules page for owner-managed pack config
  backend/api/routers/admin_router.py
  backend/api/routers/ai_settings_router.py
  frontend/src/App.tsx
  frontend/src/api/admin.ts
  frontend/src/api/aiSettings.ts
  frontend/src/api/config.ts
  frontend/src/config/navigation.ts
  frontend/src/pages/admin/Modules.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(security): apt-get upgrade in scrapling image
  backend/scrapling/Dockerfile
Due: none

fix(ai): module_config GET 500 from double JSON decode
  backend/shared/repositories/module_config.py
  backend/tests/shared/test_module_config_repo.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

refactor(data): split static data/ vs runtime/
  .github/workflows/_deploy.yml
  .github/workflows/ci.yml
  .github/workflows/deploy-staging.yml
  .gitignore
  backend/api/Dockerfile
  backend/api/core/config.py
  backend/data/README.md
  backend/discord/Dockerfile
  backend/discord/cogs/ai.py
  backend/discord/cogs/birthday/cog.py
  backend/discord/cogs/eat/cog.py
  backend/discord/cogs/events.py
  backend/discord/cogs/games.py
  backend/discord/cogs/giveaway/_persistence.py
  backend/discord/cogs/giveaway/cog.py
  backend/discord/cogs/rate_limit_monitor.py
  backend/discord/cogs/social_preview/cog.py
  backend/discord/cogs/tarot.py
  backend/discord/cogs/tft.py
  backend/discord/cogs/utility.py
  backend/discord/core/__init__.py
  backend/discord/core/config.py
  backend/discord/core/embed_factory.py
  backend/runtime/.gitkeep
  backend/scripts/migrate_runtime_data.sh
  backend/tests/discord/test_events.py
  backend/twitch/Dockerfile
  backend/twitch/core/config.py
  docker-compose.dev.yml
  docker-compose.prod.yml
  docker-compose.staging.yml
Due: npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(refactor): address code-review findings
  .github/workflows/_deploy.yml
  backend/api/core/config.py
  backend/discord/cogs/events.py
  backend/discord/cogs/giveaway/_persistence.py
  backend/discord/core/config.py
  backend/discord/core/embed_factory.py
  backend/scripts/migrate_runtime_data.sh
  backend/tests/discord/test_embed_factory.py
  backend/twitch/core/config.py
Due: npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

refactor(config): hoist DATA_DIR/RUNTIME_DIR to shared
  backend/.dockerignore
  backend/api/core/config.py
  backend/discord/core/config.py
  backend/discord/core/embed_factory.py
  backend/shared/config_base.py
  backend/twitch/core/config.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(admin): env-aware container names
  backend/api/routers/admin_router.py
  backend/tests/api/test_admin_router.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml
