Repository yPinn/Niibot: changes, and which lint-staged commands are due for each by the changed paths.
All: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml, npx --prefix frontend markdownlint --fix

fix(modules): fix affiliate overlay centering and icon size
  frontend/src/pages/modules/GameQueue.tsx
  frontend/src/pages/modules/VideoQueue.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

refactor(commands): migrate builtins to merge-mode architecture
  backend/api/routers/commands_router.py
  backend/api/services/command_config_service.py
  backend/shared/builtin_commands.py
  backend/shared/models/command_config.py
  backend/shared/repositories/command_config.py
  backend/tests/shared/test_command_config_repo.py
  backend/twitch/core/_notify_mixin.py
  backend/twitch/core/_session_mixin.py
  backend/twitch/core/bot.py
  frontend/src/api/commands.ts
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(commands): rename builtins to English with Chinese aliases
  backend/twitch/components/fortune.py
  backend/twitch/components/general_commands.py
  backend/twitch/components/tft.py
  frontend/src/pages/Landing.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(ui): improve nav sort defaults, player fallback, and layout
  frontend/src/components/nav-channels.tsx
  frontend/src/pages/dashboard/Overview.tsx
  frontend/src/pages/docs/GetStarted.tsx
  frontend/src/pages/modules/GameQueue.tsx
  frontend/src/pages/modules/VideoQueue.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

feat(video-queue): add per-user limits, cooldown, min-views enforcement and legal pages
  backend/api/routers/video_queue_router.py
  backend/shared/repositories/video_queue.py
  backend/twitch/components/channel_points.py
  backend/twitch/components/video_queue.py
  frontend/src/App.tsx
  frontend/src/components/OverlayUrlBlock.tsx
  frontend/src/pages/Landing.tsx
  frontend/src/pages/VideoQueueOverlay.tsx
  frontend/src/pages/docs/Privacy.tsx
  frontend/src/pages/docs/Terms.tsx
  frontend/src/pages/modules/GameQueue.tsx
  frontend/src/pages/modules/Timers.tsx
  frontend/src/pages/modules/VideoQueue.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(donation): add full payment system with ECPay, OPay, NewebPay, PayPal
  backend/api/app.py
  backend/api/routers/__init__.py
  backend/api/routers/donation_router.py
  backend/api/routers/payment_config_router.py
  backend/shared/migrations/versions/036_add_donation_tables.sql
  backend/shared/models/donation.py
  backend/shared/repositories/donation.py
  frontend/src/App.tsx
  frontend/src/api/config.ts
  frontend/src/api/donation.ts
  frontend/src/pages/DonatePage.tsx
  frontend/src/pages/Settings.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(donation): resolve mypy type errors in donation router
  backend/api/routers/donation_router.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

refactor(donate-page): convert fetch effect to async/await
  frontend/src/pages/DonatePage.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

feat(settings): improve payment config UX — compact layout, delete confirm, hash visibility toggle, safer min_amount parse
  frontend/src/pages/Settings.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

refactor: remove verbose comments and clean up API layer
  frontend/src/api/commands.ts
  frontend/src/api/config.ts
  frontend/src/api/donation.ts
  frontend/src/api/index.ts
  frontend/src/components/nav-main.tsx
  frontend/src/contexts/ServiceStatusContext.tsx
  frontend/src/pages/GameQueueOverlay.tsx
  frontend/src/pages/VideoQueueOverlay.tsx
  frontend/src/pages/dashboard/commands/index.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

fix(auth): memoize logout, fix init race condition
  frontend/src/api/bots.ts
  frontend/src/components/nav-user.tsx
  frontend/src/contexts/AuthContext.tsx
  frontend/src/contexts/BotContext.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

fix(components): date timezone and clipboard error handling
  frontend/src/components/AnalyticsChart.tsx
  frontend/src/components/OverlayUrlBlock.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

feat: add AlertDialog and delete confirmation dialogs
  frontend/src/components/ui/alert-dialog.tsx
  frontend/src/components/ui/index.ts
  frontend/src/pages/Settings.tsx
  frontend/src/pages/dashboard/commands/CommandSheet.tsx
  frontend/src/pages/modules/Timers.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

feat(frontend): add entry animations via tw-animate-css
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/LoadingSpinner.tsx
  frontend/src/components/login-form.tsx
  frontend/src/components/ui/alert-dialog.tsx
  frontend/src/components/ui/collapsible.tsx
  frontend/src/components/ui/sheet.tsx
  frontend/src/components/ui/tabs.tsx
  frontend/src/index.css
  frontend/src/pages/Landing.tsx
  frontend/src/pages/NotFound.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

refactor(dashboard): use Card components in SystemStatus
  frontend/src/pages/dashboard/SystemStatus.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

refactor(settings): improve collapsible section layout and spacing
  frontend/src/pages/Settings.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

fix(backend): resolve code review issues across services
  backend/api/routers/bots_router.py
  backend/api/routers/donation_router.py
  backend/discord/cogs/giveaway/cog.py
  backend/twitch/core/bot.py
  backend/twitch/core/guards.py
  backend/twitch/main.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

build(backend): move dev tools to dev dependency group
  backend/pyproject.toml
  backend/requirements.txt
  backend/uv.lock
Due: none

chore(frontend): remove stale Render/nginx deployment artifacts
  frontend/.dockerignore
  frontend/Dockerfile
  frontend/nginx.conf
  frontend/package-lock.json
  frontend/package.json
  frontend/public/_routes.json
  frontend/tsconfig.functions.json
  frontend/tsconfig.json
Due: npx --prefix frontend prettier --write --ignore-unknown

chore(config): add prod env overrides and clean up .env.example files
  backend/api/.env.example
  backend/discord/.env.example
  backend/twitch/.env.example
  docker-compose.prod.yml
Due: npx --prefix frontend prettier --write --ignore-unknown

chore(deploy): configure CF Pages + local backend via CF Tunnel
  .env.example
  docker-compose.prod.yml
  frontend/functions/api/[[path]].ts
  frontend/package-lock.json
  frontend/package.json
  frontend/tsconfig.functions.json
  frontend/tsconfig.json
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

refactor: remove Discord OAuth and account linking from dashboard
  backend/api/app.py
  backend/api/core/config.py
  backend/api/core/dependencies.py
  backend/api/routers/auth_router.py
  backend/api/services/__init__.py
  backend/api/services/channel_service.py
  backend/api/services/discord_api.py
  backend/api/services/oauth_service.py
  frontend/public/_headers
  frontend/src/api/account.ts
  frontend/src/api/config.ts
  frontend/src/api/discordOAuth.ts
  frontend/src/api/index.ts
  frontend/src/components/login-form.tsx
  frontend/src/pages/Settings.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(db): normalize schema — FK constraints, alias tables, Discord prefix
  backend/shared/migrations/versions/037_add_channel_fk_constraints.sql
  backend/shared/migrations/versions/038_normalize_command_aliases.sql
  backend/shared/migrations/versions/039_normalize_trigger_aliases.sql
  backend/shared/migrations/versions/040_rename_discord_tables.sql
  backend/shared/repositories/birthday.py
  backend/shared/repositories/command_config.py
  backend/shared/repositories/message_trigger.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

chore(deploy): update CSP, allow overlay iframes, add local-prod compose
  docker-compose.local-prod.yml
Due: npx --prefix frontend prettier --write --ignore-unknown

fix(ui): add home link to public commands page
  frontend/src/pages/PublicCommands.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

chore(config): remove Discord OAuth fields from API env
  backend/api/.env.example
Due: none

feat(stats): add display_name to chatter_stats
  backend/api/routers/stats_router.py
  backend/shared/migrations/versions/041_chatter_stats_add_display_name.sql
  backend/shared/repositories/analytics/_events_mixin.py
  backend/shared/repositories/analytics/_query_mixin.py
  backend/twitch/core/bot.py
  frontend/src/api/stats.ts
  frontend/src/pages/dashboard/Overview.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(video-queue): add Twitch Clip support
  backend/api/routers/video_queue_router.py
  backend/shared/migrations/versions/042_video_queue_add_video_type.sql
  backend/shared/models/video_queue.py
  backend/shared/repositories/video_queue.py
  backend/twitch/components/video_queue.py
  frontend/public/_headers
  frontend/src/api/videoQueue.ts
  frontend/src/pages/VideoQueueOverlay.tsx
  frontend/src/pages/modules/VideoQueue.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

debug(timers): add diagnostic logging to timer poll loop
  backend/twitch/components/timer_manager.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

chore: minor formatting and import cleanup
  backend/api/routers/auth_router.py
  backend/api/services/channel_service.py
  backend/shared/repositories/birthday.py
  backend/shared/repositories/command_config.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(csp): add clips.twitch.tv to frame-src; remove Vite polyfill inline script
  frontend/public/_headers
  frontend/vite.config.ts
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

fix(video-queue): fix Twitch clip autoplay
  frontend/src/pages/VideoQueueOverlay.tsx
  frontend/src/pages/modules/VideoQueue.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

fix(video-queue): switch Twitch clip embed to player.twitch.tv for reliable autoplay
  frontend/src/pages/VideoQueueOverlay.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

fix(video-queue): defer Twitch clip iframe past overlayEnter animation
  frontend/src/pages/VideoQueueOverlay.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

fix(video-queue): use Twitch.Embed JS API for clip autoplay
  frontend/public/_headers
  frontend/src/components/TwitchPlayer.tsx
  frontend/src/pages/VideoQueueOverlay.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

fix(video-queue): pass element ID string to Twitch.Embed, add layout:video
  frontend/src/pages/VideoQueueOverlay.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

fix(csp): allow Vite polyfill hash in global rule for CDN cache rollover
  frontend/public/_headers
Due: none

debug: show error message in ErrorBoundary for production debugging
  frontend/src/components/ErrorBoundary.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

feat(data): restructure eat.json and add drink menus
  backend/data/eat.json
Due: npx --prefix frontend prettier --write --ignore-unknown

fix(auth): harden OAuth CSRF — reject missing state; fix concurrent user creation
  backend/api/routers/auth_router.py
  backend/api/services/oauth_service.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

Path conditions:
  npx --prefix frontend eslint --fix: any of: frontend/**/*.{js,jsx,ts,tsx}
  npx --prefix frontend prettier --write --ignore-unknown: ((any of: frontend/**/*.{js,jsx,ts,tsx}) or (any of: docs/**/*.md)) or (any of: **/*.{json,yml,yaml})
  uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff: any of: backend/**/*.py
  uv run --project backend ruff format --config backend/pyproject.toml: any of: backend/**/*.py
  npx --prefix frontend markdownlint --fix: any of: docs/**/*.md
