Repository yPinn/Niibot: changes, and which lint-staged commands are due for each by the changed paths.
All: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml, npx --prefix frontend markdownlint --fix

.lintstagedrc:

{
  "frontend/**/*.{js,jsx,ts,tsx}": [
    "npx --prefix frontend eslint --fix",
    "npx --prefix frontend prettier --write --ignore-unknown"
  ],
  "backend/**/*.py": [
    "uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff",
    "uv run --project backend ruff format --config backend/pyproject.toml"
  ],
  "docs/**/*.md": [
    "npx --prefix frontend markdownlint --fix",
    "npx --prefix frontend prettier --write --ignore-unknown"
  ],
  "**/*.{json,yml,yaml}": [
    "npx --prefix frontend prettier --write --ignore-unknown"
  ]
}

feat(video-queue): risk-control-aware Bilibili metadata client (#214)
  backend/discord/cogs/social_preview/cog.py
  backend/discord/cogs/social_preview/constants.py
  backend/shared/bilibili_client.py
  backend/shared/video_sources.py
  backend/tests/discord/social_preview/test_bilibili.py
  backend/tests/shared/test_bilibili_client.py
  docs/architecture/video-queue-platforms.md
Due: npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml, npx --prefix frontend markdownlint --fix

feat(video-queue): show real thumbnails on the dashboard cards
  backend/api/routers/video_queue_router.py
  backend/shared/migrations/versions/111_video_queue_thumbnail.sql
  backend/shared/models/video_queue.py
  backend/shared/repositories/video_queue.py
  backend/shared/video_sources.py
  backend/tests/api/test_video_queue_router.py
  backend/tests/shared/test_video_queue_repo.py
  backend/tests/shared/test_video_sources_registry.py
  backend/twitch/components/channel_points.py
  backend/twitch/components/video_queue.py
  docs/architecture/video-queue-platforms.md
  frontend/public/_headers
  frontend/src/api/videoQueue.ts
  frontend/src/pages/modules/videoQueue/NowPlayingCard.test.tsx
  frontend/src/pages/modules/videoQueue/NowPlayingCard.tsx
  frontend/src/pages/modules/videoQueue/utils.ts
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml, npx --prefix frontend markdownlint --fix

feat(video-queue): show real thumbnails on the dashboard cards (#215)
  backend/api/routers/video_queue_router.py
  backend/shared/migrations/versions/111_video_queue_thumbnail.sql
  backend/shared/models/video_queue.py
  backend/shared/repositories/video_queue.py
  backend/shared/video_sources.py
  backend/tests/api/test_video_queue_router.py
  backend/tests/shared/test_video_queue_repo.py
  backend/tests/shared/test_video_sources_registry.py
  backend/twitch/components/channel_points.py
  backend/twitch/components/video_queue.py
  docs/architecture/video-queue-platforms.md
  frontend/public/_headers
  frontend/src/api/videoQueue.ts
  frontend/src/pages/modules/videoQueue/NowPlayingCard.test.tsx
  frontend/src/pages/modules/videoQueue/NowPlayingCard.tsx
  frontend/src/pages/modules/videoQueue/utils.ts
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml, npx --prefix frontend markdownlint --fix

feat(checkin): add versioned collection draws
  backend/scripts/backfill_checkin_collections.py
  backend/shared/collection_backfill.py
  backend/shared/collection_draw.py
  backend/shared/community_events.py
  backend/shared/community_overlay_blocks.py
  backend/shared/community_overlay_themes.py
  backend/shared/migrations/versions/112_add_checkin_collections.sql
  backend/shared/migrations/versions/113_seed_official_checkin_starter_pool.sql
  backend/shared/models/__init__.py
  backend/shared/models/attendance.py
  backend/shared/models/collection.py
  backend/shared/repositories/attendance.py
  backend/shared/repositories/collection.py
  backend/shared/services/attendance.py
  backend/shared/services/community_overlay.py
  backend/tests/scripts/test_backfill_checkin_collections.py
  backend/tests/shared/test_attendance_repo.py
  backend/tests/shared/test_attendance_repo_postgres.py
  backend/tests/shared/test_attendance_service.py
  backend/tests/shared/test_collection_backfill.py
  backend/tests/shared/test_collection_backfill_postgres.py
  backend/tests/shared/test_collection_draw.py
  backend/tests/shared/test_collection_migrations.py
  backend/tests/shared/test_collection_migrations_postgres.py
  backend/tests/shared/test_collection_repo.py
  backend/tests/shared/test_community_events.py
  backend/tests/shared/test_community_overlay_service.py
  backend/tests/shared/test_community_overlay_themes.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(live-display): animate collection binder rewards
  frontend/src/api/communityOverlay.test.ts
  frontend/src/api/communityOverlay.ts
  frontend/src/components/community-overlay/CardVisualPrimitives.module.css
  frontend/src/components/community-overlay/CardVisualPrimitives.tsx
  frontend/src/components/community-overlay/CollectionBinder.module.css
  frontend/src/components/community-overlay/CollectionBinder.test.tsx
  frontend/src/components/community-overlay/CollectionBinder.tsx
  frontend/src/components/community-overlay/TarotCard.module.css
  frontend/src/components/community-overlay/TarotCard.tsx
  frontend/src/components/community-overlay/artwork.ts
  frontend/src/components/community-overlay/collectionBinderMotion.test.ts
  frontend/src/components/community-overlay/collectionBinderMotion.ts
  frontend/src/components/community-overlay/previewFixtures.ts
  frontend/src/components/community-overlay/rendererRegistry.test.tsx
  frontend/src/components/community-overlay/rendererRegistry.tsx
  frontend/src/pages/CommunityOverlay.test.tsx
  frontend/src/pages/CommunityOverlay.tsx
  frontend/src/pages/modules/CommunityOverlaySettings.test.tsx
  frontend/src/pages/modules/CommunityOverlaySettings.tsx
  frontend/src/pages/modules/communityOverlay/CheckinBlockCard.tsx
  frontend/src/pages/modules/communityOverlay/ThemeEditor.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

docs(checkin): document collection rewards
  docs/architecture/attendance-and-community-overlays.md
  docs/reference/api-endpoints.md
  frontend/README.md
Due: npx --prefix frontend prettier --write --ignore-unknown, npx --prefix frontend markdownlint --fix

ci(actions): reduce shared runner usage
  .github/workflows/ci.yml
  backend/tests/scripts/test_ci_changed_paths.py
  docs/guides/ci-policy.md
  docs/guides/deployment.md
  scripts/ci_changed_paths.py
Due: npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml, npx --prefix frontend markdownlint --fix

ci(actions): reduce shared runner usage (#217)
  .github/workflows/ci.yml
  backend/tests/scripts/test_ci_changed_paths.py
  docs/guides/ci-policy.md
  docs/guides/deployment.md
  scripts/ci_changed_paths.py
Due: npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml, npx --prefix frontend markdownlint --fix

fix(deploy): prevent stale staging API
  .github/workflows/_deploy.yml
  .github/workflows/ci.yml
  backend/api/app.py
  backend/tests/api/test_app_middleware.py
  backend/tests/scripts/test_deploy_workflow.py
Due: npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(deploy): prevent stale staging API (#218)
  .github/workflows/_deploy.yml
  .github/workflows/ci.yml
  backend/api/app.py
  backend/tests/api/test_app_middleware.py
  backend/tests/scripts/test_deploy_workflow.py
Due: npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(twitch): recover subs after auth revoke
  backend/shared/migrations/versions/114_token_reauth_notify_on_requires_reauth_clear.sql
  backend/tests/twitch/test_bot_token_events.py
  backend/tests/twitch/test_subscription_manager.py
  backend/twitch/core/bot.py
  backend/twitch/core/subscription_manager.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(redemption): reject conflicting reward binding cleanly
  backend/shared/repositories/command_config.py
  backend/tests/shared/test_command_config_repo.py
  frontend/src/pages/dashboard/channelPoints/ChannelPointActionsTable.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(timers): reject duplicate alias cleanly
  backend/api/services/timer_service.py
  backend/tests/api/test_timer_service.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

refactor(channel_points): drop obsolete activation code text
  backend/twitch/components/channel_points.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(video-queue): announce now-playing + redesign !np/!vq copy
  backend/shared/migrations/versions/116_video_queue_now_playing_notify.sql
  backend/shared/repositories/video_queue.py
  backend/shared/video_sources.py
  backend/twitch/components/video_queue.py
  backend/twitch/core/_notify_mixin.py
  backend/twitch/core/bot.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(twitch): make all command groups case-insensitive
  backend/twitch/components/command_manager.py
  backend/twitch/components/crosshair.py
  backend/twitch/components/game_queue.py
  backend/twitch/components/owner_commands.py
  backend/twitch/core/bot.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(redemption): custom announcement text/color for First
  backend/api/routers/events_router.py
  backend/api/services/command_config_service.py
  backend/shared/migrations/versions/115_add_first_announcement_settings.sql
  backend/shared/models/command_config.py
  backend/shared/repositories/command_config.py
  backend/tests/api/test_events_router.py
  backend/tests/shared/test_command_config_repo.py
  backend/tests/twitch/test_channel_points_first.py
  backend/twitch/components/channel_points.py
  frontend/src/api/config.ts
  frontend/src/api/events.ts
  frontend/src/pages/dashboard/channelPoints/ChannelPointActionsTable.tsx
  frontend/src/pages/dashboard/channelPoints/FirstSettingsSheet.tsx
  frontend/src/pages/dashboard/channelPoints/index.test.tsx
  frontend/src/pages/dashboard/channelPoints/index.tsx
  frontend/src/pages/modules/CommunityOverlaySettings.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(video-queue): actionable setup guide steps
  frontend/src/components/SetupSteps.tsx
  frontend/src/pages/modules/videoQueue/SetupGuideSheet.test.tsx
  frontend/src/pages/modules/videoQueue/SetupGuideSheet.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

chore(deps): consolidate all pending Dependabot updates
  .github/workflows/ci.yml
  backend/tests/twitch/test_video_queue_component.py
  backend/uv.lock
  frontend/package-lock.json
  frontend/package.json
  package-lock.json
  package.json
Due: npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

refactor(shared): named cache registry and gauges
  backend/api/routers/commands_router.py
  backend/api/routers/crosshairs_router.py
  backend/shared/cache.py
  backend/shared/database.py
  backend/shared/gauges.py
  backend/shared/pg_listener.py
  backend/shared/repositories/ai_settings.py
  backend/shared/repositories/analytics/_caches.py
  backend/shared/repositories/birthday.py
  backend/shared/repositories/channel.py
  backend/shared/repositories/command_config.py
  backend/shared/repositories/event_config.py
  backend/shared/repositories/game_queue.py
  backend/shared/repositories/message_trigger.py
  backend/shared/repositories/module_config.py
  backend/shared/repositories/timer.py
  backend/shared/repositories/video_queue.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(twitch): eventsub alerting and memory gauges
  backend/shared/health_server_base.py
  backend/shared/pg_listener.py
  backend/twitch/core/__init__.py
  backend/twitch/core/bot.py
  backend/twitch/core/health_server.py
  backend/twitch/core/session_service.py
  backend/twitch/core/subscription_manager.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(api): cross-process cache invalidation
  backend/api/app.py
  backend/shared/cache_invalidation.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(api): log and signal SSE stream failures
  backend/api/routers/community_overlay_router.py
  backend/api/routers/video_queue_router.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(twitch): drop per-channel state on disable
  backend/tests/twitch/test_notify_mixin.py
  backend/twitch/components/timer_manager.py
  backend/twitch/core/_notify_mixin.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(twitch): log swallowed usage-count failures
  backend/twitch/components/tarot.py
  backend/twitch/components/tft.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(web): shared reconnecting stream hook
  frontend/src/api/communityOverlayStream.ts
  frontend/src/api/videoQueueStream.ts
  frontend/src/hooks/useReconnectingStream.test.ts
  frontend/src/hooks/useReconnectingStream.ts
  frontend/src/hooks/useVideoQueueStream.ts
  frontend/src/pages/CommunityOverlay.tsx
  frontend/src/pages/VideoQueueOverlay.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

feat(web): show when realtime updates go stale
  frontend/src/components/OverlayReconnectingBadge.module.css
  frontend/src/components/OverlayReconnectingBadge.tsx
  frontend/src/pages/GameQueueOverlay.module.css
  frontend/src/pages/GameQueueOverlay.tsx
  frontend/src/pages/modules/GameQueue.tsx
  frontend/src/pages/modules/videoQueue/index.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

feat(admin): show db pool and cache gauges
  frontend/src/api/bots.ts
  frontend/src/pages/admin/Monitor.tsx
  frontend/src/pages/admin/monitor/StatusCards.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

feat(admin): make log records readable at a glance
  backend/api/core/dependencies.py
  backend/api/routers/admin/logs.py
  backend/api/services/tenant_service.py
  backend/tests/api/test_admin_logs.py
  backend/tests/api/test_tenant_service.py
  frontend/src/api/admin.ts
  frontend/src/pages/admin/monitor/LogRecordRow.test.tsx
  frontend/src/pages/admin/monitor/LogRecordRow.tsx
  frontend/src/pages/admin/monitor/logParsers.ts
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(twitch): add touser, sender, count variables
  backend/shared/command_variables.py
  backend/tests/twitch/test_substitution.py
  backend/twitch/components/general_commands.py
  backend/twitch/utils/substitution.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(twitch): let redirects reach custom commands
  backend/tests/twitch/test_message_router_redirect.py
  backend/twitch/core/_message_router_mixin.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(api): import commands from other chat bots
  backend/api/app.py
  backend/api/core/config.py
  backend/api/core/constants.py
  backend/api/routers/command_import_router.py
  backend/api/routers/commands_router.py
  backend/api/routers/message_triggers_router.py
  backend/api/services/command_import/__init__.py
  backend/api/services/command_import/mapping.py
  backend/api/services/command_import/models.py
  backend/api/services/command_import/service.py
  backend/api/services/command_import/sources/__init__.py
  backend/api/services/command_import/sources/_http.py
  backend/api/services/command_import/sources/nightbot.py
  backend/api/services/command_import/sources/streamelements.py
  backend/shared/repositories/message_trigger.py
  backend/tests/api/test_command_import_mapping.py
  backend/tests/api/test_command_import_router.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(web): import commands from another bot
  frontend/src/api/commandImport.ts
  frontend/src/api/config.ts
  frontend/src/assets/fontawesome/css/fontawesome.subset.css
  frontend/src/pages/dashboard/commands/CommandSheet.tsx
  frontend/src/pages/dashboard/commands/ImportSheet.test.tsx
  frontend/src/pages/dashboard/commands/ImportSheet.tsx
  frontend/src/pages/dashboard/commands/index.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

docs: document Nightbot import credentials
  .github/secrets/base.env.example
  backend/api/.env.example
  docs/guides/environment.md
  env.manifest.json
  env.registry.toml
Due: npx --prefix frontend prettier --write --ignore-unknown, npx --prefix frontend markdownlint --fix

chore(env): scope Nightbot credentials per environment
  .github/secrets/base.env.example
  .github/secrets/prod.env.example
  .github/secrets/staging.env.example
  backend/api/.env.example
  docs/guides/environment.md
  env.manifest.json
  env.registry.toml
Due: npx --prefix frontend prettier --write --ignore-unknown, npx --prefix frontend markdownlint --fix

feat(twitch): quieten the video queue now-playing chat
  backend/shared/migrations/versions/117_drop_video_queue_now_playing_notify.sql
  backend/shared/repositories/video_queue.py
  backend/tests/shared/test_video_queue_repo.py
  backend/twitch/components/video_queue.py
  backend/twitch/core/_notify_mixin.py
  backend/twitch/core/bot.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(api): name import insert results distinctly
  backend/api/services/command_import/service.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(api): land the import callback on /commands
  backend/api/routers/command_import_router.py
  backend/tests/api/test_command_import_router.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

chore(env): unify comment style across env templates
  .env.example
  .github/secrets/base.env.example
  .github/secrets/prod.env.example
  .github/secrets/staging.env.example
  .github/variables/base.env.example
  .github/variables/prod.env.example
  .github/variables/staging.env.example
  backend/api/.env.example
  backend/discord/.env.example
  backend/scrapling/.env.example
  backend/shared.env.example
  backend/twitch/.env.example
  docs/guides/environment.md
  env.registry.toml
  frontend/.env.example
  scripts/gen_env.py
Due: npx --prefix frontend prettier --write --ignore-unknown, npx --prefix frontend markdownlint --fix
