Repository yPinn/Niibot: changes, and which lint-staged commands are due for each by the changed paths.
All: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml, npx --prefix frontend markdownlint --fix

.lintstagedrc:

{
  "frontend/**/*.{js,jsx,ts,tsx}": [
    "npx --prefix frontend eslint --fix",
    "npx --prefix frontend prettier --write --ignore-unknown"
  ],
  "backend/**/*.py": [
    "uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff",
    "uv run --project backend ruff format --config backend/pyproject.toml"
  ],
  "docs/**/*.md": [
    "npx --prefix frontend markdownlint --fix",
    "npx --prefix frontend prettier --write --ignore-unknown"
  ],
  "**/*.{json,yml,yaml}": [
    "npx --prefix frontend prettier --write --ignore-unknown"
  ]
}

feat(errors): add AppError catalog
  backend/shared/errors.py
  backend/tests/shared/test_errors.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

refactor(tenant): migrate tenant errors to AppError
  backend/api/core/dependencies.py
  backend/api/services/tenant_service.py
  backend/tests/shared/test_errors.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

chore(deps): add structlog
  backend/pyproject.toml
  backend/uv.lock
Due: none

fix(api): unified error envelope + CORS ordering
  backend/api/app.py
  backend/tests/api/test_app_middleware.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(logging): structlog processor pipeline
  backend/api/core/logging.py
  backend/discord/core/logging.py
  backend/shared/logging_setup.py
  backend/tests/shared/test_logging_setup.py
  backend/twitch/core/logging.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(logging): request context injection
  backend/api/app.py
  backend/api/core/dependencies.py
  backend/shared/log_context.py
  backend/tests/api/test_app_middleware.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(logging): bot context binding
  backend/discord/bot.py
  backend/tests/twitch/test_bot_event_message.py
  backend/twitch/core/bot.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

refactor(api): extract exception handlers + migrate timers router
  backend/api/app.py
  backend/api/core/error_handlers.py
  backend/api/routers/timers_router.py
  backend/shared/errors.py
  backend/tests/api/test_error_catalog.py
  backend/tests/api/test_timers_router.py
  backend/tests/shared/test_errors.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(api): client error reporting endpoint
  backend/api/app.py
  backend/api/routers/__init__.py
  backend/api/routers/client_errors_router.py
  backend/shared/migrations/versions/085_client_errors.sql
  backend/shared/repositories/client_error.py
  backend/tests/api/test_client_errors_router.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(fe): typed ApiError, apiJson wrapper, toastApiError
  frontend/src/api/errors.test.ts
  frontend/src/api/errors.ts
  frontend/src/lib/toast-error.ts
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

refactor(fe): move config-group api modules onto apiJson
  frontend/src/api/commands.ts
  frontend/src/api/crosshairs.ts
  frontend/src/api/events.ts
  frontend/src/api/gameQueue.ts
  frontend/src/api/timers.ts
  frontend/src/api/triggers.ts
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

refactor(fe): remaining api modules onto apiJson
  frontend/src/api/admin.ts
  frontend/src/api/aiSettings.ts
  frontend/src/api/analytics.ts
  frontend/src/api/channels.test.ts
  frontend/src/api/channels.ts
  frontend/src/api/donation.ts
  frontend/src/api/user.test.ts
  frontend/src/api/user.ts
  frontend/src/api/videoQueue.ts
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

feat(fe): client-side error reporting
  frontend/src/api/channels.ts
  frontend/src/api/config.ts
  frontend/src/api/releases.ts
  frontend/src/api/stats.ts
  frontend/src/components/ErrorBoundary.tsx
  frontend/src/lib/clientErrorReporter.test.ts
  frontend/src/lib/clientErrorReporter.ts
  frontend/src/main.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

refactor(fe): route error toasts through toastApiError
  backend/api/routers/video_queue_router.py
  backend/shared/errors.py
  backend/tests/api/test_video_queue_router.py
  frontend/src/api/videoQueue.ts
  frontend/src/hooks/useGrantMod.ts
  frontend/src/hooks/useOptimisticToggle.ts
  frontend/src/pages/Settings.tsx
  frontend/src/pages/admin/Modules.tsx
  frontend/src/pages/admin/components/ActivationCard.tsx
  frontend/src/pages/admin/index.tsx
  frontend/src/pages/dashboard/Events.tsx
  frontend/src/pages/dashboard/Timers.tsx
  frontend/src/pages/dashboard/commands/CommandSheet.tsx
  frontend/src/pages/modules/AI.tsx
  frontend/src/pages/modules/GameQueue.tsx
  frontend/src/pages/modules/VideoQueue.tsx
  frontend/src/pages/modules/crosshairs/index.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

docs(errors): note the 40-char cap and brand-name allowlist
  backend/shared/errors.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(api): typed log records + server-side filtering
  backend/api/routers/admin/logs.py
  backend/tests/api/test_admin_logs.py
  backend/tests/api/test_admin_router.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

refactor(fe): rewrite log viewer on typed records
  frontend/src/api/admin.ts
  frontend/src/pages/admin/Monitor.tsx
  frontend/src/pages/admin/monitor/LogLineRow.tsx
  frontend/src/pages/admin/monitor/LogRecordRow.test.tsx
  frontend/src/pages/admin/monitor/LogRecordRow.tsx
  frontend/src/pages/admin/monitor/logParsers.ts
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

refactor(routers): typed errors for triggers/commands/events
  backend/api/routers/commands_router.py
  backend/api/routers/events_router.py
  backend/api/routers/message_triggers_router.py
  backend/tests/api/test_commands_router.py
  backend/tests/api/test_events_router.py
  backend/tests/api/test_triggers_router.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

refactor(env): scope ENVIRONMENT to shared.env
  .github/secrets/base.env.example
  .github/secrets/prod.env.example
  .github/secrets/staging.env.example
  README.md
  backend/api/.env.example
  backend/shared.env.example
  docs/guides/development.md
  docs/guides/environment.md
  env.manifest.json
  env.registry.toml
  package.json
  scripts/gen_env.py
Due: npx --prefix frontend prettier --write --ignore-unknown, npx --prefix frontend markdownlint --fix

feat(ci): write runtime env files from env.manifest.json
  scripts/ci_write_env.sh
Due: none

refactor(ci): derive _deploy.yml config from environment
  .github/workflows/_deploy.yml
  .github/workflows/ci.yml
  .github/workflows/deploy-prod.yml
  .github/workflows/deploy-staging.yml
  docs/guides/deployment.md
Due: npx --prefix frontend prettier --write --ignore-unknown, npx --prefix frontend markdownlint --fix

refactor(errors): promote shared ChannelNotFoundError
  backend/api/routers/commands_router.py
  backend/shared/errors.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

refactor(routers): typed errors for game_queue
  backend/api/routers/game_queue_router.py
  backend/tests/api/test_game_queue_router.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

refactor(routers): typed errors for crosshairs
  backend/api/routers/crosshairs_router.py
  backend/tests/api/test_crosshairs_router.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

refactor(ci): env registry + derive _deploy.yml config from environment (#155)
  .github/secrets/base.env.example
  .github/secrets/prod.env.example
  .github/secrets/staging.env.example
  .github/workflows/_deploy.yml
  .github/workflows/ci.yml
  .github/workflows/deploy-prod.yml
  .github/workflows/deploy-staging.yml
  README.md
  backend/api/.env.example
  backend/shared.env.example
  docs/guides/deployment.md
  docs/guides/development.md
  docs/guides/environment.md
  env.manifest.json
  env.registry.toml
  package.json
  scripts/ci_write_env.sh
  scripts/gen_env.py
Due: npx --prefix frontend prettier --write --ignore-unknown, npx --prefix frontend markdownlint --fix

refactor(routers): typed errors for ai_settings
  backend/api/routers/ai_settings_router.py
  backend/tests/api/test_ai_settings_router.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

refactor(routers): typed errors for payment_config
  backend/api/routers/payment_config_router.py
  backend/tests/api/test_payment_config_router.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

refactor(routers): typed errors for donation
  backend/api/routers/donation_router.py
  backend/tests/api/test_donation_router.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(ci): strip trailing whitespace from secrets and vars
  scripts/ci_write_env.sh
Due: none

refactor(routers): typed errors for stats
  backend/api/routers/stats_router.py
  backend/tests/api/test_stats_router.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(ci): strip trailing whitespace from secrets and vars (#156)
  scripts/ci_write_env.sh
Due: none

refactor(routers): typed errors for auth
  backend/api/routers/auth_router.py
  backend/tests/api/test_auth_router.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

refactor(routers): typed errors for channels
  backend/api/routers/channels_router.py
  backend/tests/api/test_channels_router.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(ci): drop write_text newline kwarg (py<3.10)
  scripts/ci_write_env.sh
Due: none

refactor(routers): typed errors for analytics
  backend/api/routers/analytics_router.py
  backend/tests/api/test_analytics_router.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(ci): drop write_text newline kwarg (py<3.10) (#157)
  scripts/ci_write_env.sh
Due: none

refactor(routers): typed errors for releases
  backend/api/routers/releases_router.py
  backend/tests/api/test_releases_router.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

refactor(routers): typed errors for admin
  backend/api/routers/admin/db.py
  backend/api/routers/admin_router.py
  backend/tests/api/test_admin_router.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

chore(api): drop deprecated logs lines field
  backend/api/routers/admin/logs.py
  frontend/src/api/admin.ts
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

chore(docker): rotate and compress container logs
  docker-compose.yml
Due: npx --prefix frontend prettier --write --ignore-unknown
