Repository yPinn/Niibot: changes, and which lint-staged commands are due for each by the changed paths.
All: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml, npx --prefix frontend markdownlint --fix

.lintstagedrc:

{
  "frontend/**/*.{js,jsx,ts,tsx}": [
    "npx --prefix frontend eslint --fix",
    "npx --prefix frontend prettier --write --ignore-unknown"
  ],
  "backend/**/*.py": [
    "uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff",
    "uv run --project backend ruff format --config backend/pyproject.toml"
  ],
  "docs/**/*.md": [
    "npx --prefix frontend markdownlint --fix",
    "npx --prefix frontend prettier --write --ignore-unknown"
  ],
  "**/*.{json,yml,yaml}": [
    "npx --prefix frontend prettier --write --ignore-unknown"
  ]
}

chore(scripts): unify discord command tooling into dc.py
  backend/scripts/dc.py
  backend/scripts/dc_ls.py
  backend/scripts/dc_rm.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

chore(scripts): unify twitch diagnostics into tw.py
  backend/scripts/tw.py
  backend/scripts/tw_emotes.py
  backend/scripts/tw_tokens.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(admin): bot emote panel + sub status
  backend/api/routers/admin_router.py
  backend/api/services/twitch_api.py
  backend/shared/twitch_scopes.py
  backend/tests/api/test_admin_router.py
  frontend/src/api/admin.ts
  frontend/src/pages/admin/Modules.tsx
  frontend/src/pages/modules/AI.tsx
  frontend/src/pages/modules/ai/EmoteSection.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(admission): membership gates channel enable
  backend/api/routers/admin_router.py
  backend/shared/migrations/versions/084_admission_gates_channel.sql
  backend/shared/repositories/channel.py
  backend/tests/api/test_admin_router.py
  backend/tests/shared/test_channel_repo.py
  backend/tests/twitch/test_notify_mixin.py
  backend/twitch/core/_notify_mixin.py
  backend/twitch/core/bot.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

chore(deps): vite 8 build fix + frontend dep refresh
  frontend/package-lock.json
  frontend/package.json
  frontend/vite.config.ts
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

Revert "Merge pull request #71 from yPinn/dependabot/npm_and_yarn/frontend/multi-f57e1e291f"
  frontend/package-lock.json
  frontend/package.json
Due: npx --prefix frontend prettier --write --ignore-unknown

chore: scope dependabot to staging + group
  .github/dependabot.yml
Due: npx --prefix frontend prettier --write --ignore-unknown

chore: scope dependabot to staging + group (#90)
  .github/dependabot.yml
Due: npx --prefix frontend prettier --write --ignore-unknown

chore(deps): fix backend security advisories
  backend/scrapling/uv.lock
  backend/uv.lock
Due: none

chore(deps): fix frontend security advisories
  frontend/package-lock.json
  frontend/package.json
Due: npx --prefix frontend prettier --write --ignore-unknown

chore(deps): fix backend security advisories (#93)
  backend/scrapling/uv.lock
  backend/uv.lock
Due: none

chore(deps): fix frontend security advisories (#94)
  frontend/package-lock.json
  frontend/package.json
Due: npx --prefix frontend prettier --write --ignore-unknown

chore(deps): in-range refresh of uv + npm
  backend/scrapling/uv.lock
  backend/uv.lock
  frontend/package-lock.json
Due: npx --prefix frontend prettier --write --ignore-unknown

chore(deps): in-range refresh of uv + npm (#96)
  backend/scrapling/uv.lock
  backend/uv.lock
  frontend/package-lock.json
Due: npx --prefix frontend prettier --write --ignore-unknown

fix(ci): rebuild api/bots on backend dep change
  .github/workflows/_deploy.yml
Due: npx --prefix frontend prettier --write --ignore-unknown

fix(ci): rebuild api/bots on backend dep change (#97)
  .github/workflows/_deploy.yml
Due: npx --prefix frontend prettier --write --ignore-unknown

Promote staging: dep security sweep + Dependabot config (#95)
  .github/dependabot.yml
  .github/workflows/_deploy.yml
  .github/workflows/ci.yml
  backend/scrapling/uv.lock
  backend/uv.lock
  frontend/package-lock.json
  frontend/package.json
Due: npx --prefix frontend prettier --write --ignore-unknown

style: apply prettier 3.9 formatting
  frontend/src/pages/admin/Monitor.tsx
  frontend/src/pages/analytics/insights/ViewerSheet.tsx
  frontend/src/pages/dashboard/commands/types.ts
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

chore: ignore @types/node majors until Node 26 runtime
  .github/dependabot.yml
Due: npx --prefix frontend prettier --write --ignore-unknown

chore: ignore @types/node majors until Node 26 runtime (#110)
  .github/dependabot.yml
Due: npx --prefix frontend prettier --write --ignore-unknown

chore(deps): in-range refresh of backend uv locks
  backend/scrapling/uv.lock
  backend/uv.lock
Due: none

chore(deps): in-range refresh of backend uv locks (#111)
  backend/scrapling/uv.lock
  backend/uv.lock
Due: none

fix: dedupe channel points redemptions by id
  backend/tests/twitch/test_channel_points_dedup.py
  backend/twitch/components/channel_points.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat: surface pending/suspended channels in admin grid
  backend/api/routers/admin_router.py
  backend/shared/repositories/channel.py
  backend/tests/api/test_admin_router.py
  backend/tests/shared/test_channel_repo.py
  frontend/src/api/admin.ts
  frontend/src/api/config.ts
  frontend/src/pages/admin/components/ChannelCard.tsx
  frontend/src/pages/admin/index.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix: drop redundant --project flag in typecheck
  package.json
Due: npx --prefix frontend prettier --write --ignore-unknown

fix: dedupe channel points redemptions by id (#112)
  backend/tests/twitch/test_channel_points_dedup.py
  backend/twitch/components/channel_points.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat: surface pending/suspended channels in admin grid (#113)
  backend/api/routers/admin_router.py
  backend/shared/repositories/channel.py
  backend/tests/api/test_admin_router.py
  backend/tests/shared/test_channel_repo.py
  frontend/src/api/admin.ts
  frontend/src/api/config.ts
  frontend/src/pages/admin/components/ChannelCard.tsx
  frontend/src/pages/admin/index.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix: drop redundant --project flag in typecheck (#114)
  package.json
Due: npx --prefix frontend prettier --write --ignore-unknown

chore(deps): refresh root package-lock.json
  package-lock.json
Due: npx --prefix frontend prettier --write --ignore-unknown

Promote staging to main (#123)
  .github/dependabot.yml
  backend/api/routers/admin_router.py
  backend/pyproject.toml
  backend/scrapling/pyproject.toml
  backend/scrapling/uv.lock
  backend/shared/repositories/channel.py
  backend/tests/api/test_admin_router.py
  backend/tests/shared/test_channel_repo.py
  backend/tests/twitch/test_channel_points_dedup.py
  backend/twitch/components/channel_points.py
  backend/uv.lock
  frontend/package-lock.json
  frontend/package.json
  frontend/src/api/admin.ts
  frontend/src/api/config.ts
  frontend/src/pages/admin/Monitor.tsx
  frontend/src/pages/admin/components/ChannelCard.tsx
  frontend/src/pages/admin/index.tsx
  frontend/src/pages/analytics/insights/ViewerSheet.tsx
  frontend/src/pages/dashboard/commands/types.ts
  package-lock.json
  package.json
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

chore: remove Scrapling service from deploy pipeline
  .github/variables/base.env.example
  .github/variables/prod.env.example
  .github/variables/staging.env.example
  .github/workflows/_deploy.yml
  .github/workflows/ci.yml
  .github/workflows/deploy-prod.yml
  .github/workflows/deploy-staging.yml
  docker-compose.dev.yml
  docker-compose.prod.yml
  docker-compose.staging.yml
  docker-compose.yml
  scripts/staging.sh
Due: npx --prefix frontend prettier --write --ignore-unknown

fix(api): gate routers with require_activated
  backend/api/routers/ai_settings_router.py
  backend/api/routers/message_triggers_router.py
  backend/api/routers/payment_config_router.py
  backend/api/routers/timers_router.py
  backend/tests/api/test_ai_settings_router.py
  backend/tests/api/test_payment_config_router.py
  backend/tests/api/test_timers_router.py
  backend/tests/api/test_triggers_router.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(api): evict idle keys in RateLimiter
  backend/api/core/rate_limit.py
  backend/tests/api/test_rate_limit.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(api): validate membership before suspend/reinstate
  backend/api/routers/admin_router.py
  backend/api/services/admission_service.py
  backend/tests/api/test_admin_router.py
  backend/tests/api/test_admission_service.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

refactor: hoist inline imports to module scope
  backend/api/routers/auth_router.py
  backend/shared/repositories/membership.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(api): gate admission-incomplete config routers (#126)
  backend/api/core/rate_limit.py
  backend/api/routers/admin_router.py
  backend/api/routers/ai_settings_router.py
  backend/api/routers/auth_router.py
  backend/api/routers/message_triggers_router.py
  backend/api/routers/payment_config_router.py
  backend/api/routers/timers_router.py
  backend/api/services/admission_service.py
  backend/shared/repositories/membership.py
  backend/tests/api/test_admin_router.py
  backend/tests/api/test_admission_service.py
  backend/tests/api/test_ai_settings_router.py
  backend/tests/api/test_payment_config_router.py
  backend/tests/api/test_rate_limit.py
  backend/tests/api/test_timers_router.py
  backend/tests/api/test_triggers_router.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

chore: remove Scrapling service from deploy pipeline (#127)
  .github/variables/base.env.example
  .github/variables/prod.env.example
  .github/variables/staging.env.example
  .github/workflows/_deploy.yml
  .github/workflows/ci.yml
  .github/workflows/deploy-prod.yml
  .github/workflows/deploy-staging.yml
  docker-compose.dev.yml
  docker-compose.prod.yml
  docker-compose.staging.yml
  docker-compose.yml
  scripts/staging.sh
Due: npx --prefix frontend prettier --write --ignore-unknown

fix(shared): scope redemption cache invalidation to one channel
  backend/shared/repositories/command_config.py
  backend/tests/shared/test_command_config_repo.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(twitch): gate timer alias trigger by its own interval
  backend/tests/twitch/test_timer_manager.py
  backend/twitch/components/timer_manager.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(discord): keep giveaway buttons alive and clean up the view
  backend/discord/cogs/giveaway/_views.py
  backend/tests/discord/test_giveaway_views.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml
