Repository yPinn/Niibot: changes, and which lint-staged commands are due for each by the changed paths.
All: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml, npx --prefix frontend markdownlint --fix

.lintstagedrc:

{
  "frontend/**/*.{js,jsx,ts,tsx}": [
    "npx --prefix frontend eslint --fix",
    "npx --prefix frontend prettier --write --ignore-unknown"
  ],
  "backend/**/*.py": [
    "uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff",
    "uv run --project backend ruff format --config backend/pyproject.toml"
  ],
  "docs/**/*.md": [
    "npx --prefix frontend markdownlint --fix",
    "npx --prefix frontend prettier --write --ignore-unknown"
  ],
  "**/*.{json,yml,yaml}": [
    "npx --prefix frontend prettier --write --ignore-unknown"
  ]
}

feat(social_preview): add Threads platform support
  backend/discord/.env.example
  backend/discord/cogs/social_preview/_embeds.py
  backend/discord/cogs/social_preview/cog.py
  backend/discord/cogs/social_preview/constants.py
  backend/tests/discord/test_social_preview.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(scrapling): add JS caption extraction sidecar
  backend/scrapling/Dockerfile
  backend/scrapling/main.py
  backend/scrapling/requirements.txt
  docker-compose.yml
Due: npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(scrapling): fix base image and add Threads session auth
  backend/discord/.env.example
  backend/scrapling/.env.example
  backend/scrapling/Dockerfile
  backend/scrapling/main.py
  backend/scrapling/requirements.txt
  docker-compose.yml
Due: npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(scrapling): rewrite Threads sidecar with stealth.js and engagement extraction
  backend/scrapling/Dockerfile
  backend/scrapling/main.py
  backend/scrapling/requirements.txt
  backend/scrapling/stealth.js
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(social_preview): display Threads engagement counts in embed
  backend/discord/cogs/social_preview/_embeds.py
  backend/discord/cogs/social_preview/cog.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

chore(infra): parameterize scrapling port and inject service URLs via compose anchors
  docker-compose.yml
Due: npx --prefix frontend prettier --write --ignore-unknown

docs(env): improve example files — prod defaults, cleaner comments, no duplicates
  .env.example
  backend/api/.env.example
  backend/discord/.env.example
  backend/shared.env.example
Due: none

build: add Pillow and Noto fonts for message image rendering
  backend/discord/Dockerfile
  backend/pyproject.toml
  backend/uv.lock
Due: none

feat(discord): add Discord-style message card image renderer
  backend/discord/core/__init__.py
  backend/discord/core/message_image.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(discord): add server event logging with /log set|unset|status
  backend/discord/cogs/events.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

chore: exclude log_channels.json from version control
  .gitignore
Due: none

test(discord): add unit tests for message_image and EventsCog
  backend/tests/discord/test_events.py
  backend/tests/discord/test_message_image.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(discord): server event logging with message card image renderer (#16)
  .gitignore
  backend/discord/Dockerfile
  backend/discord/cogs/events.py
  backend/discord/core/__init__.py
  backend/discord/core/message_image.py
  backend/pyproject.toml
  backend/tests/discord/test_events.py
  backend/tests/discord/test_message_image.py
  backend/uv.lock
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

ci: upgrade Node.js from 20 to 22 (LTS)
  .github/workflows/ci.yml
Due: npx --prefix frontend prettier --write --ignore-unknown

feat(scrapling): add media, profile endpoint, refactor helpers
  backend/scrapling/main.py
  backend/scrapling/requirements.txt
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(social_preview): add Threads profile embed and image carousel
  backend/discord/cogs/social_preview/_embeds.py
  backend/discord/cogs/social_preview/cog.py
  backend/discord/cogs/social_preview/constants.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(threads): add Threads oEmbed support with scrapling media extraction (#18)
  .env.example
  backend/api/.env.example
  backend/discord/.env.example
  backend/discord/cogs/social_preview/_embeds.py
  backend/discord/cogs/social_preview/cog.py
  backend/discord/cogs/social_preview/constants.py
  backend/scrapling/.env.example
  backend/scrapling/Dockerfile
  backend/scrapling/main.py
  backend/scrapling/requirements.txt
  backend/scrapling/stealth.js
  backend/shared.env.example
  backend/tests/discord/test_social_preview.py
  docker-compose.yml
Due: npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

refactor(config): route shared params through settings layer
  backend/api/core/config.py
  backend/discord/bot.py
  backend/discord/core/logging.py
  backend/twitch/core/logging.py
  backend/twitch/main.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

docs(env): consolidate env examples — one param per layer
  README.md
  backend/README.md
  backend/api/.env.example
  backend/discord/.env.example
  backend/scrapling/.env.example
  backend/shared.env.example
  backend/twitch/.env.example
Due: none

fix(ci): fail fast on missing root .env vars
  .github/workflows/deploy.yml
  docker-compose.yml
Due: npx --prefix frontend prettier --write --ignore-unknown

feat(env): add shared.env.local for local dev overrides
  backend/api/core/config.py
  backend/discord/bot.py
  backend/discord/core/config.py
  backend/twitch/core/config.py
  backend/twitch/main.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(instagram): session guard, display name, and video bundle
  backend/discord/cogs/social_preview/_embeds.py
  backend/discord/cogs/social_preview/cog.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

refactor(tests): split social-preview tests into per-platform files
  backend/tests/discord/social_preview/__init__.py
  backend/tests/discord/social_preview/_helpers.py
  backend/tests/discord/social_preview/conftest.py
  backend/tests/discord/social_preview/test_bilibili.py
  backend/tests/discord/social_preview/test_common.py
  backend/tests/discord/social_preview/test_instagram.py
  backend/tests/discord/social_preview/test_threads.py
  backend/tests/discord/social_preview/test_tiktok.py
  backend/tests/discord/social_preview/test_twitch.py
  backend/tests/discord/test_social_preview.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

refactor(social-preview): unify views and helpers
  backend/discord/cogs/social_preview/cog.py
  backend/discord/cogs/social_preview/constants.py
  backend/discord/core/config.py
  backend/tests/discord/social_preview/test_threads.py
  backend/tests/discord/social_preview/test_twitch.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

ci(deploy): generate env files from GitHub Secrets
  .env.example
  .github/workflows/deploy.yml
  backend/api/.env.example
  backend/discord/.env.example
  backend/scrapling/.env.example
  backend/shared.env.example
  backend/twitch/.env.example
Due: npx --prefix frontend prettier --write --ignore-unknown

fix(startup): fail fast with clear message on missing env vars
  backend/discord/bot.py
  backend/twitch/main.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(social-preview): refactor cog, env management, and startup validation (#20)
  .env.example
  .github/workflows/deploy.yml
  backend/api/.env.example
  backend/api/core/config.py
  backend/discord/.env.example
  backend/discord/bot.py
  backend/discord/cogs/social_preview/_embeds.py
  backend/discord/cogs/social_preview/cog.py
  backend/discord/cogs/social_preview/constants.py
  backend/discord/core/config.py
  backend/scrapling/.env.example
  backend/shared.env.example
  backend/tests/discord/social_preview/__init__.py
  backend/tests/discord/social_preview/_helpers.py
  backend/tests/discord/social_preview/conftest.py
  backend/tests/discord/social_preview/test_bilibili.py
  backend/tests/discord/social_preview/test_common.py
  backend/tests/discord/social_preview/test_instagram.py
  backend/tests/discord/social_preview/test_threads.py
  backend/tests/discord/social_preview/test_tiktok.py
  backend/tests/discord/social_preview/test_twitch.py
  backend/tests/discord/test_social_preview.py
  backend/twitch/.env.example
  backend/twitch/core/config.py
  backend/twitch/main.py
Due: npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

chore(secrets): add upload script and env templates
  .gitignore
  scripts/push-secrets.sh
  secrets.env.example
  variables.env.example
Due: none

chore(secrets): add upload script and env templates (#21)
  .gitignore
  scripts/push-secrets.sh
  secrets.env.example
  variables.env.example
Due: none

chore: bump version to v1.2.0
  backend/pyproject.toml
  backend/uv.lock
  frontend/package-lock.json
  frontend/package.json
  package-lock.json
  package.json
Due: npx --prefix frontend prettier --write --ignore-unknown

feat(api): read version from importlib.metadata
  backend/api/app.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(discord): accept www.twitch.tv in streaming URL
  backend/discord/core/config.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

perf(backend): optimize analytics SQL and cache headers
  backend/api/routers/analytics_router.py
  backend/api/routers/stats_router.py
  backend/shared/repositories/analytics/_query_mixin.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

perf(frontend): add TTL cache and reduce polling frequency
  frontend/src/api/analytics.ts
  frontend/src/api/channels.ts
  frontend/src/api/stats.ts
  frontend/src/contexts/AuthContext.tsx
  frontend/src/lib/apiCache.ts
  frontend/src/pages/modules/GameQueue.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

fix(router): show 404 to unauthenticated users
  frontend/src/App.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

chore(lint): suppress set-state-in-effect false positives
  frontend/src/pages/VideoQueueOverlay.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

chore(logging): add Logger type annotations to backend modules
  backend/discord/cogs/admin.py
  backend/discord/cogs/ai.py
  backend/discord/cogs/birthday/cog.py
  backend/discord/cogs/eat/cog.py
  backend/discord/cogs/events.py
  backend/discord/cogs/fortune.py
  backend/discord/cogs/giveaway/_persistence.py
  backend/discord/cogs/giveaway/_views.py
  backend/discord/cogs/giveaway/cog.py
  backend/discord/cogs/moderation.py
  backend/discord/cogs/social_preview/cog.py
  backend/discord/cogs/tarot.py
  backend/discord/cogs/tft.py
  backend/discord/core/message_image.py
  backend/scrapling/main.py
  backend/twitch/components/command_manager.py
  backend/twitch/components/fortune.py
  backend/twitch/components/game_queue.py
  backend/twitch/components/games.py
  backend/twitch/components/tft.py
  backend/twitch/components/timer_manager.py
  backend/twitch/components/video_queue.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(test): use client.cookies.set() for auth tokens
  backend/tests/api/test_auth_router.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(ui): theme toggle on login page; update copy and nav
  frontend/src/components/login-form.tsx
  frontend/src/config/navigation.ts
  frontend/src/pages/Login.tsx
  frontend/src/pages/dashboard/SystemStatus.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

style(ui): protect decorative text from selection
  frontend/src/pages/Landing.tsx
  frontend/src/pages/discord/Dashboard.tsx
  frontend/src/pages/docs/GetStarted.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown
