Repository yPinn/Niibot: changes, and which lint-staged commands are due for each by the changed paths.
All: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml, npx --prefix frontend markdownlint --fix

.lintstagedrc:

{
  "frontend/**/*.{js,jsx,ts,tsx}": [
    "npx --prefix frontend eslint --fix",
    "npx --prefix frontend prettier --write --ignore-unknown"
  ],
  "backend/**/*.py": [
    "uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff",
    "uv run --project backend ruff format --config backend/pyproject.toml"
  ],
  "docs/**/*.md": [
    "npx --prefix frontend markdownlint --fix",
    "npx --prefix frontend prettier --write --ignore-unknown"
  ],
  "**/*.{json,yml,yaml}": [
    "npx --prefix frontend prettier --write --ignore-unknown"
  ]
}

fix(twitch): validate !ai input before recording cooldown
  backend/tests/twitch/test_ai_component.py
  backend/twitch/components/ai.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(twitch): make !cmd a atomic to close a TOCTOU race
  backend/shared/repositories/command_config.py
  backend/shared/repositories/message_trigger.py
  backend/tests/shared/test_command_config_repo.py
  backend/tests/shared/test_message_trigger_repo.py
  backend/tests/twitch/test_command_manager.py
  backend/twitch/components/command_manager.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(shared): make video-queue limit checks atomic
  backend/shared/repositories/video_queue.py
  backend/tests/shared/test_video_queue_repo.py
  backend/twitch/components/channel_points.py
  backend/twitch/components/video_queue.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

docs: remove stale Scrapling references
  CLAUDE.md
  README.md
  backend/README.md
  docs/architecture/overview.md
Due: npx --prefix frontend prettier --write --ignore-unknown, npx --prefix frontend markdownlint --fix

fix(twitch,discord): close 6 chat-command and giveaway bugs (#128)
  backend/discord/cogs/giveaway/_views.py
  backend/shared/repositories/command_config.py
  backend/shared/repositories/message_trigger.py
  backend/shared/repositories/video_queue.py
  backend/tests/discord/test_giveaway_views.py
  backend/tests/shared/test_command_config_repo.py
  backend/tests/shared/test_message_trigger_repo.py
  backend/tests/shared/test_video_queue_repo.py
  backend/tests/twitch/test_ai_component.py
  backend/tests/twitch/test_command_manager.py
  backend/tests/twitch/test_timer_manager.py
  backend/twitch/components/ai.py
  backend/twitch/components/channel_points.py
  backend/twitch/components/command_manager.py
  backend/twitch/components/timer_manager.py
  backend/twitch/components/video_queue.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

docs: remove stale Scrapling references (#129)
  CLAUDE.md
  README.md
  backend/README.md
  docs/architecture/overview.md
Due: npx --prefix frontend prettier --write --ignore-unknown, npx --prefix frontend markdownlint --fix

feat(analytics): add suggested-action callouts to Insights page
  frontend/src/lib/insights-suggestions.test.ts
  frontend/src/lib/insights-suggestions.ts
  frontend/src/pages/analytics/Insights.tsx
  frontend/src/pages/analytics/insights/SuggestedActions.test.tsx
  frontend/src/pages/analytics/insights/SuggestedActions.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

feat(dashboard): add setup-completion tracking to Get Started page
  frontend/src/hooks/useOnboardingStatus.test.ts
  frontend/src/hooks/useOnboardingStatus.ts
  frontend/src/lib/onboarding-status.test.ts
  frontend/src/lib/onboarding-status.ts
  frontend/src/pages/docs/GetStarted.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

refactor(nav): split Modules sidebar group into OBS and Modules
  frontend/src/config/navigation.ts
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

chore(landing): reflect current feature set on the landing page
  frontend/src/pages/Landing.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

style: fix pre-existing prettier union-type warnings
  frontend/src/pages/admin/Monitor.tsx
  frontend/src/pages/analytics/insights/ViewerSheet.tsx
  frontend/src/pages/dashboard/commands/types.ts
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

refactor(config): split VITE_DISCORD_INVITE_URL into two vars
  frontend/.env.example
  frontend/README.md
  frontend/src/components/DiscordHelpBanner.tsx
  frontend/src/config/navigation.ts
  frontend/src/pages/Privacy.tsx
  frontend/src/pages/Terms.tsx
  frontend/src/pages/discord/Dashboard.tsx
  frontend/src/vite-env.d.ts
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

fix(frontend): match prettier to lockfile-pinned version
  frontend/src/pages/admin/Monitor.tsx
  frontend/src/pages/analytics/insights/ViewerSheet.tsx
  frontend/src/pages/dashboard/commands/types.ts
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

style(backend): reformat data/README.md code block per ruff 0.16
  backend/data/README.md
Due: none

chore(deps): bump overrides to clear audit advisories
  frontend/package-lock.json
  frontend/package.json
Due: npx --prefix frontend prettier --write --ignore-unknown

chore(deps): bump aiohttp 3.14.3, cryptography 50.0.1
  backend/uv.lock
Due: none

chore(deps): add root npm dir to dependabot, target staging
  .github/dependabot.yml
Due: npx --prefix frontend prettier --write --ignore-unknown

fix(donation): add python-multipart so payment webhooks work
  backend/pyproject.toml
  backend/uv.lock
Due: none

fix(twitch): harden message-trigger regex against runtime ReDoS
  backend/api/routers/message_triggers_router.py
  backend/tests/twitch/test_trigger_matching.py
  backend/twitch/utils/trigger_matching.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(donation): verify paid amount in NewebPay webhook
  backend/api/routers/donation_router.py
  backend/tests/api/test_donation_router.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(db): require TLS for remote Postgres connections
  backend/shared/database.py
  backend/tests/shared/test_database.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(api): trust proxy headers for per-IP rate limiting
  backend/api/main.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

refactor(auth): default token expiry to 7 days
  backend/api/services/auth_service.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

refactor(shared): split video source helpers into own module
  backend/api/routers/donation_router.py
  backend/api/routers/video_queue_router.py
  backend/shared/repositories/video_queue.py
  backend/shared/video_sources.py
  backend/tests/shared/test_video_queue_repo.py
  backend/twitch/components/channel_points.py
  backend/twitch/components/video_queue.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

refactor(api): split admin router into sub-package
  backend/api/core/dependencies.py
  backend/api/routers/admin/__init__.py
  backend/api/routers/admin/db.py
  backend/api/routers/admin/logs.py
  backend/api/routers/admin/modules.py
  backend/api/routers/admin_router.py
  backend/tests/api/test_admin_router.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

refactor(analytics): split query mixin into sub-package
  backend/shared/repositories/analytics/_query_common.py
  backend/shared/repositories/analytics/_query_insights.py
  backend/shared/repositories/analytics/_query_mixin.py
  backend/shared/repositories/analytics/_query_session.py
  backend/shared/repositories/analytics/_query_summary.py
  backend/shared/repositories/analytics/_query_viewers.py
  backend/tests/shared/test_analytics_repo.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

test(twitch-api): characterization tests for TwitchAPIClient
  backend/tests/api/test_twitch_api.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

refactor(twitch-api): split TwitchAPIClient into mixin sub-package
  backend/api/services/_twitch_api/__init__.py
  backend/api/services/_twitch_api/_base.py
  backend/api/services/_twitch_api/_channel.py
  backend/api/services/_twitch_api/_moderation.py
  backend/api/services/_twitch_api/_oauth.py
  backend/api/services/_twitch_api/_users.py
  backend/api/services/twitch_api.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

refactor(social-preview): extract views and parsing helpers from cog
  backend/discord/cogs/social_preview/_ogparser.py
  backend/discord/cogs/social_preview/_views.py
  backend/discord/cogs/social_preview/cog.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

refactor: split five 900+ line files into focused modules (M5) (#153)
  backend/api/core/dependencies.py
  backend/api/routers/admin/__init__.py
  backend/api/routers/admin/db.py
  backend/api/routers/admin/logs.py
  backend/api/routers/admin/modules.py
  backend/api/routers/admin_router.py
  backend/api/routers/donation_router.py
  backend/api/routers/video_queue_router.py
  backend/api/services/_twitch_api/__init__.py
  backend/api/services/_twitch_api/_base.py
  backend/api/services/_twitch_api/_channel.py
  backend/api/services/_twitch_api/_moderation.py
  backend/api/services/_twitch_api/_oauth.py
  backend/api/services/_twitch_api/_users.py
  backend/api/services/twitch_api.py
  backend/discord/cogs/social_preview/_ogparser.py
  backend/discord/cogs/social_preview/_views.py
  backend/discord/cogs/social_preview/cog.py
  backend/shared/repositories/analytics/_query_common.py
  backend/shared/repositories/analytics/_query_insights.py
  backend/shared/repositories/analytics/_query_mixin.py
  backend/shared/repositories/analytics/_query_session.py
  backend/shared/repositories/analytics/_query_summary.py
  backend/shared/repositories/analytics/_query_viewers.py
  backend/shared/repositories/video_queue.py
  backend/shared/video_sources.py
  backend/tests/api/test_admin_router.py
  backend/tests/api/test_twitch_api.py
  backend/tests/shared/test_analytics_repo.py
  backend/tests/shared/test_video_queue_repo.py
  backend/twitch/components/channel_points.py
  backend/twitch/components/video_queue.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

chore: trim comments and env example now in docs
  backend/api/.env.example
  backend/discord/cogs/social_preview/constants.py
  backend/scrapling/main.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

chore: prune stale gitignore and secretlintignore entries
  .gitignore
  .secretlintignore
Due: none

perf(frontend): subset Font Awesome + lazy sidebar
  frontend/.nvmrc
  frontend/.prettierignore
  frontend/README.md
  frontend/package.json
  frontend/scripts/build-fa-subset.mjs
  frontend/src/App.tsx
  frontend/src/assets/fontawesome/css/fontawesome.subset.css
  frontend/src/assets/fontawesome/webfonts/fa-brands-400.ttf
  frontend/src/assets/fontawesome/webfonts/fa-duotone-900.ttf
  frontend/src/assets/fontawesome/webfonts/fa-duotone-900.woff2
  frontend/src/assets/fontawesome/webfonts/fa-light-300.ttf
  frontend/src/assets/fontawesome/webfonts/fa-light-300.woff2
  frontend/src/assets/fontawesome/webfonts/fa-regular-400.ttf
  frontend/src/assets/fontawesome/webfonts/fa-sharp-light-300.ttf
  frontend/src/assets/fontawesome/webfonts/fa-sharp-light-300.woff2
  frontend/src/assets/fontawesome/webfonts/fa-sharp-regular-400.ttf
  frontend/src/assets/fontawesome/webfonts/fa-sharp-regular-400.woff2
  frontend/src/assets/fontawesome/webfonts/fa-sharp-solid-900.ttf
  frontend/src/assets/fontawesome/webfonts/fa-sharp-solid-900.woff2
  frontend/src/assets/fontawesome/webfonts/fa-sharp-thin-100.ttf
  frontend/src/assets/fontawesome/webfonts/fa-sharp-thin-100.woff2
  frontend/src/assets/fontawesome/webfonts/fa-solid-900.ttf
  frontend/src/assets/fontawesome/webfonts/fa-thin-100.ttf
  frontend/src/assets/fontawesome/webfonts/fa-thin-100.woff2
  frontend/src/assets/fontawesome/webfonts/fa-v4compatibility.ttf
  frontend/src/assets/fontawesome/webfonts/fa-v4compatibility.woff2
  frontend/src/index.css
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

docs: restructure into topic folders, sync with code
  CLAUDE.md
  README.md
  backend/README.md
  backend/data/README.md
  docs/README.md
  docs/architecture/admission-and-tenancy.md
  docs/architecture/overview.md
  docs/guides/deployment.md
  docs/guides/development.md
  docs/guides/environment.md
  docs/integrations/fixtweet.md
  docs/integrations/instafix.md
  docs/integrations/scrapling.md
  docs/reference/api-endpoints.md
  docs/reference/static-data.md
  docs/reference/versioning.md
  frontend/README.md
Due: npx --prefix frontend prettier --write --ignore-unknown, npx --prefix frontend markdownlint --fix

chore: reorganize root npm scripts, sync dev docs
  README.md
  docs/guides/development.md
  package.json
Due: npx --prefix frontend prettier --write --ignore-unknown, npx --prefix frontend markdownlint --fix

feat(env): single-source env registry + template generator
  .env.example
  .github/secrets/base.env.example
  .github/secrets/prod.env.example
  .github/secrets/staging.env.example
  .github/variables/base.env.example
  .github/variables/prod.env.example
  .github/variables/staging.env.example
  .markdownlintignore
  .prettierignore
  backend/api/.env.example
  backend/discord/.env.example
  backend/scrapling/.env.example
  backend/shared.env.example
  backend/twitch/.env.example
  docs/guides/environment.md
  env.manifest.json
  env.registry.toml
  frontend/.env.example
  package.json
  scripts/gen_env.py
Due: npx --prefix frontend prettier --write --ignore-unknown, npx --prefix frontend markdownlint --fix

refactor(env): derive env.sh file list from env.manifest.json
  scripts/env.sh
Due: none

fix(api): move trigger_matching into shared package
  backend/api/routers/message_triggers_router.py
  backend/shared/trigger_matching.py
  backend/tests/shared/test_trigger_matching.py
  backend/twitch/components/command_manager.py
  backend/twitch/core/_router_mixin.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml
