Repository yPinn/Niibot: changes, and which lint-staged commands are due for each by the changed paths.
All: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml, npx --prefix frontend markdownlint --fix

fix(frontend): accessibility, correctness, and performance
  frontend/src/components/AffiliateLockOverlay.tsx
  frontend/src/components/OnlineDropdown.tsx
  frontend/src/components/OverlayUrlBlock.tsx
  frontend/src/components/StatsCard.tsx
  frontend/src/components/layouts/SidebarLayout.tsx
  frontend/src/components/nav-user.tsx
  frontend/src/components/ui/chart.tsx
  frontend/src/contexts/ServiceStatusContext.tsx
  frontend/src/hooks/useOptimisticToggle.ts
  frontend/src/lib/apiCache.ts
  frontend/src/pages/PublicCommands.tsx
  frontend/src/pages/dashboard/Events.tsx
  frontend/src/pages/dashboard/Insights.tsx
  frontend/src/pages/dashboard/commands/CommandSheet.tsx
  frontend/src/pages/modules/GameQueue.tsx
  frontend/src/pages/modules/Timers.tsx
  frontend/src/pages/modules/VideoQueue.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

docs: simplify READMEs and env examples
  .env.example
  README.md
  backend/README.md
  backend/api/.env.example
  backend/discord/.env.example
  backend/scrapling/.env.example
  backend/shared.env.example
  backend/twitch/.env.example
  frontend/.env.example
  frontend/README.md
  secrets.env.example
  variables.env.example
Due: none

fix(frontend): unify empty-state UI across modules
  frontend/src/pages/dashboard/Events.tsx
  frontend/src/pages/dashboard/commands/CustomTab.tsx
  frontend/src/pages/modules/VideoQueue.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

fix(frontend): unify empty-state UI — remaining pages
  frontend/src/components/StatsCard.tsx
  frontend/src/pages/DonatePage.tsx
  frontend/src/pages/PublicCommands.tsx
  frontend/src/pages/dashboard/Insights.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

feat(db): add viewer_attendance_streaks table
  backend/shared/migrations/versions/047_add_viewer_attendance_streaks.sql
Due: none

feat(analytics): add CES scoring and viewer rank query
  backend/api/routers/analytics_router.py
  backend/shared/repositories/analytics/_query_mixin.py
  backend/shared/repositories/analytics/_session_mixin.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

test(analytics): update end_session test for fetchrow
  backend/tests/shared/test_analytics_repo.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(twitch): add !rank command for monthly ranking
  backend/shared/builtin_commands.py
  backend/twitch/components/general_commands.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(insights): add CES engagement score column
  frontend/src/api/analytics.ts
  frontend/src/pages/dashboard/Insights.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

fix(frontend): normalize GameQueue card min-height
  frontend/src/pages/modules/GameQueue.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

fix(insights): add error state and fix empty description
  frontend/src/pages/dashboard/Insights.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

fix(analytics): graceful fallback when streaks table missing
  backend/shared/repositories/analytics/_query_mixin.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(analytics): use numeric cast in ROUND to fix type error
  backend/shared/repositories/analytics/_query_mixin.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(analytics): auto bot filtering via TwitchInsights + score as %
  backend/shared/repositories/analytics/_query_mixin.py
  frontend/src/pages/dashboard/Insights.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(insights): clean up viewer row display
  frontend/src/pages/dashboard/Insights.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

fix(insights): simplify viewer table columns and layout
  backend/twitch/components/general_commands.py
  frontend/src/pages/dashboard/Insights.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(scrapling): persist cookies and improve session
  .github/workflows/deploy.yml
  backend/scrapling/Dockerfile
  backend/scrapling/main.py
  docker-compose.yml
Due: npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(twitch): randomize rank command responses
  backend/twitch/components/general_commands.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(logs): upgrade startup warnings to errors
  backend/api/app.py
  backend/twitch/main.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(insights): localize duration and show raw score
  frontend/src/pages/dashboard/Insights.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

feat(insights): add gift sub stat and sessions badge
  frontend/src/pages/dashboard/Insights.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

refactor(frontend/pages): reorganize page structure to match nav categories
  frontend/src/App.tsx
  frontend/src/pages/Privacy.tsx
  frontend/src/pages/Terms.tsx
  frontend/src/pages/analytics/Insights.tsx
  frontend/src/pages/analytics/SystemStatus.tsx
  frontend/src/pages/dashboard/Timers.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

fix(donation): validate TradeAmt and guard mark_failed
  backend/api/routers/donation_router.py
  backend/shared/repositories/donation.py
  backend/tests/api/test_donation_router.py
  backend/tests/shared/test_donation_repo.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(video-queue): atomicize kickstart with kickstart_if_idle
  backend/api/routers/video_queue_router.py
  backend/shared/repositories/video_queue.py
  backend/tests/shared/test_video_queue_repo.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(discord): harden cogs and add global error handler
  backend/discord/bot.py
  backend/discord/cogs/admin.py
  backend/discord/cogs/ai.py
  backend/discord/cogs/birthday/cog.py
  backend/discord/cogs/eat/cog.py
  backend/discord/cogs/events.py
  backend/discord/cogs/giveaway/_views.py
  backend/discord/cogs/moderation.py
  backend/pyproject.toml
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(twitch): fix async fetch_streams and safe session cleanup
  backend/api/services/twitch_api.py
  backend/twitch/components/general_commands.py
  backend/twitch/core/_channel_mixin.py
  backend/twitch/core/_notify_mixin.py
  backend/twitch/core/_session_mixin.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(frontend): use sword icon for mod badge in GetStarted
  frontend/src/pages/docs/GetStarted.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

refactor(frontend/pages): remove old page paths after relocation
  frontend/src/pages/dashboard/Insights.tsx
  frontend/src/pages/dashboard/SystemStatus.tsx
  frontend/src/pages/docs/Privacy.tsx
  frontend/src/pages/docs/Terms.tsx
  frontend/src/pages/modules/Timers.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

feat(timers): add builtin timer support with condemn as default
  backend/shared/builtin_timers.py
  backend/twitch/components/timer_manager.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(timers): show builtin timers in list
  backend/api/services/timer_service.py
  frontend/src/pages/dashboard/Timers.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

refactor(frontend): replace hardcoded Discord invite URL
  frontend/src/config/navigation.ts
  frontend/src/pages/Privacy.tsx
  frontend/src/pages/Terms.tsx
  frontend/src/pages/discord/Dashboard.tsx
  frontend/src/pages/docs/GetStarted.tsx
  frontend/src/vite-env.d.ts
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

chore: bump version to 1.6.0 and update dependencies
  backend/pyproject.toml
  backend/uv.lock
  frontend/package-lock.json
  frontend/package.json
  package.json
Due: npx --prefix frontend prettier --write --ignore-unknown

feat(ui): textarea and timers table refactor
  frontend/src/components/ui/index.ts
  frontend/src/components/ui/textarea.tsx
  frontend/src/hooks/useInputInsert.ts
  frontend/src/pages/dashboard/Events.tsx
  frontend/src/pages/dashboard/Timers.tsx
  frontend/src/pages/dashboard/commands/CommandSheet.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

fix(ui): add 類型 header to timers table badge column
  frontend/src/pages/dashboard/Timers.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

fix(ui): balance timers table column widths
  frontend/src/pages/dashboard/Timers.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

fix(ui): match timers table widths to commands table
  frontend/src/pages/dashboard/Timers.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

fix(twitch): use /announce chat cmd for timer announcements
  backend/twitch/components/timer_manager.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

refactor(frontend): simplify hooks, UI patterns, and fix side effects
  frontend/src/hooks/useInputInsert.ts
  frontend/src/pages/dashboard/Events.tsx
  frontend/src/pages/dashboard/Timers.tsx
  frontend/src/pages/dashboard/commands/BuiltinTab.tsx
  frontend/src/pages/dashboard/commands/CommandSheet.tsx
  frontend/src/pages/dashboard/commands/CustomTab.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

fix(frontend): improve mobile rwd layout
  frontend/src/components/layouts/SidebarLayout.tsx
  frontend/src/components/ui/sheet.tsx
  frontend/src/pages/Settings.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

fix(ui): full-width sheet and mobile VideoQueue layout
  frontend/src/components/ui/sheet.tsx
  frontend/src/pages/modules/VideoQueue.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

Path conditions:
  npx --prefix frontend eslint --fix: any of: frontend/**/*.{js,jsx,ts,tsx}
  npx --prefix frontend prettier --write --ignore-unknown: ((any of: frontend/**/*.{js,jsx,ts,tsx}) or (any of: docs/**/*.md)) or (any of: **/*.{json,yml,yaml})
  uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff: any of: backend/**/*.py
  uv run --project backend ruff format --config backend/pyproject.toml: any of: backend/**/*.py
  npx --prefix frontend markdownlint --fix: any of: docs/**/*.md
