Repository yPinn/Niibot: changes, and which lint-staged commands are due for each by the changed paths.
All: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml, npx --prefix frontend markdownlint --fix

.lintstagedrc:

{
  "frontend/**/*.{js,jsx,ts,tsx}": [
    "npx --prefix frontend eslint --fix",
    "npx --prefix frontend prettier --write --ignore-unknown"
  ],
  "backend/**/*.py": [
    "uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff",
    "uv run --project backend ruff format --config backend/pyproject.toml"
  ],
  "docs/**/*.md": [
    "npx --prefix frontend markdownlint --fix",
    "npx --prefix frontend prettier --write --ignore-unknown"
  ],
  "**/*.{json,yml,yaml}": [
    "npx --prefix frontend prettier --write --ignore-unknown"
  ]
}

fix(ci): pass services input through verbatim
  .github/workflows/_deploy.yml
  .github/workflows/deploy-prod.yml
  .github/workflows/deploy-staging.yml
Due: npx --prefix frontend prettier --write --ignore-unknown

fix(ci): pass services input through verbatim (#159)
  .github/workflows/_deploy.yml
  .github/workflows/deploy-prod.yml
  .github/workflows/deploy-staging.yml
Due: npx --prefix frontend prettier --write --ignore-unknown

fix(ci): always write all five runtime env files
  scripts/ci_write_env.sh
Due: none

fix(ci): always write all five runtime env files (#160)
  scripts/ci_write_env.sh
Due: none

feat(admin): client-error telemetry read API
  backend/api/routers/admin/client_errors.py
  backend/api/routers/admin_router.py
  backend/shared/repositories/client_error.py
  backend/tests/api/test_admin_client_errors.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(monitor): client-errors tab + log polish
  frontend/src/api/admin.ts
  frontend/src/api/config.ts
  frontend/src/hooks/useDebouncedValue.test.ts
  frontend/src/hooks/useDebouncedValue.ts
  frontend/src/lib/format.ts
  frontend/src/pages/admin/Monitor.tsx
  frontend/src/pages/admin/monitor/ClientErrorsPanel.test.tsx
  frontend/src/pages/admin/monitor/ClientErrorsPanel.tsx
  frontend/src/pages/admin/monitor/LogRecordRow.test.tsx
  frontend/src/pages/admin/monitor/LogRecordRow.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

fix(test): align client-errors test JWT secret with api suite
  backend/tests/api/test_admin_client_errors.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

refactor(twitch): minimise broadcaster OAuth scopes 9 to 6
  backend/api/routers/analytics_router.py
  backend/api/services/_twitch_api/_channel.py
  backend/api/services/_twitch_api/_moderation.py
  backend/shared/twitch_scopes.py
  backend/tests/api/test_twitch_api.py
  backend/tests/twitch/test_bot_event_message.py
  backend/tests/twitch/test_bot_token_events.py
  backend/tests/twitch/test_channel_mixin.py
  backend/tests/twitch/test_notify_mixin.py
  backend/twitch/components/events.py
  backend/twitch/core/_channel_mixin.py
  backend/twitch/core/_session_mixin.py
  backend/twitch/core/bot.py
  backend/twitch/core/subscriptions.py
  frontend/src/pages/admin/components/ScopeSection.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(twitch): viewer-stat commands + collision-aware defaults
  backend/shared/builtin_commands.py
  backend/tests/twitch/test_viewer_stats.py
  backend/twitch/components/general_commands.py
  backend/twitch/components/viewer_stats.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

refactor(scripts): rename backend scripts to match nb groups
  backend/scripts/_lib.py
  backend/scripts/dev/db_clear.py
  backend/scripts/models_update.py
  backend/scripts/nb.py
  backend/scripts/twitch_backfill_matcher.py
  backend/scripts/twitch_backfill_sessions.py
  backend/scripts/twitch_diag.py
  backend/scripts/twitch_oauth.py
  backend/shared/twitch_scopes.py
  backend/tests/scripts/test_nb.py
  backend/twitch/core/bot.py
  docs/architecture/overview.md
  scripts/README.md
Due: npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml, npx --prefix frontend markdownlint --fix

feat(scripts): unify dev tools behind a single nb CLI
  CLAUDE.md
  README.md
  backend/README.md
  backend/scripts/_lib.py
  backend/scripts/db_check.py
  backend/scripts/db_migrate.py
  backend/scripts/dev/__init__.py
  backend/scripts/dev/db_clear.py
  backend/scripts/dev/db_seed.py
  backend/scripts/discord_cmds.py
  backend/scripts/nb.py
  backend/scripts/tw.py
  backend/scripts/tw_backfill_matcher.py
  backend/scripts/tw_backfill_sessions.py
  backend/scripts/tw_oauth.py
  backend/scripts/update_free_models.py
  backend/tests/scripts/__init__.py
  backend/tests/scripts/conftest.py
  backend/tests/scripts/test_lib.py
  backend/tests/scripts/test_nb.py
  docs/guides/deployment.md
  docs/guides/development.md
  package.json
  scripts/README.md
Due: npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml, npx --prefix frontend markdownlint --fix

docs(scripts): point root scripts at the nb entry point
  scripts/README.md
  scripts/badges.py
  scripts/env.sh
  scripts/gen_env.py
  scripts/staging.sh
Due: none

refactor(scripts): trim comments and dead code after the nb pass
  backend/scripts/_lib.py
  backend/scripts/db_check.py
  backend/scripts/db_migrate.py
  backend/scripts/dev/db_clear.py
  backend/scripts/dev/db_seed.py
  backend/scripts/discord_cmds.py
  backend/scripts/nb.py
  backend/scripts/twitch_backfill_matcher.py
  backend/scripts/twitch_backfill_sessions.py
  backend/scripts/twitch_diag.py
  backend/scripts/twitch_oauth.py
  backend/tests/scripts/test_lib.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(twitch): minimise broadcaster scopes + viewer-stat commands (#161)
  backend/api/routers/analytics_router.py
  backend/api/services/_twitch_api/_channel.py
  backend/api/services/_twitch_api/_moderation.py
  backend/shared/builtin_commands.py
  backend/shared/twitch_scopes.py
  backend/tests/api/test_twitch_api.py
  backend/tests/twitch/test_bot_event_message.py
  backend/tests/twitch/test_bot_token_events.py
  backend/tests/twitch/test_channel_mixin.py
  backend/tests/twitch/test_notify_mixin.py
  backend/tests/twitch/test_viewer_stats.py
  backend/twitch/components/events.py
  backend/twitch/components/general_commands.py
  backend/twitch/components/viewer_stats.py
  backend/twitch/core/_channel_mixin.py
  backend/twitch/core/_session_mixin.py
  backend/twitch/core/bot.py
  backend/twitch/core/subscriptions.py
  frontend/src/pages/admin/components/ScopeSection.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

refactor(scripts): unify dev tools behind a single nb CLI (#162)
  CLAUDE.md
  README.md
  backend/README.md
  backend/scripts/_lib.py
  backend/scripts/db_check.py
  backend/scripts/db_migrate.py
  backend/scripts/dev/__init__.py
  backend/scripts/dev/db_clear.py
  backend/scripts/dev/db_seed.py
  backend/scripts/discord_cmds.py
  backend/scripts/models_update.py
  backend/scripts/nb.py
  backend/scripts/twitch_backfill_matcher.py
  backend/scripts/twitch_backfill_sessions.py
  backend/scripts/twitch_diag.py
  backend/scripts/twitch_oauth.py
  backend/shared/twitch_scopes.py
  backend/tests/scripts/__init__.py
  backend/tests/scripts/conftest.py
  backend/tests/scripts/test_lib.py
  backend/tests/scripts/test_nb.py
  backend/twitch/core/bot.py
  docs/architecture/overview.md
  docs/guides/deployment.md
  docs/guides/development.md
  package.json
  scripts/README.md
  scripts/badges.py
  scripts/env.sh
  scripts/gen_env.py
  scripts/staging.sh
Due: npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml, npx --prefix frontend markdownlint --fix

fix(scripts): shared.env optional when DATABASE_URL set
  backend/scripts/_lib.py
  backend/tests/scripts/test_lib.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(monitor): show error state when error summary fails
  frontend/src/pages/admin/Monitor.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

docs(scripts): unify nb + standalone usage in docstrings
  backend/scripts/db_check.py
  backend/scripts/db_migrate.py
  backend/scripts/dev/db_clear.py
  backend/scripts/dev/db_seed.py
  backend/scripts/discord_cmds.py
  backend/scripts/models_update.py
  backend/scripts/nb.py
  backend/scripts/twitch_backfill_matcher.py
  backend/scripts/twitch_backfill_sessions.py
  backend/scripts/twitch_diag.py
  backend/scripts/twitch_oauth.py
  scripts/README.md
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(ci): rebuild api image on backend/scripts changes
  .github/workflows/_deploy.yml
Due: npx --prefix frontend prettier --write --ignore-unknown

build(backend): pin Python to 3.12 via .python-version
  backend/.python-version
Due: none

build(backend): pin cryptography to 48.x on Intel macOS
  backend/pyproject.toml
  backend/uv.lock
Due: none

chore: bump backend version to v1.13
  backend/pyproject.toml
  backend/uv.lock
Due: none

fix(twitch): read EventSub sub id from nested response
  backend/tests/twitch/test_channel_mixin.py
  backend/twitch/core/_channel_mixin.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

build(twitch): migrate to twitchio 3.3
  backend/pyproject.toml
  backend/tests/twitch/test_bot_token_events.py
  backend/twitch/components/events.py
  backend/twitch/components/general_commands.py
  backend/twitch/components/timer_manager.py
  backend/twitch/core/bot.py
  backend/twitch/core/logging.py
  backend/uv.lock
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

refactor(events): derive subs from event catalog
  backend/shared/events.py
  backend/shared/models/event_config.py
  backend/shared/repositories/event_config.py
  backend/tests/twitch/test_event_catalog.py
  backend/twitch/core/subscriptions.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(events): fail closed on missing event config
  backend/tests/twitch/test_events.py
  backend/tests/twitch/test_notify_mixin.py
  backend/twitch/components/events.py
  backend/twitch/core/_notify_mixin.py
  backend/twitch/core/_session_mixin.py
  backend/twitch/core/bot.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(events): sanitize the $(message) variable
  backend/tests/twitch/test_events.py
  backend/twitch/components/events.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(twitch): subscribe resub, gift sub, and sub end
  backend/shared/events.py
  backend/tests/twitch/test_event_catalog.py
  backend/twitch/core/subscriptions.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

refactor(events): use typed payload attributes directly
  backend/twitch/components/events.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

refactor(events): extract message rendering to utils
  backend/tests/twitch/test_event_render.py
  backend/tests/twitch/test_events.py
  backend/twitch/components/events.py
  backend/twitch/utils/event_render.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

refactor(events): collapse notify handlers into _notify
  backend/tests/twitch/test_events.py
  backend/twitch/components/events.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(twitch): track VIP add/remove; drop ban/unban handlers
  backend/tests/twitch/test_event_catalog.py
  backend/twitch/components/events.py
  backend/twitch/core/subscriptions.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

refactor(twitch): rename router mixin file to match its class
  backend/twitch/core/_message_router_mixin.py
  backend/twitch/core/bot.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

refactor(shared): dedupe TIER_LABELS into shared.events
  backend/shared/events.py
  backend/shared/repositories/analytics/_events_mixin.py
  backend/tests/twitch/test_event_render.py
  backend/twitch/utils/event_render.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

refactor(shared): co-locate missing_broadcaster_scopes
  backend/shared/twitch_scopes.py
  backend/twitch/core/_notify_mixin.py
  backend/twitch/core/bot.py
  backend/twitch/utils/reauth.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(analytics): revive ban status via moderation sync
  backend/api/routers/analytics_router.py
  backend/api/services/_twitch_api/_moderation.py
  backend/api/services/analytics_service.py
  backend/shared/repositories/analytics/_events_mixin.py
  backend/tests/api/test_analytics_service.py
  backend/tests/api/test_twitch_api.py
  backend/tests/shared/test_analytics_repo.py
  frontend/src/api/analytics.ts
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

refactor: dedupe event/channel helpers and drop dead code
  backend/api/routers/analytics_router.py
  backend/shared/events.py
  backend/shared/repositories/analytics/_events_mixin.py
  backend/tests/twitch/test_event_render.py
  backend/twitch/components/events.py
  backend/twitch/core/_notify_mixin.py
  backend/twitch/core/_session_mixin.py
  backend/twitch/utils/event_render.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

refactor(twitch): extract SubscriptionManager from _ChannelMixin
  backend/tests/twitch/test_bot_event_message.py
  backend/tests/twitch/test_bot_token_events.py
  backend/tests/twitch/test_channel_mixin.py
  backend/tests/twitch/test_notify_mixin.py
  backend/tests/twitch/test_subscription_manager.py
  backend/twitch/components/events.py
  backend/twitch/components/timer_manager.py
  backend/twitch/core/_channel_mixin.py
  backend/twitch/core/_notify_mixin.py
  backend/twitch/core/_session_mixin.py
  backend/twitch/core/bot.py
  backend/twitch/core/health_server.py
  backend/twitch/core/subscription_manager.py
  backend/twitch/core/subscriptions.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

refactor(twitch): extract SessionService from _SessionMixin
  backend/tests/twitch/test_bot_event_message.py
  backend/tests/twitch/test_bot_token_events.py
  backend/tests/twitch/test_notify_mixin.py
  backend/tests/twitch/test_session_mixin.py
  backend/tests/twitch/test_session_service.py
  backend/tests/twitch/test_stream_online.py
  backend/tests/twitch/test_timer_manager.py
  backend/twitch/components/crosshair_commands.py
  backend/twitch/components/events.py
  backend/twitch/components/general_commands.py
  backend/twitch/components/timer_manager.py
  backend/twitch/core/_message_router_mixin.py
  backend/twitch/core/_notify_mixin.py
  backend/twitch/core/_session_mixin.py
  backend/twitch/core/bot.py
  backend/twitch/core/session_service.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml
