Repository yPinn/Niibot: changes, and which lint-staged commands are due for each by the changed paths.
All: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml, npx --prefix frontend markdownlint --fix

fix(config): align db url placeholders with root .env
  backend/api/.env.example
  backend/discord/.env.example
  backend/twitch/.env.example
Due: none

refactor(api): remove unused keep-alive feature
  backend/api/.env.example
  backend/api/app.py
  backend/api/core/config.py
  backend/shared/database.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

chore: remove redundant docs and stale comments
  backend/discord/core/health_server.py
  docs/CONTRIBUTING.md
  docs/backend/twitch/TWITCHIO3_API.md
  docs/skills/discordpy/SKILL.md
  docs/skills/discordpy/examples.md
  docs/skills/discordpy/reference.md
  docs/skills/twitchio/SKILL.md
  docs/skills/twitchio/examples.md
  docs/skills/twitchio/reference.md
Due: npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml, npx --prefix frontend markdownlint --fix

refactor(deploy): cf pages frontend, vps backend only
  .gitignore
  README.md
  backend/api/.env.example
  backend/scripts/db_backup.sh
  backend/twitch/.env.example
  docker-compose.yml
Due: npx --prefix frontend prettier --write --ignore-unknown

chore(scripts): reorganize by platform prefix, add dev/
  backend/scripts/dev/db_clear.py
  backend/scripts/dev/db_seed.py
  backend/scripts/tw_backfill_sessions.py
  backend/scripts/tw_tokens.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

chore(deploy): clean up env, update deps, fix docker build
  README.md
  backend/api/.env.example
  backend/api/Dockerfile
  backend/discord/.env.example
  backend/discord/Dockerfile
  backend/shared/migrations/versions/005_add_event_configs.sql
  backend/shared/migrations/versions/006_add_command_and_redemption_configs.sql
  backend/shared/migrations/versions/015_add_game_queue.sql
  backend/shared/migrations/versions/017_add_timers.sql
  backend/shared/migrations/versions/018_add_message_triggers.sql
  backend/shared/migrations/versions/021_add_video_queue.sql
  backend/twitch/.env.example
  backend/twitch/Dockerfile
  docker-compose.yml
  frontend/package-lock.json
Due: npx --prefix frontend prettier --write --ignore-unknown

fix(security): patch IDOR, auth, lifecycle, and input validation vulnerabilities
  backend/api/app.py
  backend/api/routers/analytics_router.py
  backend/api/routers/auth_router.py
  backend/api/routers/bots_router.py
  backend/api/routers/channels_router.py
  backend/api/routers/video_queue_router.py
  backend/api/services/discord_api.py
  backend/api/services/twitch_api.py
  backend/shared/repositories/analytics.py
  backend/shared/repositories/game_queue.py
  backend/shared/repositories/video_queue.py
  backend/twitch/components/cmds.py
  backend/twitch/components/event.py
  backend/twitch/core/bot.py
  frontend/functions/api/[[path]].ts
  frontend/src/App.tsx
  frontend/src/components/ErrorBoundary.tsx
  frontend/src/components/OnlineDropdown.tsx
  frontend/src/contexts/BotContext.tsx
  frontend/src/lib/apiCache.ts
  frontend/src/pages/Settings.tsx
  frontend/src/pages/dashboard/Commands.tsx
  frontend/src/pages/dashboard/Events.tsx
  frontend/src/pages/modules/Timers.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(repositories): race condition and IDOR in queues
  backend/api/routers/video_queue_router.py
  backend/shared/repositories/game_queue.py
  backend/shared/repositories/video_queue.py
  backend/twitch/components/video_queue_manager.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(frontend): global 401 interceptor for expired sessions
  frontend/src/api/config.ts
  frontend/src/contexts/AuthContext.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

refactor(backend): split bot.py, extract utilities, fix api security
  backend/api/app.py
  backend/api/core/config.py
  backend/api/core/dependencies.py
  backend/api/routers/auth_router.py
  backend/api/routers/bots_router.py
  backend/api/services/oauth_service.py
  backend/twitch/core/_channel_mixin.py
  backend/twitch/core/_message_router_mixin.py
  backend/twitch/core/_notify_mixin.py
  backend/twitch/core/_session_mixin.py
  backend/twitch/core/bot.py
  backend/twitch/utils/__init__.py
  backend/twitch/utils/substitution.py
  backend/twitch/utils/trigger_matching.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

test(backend): add unit tests, CI pipeline, pytest dev deps
  .github/workflows/ci.yml
  backend/pyproject.toml
  backend/tests/__init__.py
  backend/tests/api/__init__.py
  backend/tests/api/test_auth_service.py
  backend/tests/api/test_oauth_service.py
  backend/tests/conftest.py
  backend/tests/shared/__init__.py
  backend/tests/shared/test_cache.py
  backend/tests/twitch/__init__.py
  backend/tests/twitch/test_guards.py
  backend/tests/twitch/test_substitution.py
  backend/tests/twitch/test_trigger_matching.py
  backend/uv.lock
Due: npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

chore(hooks): full project-wide lint scan in pre-commit
  .husky/pre-commit
Due: none

refactor(analytics): extract package with focused mixins and repo tests
  backend/shared/repositories/analytics.py
  backend/shared/repositories/analytics/__init__.py
  backend/shared/repositories/analytics/_caches.py
  backend/shared/repositories/analytics/_events_mixin.py
  backend/shared/repositories/analytics/_query_mixin.py
  backend/shared/repositories/analytics/_session_mixin.py
  backend/tests/shared/test_analytics_repo.py
  backend/tests/shared/test_message_trigger_repo.py
  backend/tests/shared/test_timer_repo.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

chore(frontend): prettier formatting cleanup
  frontend/functions/api/[[path]].ts
  frontend/src/App.tsx
  frontend/src/contexts/BotContext.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

test(backend): add unit tests for all shared repositories
  backend/tests/shared/test_birthday_repo.py
  backend/tests/shared/test_channel_repo.py
  backend/tests/shared/test_command_config_repo.py
  backend/tests/shared/test_event_config_repo.py
  backend/tests/shared/test_game_queue_repo.py
  backend/tests/shared/test_video_queue_repo.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

refactor(discord): split giveaway.py into focused package
  backend/discord/cogs/giveaway.py
  backend/discord/cogs/giveaway/__init__.py
  backend/discord/cogs/giveaway/_embeds.py
  backend/discord/cogs/giveaway/_persistence.py
  backend/discord/cogs/giveaway/_views.py
  backend/discord/cogs/giveaway/cog.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(backend): resolve mypy errors and improve dev tooling
  .gitignore
  .husky/pre-commit
  backend/api/.env.example
  backend/api/Dockerfile
  backend/api/routers/auth_router.py
  backend/discord/Dockerfile
  backend/discord/cogs/giveaway/__init__.py
  backend/tests/api/test_auth_service.py
  backend/tests/shared/test_channel_repo.py
  backend/tests/shared/test_command_config_repo.py
  backend/tests/twitch/test_guards.py
  backend/tests/twitch/test_substitution.py
  backend/tests/twitch/test_trigger_matching.py
  backend/twitch/Dockerfile
  docker-compose.yml
  frontend/package.json
  frontend/public/_headers
  frontend/src/App.tsx
  frontend/src/api/account.ts
  frontend/src/api/config.ts
  frontend/src/api/discordOAuth.ts
  frontend/src/api/twitchOAuth.ts
  frontend/src/components/ErrorBoundary.tsx
  frontend/src/components/ProtectedRoute.tsx
  frontend/src/contexts/ServiceStatusContext.tsx
  frontend/src/lib/apiCache.ts
  package.json
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

refactor(frontend): extract shared utilities and split Commands into focused package
  frontend/src/App.tsx
  frontend/src/components/OverlayUrlBlock.tsx
  frontend/src/components/PageHeader.tsx
  frontend/src/components/SortableHead.tsx
  frontend/src/components/VariableInserter.tsx
  frontend/src/hooks/useInputInsert.ts
  frontend/src/hooks/useOptimisticToggle.ts
  frontend/src/hooks/usePolling.ts
  frontend/src/hooks/useSortState.ts
  frontend/src/lib/sort.ts
  frontend/src/pages/GameQueueOverlay.tsx
  frontend/src/pages/PublicCommands.tsx
  frontend/src/pages/Settings.tsx
  frontend/src/pages/VideoQueueOverlay.tsx
  frontend/src/pages/dashboard/Commands.tsx
  frontend/src/pages/dashboard/Events.tsx
  frontend/src/pages/dashboard/commands/BuiltinTab.tsx
  frontend/src/pages/dashboard/commands/CommandSheet.tsx
  frontend/src/pages/dashboard/commands/CustomTab.tsx
  frontend/src/pages/dashboard/commands/constants.ts
  frontend/src/pages/dashboard/commands/index.tsx
  frontend/src/pages/dashboard/commands/types.ts
  frontend/src/pages/modules/GameQueue.tsx
  frontend/src/pages/modules/Timers.tsx
  frontend/src/pages/modules/VideoQueue.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

fix(docker): replace uv base image with copy-binary pattern
  backend/api/Dockerfile
  backend/discord/Dockerfile
  backend/twitch/Dockerfile
Due: none

feat(frontend): improve Commands page UX
  frontend/src/pages/dashboard/commands/BuiltinTab.tsx
  frontend/src/pages/dashboard/commands/CommandSheet.tsx
  frontend/src/pages/dashboard/commands/CustomTab.tsx
  frontend/src/pages/dashboard/commands/index.tsx
  frontend/src/pages/dashboard/commands/types.ts
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

feat(timers): add command_alias for manual trigger
  backend/api/routers/timers_router.py
  backend/api/services/timer_service.py
  backend/shared/migrations/versions/022_add_timer_alias.sql
  backend/shared/models/timer.py
  backend/shared/repositories/timer.py
  backend/twitch/components/timer_manager.py
  frontend/src/api/timers.ts
  frontend/src/pages/modules/Timers.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(twitch): fix 4 trigger/command runtime issues
  backend/shared/repositories/message_trigger.py
  backend/twitch/components/cmds.py
  backend/twitch/components/command_manager.py
  backend/twitch/core/_message_router_mixin.py
  backend/twitch/core/bot.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(backend): track all-time usage_count in command_configs
  backend/api/services/command_config_service.py
  backend/shared/migrations/versions/023_add_command_usage_count.sql
  backend/shared/models/command_config.py
  backend/shared/repositories/command_config.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(backend): add version/commit info to health
  backend/api/Dockerfile
  backend/api/app.py
  backend/api/routers/bots_router.py
  backend/discord/Dockerfile
  backend/discord/core/health_server.py
  backend/twitch/Dockerfile
  backend/twitch/core/health_server.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(frontend): redesign system status as dev panel
  frontend/src/api/bots.ts
  frontend/src/pages/dashboard/SystemStatus.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

ci(docker): inject GIT_COMMIT at build time
  .github/workflows/cd.yml
  docker-compose.prod.yml
  docker-compose.yml
Due: npx --prefix frontend prettier --write --ignore-unknown

refactor(frontend): shorten UI labels in CommandSheet and Timers
  .gitignore
  CLAUDE.md
  frontend/src/pages/dashboard/commands/CommandSheet.tsx
  frontend/src/pages/modules/Timers.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

test(api): add auth router integration tests
  .secretlintignore
  backend/tests/api/conftest.py
  backend/tests/api/test_auth_router.py
  backend/tests/api/test_auth_service.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix: solve mypy type errors in TimerManager
  backend/twitch/components/timer_manager.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(video-queue): improve queue reliability and safety
  backend/shared/migrations/versions/027_video_queue_add_dashboard_source.sql
  backend/shared/models/video_queue.py
  backend/shared/repositories/video_queue.py
  backend/twitch/components/channel_points.py
  backend/twitch/components/video_queue_manager.py
  frontend/src/pages/modules/VideoQueue.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(triggers): add aliases field for message triggers
  backend/api/routers/message_triggers_router.py
  backend/api/services/message_trigger_service.py
  backend/shared/migrations/versions/024_add_trigger_aliases.sql
  backend/shared/models/message_trigger.py
  backend/shared/repositories/message_trigger.py
  backend/tests/twitch/test_trigger_matching.py
  backend/twitch/utils/trigger_matching.py
  frontend/src/api/triggers.ts
  frontend/src/pages/dashboard/commands/CommandSheet.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(events): add Bits (Cheer) event with tier-based responses
  backend/api/routers/events_router.py
  backend/shared/migrations/versions/025_add_bits_event_config.sql
  backend/shared/repositories/event_config.py
  backend/tests/shared/test_event_config_repo.py
  backend/twitch/components/event.py
  frontend/src/api/events.ts
  frontend/src/pages/dashboard/Events.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(video-queue): add dashboard entry management and min-view-count setting
  backend/api/core/config.py
  backend/api/routers/video_queue_router.py
  backend/shared/migrations/versions/026_video_queue_min_views.sql
  frontend/src/api/config.ts
  frontend/src/api/videoQueue.ts
  frontend/src/pages/VideoQueueOverlay.module.css
  frontend/src/pages/VideoQueueOverlay.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(game-queue): fix pull-size semantics and add promote action
  backend/api/routers/game_queue_router.py
  backend/api/services/game_queue_service.py
  backend/shared/repositories/game_queue.py
  backend/twitch/components/game_queue.py
  frontend/src/api/gameQueue.ts
  frontend/src/pages/modules/GameQueue.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

chore: misc UI cleanups and documentation
  backend/twitch/components/cmds.py
  backend/twitch/core/_message_router_mixin.py
  docker-compose.yml
  frontend/src/components/OverlayUrlBlock.tsx
  frontend/src/pages/dashboard/SystemStatus.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(video-queue): fix dashboard add button and duplicate check
  backend/api/routers/video_queue_router.py
  backend/shared/migrations/versions/027_video_queue_add_dashboard_source.sql
  frontend/src/api/videoQueue.ts
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(backend): code review hardening — logging, validation, atomicity
  backend/api/.env.example
  backend/api/core/config.py
  backend/api/routers/analytics_router.py
  backend/api/routers/bots_router.py
  backend/api/routers/channels_router.py
  backend/api/routers/commands_router.py
  backend/api/routers/events_router.py
  backend/api/routers/game_queue_router.py
  backend/api/routers/message_triggers_router.py
  backend/api/routers/stats_router.py
  backend/api/routers/timers_router.py
  backend/api/routers/video_queue_router.py
  backend/shared/migrations/versions/027_video_queue_add_dashboard_source.sql
  backend/shared/repositories/video_queue.py
  backend/twitch/components/event.py
  backend/twitch/components/video_queue_manager.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(frontend): code review hardening — race conditions, perf, error handling
  frontend/src/api/videoQueue.ts
  frontend/src/components/AnalyticsChart.tsx
  frontend/src/components/TwitchPlayer.tsx
  frontend/src/hooks/useOptimisticToggle.ts
  frontend/src/pages/VideoQueueOverlay.module.css
  frontend/src/pages/VideoQueueOverlay.tsx
  frontend/src/pages/dashboard/Events.tsx
  frontend/src/pages/dashboard/SystemStatus.tsx
  frontend/src/pages/modules/GameQueue.tsx
  frontend/src/pages/modules/Timers.tsx
  frontend/src/pages/modules/VideoQueue.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

fix(frontend): fix sidebar stale data after page refresh
  frontend/src/contexts/AuthContext.tsx
  frontend/src/lib/apiCache.ts
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

fix(ai): prevent reasoning tokens from truncating chat responses
  backend/discord/cogs/ai.py
  backend/twitch/components/ai.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

Path conditions:
  npx --prefix frontend eslint --fix: any of: frontend/**/*.{js,jsx,ts,tsx}
  npx --prefix frontend prettier --write --ignore-unknown: ((any of: frontend/**/*.{js,jsx,ts,tsx}) or (any of: docs/**/*.md)) or (any of: **/*.{json,yml,yaml})
  uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff: any of: backend/**/*.py
  uv run --project backend ruff format --config backend/pyproject.toml: any of: backend/**/*.py
  npx --prefix frontend markdownlint --fix: any of: docs/**/*.md
