Repository yPinn/Niibot: changes, and which lint-staged commands are due for each by the changed paths.
All: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml, npx --prefix frontend markdownlint --fix

feat(discord/social-preview): add dismiss button and suppress original embeds
  backend/discord/cogs/social_preview/cog.py
  backend/discord/cogs/social_preview/constants.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(discord/social-preview): self-hosted InstaFix with carousel navigation and reel fix
  backend/discord/cogs/ai.py
  backend/discord/cogs/birthday/cog.py
  backend/discord/cogs/eat/cog.py
  backend/discord/cogs/giveaway/cog.py
  backend/discord/cogs/social_preview/_embeds.py
  backend/discord/cogs/social_preview/cog.py
  backend/discord/cogs/social_preview/constants.py
  backend/discord/cogs/tft.py
  backend/discord/core/logging.py
  backend/shared/repositories/command_config.py
  backend/tests/discord/conftest.py
  backend/tests/discord/test_social_preview.py
  docker-compose.yml
Due: npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(shared): use immutable replace for command config aliases
  backend/shared/repositories/command_config.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(discord/social-preview): fix video ordering and InstaFix reliability
  backend/discord/.env.example
  backend/discord/cogs/social_preview/_embeds.py
  backend/discord/cogs/social_preview/cog.py
  backend/discord/cogs/social_preview/constants.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

test(discord/social-preview): fix mock identity and remove real accounts
  backend/tests/discord/test_social_preview.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

chore(docker): pin uv, separate dev ports, tighten prod compose
  backend/.dockerignore
  backend/api/Dockerfile
  backend/discord/Dockerfile
  backend/pyproject.toml
  backend/twitch/Dockerfile
  docker-compose.dev.yml
  docker-compose.yml
Due: npx --prefix frontend prettier --write --ignore-unknown

docs: add fixtweet and instafix skill references
  .markdownlint.json
  .markdownlintignore
  docs/fixtweet.md
  docs/instafix.md
Due: npx --prefix frontend prettier --write --ignore-unknown, npx --prefix frontend markdownlint --fix

fix(social-preview): expand URL coverage for Instagram and Bilibili
  backend/discord/cogs/social_preview/constants.py
  backend/tests/discord/test_social_preview.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(social-preview): add Bilibili space embed
  backend/discord/cogs/social_preview/_embeds.py
  backend/discord/cogs/social_preview/cog.py
  backend/discord/cogs/social_preview/constants.py
  backend/tests/discord/test_social_preview.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(social-preview): normalize Instagram profile stat formatting
  backend/discord/cogs/social_preview/_embeds.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(tests): evict stale api/core before discord tests
  backend/tests/discord/conftest.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(social-preview): self-hosted InstaFix, Bilibili space embed, URL coverage (#14)
  .markdownlint.json
  .markdownlintignore
  backend/.dockerignore
  backend/api/Dockerfile
  backend/discord/.env.example
  backend/discord/Dockerfile
  backend/discord/cogs/ai.py
  backend/discord/cogs/birthday/cog.py
  backend/discord/cogs/eat/cog.py
  backend/discord/cogs/giveaway/cog.py
  backend/discord/cogs/social_preview/_embeds.py
  backend/discord/cogs/social_preview/cog.py
  backend/discord/cogs/social_preview/constants.py
  backend/discord/cogs/tft.py
  backend/discord/core/logging.py
  backend/pyproject.toml
  backend/shared/repositories/command_config.py
  backend/tests/discord/conftest.py
  backend/tests/discord/test_social_preview.py
  backend/twitch/Dockerfile
  docker-compose.dev.yml
  docker-compose.yml
  docs/fixtweet.md
  docs/instafix.md
Due: npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml, npx --prefix frontend markdownlint --fix

fix(docker): remove instafix healthcheck, update base images to slim-bookworm
  backend/api/Dockerfile
  backend/discord/Dockerfile
  backend/twitch/Dockerfile
  docker-compose.yml
Due: npx --prefix frontend prettier --write --ignore-unknown

ci: improve CI workflow and deploy pipeline
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
Due: npx --prefix frontend prettier --write --ignore-unknown

refactor(discord): migrate config to Pydantic BaseSettings
  backend/discord/bot.py
  backend/discord/cogs/ai.py
  backend/discord/cogs/social_preview/cog.py
  backend/discord/cogs/social_preview/constants.py
  backend/discord/core/__init__.py
  backend/discord/core/config.py
  backend/discord/core/health_server.py
  backend/discord/core/rate_limiter.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(twitch/config): add port field, clear model default, use get_settings in health server
  backend/twitch/core/config.py
  backend/twitch/core/health_server.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(api): strip deployment metadata from /status in production
  backend/api/app.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

chore(env): standardize env example files
  backend/api/.env.example
  backend/discord/.env.example
  backend/shared.env.example
  backend/twitch/.env.example
Due: none

docs: fix feature descriptions and add versioning guide
  README.md
  backend/README.md
  docs/instafix.md
  docs/versioning.md
Due: npx --prefix frontend prettier --write --ignore-unknown, npx --prefix frontend markdownlint --fix

chore(frontend): update package-lock.json
  frontend/package-lock.json
Due: npx --prefix frontend prettier --write --ignore-unknown

fix(discord/tests): revert module-level get_settings call in constants.py
  backend/discord/cogs/social_preview/constants.py
  backend/tests/discord/conftest.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(frontend/lint): fix sync setState in use-mobile, downgrade set-state-in-effect to warn
  frontend/eslint.config.js
  frontend/src/hooks/use-mobile.ts
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

fix(discord/social-preview): implement Threads OG handler instead of no-op
  backend/discord/cogs/social_preview/cog.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

refactor(config): consolidate Twitch credentials into shared.env
  backend/discord/.env.example
  backend/discord/core/config.py
  backend/shared.env.example
  backend/twitch/.env.example
  backend/twitch/components/video_queue.py
  backend/twitch/core/config.py
  backend/twitch/main.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(discord/social-preview): add Twitch clip and channel embed handlers
  backend/discord/cogs/social_preview/_embeds.py
  backend/discord/cogs/social_preview/cog.py
  backend/discord/cogs/social_preview/constants.py
  backend/tests/discord/test_social_preview.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(ai): catch all exceptions in model fallback loop
  backend/discord/cogs/ai.py
  backend/twitch/components/ai.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(frontend): suppress set-state-in-effect warnings on stable fetch effects
  frontend/src/pages/Settings.tsx
  frontend/src/pages/VideoQueueOverlay.tsx
  frontend/src/pages/dashboard/Events.tsx
  frontend/src/pages/dashboard/commands/index.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

refactor(shared): add shared base classes, utilities, and pool heartbeat
  backend/shared/config_base.py
  backend/shared/database.py
  backend/shared/health_server_base.py
  backend/shared/logging_setup.py
  backend/shared/retry_utils.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(backend): security, reliability, and correctness bug fixes
  backend/api/routers/donation_router.py
  backend/api/routers/message_triggers_router.py
  backend/api/routers/timers_router.py
  backend/api/routers/video_queue_router.py
  backend/api/services/message_trigger_service.py
  backend/discord/cogs/admin.py
  backend/discord/cogs/birthday/cog.py
  backend/discord/cogs/events.py
  backend/discord/cogs/games.py
  backend/discord/cogs/giveaway/_views.py
  backend/discord/cogs/giveaway/cog.py
  backend/twitch/components/command_manager.py
  backend/twitch/core/_notify_mixin.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

refactor(backend): rename internal modules and consolidate duplicate logic
  backend/discord/cogs/birthday/_views.py
  backend/discord/cogs/eat/_views.py
  backend/discord/cogs/eat/cog.py
  backend/discord/cogs/fortune.py
  backend/discord/cogs/tarot.py
  backend/twitch/components/timer_manager.py
  backend/twitch/core/_router_mixin.py
  backend/twitch/core/bot.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(api): parallel DB queries, video_queue TTL cache, timer interval cap
  backend/tests/api/test_triggers_router.py
  frontend/src/pages/modules/Timers.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

chore: bump version to 1.1.0 and update docs
  .env.example
  CLAUDE.md
  README.md
  backend/README.md
  backend/api/.env.example
  backend/discord/.env.example
  backend/pyproject.toml
  backend/shared.env.example
  frontend/package.json
  package.json
Due: npx --prefix frontend prettier --write --ignore-unknown

chore(git): add html and webmanifest to eol=lf normalization rules
  .gitattributes
Due: none

fix(ci): fetch tags on deploy so git describe resolves v1.1.0
  .github/workflows/deploy.yml
Due: npx --prefix frontend prettier --write --ignore-unknown

fix(api): always return version/env/started_at in /status response
  backend/api/app.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(social_preview): add Bilibili Live room preview
  backend/discord/cogs/social_preview/_embeds.py
  backend/discord/cogs/social_preview/cog.py
  backend/discord/cogs/social_preview/constants.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

test(social_preview): add Bilibili Live preview tests
  backend/tests/discord/test_social_preview.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

chore(deps): sync uv.lock niibot-backend version to 1.1.0
  backend/uv.lock
Due: none

feat(social_preview): add Bilibili Live room preview (#15)
  backend/discord/cogs/social_preview/_embeds.py
  backend/discord/cogs/social_preview/cog.py
  backend/discord/cogs/social_preview/constants.py
  backend/tests/discord/test_social_preview.py
  backend/uv.lock
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

Path conditions:
  npx --prefix frontend eslint --fix: any of: frontend/**/*.{js,jsx,ts,tsx}
  npx --prefix frontend prettier --write --ignore-unknown: ((any of: frontend/**/*.{js,jsx,ts,tsx}) or (any of: docs/**/*.md)) or (any of: **/*.{json,yml,yaml})
  uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff: any of: backend/**/*.py
  uv run --project backend ruff format --config backend/pyproject.toml: any of: backend/**/*.py
  npx --prefix frontend markdownlint --fix: any of: docs/**/*.md
