Repository yPinn/Niibot: changes, and which lint-staged commands are due for each by the changed paths.
All: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml, npx --prefix frontend markdownlint --fix

fix(scripts): share one slug-to-service map in deploy
  .github/workflows/_deploy.yml
  .github/workflows/deploy-staging.yml
  backend/scripts/nb.py
  docker-compose.yml
  scripts/README.md
Due: npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

test(api): cover the DB reads apply() does unguarded
  backend/tests/api/test_command_import_router.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(api): stop a reserved log key 500ing a good import
  backend/api/routers/command_import_router.py
  backend/tests/api/test_command_import_router.py
  backend/tests/shared/test_logging_extra_keys.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(matcher): sync known-bot IDs from shared list
  backend/scripts/twitch_backfill_matcher.py
  backend/shared/repositories/analytics/_overlap_mixin.py
  backend/tests/shared/test_analytics_repo.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(matcher): switchable 7/30/90-day overlap window
  backend/api/routers/matcher_router.py
  backend/api/services/analytics_service.py
  backend/shared/migrations/versions/118_add_window_days_to_channel_overlap_viewers.sql
  backend/shared/repositories/analytics/_overlap_mixin.py
  backend/tests/shared/test_analytics_repo.py
  frontend/src/api/analytics.ts
  frontend/src/lib/apiCache.test.ts
  frontend/src/lib/apiCache.ts
  frontend/src/pages/analytics/Matcher.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(matcher): track collab conversions past the raid
  backend/api/routers/matcher_router.py
  backend/api/services/analytics_service.py
  backend/shared/migrations/versions/119_add_matcher_collab_tables.sql
  backend/shared/repositories/analytics/__init__.py
  backend/shared/repositories/analytics/_collab_mixin.py
  backend/tests/shared/test_analytics_repo.py
  frontend/src/api/analytics.ts
  frontend/src/pages/analytics/Matcher.tsx
  frontend/src/pages/analytics/matcher/CollabLog.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(matcher): fix header layout, cap collab log
  frontend/src/components/layout/PageHeader.tsx
  frontend/src/pages/analytics/matcher/CollabLog.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

refactor(ai): compact AI Assistant layout
  frontend/src/pages/modules/AI.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

feat(video-queue): add Instagram Reel platform support
  backend/api/routers/video_queue_router.py
  backend/discord/.env.example
  backend/discord/core/config.py
  backend/shared.env.example
  backend/shared/config_base.py
  backend/shared/instafix_client.py
  backend/shared/migrations/versions/121_video_queue_instagram_reel.sql
  backend/shared/models/video_queue.py
  backend/shared/video_sources.py
  backend/tests/api/test_video_queue_router.py
  backend/tests/shared/test_instafix_client.py
  backend/tests/shared/test_video_sources_registry.py
  backend/twitch/components/channel_points.py
  backend/twitch/components/video_queue.py
  docker-compose.yml
  docs/architecture/video-queue-platforms.md
  docs/guides/environment.md
  docs/integrations/instafix.md
  env.manifest.json
  env.registry.toml
  frontend/public/_headers
  frontend/src/api/config.ts
  frontend/src/api/videoQueue.ts
  frontend/src/pages/VideoQueueOverlay.tsx
  frontend/src/pages/modules/videoQueue/utils.ts
  frontend/src/pages/videoQueueOverlay/players/index.ts
  frontend/src/pages/videoQueueOverlay/players/instagramReel.ts
  frontend/src/pages/videoQueueOverlay/players/shared.ts
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml, npx --prefix frontend markdownlint --fix

feat(video-queue): fetch Instagram Reel duration at enqueue
  backend/shared/video_sources.py
  backend/tests/shared/test_video_sources_registry.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(vip): cast now to timestamptz in stale query
  backend/shared/repositories/vip.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(video-queue): creator_id blocklist, Reel orientation fix
  backend/api/routers/video_queue_router.py
  backend/shared/instafix_client.py
  backend/shared/migrations/versions/122_video_queue_creator_id.sql
  backend/shared/models/video_queue.py
  backend/shared/repositories/video_queue.py
  backend/shared/video_sources.py
  backend/tests/api/test_video_queue_router.py
  backend/tests/shared/test_instafix_client.py
  backend/tests/shared/test_video_queue_repo.py
  backend/tests/shared/test_video_sources_registry.py
  backend/twitch/components/channel_points.py
  backend/twitch/components/video_queue.py
  docs/architecture/video-queue-platforms.md
Due: npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml, npx --prefix frontend markdownlint --fix

feat(video-queue): block-by-creator menu, platform text
  frontend/src/api/videoQueue.ts
  frontend/src/pages/modules/videoQueue/BlocklistSection.tsx
  frontend/src/pages/modules/videoQueue/HistoryTable.test.tsx
  frontend/src/pages/modules/videoQueue/HistoryTable.tsx
  frontend/src/pages/modules/videoQueue/QueueCard.tsx
  frontend/src/pages/modules/videoQueue/QueueTable.tsx
  frontend/src/pages/modules/videoQueue/index.tsx
  frontend/src/pages/videoQueueOverlay/players/instagramReel.ts
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

feat(ai): calibrate persona naturalness
  backend/shared/repositories/ai_settings.py
  backend/tests/shared/test_ai_settings_prompt.py
  docs/architecture/ai-assistant-harness.md
  frontend/src/pages/modules/AI.test.tsx
  frontend/src/pages/modules/AI.tsx
  frontend/src/pages/modules/ai/constants.test.ts
  frontend/src/pages/modules/ai/constants.ts
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml, npx --prefix frontend markdownlint --fix

feat(ai): refine assistant setting defaults
  backend/shared/migrations/versions/123_ai_settings_default_preferences.sql
  backend/shared/repositories/ai_settings.py
  backend/tests/api/test_ai_settings_router.py
  backend/tests/shared/test_ai_settings_default_migration.py
  backend/tests/shared/test_ai_settings_prompt.py
  backend/tests/shared/test_ai_settings_repo.py
  backend/tests/twitch/test_ai.py
  backend/twitch/components/ai.py
  docs/architecture/ai-assistant-harness.md
  frontend/src/api/aiSettings.ts
  frontend/src/pages/modules/AI.test.tsx
  frontend/src/pages/modules/AI.tsx
  frontend/src/pages/modules/ai/constants.test.ts
  frontend/src/pages/modules/ai/constants.ts
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml, npx --prefix frontend markdownlint --fix

docs(ai): plan roleplay character sets
  docs/README.md
  docs/architecture/roleplay-character-system-v1.md
  docs/examples/roleplay/rem-character-set.md
Due: npx --prefix frontend prettier --write --ignore-unknown, npx --prefix frontend markdownlint --fix

style(frontend): align tokens, reuse, and RWD across dashboard
  frontend/src/assets/fontawesome/css/fontawesome.subset.css
  frontend/src/components/AnalyticsChart.tsx
  frontend/src/components/crosshairs/CrosshairCardSkeleton.tsx
  frontend/src/components/ui/card.tsx
  frontend/src/components/ui/index.ts
  frontend/src/lib/templateParts.test.ts
  frontend/src/lib/templateParts.ts
  frontend/src/pages/admin/Modules.tsx
  frontend/src/pages/admin/Monitor.tsx
  frontend/src/pages/admin/components/ActivationCard.tsx
  frontend/src/pages/admin/components/BotStatusPanel.tsx
  frontend/src/pages/admin/index.tsx
  frontend/src/pages/admin/monitor/LogRecordRow.tsx
  frontend/src/pages/analytics/Matcher.tsx
  frontend/src/pages/crosshairs/index.tsx
  frontend/src/pages/dashboard/Overview.tsx
  frontend/src/pages/dashboard/channelPoints/CheckinLeaderboard.tsx
  frontend/src/pages/dashboard/channelPoints/VipSettingsSheet.tsx
  frontend/src/pages/modules/AI.tsx
  frontend/src/pages/modules/CommunityOverlaySettings.tsx
  frontend/src/pages/modules/communityOverlay/CheckinBlockCard.tsx
  frontend/src/pages/modules/communityOverlay/TarotBlockCard.tsx
  frontend/src/pages/modules/crosshairs/CrosshairAdjustSheet.tsx
  frontend/src/pages/modules/crosshairs/ShootingRange.tsx
  frontend/src/pages/modules/crosshairs/index.tsx
  frontend/src/pages/modules/videoQueue/NowPlayingCard.tsx
  frontend/src/pages/modules/videoQueue/index.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

feat(channel-points): unify settings UX and template preview
  frontend/src/components/TemplatePartsPreview.tsx
  frontend/src/lib/templateParts.test.ts
  frontend/src/lib/templateParts.ts
  frontend/src/pages/dashboard/channelPoints/CheckinSettingsSheet.tsx
  frontend/src/pages/dashboard/channelPoints/FirstSettingsSheet.tsx
  frontend/src/pages/dashboard/channelPoints/index.test.tsx
  frontend/src/pages/dashboard/events/TemplatePreview.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

feat(onboarding): lead pre-auth copy with Twitch chat setup
  frontend/src/components/login-form.test.tsx
  frontend/src/components/login-form.tsx
  frontend/src/pages/Landing.test.tsx
  frontend/src/pages/Landing.tsx
  frontend/src/pages/Login.tsx
  frontend/src/pages/activate/index.test.tsx
  frontend/src/pages/activate/index.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

style(frontend): fix proportion, alignment, and rhythm across pages
  frontend/src/assets/fontawesome/css/fontawesome.subset.css
  frontend/src/pages/admin/Modules.tsx
  frontend/src/pages/admin/Monitor.tsx
  frontend/src/pages/analytics/Insights.tsx
  frontend/src/pages/analytics/Matcher.tsx
  frontend/src/pages/discord/Dashboard.tsx
  frontend/src/pages/modules/AI.tsx
  frontend/src/pages/modules/CommunityOverlaySettings.tsx
  frontend/src/pages/modules/GameQueue.tsx
  frontend/src/pages/modules/videoQueue/OverlayCard.tsx
  frontend/src/pages/modules/videoQueue/RulesCard.tsx
  frontend/src/pages/modules/videoQueue/index.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

refactor(community-overlay): extract shared block info grid
  frontend/src/pages/modules/communityOverlay/BlockInfoGrid.tsx
  frontend/src/pages/modules/communityOverlay/CheckinBlockCard.tsx
  frontend/src/pages/modules/communityOverlay/TarotBlockCard.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

refactor(community-overlay): regroup theme editor into 3 categories
  frontend/src/pages/modules/communityOverlay/ThemeEditor.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

feat(matcher): remove WIP lock overlay
  frontend/src/pages/analytics/Matcher.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

fix(video-queue): detect Reel orientation from the mp4, not OG tags
  backend/shared/instafix_client.py
  backend/shared/video_sources.py
  backend/tests/shared/test_instafix_client.py
  docs/architecture/video-queue-platforms.md
Due: npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml, npx --prefix frontend markdownlint --fix

chore: bump backend version to v1.16
  backend/pyproject.toml
  backend/uv.lock
Due: none

refactor(matcher): reframe view, fix window bugs
  backend/api/routers/matcher_router.py
  backend/shared/repositories/analytics/_overlap_mixin.py
  backend/tests/shared/test_analytics_repo.py
  frontend/src/api/analytics.ts
  frontend/src/lib/apiCache.test.ts
  frontend/src/lib/apiCache.ts
  frontend/src/pages/analytics/Matcher.tsx
  frontend/src/pages/analytics/matcher/ChannelCard.tsx
  frontend/src/pages/analytics/matcher/HourHeatStrip.tsx
  frontend/src/pages/analytics/matcher/ViewerTable.tsx
  frontend/src/pages/analytics/matcher/types.ts
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

refactor(matcher): reframe view, fix window bugs (#226)
  backend/api/routers/matcher_router.py
  backend/shared/repositories/analytics/_overlap_mixin.py
  backend/tests/shared/test_analytics_repo.py
  frontend/src/api/analytics.ts
  frontend/src/lib/apiCache.test.ts
  frontend/src/lib/apiCache.ts
  frontend/src/pages/analytics/Matcher.tsx
  frontend/src/pages/analytics/matcher/ChannelCard.tsx
  frontend/src/pages/analytics/matcher/HourHeatStrip.tsx
  frontend/src/pages/analytics/matcher/ViewerTable.tsx
  frontend/src/pages/analytics/matcher/types.ts
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

refactor(matcher): extract detail header, dedupe badge helpers
  frontend/src/pages/analytics/Matcher.tsx
  frontend/src/pages/analytics/matcher/ChannelCard.tsx
  frontend/src/pages/analytics/matcher/ChannelDetailHeader.tsx
  frontend/src/pages/analytics/matcher/badges.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

fix(ui): add compact LockOverlay variant
  frontend/src/components/AffiliateLockOverlay.tsx
  frontend/src/components/LockOverlay.tsx
  frontend/src/pages/analytics/insights/PlusProgramCard.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

fix(ui): register z-raised/z-sticky/z-modal utilities
  frontend/src/index.css
Due: none

fix(activate): stop Discord button text overflow
  frontend/src/pages/activate/index.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

fix(twitch): stop token refresh race, persist reauth cooldown
  backend/shared/migrations/versions/124_add_token_reauth_notified_at.sql
  backend/shared/models/channel.py
  backend/shared/repositories/channel.py
  backend/tests/shared/test_channel_repo.py
  backend/tests/twitch/test_bot_token_events.py
  backend/twitch/core/bot.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(twitch): persist reauth flag from mod-status check
  backend/tests/twitch/test_bot_event_message.py
  backend/tests/twitch/test_notify_mixin.py
  backend/twitch/core/bot.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(twitch): add channel_bot_settings table
  backend/shared/migrations/versions/125_add_channel_bot_settings.sql
Due: none

feat(twitch): add bot account sender resolver
  backend/tests/twitch/test_bot_resolver.py
  backend/twitch/core/bot_resolver.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

refactor(twitch): resolve sender in bot core
  backend/tests/twitch/test_bot_event_message.py
  backend/tests/twitch/test_bot_token_events.py
  backend/tests/twitch/test_message_router_redirect.py
  backend/tests/twitch/test_notify_mixin.py
  backend/tests/twitch/test_session_service.py
  backend/twitch/core/_message_router_mixin.py
  backend/twitch/core/_notify_mixin.py
  backend/twitch/core/bot.py
  backend/twitch/core/component.py
  backend/twitch/core/session_service.py
  backend/twitch/utils/reauth.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(twitch): resolve component sender per channel
  backend/tests/twitch/test_channel_points_first.py
  backend/tests/twitch/test_events.py
  backend/tests/twitch/test_viewer_stats.py
  backend/twitch/components/ai.py
  backend/twitch/components/channel_points.py
  backend/twitch/components/events.py
  backend/twitch/components/games.py
  backend/twitch/components/general_commands.py
  backend/twitch/components/timer_manager.py
  backend/twitch/components/viewer_stats.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(twitch): resolve bot emotes per channel
  backend/api/routers/admin_router.py
  backend/api/services/_twitch_api/_channel.py
  backend/api/services/emote_sync.py
  backend/tests/api/test_admin_router.py
  backend/tests/api/test_emote_sync.py
  backend/tests/api/test_twitch_api.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(api): add shared channel emotes endpoint
  backend/api/routers/ai_settings_router.py
  backend/api/routers/channels_router.py
  backend/tests/api/test_ai_settings_router.py
  backend/tests/api/test_channels_router.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

Path conditions:
  npx --prefix frontend eslint --fix: any of: frontend/**/*.{js,jsx,ts,tsx}
  npx --prefix frontend prettier --write --ignore-unknown: ((any of: frontend/**/*.{js,jsx,ts,tsx}) or (any of: docs/**/*.md)) or (any of: **/*.{json,yml,yaml})
  uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff: any of: backend/**/*.py
  uv run --project backend ruff format --config backend/pyproject.toml: any of: backend/**/*.py
  npx --prefix frontend markdownlint --fix: any of: docs/**/*.md
