Repository yPinn/Niibot: changes, and which lint-staged commands are due for each by the changed paths.
All: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml, npx --prefix frontend markdownlint --fix

.lintstagedrc:

{
  "frontend/**/*.{js,jsx,ts,tsx}": [
    "npx --prefix frontend eslint --fix",
    "npx --prefix frontend prettier --write --ignore-unknown"
  ],
  "backend/**/*.py": [
    "uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff",
    "uv run --project backend ruff format --config backend/pyproject.toml"
  ],
  "docs/**/*.md": [
    "npx --prefix frontend markdownlint --fix",
    "npx --prefix frontend prettier --write --ignore-unknown"
  ],
  "**/*.{json,yml,yaml}": [
    "npx --prefix frontend prettier --write --ignore-unknown"
  ]
}

fix(event-config): seed events with per-type default enabled state
  backend/shared/builtin_commands.py
  backend/shared/repositories/event_config.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(twitch): escape Rich markup and use %-style logs
  backend/shared/logging_setup.py
  backend/twitch/components/channel_points.py
  backend/twitch/core/bot.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

test: add backend API and repository test suites
  backend/tests/api/test_admin_router.py
  backend/tests/api/test_ai_settings_router.py
  backend/tests/api/test_discord_webhook_router.py
  backend/tests/api/test_donation_router.py
  backend/tests/api/test_releases_router.py
  backend/tests/api/test_video_queue_router.py
  backend/tests/shared/test_analytics_repo.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

refactor(frontend): adopt design tokens and add chat role CSS vars
  frontend/src/components/ModSetupDialog.tsx
  frontend/src/components/WipLockOverlay.tsx
  frontend/src/index.css
  frontend/src/pages/Landing.tsx
  frontend/src/pages/Privacy.tsx
  frontend/src/pages/analytics/Matcher.tsx
  frontend/src/pages/analytics/matcher/ChannelCard.tsx
  frontend/src/pages/dashboard/Timers.tsx
  frontend/src/pages/discord/Dashboard.tsx
  frontend/src/pages/docs/GetStarted.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

refactor(overview): remove session-storage mod-setup guard
  frontend/src/pages/dashboard/Overview.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

docs(frontend): update README to current state
  frontend/README.md
Due: none

refactor(ui): replace raw text sizes with design tokens
  frontend/src/pages/DonatePage.tsx
  frontend/src/pages/Landing.tsx
  frontend/src/pages/Privacy.tsx
  frontend/src/pages/Terms.tsx
  frontend/src/pages/analytics/insights/ViewerList.tsx
  frontend/src/pages/crosshairs/index.tsx
  frontend/src/pages/docs/GetStarted.tsx
  frontend/src/pages/modules/AI.tsx
  frontend/src/pages/modules/GameQueue.tsx
  frontend/src/pages/modules/VideoQueue.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

refactor(ui): adopt Tooltip, Skeleton, and PageHeader
  frontend/src/components/OverlayUrlBlock.tsx
  frontend/src/pages/analytics/Insights.tsx
  frontend/src/pages/analytics/Matcher.tsx
  frontend/src/pages/docs/Releases.tsx
  frontend/src/pages/modules/ChatOverlay.tsx
  frontend/src/pages/modules/crosshairs/CrosshairAdjustSheet.tsx
  frontend/src/pages/modules/crosshairs/CrosshairCardBase.tsx
  frontend/src/pages/modules/crosshairs/index.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

chore(seeds): reorganize seed files and expand dev scripts
  backend/scripts/dev/db_clear.py
  backend/scripts/dev/db_seed.py
  backend/shared/migrations/seeds/seed_insights_test.sql
  backend/shared/migrations/seeds/seed_matcher_test_edge_cases.sql
  backend/shared/migrations/seeds/seed_matcher_test_real.sql
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(crypto): encrypt payment credentials at rest
  backend/api/.env.example
  backend/api/core/config.py
  backend/api/routers/donation_router.py
  backend/api/routers/payment_config_router.py
  backend/shared/crypto.py
  backend/shared/models/donation.py
  backend/shared/repositories/donation.py
  backend/tests/api/test_payment_config_router.py
  backend/tests/shared/test_crypto.py
  backend/tests/shared/test_donation_repo.py
  frontend/src/pages/Settings.tsx
  secrets.env.example
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(insights): add session chart, top games, and loyalty tiers
  backend/api/routers/analytics_router.py
  backend/shared/repositories/analytics/_overlap_mixin.py
  backend/shared/repositories/analytics/_query_mixin.py
  backend/tests/shared/test_analytics_repo.py
  frontend/src/api/analytics.ts
  frontend/src/pages/analytics/Insights.tsx
  frontend/src/pages/analytics/insights/LoyaltyDonut.tsx
  frontend/src/pages/analytics/insights/SessionWatchChart.tsx
  frontend/src/pages/analytics/insights/TopGamesChart.tsx
  frontend/src/pages/analytics/insights/utils.ts
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(matcher): add top games chart and channel view count
  backend/api/routers/matcher_router.py
  frontend/src/pages/analytics/Matcher.tsx
  frontend/src/pages/analytics/matcher/ChannelCard.tsx
  frontend/src/pages/analytics/matcher/ViewerTable.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(support): add support/tip page with calendar UI deps
  frontend/.env.example
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/nav-secondary.tsx
  frontend/src/components/ui/calendar.tsx
  frontend/src/components/ui/index.ts
  frontend/src/config/navigation.ts
  frontend/src/pages/Support.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

feat(releases): add calendar heat map; fix AI module layout
  frontend/src/pages/docs/Releases.tsx
  frontend/src/pages/modules/AI.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

fix(twitch): use channel names in logs; fix NaN latency
  backend/discord/core/health_server.py
  backend/tests/discord/test_health_server.py
  backend/tests/twitch/test_bot_event_message.py
  backend/tests/twitch/test_bot_token_events.py
  backend/tests/twitch/test_notify_mixin.py
  backend/twitch/core/_session_mixin.py
  backend/twitch/core/bot.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(support): add WIP lock overlay in production
  frontend/src/pages/Support.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

fix(ui): align token usage and RWD across new pages
  frontend/src/pages/Support.tsx
  frontend/src/pages/analytics/Matcher.tsx
  frontend/src/pages/analytics/insights/SessionWatchChart.tsx
  frontend/src/pages/analytics/matcher/ViewerTable.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

feat(discord): add custom activity and description settings
  backend/discord/.env.example
  backend/discord/bot.py
  backend/discord/core/config.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(twitch): replace !roll with shared-chamber Russian roulette
  backend/shared/builtin_commands.py
  backend/tests/twitch/test_games_component.py
  backend/twitch/components/games.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(twitch): auto-sync emotes on bot mod grant/revoke
  backend/twitch/components/ai.py
  backend/twitch/components/events.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(api): show follower emotes when bot token is unavailable
  backend/api/routers/ai_settings_router.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(scripts): add tw_emotes debug script for bot emote access
  backend/scripts/tw_emotes.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(twitch): roulette broadcaster exemption and timeout scope
  backend/shared/twitch_scopes.py
  backend/tests/twitch/test_games_component.py
  backend/twitch/components/games.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(crosshairs): responsive card layout with mobile name strip
  frontend/src/pages/admin/index.tsx
  frontend/src/pages/analytics/Insights.tsx
  frontend/src/pages/analytics/insights/LoyaltyDonut.tsx
  frontend/src/pages/crosshairs/index.tsx
  frontend/src/pages/modules/crosshairs/CrosshairCardBase.tsx
  frontend/src/pages/modules/crosshairs/index.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

feat(admin): show paused channels in monitored channels panel
  backend/api/routers/admin_router.py
  backend/tests/api/test_admin_router.py
  frontend/src/api/admin.ts
  frontend/src/pages/admin/index.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(api): gate feature endpoints by activation
  backend/api/app.py
  backend/api/core/config.py
  backend/api/core/dependencies.py
  backend/api/routers/commands_router.py
  backend/api/routers/crosshairs_router.py
  backend/api/routers/game_queue_router.py
  backend/api/routers/video_queue_router.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

test(api): override require_activated in test clients
  backend/tests/api/test_admin_router.py
  backend/tests/api/test_commands_router.py
  backend/tests/api/test_crosshairs_router.py
  backend/tests/api/test_game_queue_router.py
  backend/tests/api/test_video_queue_router.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(frontend): add shared format, sanitize, and fetch utilities
  frontend/package-lock.json
  frontend/package.json
  frontend/src/hooks/useAbortableFetch.ts
  frontend/src/lib/format.ts
  frontend/src/lib/sanitize.ts
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

refactor(admin): use shared libs and fix race conditions
  frontend/src/pages/admin/Monitor.tsx
  frontend/src/pages/admin/index.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

fix(frontend): security hardening and minor fixes
  frontend/src/components/OverlayUrlBlock.tsx
  frontend/src/components/ui/chart.tsx
  frontend/src/contexts/AuthContext.tsx
  frontend/src/contexts/ServiceStatusContext.tsx
  frontend/src/pages/DonatePage.tsx
  frontend/src/pages/VideoQueueOverlay.tsx
  frontend/src/pages/modules/ChatOverlay.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

refactor(infra): rename containers from niibot-* to nb-*
  backend/api/app.py
  backend/api/routers/admin_router.py
  backend/discord/core/health_server.py
  backend/scripts/db_backup.sh
  backend/shared/health_server_base.py
  backend/tests/api/test_admin_router.py
  backend/twitch/core/health_server.py
  docs/instafix.md
  frontend/src/pages/admin/Monitor.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml, npx --prefix frontend markdownlint --fix

refactor(docker): split compose into base + per-environment overlays
  docker-compose.prod.yml
  docker-compose.staging.yml
  docker-compose.yml
  package.json
Due: npx --prefix frontend prettier --write --ignore-unknown

feat(ci): reorganize secrets/variables layout under .github/
  .github/push.sh
  .github/secrets/base.env.example
  .github/secrets/prod.env.example
  .github/secrets/staging.env.example
  .github/status.sh
  .github/variables/base.env.example
  .github/variables/prod.env.example
  .github/variables/staging.env.example
  .gitignore
  scripts/push-secrets.sh
Due: none

feat(ci): reusable prod/staging deploy workflows
  .github/workflows/_deploy.yml
  .github/workflows/deploy-prod.yml
  .github/workflows/deploy-staging.yml
Due: npx --prefix frontend prettier --write --ignore-unknown

docs: update workflow and deploy docs for new structure
  CLAUDE.md
  README.md
  docs/versioning.md
Due: npx --prefix frontend prettier --write --ignore-unknown, npx --prefix frontend markdownlint --fix

feat(ci): add pull.sh and fix deploy concurrency
  .github/pull.sh
  .github/push.sh
  .github/secrets/base.env.example
  .github/secrets/prod.env.example
  .github/secrets/staging.env.example
  .github/status.sh
  .github/variables/base.env.example
  .github/variables/prod.env.example
  .github/variables/staging.env.example
  .github/workflows/_deploy.yml
  README.md
Due: npx --prefix frontend prettier --write --ignore-unknown

fix(ci): encoding and show_secrets simplification
  .github/pull.sh
  .github/push.sh
Due: none

feat: gate notifications to production only
  .github/workflows/_deploy.yml
  backend/api/core/logging.py
  backend/discord/core/logging.py
  backend/scrapling/.env.example
  backend/scrapling/main.py
  backend/twitch/core/_notify_mixin.py
  backend/twitch/core/logging.py
  backend/twitch/utils/mod_guard.py
  backend/twitch/utils/reauth.py
Due: npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

test: update notification tests for prod-only gate
  backend/tests/twitch/test_mod_guard.py
  backend/tests/twitch/test_reauth.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

chore: unify env example format
  .env.example
  backend/api/.env.example
  backend/discord/.env.example
  backend/scrapling/.env.example
  backend/shared.env.example
  backend/twitch/.env.example
  frontend/.env.example
Due: none
