Repository yPinn/Niibot: changes, and which lint-staged commands are due for each by the changed paths.
All: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml, npx --prefix frontend markdownlint --fix

fix(titles): translate page document titles to English
  frontend/src/pages/DonatePage.tsx
  frontend/src/pages/Privacy.tsx
  frontend/src/pages/Terms.tsx
  frontend/src/pages/activate/index.tsx
  frontend/src/pages/admin/ActivationCodes.tsx
  frontend/src/pages/discord/Dashboard.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

fix(crosshairs): align card footer copy count with header button
  frontend/src/pages/modules/crosshairs/CrosshairCardBase.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

chore(ui): add Slider and Sheet overlayClassName
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/ui/index.ts
  frontend/src/components/ui/sheet.tsx
  frontend/src/components/ui/slider.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

fix(crosshairs): fix outline stroke scale in preview
  frontend/src/pages/modules/crosshairs/CrosshairPreview.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

feat(crosshairs): expand decoder with sniper, multipliers, encoder
  frontend/src/pages/modules/crosshairs/valorantDecode.ts
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

feat(crosshairs): add adjust sheet and shooting range tab
  frontend/public/audio/phantom_sfx.mp3
  frontend/public/images/valorant_map.jpg
  frontend/src/pages/modules/crosshairs/CrosshairAdjustSheet.tsx
  frontend/src/pages/modules/crosshairs/ShootingRange.tsx
  frontend/src/pages/modules/crosshairs/index.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

fix(headers): remove indentation from CSP header rules
  frontend/public/_headers
Due: none

refactor(crosshairs): sort defaults and utils
  frontend/src/pages/crosshairs/index.tsx
  frontend/src/pages/modules/crosshairs/CrosshairCardBase.tsx
  frontend/src/pages/modules/crosshairs/SortDropdown.tsx
  frontend/src/pages/modules/crosshairs/index.tsx
  frontend/src/pages/modules/crosshairs/utils.ts
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

feat(twitch): add !xhc crosshair bot commands
  backend/shared/repositories/crosshair.py
  backend/twitch/components/crosshair_commands.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

refactor(commands): rename !hi to !ping, categorize cooldowns
  backend/api/services/command_config_service.py
  backend/shared/builtin_commands.py
  backend/shared/repositories/command_config.py
  backend/twitch/components/general_commands.py
  backend/twitch/core/guards.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

test(commands): update tests for hi->ping rename
  backend/tests/shared/test_command_config_repo.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(twitch): fix !crosshairs and !xhc name lookup
  backend/twitch/components/crosshair_commands.py
  backend/twitch/components/general_commands.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(crosshairs): fuzzy name search, show full code
  backend/shared/repositories/crosshair.py
  backend/twitch/components/crosshair_commands.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(crosshairs): unify usage strings for !xhc a and !xhc e
  backend/twitch/components/crosshair_commands.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(twitch): fix false mod-guard notifications on restart
  backend/twitch/core/bot.py
  backend/twitch/core/subscriptions.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(twitch): suppress redemption mod-guard during pending check
  backend/twitch/components/channel_points.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

chore(twitch): add debug logging for mod-guard pending state
  backend/twitch/components/channel_points.py
  backend/twitch/core/bot.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(admin): docker service log viewer page
  backend/api/routers/admin_router.py
  docker-compose.yml
  frontend/src/App.tsx
  frontend/src/api/admin.ts
  frontend/src/api/config.ts
  frontend/src/config/navigation.ts
  frontend/src/pages/admin/Logs.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(twitch): add missing _mod_check_pending to bot test fixture
  backend/tests/twitch/test_bot_event_message.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(admin/logs): strip ANSI escape codes before rendering log lines
  frontend/src/pages/admin/Logs.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

fix(admin/logs): align terminal colours to design token conventions
  frontend/src/pages/admin/Logs.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

chore(db): add code_plain column to activation_codes
  backend/shared/migrations/versions/059_activation_codes_add_plain.sql
Due: none

feat(activation): expose plain-text OTP via API
  backend/api/routers/admin_router.py
  backend/api/routers/auth_router.py
  backend/shared/repositories/activation_code.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(frontend/activation): show pending OTP on activate page and admin panel
  frontend/src/api/admin.ts
  frontend/src/api/config.ts
  frontend/src/api/user.ts
  frontend/src/pages/activate/index.tsx
  frontend/src/pages/admin/ActivationCodes.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

fix(twitch): add _mod_check_pending to bot test fixtures
  backend/tests/twitch/test_bot_token_events.py
  backend/tests/twitch/test_notify_mixin.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(admin): activation requests panel + logs refactor
  frontend/src/pages/admin/ActivationCodes.tsx
  frontend/src/pages/admin/Logs.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

feat(db): add token_type to tokens table
  backend/shared/migrations/versions/060_tokens_add_type.sql
  backend/shared/models/channel.py
  backend/shared/repositories/channel.py
  backend/tests/shared/test_channel_repo.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(twitch): route tokens by type (bot vs broadcaster)
  backend/scripts/tw_oauth.py
  backend/twitch/core/bot.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(admin): ansi log rendering and activation panel update
  frontend/package-lock.json
  frontend/package.json
  frontend/src/config/navigation.ts
  frontend/src/pages/admin/ActivationCodes.tsx
  frontend/src/pages/admin/Logs.tsx
  frontend/src/pages/admin/index.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

fix(twitch): standardize log format with [channel] prefix
  backend/twitch/components/ai.py
  backend/twitch/components/channel_points.py
  backend/twitch/components/command_manager.py
  backend/twitch/components/crosshair_commands.py
  backend/twitch/components/general_commands.py
  backend/twitch/components/timer_manager.py
  backend/twitch/core/_channel_mixin.py
  backend/twitch/core/_notify_mixin.py
  backend/twitch/core/_session_mixin.py
  backend/twitch/core/bot.py
  backend/twitch/core/pg_listener.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(tests): update token_type assertions
  backend/tests/shared/test_channel_repo.py
  backend/tests/twitch/test_bot_token_events.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(admin): replace Logs+SystemStatus with Monitor page
  frontend/public/_headers
  frontend/src/App.tsx
  frontend/src/components/ProtectedRoute.test.tsx
  frontend/src/components/ProtectedRoute.tsx
  frontend/src/config/navigation.ts
  frontend/src/declarations.d.ts
  frontend/src/pages/admin/Logs.tsx
  frontend/src/pages/admin/Monitor.tsx
  frontend/src/pages/admin/SystemStatus.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

fix(csp): delegate framing to X-Frame-Options on global rule
  frontend/public/_headers
Due: none

feat(auth): auto-create activation request on new user sign-up
  backend/api/routers/auth_router.py
  backend/api/services/oauth_service.py
  frontend/src/api/user.test.ts
  frontend/src/api/user.ts
  frontend/src/pages/activate/index.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(twitch): enrich log messages with channel login names
  backend/twitch/core/_channel_mixin.py
  backend/twitch/core/_notify_mixin.py
  backend/twitch/core/_session_mixin.py
  backend/twitch/core/bot.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(admin): add read-only DB query console to Monitor page
  backend/api/routers/admin_router.py
  frontend/src/api/admin.ts
  frontend/src/api/config.ts
  frontend/src/components/TwitchPlayer.tsx
  frontend/src/pages/admin/Monitor.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(csp): generalize overlay patterns, drop unsafe-inline
  .markdownlintignore
  frontend/public/_headers
Due: none

fix(docker): add explicit DNS resolvers to API service
  docker-compose.yml
Due: npx --prefix frontend prettier --write --ignore-unknown

chore(deps): update frontend package-lock
  frontend/package-lock.json
Due: npx --prefix frontend prettier --write --ignore-unknown

refactor(api): harden middleware, rate limiting, and logging
  backend/api/app.py
  backend/api/core/rate_limit.py
  backend/api/routers/admin_router.py
  backend/api/routers/analytics_router.py
  backend/api/routers/auth_router.py
  backend/api/routers/bots_router.py
  backend/api/routers/donation_router.py
  backend/api/services/channel_service.py
  backend/api/services/oauth_service.py
  backend/api/services/twitch_api.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

Path conditions:
  npx --prefix frontend eslint --fix: any of: frontend/**/*.{js,jsx,ts,tsx}
  npx --prefix frontend prettier --write --ignore-unknown: ((any of: frontend/**/*.{js,jsx,ts,tsx}) or (any of: docs/**/*.md)) or (any of: **/*.{json,yml,yaml})
  uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff: any of: backend/**/*.py
  uv run --project backend ruff format --config backend/pyproject.toml: any of: backend/**/*.py
  npx --prefix frontend markdownlint --fix: any of: docs/**/*.md
