Repository yPinn/Niibot: changes, and which lint-staged commands are due for each by the changed paths.
All: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml, npx --prefix frontend markdownlint --fix

docs(collections): add artist commission guidance
  docs/README.md
  docs/guides/artwork-commission-messages.md
  docs/guides/checkin-photocard-artist-brief.md
Due: npx --prefix frontend prettier --write --ignore-unknown, npx --prefix frontend markdownlint --fix

feat(checkin): replace starter cards with image catalog
  backend/api/routers/checkin_router.py
  backend/api/services/checkin_collection_service.py
  backend/shared/collection_backfill.py
  backend/shared/community_overlay_blocks.py
  backend/shared/migrations/versions/136_replace_checkin_starter_with_image_catalog.sql
  backend/tests/api/test_checkin_collection_service.py
  backend/tests/api/test_checkin_router.py
  backend/tests/shared/test_attendance_repo.py
  backend/tests/shared/test_collection_backfill.py
  backend/tests/shared/test_collection_migrations.py
  backend/tests/shared/test_collection_migrations_postgres.py
  backend/tests/shared/test_collection_repo.py
  backend/tests/shared/test_community_overlay_service.py
  docs/architecture/attendance-and-community-overlays.md
  docs/reference/api-endpoints.md
Due: npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml, npx --prefix frontend markdownlint --fix

feat(live-display): optimize collection cards for 2:3 artwork
  frontend/src/components/community-overlay/CollectionBinder.module.css
  frontend/src/components/community-overlay/CollectionBinder.test.tsx
  frontend/src/components/community-overlay/CollectionBinder.tsx
  frontend/src/components/community-overlay/collectionBinderMotion.test.ts
  frontend/src/components/community-overlay/collectionBinderMotion.ts
  frontend/src/components/community-overlay/previewFixtures.ts
  frontend/src/pages/CommunityOverlay.test.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

feat(live-display): add collection controls and card gallery
  .impeccable/config.json
  frontend/src/api/checkin.test.ts
  frontend/src/api/checkin.ts
  frontend/src/api/config.ts
  frontend/src/assets/fontawesome/css/fontawesome.subset.css
  frontend/src/components/layout/PageHeader.tsx
  frontend/src/components/ui/card.tsx
  frontend/src/pages/modules/CommunityOverlaySettings.test.tsx
  frontend/src/pages/modules/CommunityOverlaySettings.tsx
  frontend/src/pages/modules/communityOverlay/BlockInfoGrid.tsx
  frontend/src/pages/modules/communityOverlay/CheckinBlockCard.tsx
  frontend/src/pages/modules/communityOverlay/CheckinCollectionSettings.test.tsx
  frontend/src/pages/modules/communityOverlay/CheckinCollectionSettings.tsx
  frontend/src/pages/modules/communityOverlay/TarotBlockCard.tsx
  frontend/src/pages/modules/communityOverlay/ThemeEditor.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

feat(checkin): include owned cards in overlay snapshots
  backend/shared/community_events.py
  backend/shared/community_overlay_blocks.py
  backend/shared/models/collection.py
  backend/shared/repositories/collection.py
  backend/tests/shared/test_attendance_repo.py
  backend/tests/shared/test_collection_draw.py
  backend/tests/shared/test_collection_repo.py
  backend/tests/shared/test_community_events.py
  backend/tests/shared/test_community_overlay_service.py
  frontend/src/api/communityOverlay.ts
  frontend/src/components/community-overlay/rendererRegistry.test.tsx
  frontend/src/components/community-overlay/rendererRegistry.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(live-display): expand and align collection binder
  frontend/src/components/community-overlay/CollectionBinder.module.css
  frontend/src/components/community-overlay/CollectionBinder.test.tsx
  frontend/src/components/community-overlay/CollectionBinder.tsx
  frontend/src/components/community-overlay/collectionBinderMotion.test.ts
  frontend/src/components/community-overlay/collectionBinderMotion.ts
  frontend/src/components/community-overlay/previewFixtures.ts
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

feat(checkin): default reply delay to five seconds
  backend/shared/migrations/versions/137_set_checkin_reply_delay_default.sql
  backend/shared/models/attendance.py
  backend/tests/shared/test_attendance_migrations.py
  backend/tests/shared/test_attendance_repo.py
  backend/tests/shared/test_attendance_service.py
  docs/architecture/attendance-and-community-overlays.md
  docs/reference/api-endpoints.md
  frontend/src/pages/dashboard/channelPoints/CheckinSettingsSheet.tsx
  frontend/src/pages/dashboard/channelPoints/index.test.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml, npx --prefix frontend markdownlint --fix

fix(checkin): satisfy preview inventory type check
  backend/shared/community_overlay_blocks.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(twitch): split OAuth scopes into core vs per-capability
  backend/shared/migrations/versions/138_add_twitch_credential_revision.sql
  backend/shared/repositories/channel.py
  backend/shared/twitch_scopes.py
  backend/tests/shared/test_channel_repo.py
  backend/tests/shared/test_twitch_scopes.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(api): capability-scoped Twitch authorization endpoints
  backend/api/core/error_handlers.py
  backend/api/routers/admin_router.py
  backend/api/routers/bot_accounts_router.py
  backend/api/routers/channels_router.py
  backend/api/routers/events_router.py
  backend/api/routers/vip_router.py
  backend/api/services/_twitch_api/_moderation.py
  backend/api/services/bot_account_service.py
  backend/api/services/channel_service.py
  backend/api/services/twitch_authorization_service.py
  backend/scripts/twitch_oauth.py
  backend/shared/errors.py
  backend/shared/models/channel.py
  backend/tests/api/test_bot_accounts_router.py
  backend/tests/api/test_channel_service.py
  backend/tests/api/test_channels_router.py
  backend/tests/api/test_events_router.py
  backend/tests/api/test_twitch_api.py
  backend/tests/api/test_twitch_authorization_service.py
  backend/tests/api/test_vip_router.py
  backend/tests/shared/test_twitch_authorization_migration.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(twitch): gate EventSub subscriptions by granted scope
  backend/shared/events.py
  backend/tests/twitch/test_bot_token_events.py
  backend/tests/twitch/test_event_catalog.py
  backend/tests/twitch/test_subscription_manager.py
  backend/twitch/core/eventsub_catalog.py
  backend/twitch/core/subscription_manager.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

refactor(twitch): reauth chat notice fires on state change
  backend/tests/twitch/test_bot_event_message.py
  backend/tests/twitch/test_notify_mixin.py
  backend/tests/twitch/test_reauth.py
  backend/tests/twitch/test_stream_online.py
  backend/twitch/components/events.py
  backend/twitch/core/_notify_mixin.py
  backend/twitch/core/bot.py
  backend/twitch/utils/reauth.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(twitch): debounce repeated command-failure chat replies
  backend/tests/twitch/test_channel_info.py
  backend/tests/twitch/test_command_failure.py
  backend/tests/twitch/test_viewer_stats.py
  backend/twitch/components/channel_info.py
  backend/twitch/components/channel_points.py
  backend/twitch/components/viewer_stats.py
  backend/twitch/utils/command_failure.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(frontend): add Twitch capability alert + hook
  frontend/src/components/TwitchCapabilityAlert.test.tsx
  frontend/src/components/TwitchCapabilityAlert.tsx
  frontend/src/hooks/useTwitchCapabilities.test.tsx
  frontend/src/hooks/useTwitchCapabilities.ts
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

feat(frontend): reauth banners + capability-aware auth flows
  frontend/src/api/botAccounts.test.ts
  frontend/src/api/botAccounts.ts
  frontend/src/api/channels.test.ts
  frontend/src/api/channels.ts
  frontend/src/api/config.ts
  frontend/src/api/events.ts
  frontend/src/api/twitchOAuth.test.ts
  frontend/src/api/twitchOAuth.ts
  frontend/src/components/OnlineDropdown.tsx
  frontend/src/contexts/AuthContext.test.tsx
  frontend/src/contexts/AuthContext.tsx
  frontend/src/hooks/useOnboardingStatus.test.ts
  frontend/src/hooks/useOnboardingStatus.ts
  frontend/src/lib/apiCache.ts
  frontend/src/pages/dashboard/Overview.tsx
  frontend/src/pages/dashboard/channelPoints/ChannelPointActionsTable.tsx
  frontend/src/pages/dashboard/channelPoints/index.test.tsx
  frontend/src/pages/dashboard/channelPoints/index.tsx
  frontend/src/pages/dashboard/events/EventsTable.tsx
  frontend/src/pages/dashboard/events/index.test.tsx
  frontend/src/pages/dashboard/events/index.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

fix(ai): retune quotas, add Groq fallback
  backend/discord/cogs/ai.py
  backend/shared/assistant/capacity.py
  backend/shared/assistant/contracts.py
  backend/shared/assistant/providers/openai_compatible.py
  backend/shared/assistant/providers/registry.py
  backend/tests/shared/assistant/test_openai_compatible_provider.py
  backend/twitch/components/ai.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(twitch): close rate-limit lifecycle loops
  backend/api/app.py
  backend/api/services/_twitch_api/_base.py
  backend/api/services/bot_account_service.py
  backend/api/services/twitch_authorization_service.py
  backend/discord/cogs/social_preview/cog.py
  backend/scripts/twitch_oauth.py
  backend/shared/migrations/versions/139_add_twitch_validation_schedule.sql
  backend/shared/repositories/channel.py
  backend/shared/retry_utils.py
  backend/shared/twitch_egress.py
  backend/shared/video_sources.py
  backend/tests/api/test_twitch_api.py
  backend/tests/api/test_twitch_authorization_service.py
  backend/tests/discord/social_preview/conftest.py
  backend/tests/discord/social_preview/test_twitch.py
  backend/tests/shared/test_channel_repo.py
  backend/tests/shared/test_retry_utils.py
  backend/tests/shared/test_twitch_authorization_migration.py
  backend/tests/shared/test_twitch_egress.py
  backend/tests/shared/test_video_queue_repo.py
  backend/tests/twitch/test_ai.py
  backend/tests/twitch/test_bot_event_message.py
  backend/tests/twitch/test_bot_token_events.py
  backend/tests/twitch/test_games.py
  backend/tests/twitch/test_notify_mixin.py
  backend/tests/twitch/test_session_service.py
  backend/tests/twitch/test_subscription_manager.py
  backend/tests/twitch/test_viewer_stats.py
  backend/twitch/components/ai.py
  backend/twitch/components/games.py
  backend/twitch/components/viewer_stats.py
  backend/twitch/core/_notify_mixin.py
  backend/twitch/core/bot.py
  backend/twitch/core/session_service.py
  backend/twitch/core/subscription_manager.py
  backend/twitch/main.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

test(live-display): await collection selector
  frontend/src/pages/modules/CommunityOverlaySettings.test.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

feat(video-queue): accept more provider URL shapes
  backend/api/routers/video_queue_router.py
  backend/shared/instafix_client.py
  backend/shared/video_sources.py
  backend/tests/api/test_video_queue_router.py
  backend/tests/shared/test_instafix_client.py
  backend/tests/shared/test_video_queue_repo.py
  backend/tests/shared/test_video_sources_registry.py
  docs/architecture/video-queue-platforms.md
  frontend/src/pages/modules/videoQueue/BlocklistSection.test.tsx
  frontend/src/pages/modules/videoQueue/BlocklistSection.tsx
  frontend/src/pages/modules/videoQueue/utils.test.ts
  frontend/src/pages/modules/videoQueue/utils.ts
  frontend/src/pages/videoQueueOverlay/players/bilibili.ts
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml, npx --prefix frontend markdownlint --fix

fix(video-queue): sanitize redemption URL input
  backend/shared/safe_urls.py
  backend/tests/shared/test_safe_urls.py
  backend/tests/twitch/test_channel_points_video_queue.py
  backend/twitch/components/channel_points.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(schedule): add dashboard calendar UI
  frontend/src/App.tsx
  frontend/src/api/config.ts
  frontend/src/api/index.ts
  frontend/src/api/streamSchedule.ts
  frontend/src/assets/fontawesome/css/fontawesome.subset.css
  frontend/src/lib/timezones.ts
  frontend/src/pages/dashboard/channelPoints/CheckinSettingsSheet.tsx
  frontend/src/pages/modules/streamSchedule/CalendarView.test.tsx
  frontend/src/pages/modules/streamSchedule/CalendarView.tsx
  frontend/src/pages/modules/streamSchedule/GamePicker.test.tsx
  frontend/src/pages/modules/streamSchedule/GamePicker.tsx
  frontend/src/pages/modules/streamSchedule/ScheduleSheet.tsx
  frontend/src/pages/modules/streamSchedule/SegmentList.tsx
  frontend/src/pages/modules/streamSchedule/SettingsSheet.tsx
  frontend/src/pages/modules/streamSchedule/WeekTimeline.tsx
  frontend/src/pages/modules/streamSchedule/calendar.test.ts
  frontend/src/pages/modules/streamSchedule/calendar.ts
  frontend/src/pages/modules/streamSchedule/constants.ts
  frontend/src/pages/modules/streamSchedule/index.tsx
  frontend/src/pages/modules/streamSchedule/time.test.ts
  frontend/src/pages/modules/streamSchedule/time.ts
  frontend/src/pages/modules/streamSchedule/types.ts
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

refactor(nav): move Stream Schedule to Modules
  frontend/src/config/navigation.test.ts
  frontend/src/config/navigation.ts
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

feat(schedule): add backend service and API
  backend/api/app.py
  backend/api/core/dependencies.py
  backend/api/routers/stream_schedule_router.py
  backend/api/services/_twitch_api/_users.py
  backend/shared/builtin_commands.py
  backend/shared/migrations/versions/140_add_stream_schedule.sql
  backend/shared/models/stream_schedule.py
  backend/shared/repositories/stream_schedule.py
  backend/shared/services/stream_schedule_service.py
  backend/tests/api/test_stream_schedule_router.py
  backend/tests/shared/test_stream_schedule_service.py
  backend/tests/twitch/test_general_commands.py
  backend/tests/twitch/test_stream_schedule_manager.py
  backend/twitch/components/general_commands.py
  backend/twitch/components/stream_schedule_manager.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(channel-points): jump straight to old-bot check-in import
  frontend/src/pages/dashboard/channelPoints/ChannelPointActionsTable.tsx
  frontend/src/pages/dashboard/channelPoints/index.test.tsx
  frontend/src/pages/dashboard/channelPoints/index.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

feat(checkin): refine import review workflow
  frontend/src/pages/dashboard/channelPoints/CheckinImportSheet.test.tsx
  frontend/src/pages/dashboard/channelPoints/CheckinImportSheet.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

fix(types): align video provider contracts
  backend/api/routers/video_queue_router.py
  backend/shared/video_sources.py
  backend/twitch/components/ai.py
  backend/twitch/components/attendance.py
  backend/twitch/components/channel_info.py
  backend/twitch/components/channel_points.py
  backend/twitch/components/command_manager.py
  backend/twitch/components/crosshair.py
  backend/twitch/components/events.py
  backend/twitch/components/fortune.py
  backend/twitch/components/game_queue.py
  backend/twitch/components/games.py
  backend/twitch/components/general_commands.py
  backend/twitch/components/owner_commands.py
  backend/twitch/components/quotes.py
  backend/twitch/components/stream_schedule_manager.py
  backend/twitch/components/tarot.py
  backend/twitch/components/tft.py
  backend/twitch/components/timer_manager.py
  backend/twitch/components/video_queue.py
  backend/twitch/components/viewer_stats.py
  backend/twitch/core/bot.py
  backend/twitch/core/component.py
  backend/twitch/core/guards.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

test(checkin): cover bulk select and status badge coloring
  frontend/src/pages/dashboard/channelPoints/CheckinImportSheet.test.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

fix(ui): stop Alert icon overlapping its title text
  frontend/src/components/ui/alert.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

fix(checkin): stop mode-switch jitter, tidy copy
  frontend/src/pages/dashboard/channelPoints/CheckinImportSheet.test.tsx
  frontend/src/pages/dashboard/channelPoints/CheckinImportSheet.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

fix(schedule): correct date and segment time resolution
  frontend/src/pages/modules/streamSchedule/SegmentList.tsx
  frontend/src/pages/modules/streamSchedule/calendar.test.ts
  frontend/src/pages/modules/streamSchedule/calendar.ts
  frontend/src/pages/modules/streamSchedule/time.ts
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

feat(schedule): refine calendar and segment management
  frontend/src/pages/modules/streamSchedule/CalendarView.test.tsx
  frontend/src/pages/modules/streamSchedule/CalendarView.tsx
  frontend/src/pages/modules/streamSchedule/ScheduleSheet.tsx
  frontend/src/pages/modules/streamSchedule/SegmentList.tsx
  frontend/src/pages/modules/streamSchedule/SettingsSheet.tsx
  frontend/src/pages/modules/streamSchedule/WeekTimeline.tsx
  frontend/src/pages/modules/streamSchedule/calendar.ts
  frontend/src/pages/modules/streamSchedule/constants.ts
  frontend/src/pages/modules/streamSchedule/gameColor.ts
  frontend/src/pages/modules/streamSchedule/index.tsx
  frontend/src/pages/modules/streamSchedule/schedulePreview.tsx
  frontend/src/pages/modules/streamSchedule/types.ts
  frontend/src/pages/modules/streamSchedule/useSegmentPreview.ts
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

fix(twitch): repair invalid token envelopes
  backend/scripts/encrypt_twitch_tokens.py
  backend/scripts/twitch_oauth.py
  backend/shared/repositories/channel.py
  backend/shared/twitch_token_backfill.py
  backend/shared/twitch_token_crypto.py
  backend/tests/scripts/test_encrypt_twitch_tokens_cli.py
  backend/tests/scripts/test_twitch_oauth.py
  backend/tests/shared/test_channel_repo.py
  backend/tests/shared/test_twitch_token_backfill.py
  backend/tests/twitch/test_bot_token_events.py
  backend/twitch/core/bot.py
  docs/guides/deployment.md
Due: npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml, npx --prefix frontend markdownlint --fix

fix(twitch): isolate credential decode failures
  backend/shared/cache.py
  backend/shared/repositories/channel.py
  backend/shared/twitch_token_crypto.py
  backend/tests/shared/test_cache.py
  backend/tests/shared/test_channel_repo.py
  backend/tests/shared/test_twitch_token_crypto.py
  backend/tests/twitch/test_bot_token_events.py
  backend/tests/twitch/test_notify_mixin.py
  backend/tests/twitch/test_session_service.py
  backend/twitch/core/_notify_mixin.py
  backend/twitch/core/bot.py
  backend/twitch/core/session_service.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

ci: reuse staging validation for main promotion
  .github/workflows/ci.yml
  backend/tests/scripts/test_deploy_workflow.py
  docs/guides/ci-policy.md
  docs/guides/deployment.md
Due: npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml, npx --prefix frontend markdownlint --fix

feat(discord): guard social preview egress
  backend/discord/cogs/social_preview/cog.py
  backend/shared/http_egress.py
  backend/tests/discord/social_preview/test_common.py
  backend/tests/shared/test_http_egress.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(video): cache external metadata reads
  backend/shared/bilibili_client.py
  backend/shared/instafix_client.py
  backend/shared/read_through_cache.py
  backend/shared/video_sources.py
  backend/tests/shared/test_bilibili_client.py
  backend/tests/shared/test_instafix_client.py
  backend/tests/shared/test_read_through_cache.py
  backend/tests/shared/test_video_queue_repo.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(api): cache GitHub release metadata
  backend/api/app.py
  backend/api/routers/releases_router.py
  backend/api/services/github_releases.py
  backend/tests/api/test_github_releases_service.py
  backend/tests/api/test_releases_router.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

chore(ai): enforce local capacity topology
  backend/discord/cogs/ai.py
  backend/shared/assistant/__init__.py
  backend/shared/assistant/capacity.py
  backend/tests/discord/test_ai.py
  backend/tests/shared/assistant/test_capacity.py
  backend/tests/twitch/test_ai.py
  backend/twitch/components/ai.py
  docs/architecture/ai-assistant-harness.md
Due: npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml, npx --prefix frontend markdownlint --fix

fix(outbound): bound scraper request bursts
  backend/discord/cogs/tft.py
  backend/scrapling/Dockerfile
  backend/scrapling/browser_admission.py
  backend/scrapling/main.py
  backend/tests/discord/test_tft.py
  backend/tests/shared/test_scrapling_admission.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

Path conditions:
  npx --prefix frontend eslint --fix: any of: frontend/**/*.{js,jsx,ts,tsx}
  npx --prefix frontend prettier --write --ignore-unknown: ((any of: frontend/**/*.{js,jsx,ts,tsx}) or (any of: docs/**/*.md)) or (any of: **/*.{json,yml,yaml})
  uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff: any of: backend/**/*.py
  uv run --project backend ruff format --config backend/pyproject.toml: any of: backend/**/*.py
  npx --prefix frontend markdownlint --fix: any of: docs/**/*.md
