Repository yPinn/Niibot: changes, and which lint-staged commands are due for each by the changed paths.
All: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml, npx --prefix frontend markdownlint --fix

.lintstagedrc:

{
  "frontend/**/*.{js,jsx,ts,tsx}": [
    "npx --prefix frontend eslint --fix",
    "npx --prefix frontend prettier --write --ignore-unknown"
  ],
  "backend/**/*.py": [
    "uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff",
    "uv run --project backend ruff format --config backend/pyproject.toml"
  ],
  "docs/**/*.md": [
    "npx --prefix frontend markdownlint --fix",
    "npx --prefix frontend prettier --write --ignore-unknown"
  ],
  "**/*.{json,yml,yaml}": [
    "npx --prefix frontend prettier --write --ignore-unknown"
  ]
}

test(api): add coverage for middleware and rate limiting
  backend/tests/api/test_analytics_router.py
  backend/tests/api/test_app_middleware.py
  backend/tests/api/test_auth_router.py
  backend/tests/api/test_donation_router.py
  backend/tests/api/test_rate_limit.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(admin): move Analytics above Modules in sidebar
  frontend/src/config/navigation.ts
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

fix(admin): fix Monitor DB presets and cell expand layout
  frontend/src/pages/admin/Monitor.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

test(frontend): add usePolling and user API coverage
  frontend/src/api/user.test.ts
  frontend/src/hooks/usePolling.test.ts
  frontend/src/hooks/usePolling.ts
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

test(api): add router and service test coverage
  backend/tests/api/test_admin_router.py
  backend/tests/api/test_analytics_service.py
  backend/tests/api/test_bots_router.py
  backend/tests/api/test_crosshairs_router.py
  backend/tests/api/test_game_queue_router.py
  backend/tests/api/test_payment_config_router.py
  backend/tests/api/test_stats_router.py
  backend/tests/api/test_triggers_router.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

test(shared): add repository unit tests
  backend/tests/shared/test_activation_code_repo.py
  backend/tests/shared/test_activation_request_repo.py
  backend/tests/shared/test_crosshair_repo.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(chat-overlay): overhaul CSS generator and settings UI
  frontend/src/pages/modules/ChatOverlay.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

fix(admin): drop useMemo for React Compiler compat
  frontend/src/pages/admin/Monitor.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

docs(frontend): sync README with current routes and pages
  frontend/README.md
Due: none

feat(video-queue): support b23.tv Bilibili short URLs
  backend/api/routers/video_queue_router.py
  backend/shared/repositories/video_queue.py
  backend/twitch/components/channel_points.py
  backend/twitch/components/video_queue.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(video-queue): cleaner Bilibili embed player
  frontend/src/pages/VideoQueueOverlay.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

test(video-queue): add Bilibili and Twitch clip URL parsing tests
  backend/tests/shared/test_video_queue_repo.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(twitch): reauth blocks early, suppressing mod-guard
  backend/tests/twitch/test_bot_event_message.py
  backend/twitch/core/bot.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(design-system): add --ease-out token and base duration
  frontend/src/index.css
  frontend/src/lib/motion.ts
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

fix(video-queue): encodeURIComponent Bilibili bvid in embed URL
  frontend/src/pages/VideoQueueOverlay.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

fix(twitch): mark channel needs-reauth on 401/403 mod check
  backend/tests/twitch/test_bot_event_message.py
  backend/twitch/core/bot.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(twitch): scope check on channel toggle enable
  backend/tests/twitch/test_notify_mixin.py
  backend/twitch/core/_notify_mixin.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(twitch): reauth notify on go-live, not only on chat
  backend/tests/twitch/test_stream_online.py
  backend/twitch/components/general_commands.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(admin): default log tab to status panel
  frontend/src/pages/admin/Monitor.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

fix(twitch): close reauth feedback loop
  backend/tests/twitch/test_notify_mixin.py
  backend/tests/twitch/test_reauth.py
  backend/twitch/core/_notify_mixin.py
  backend/twitch/core/bot.py
  backend/twitch/utils/reauth.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

style(twitch): update auth notification messages
  backend/twitch/core/_notify_mixin.py
  backend/twitch/utils/mod_guard.py
  backend/twitch/utils/reauth.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(twitch): reauth check before mod guard in channel points
  backend/twitch/components/channel_points.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(ai): add AI settings module
  backend/api/app.py
  backend/api/routers/__init__.py
  backend/api/routers/ai_settings_router.py
  backend/api/services/twitch_api.py
  backend/shared/migrations/versions/060_add_ai_settings.sql
  backend/shared/migrations/versions/061_alter_ai_settings.sql
  backend/shared/repositories/ai_settings.py
  backend/shared/twitch_scopes.py
  backend/twitch/components/ai.py
  backend/twitch/core/_notify_mixin.py
  frontend/src/App.tsx
  frontend/src/api/aiSettings.ts
  frontend/src/api/config.ts
  frontend/src/config/navigation.ts
  frontend/src/pages/modules/AI.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(admin): improve Monitor log parsing and vite dev proxy
  frontend/src/pages/admin/Monitor.tsx
  frontend/vite.config.ts
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

perf(db): optimize analytics queries and slow query logging
  backend/shared/migrations/versions/062_add_stream_events_channel_user_index.sql
  backend/shared/repositories/analytics/_query_mixin.py
  docker-compose.yml
Due: npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

refactor(logging): unify module formatter across all services
  backend/api/core/logging.py
  backend/discord/core/logging.py
  backend/shared/logging_setup.py
  backend/twitch/core/logging.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

chore: upgrade to Python 3.12, Node 24, uv 0.11.14
  .github/workflows/ci.yml
  .nvmrc
  backend/api/Dockerfile
  backend/discord/Dockerfile
  backend/pyproject.toml
  backend/scrapling/Dockerfile
  backend/shared/repositories/command_config.py
  backend/twitch/Dockerfile
  backend/uv.lock
  frontend/eslint.config.js
  frontend/package-lock.json
  frontend/package.json
  package-lock.json
  package.json
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(ai): animated emote support and UI improvements
  backend/api/routers/ai_settings_router.py
  backend/api/services/twitch_api.py
  frontend/src/api/aiSettings.ts
  frontend/src/pages/modules/AI.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(monitor): enhanced log parsing with module tags and colors
  frontend/src/index.css
  frontend/src/pages/admin/Monitor.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

fix(docker): add explicit build config to migrate service
  docker-compose.yml
Due: npx --prefix frontend prettier --write --ignore-unknown

chore(migrations): renumber 049-062 and add 065-067
  backend/scripts/db_migrate.py
  backend/shared/migrations/runner.py
  backend/shared/migrations/versions/050_video_queue_add_bilibili.sql
  backend/shared/migrations/versions/051_backfill_viewer_attendance_streaks.sql
  backend/shared/migrations/versions/052_add_total_gifts_given.sql
  backend/shared/migrations/versions/053_add_resub_gift_sub_event_types.sql
  backend/shared/migrations/versions/054_add_best_streak.sql
  backend/shared/migrations/versions/055_add_crosshairs.sql
  backend/shared/migrations/versions/056_add_activation_codes.sql
  backend/shared/migrations/versions/057_add_activation_requests.sql
  backend/shared/migrations/versions/058_add_crosshair_copy_count.sql
  backend/shared/migrations/versions/059_add_channel_display_name.sql
  backend/shared/migrations/versions/060_activation_codes_add_plain.sql
  backend/shared/migrations/versions/061_add_ai_settings.sql
  backend/shared/migrations/versions/061_alter_ai_settings.sql
  backend/shared/migrations/versions/062_tokens_add_type.sql
  backend/shared/migrations/versions/063_alter_ai_settings.sql
  backend/shared/migrations/versions/064_add_stream_events_channel_user_index.sql
  backend/shared/migrations/versions/065_ai_settings_add_enabled.sql
  backend/shared/migrations/versions/066_ai_settings_optimize_defaults.sql
  backend/shared/migrations/versions/067_ai_settings_add_cooldown_min_role.sql
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(ai): add enabled/cooldown/min_role fields
  backend/api/routers/ai_settings_router.py
  backend/shared/builtin_commands.py
  backend/shared/repositories/ai_settings.py
  backend/twitch/components/ai.py
  frontend/src/api/aiSettings.ts
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(ai-ui): redesign AI settings page
  frontend/src/pages/modules/AI.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

fix(ui): tokens, PageHeader slot, Monitor fixes
  backend/scripts/dev/db_seed.py
  frontend/src/components/PageHeader.tsx
  frontend/src/components/ui/card.tsx
  frontend/src/pages/admin/Monitor.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

docs: update READMEs for AI module and migration v067
  README.md
  backend/README.md
  frontend/README.md
Due: none

refactor(backend): f-string logging → % formatting and minor cleanups
  backend/api/app.py
  backend/api/core/rate_limit.py
  backend/shared/config_base.py
  backend/shared/database.py
  backend/shared/health_server_base.py
  backend/shared/migrations/runner.py
  backend/shared/repositories/analytics/_events_mixin.py
  backend/shared/repositories/analytics/_session_mixin.py
  backend/shared/repositories/command_config.py
  backend/twitch/core/guards.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(ai): add self_pronoun and catchphrase fields
  backend/api/routers/ai_settings_router.py
  backend/shared/ai_provider.py
  backend/shared/migrations/versions/068_ai_settings_add_persona_fields.sql
  backend/shared/repositories/ai_settings.py
  frontend/src/api/aiSettings.ts
  frontend/src/pages/modules/AI.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(admin): scope breakdown, bot status, ReDoS guard
  backend/api/routers/admin_router.py
  backend/api/routers/message_triggers_router.py
  backend/api/routers/video_queue_router.py
  backend/shared/repositories/video_queue.py
  backend/shared/twitch_scopes.py
  backend/twitch/components/command_manager.py
  frontend/src/api/admin.ts
  frontend/src/api/config.ts
  frontend/src/pages/admin/index.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(twitch): treat ChannelModerator 403s as auth-scope errors
  backend/twitch/core/_channel_mixin.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

chore(docker): add log rotation to all services
  docker-compose.yml
Due: npx --prefix frontend prettier --write --ignore-unknown
