Repository yPinn/Niibot: changes, and which lint-staged commands are due for each by the changed paths.
All: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml, npx --prefix frontend markdownlint --fix

chore: add env.sh init script, rename badges script
  scripts/badges.py
  scripts/env.sh
Due: none

chore(ci): extract PROJECT_DIR to GitHub Variable
  .github/variables/base.env.example
  .github/workflows/_deploy.yml
Due: npx --prefix frontend prettier --write --ignore-unknown

docs: update quick start and env table
  README.md
Due: none

fix(frontend): code review fixes and 100% test coverage
  README.md
  backend/README.md
  backend/api/routers/video_queue_router.py
  frontend/README.md
  frontend/src/api/analytics.ts
  frontend/src/api/user.test.ts
  frontend/src/components/AnalyticsChart.tsx
  frontend/src/contexts/AuthContext.test.tsx
  frontend/src/contexts/AuthContext.tsx
  frontend/src/lib/apiCache.test.ts
  frontend/src/lib/apiCache.ts
  frontend/src/pages/admin/index.tsx
  frontend/src/pages/analytics/Matcher.tsx
  frontend/src/pages/dashboard/Events.tsx
  package.json
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

chore(env): add env.sh and standardize env templates
  .env.example
  .gitignore
  README.md
  backend/api/.env.example
  backend/discord/.env.example
  backend/scrapling/.env.example
  backend/shared.env.example
  backend/twitch/.env.example
  frontend/.env.example
  scripts/env.sh
Due: none

fix(ci): windows encoding and path conversion
  .github/pull.sh
  .github/push.sh
Due: none

chore(ci): add PROJECT_DIR to variable templates
  .github/variables/base.env.example
  .github/variables/prod.env.example
  .github/variables/staging.env.example
  .github/workflows/_deploy.yml
Due: npx --prefix frontend prettier --write --ignore-unknown

chore(deploy): add deploy-staging workflow to main
  .github/workflows/deploy-staging.yml
Due: npx --prefix frontend prettier --write --ignore-unknown

chore(deploy): add deploy-staging workflow to main (#27)
  .github/workflows/deploy-staging.yml
Due: npx --prefix frontend prettier --write --ignore-unknown

feat(ci): add pull.sh and fix deploy concurrency
  .github/pull.sh
  .github/push.sh
  .github/secrets/base.env.example
  .github/secrets/prod.env.example
  .github/secrets/staging.env.example
  .github/status.sh
  .github/variables/base.env.example
  .github/variables/prod.env.example
  .github/variables/staging.env.example
  .github/workflows/_deploy.yml
  README.md
Due: npx --prefix frontend prettier --write --ignore-unknown

fix(ci): encoding and show_secrets simplification
  .github/pull.sh
  .github/push.sh
Due: none

chore: unify env example format
  .env.example
  backend/api/.env.example
  backend/discord/.env.example
  backend/scrapling/.env.example
  backend/shared.env.example
  backend/twitch/.env.example
  frontend/.env.example
Due: none

chore(scripts): add staging environment management script
  scripts/staging.sh
Due: none

chore(secrets): split base/env-specific secret templates
  .github/secrets/base.env.example
  .github/secrets/prod.env.example
  .github/secrets/staging.env.example
Due: none

chore(ci): tag and prune images for staging
  .github/workflows/deploy-staging.yml
Due: npx --prefix frontend prettier --write --ignore-unknown

chore(ci): run CI checks on staging branch
  .github/workflows/ci.yml
Due: npx --prefix frontend prettier --write --ignore-unknown

fix(ci): isolate staging image names with -stg suffix
  .github/workflows/_deploy.yml
  .github/workflows/deploy-staging.yml
  docker-compose.staging.yml
Due: npx --prefix frontend prettier --write --ignore-unknown

chore(ci): opt into Node.js 24 for Actions runners
  .github/workflows/ci.yml
Due: npx --prefix frontend prettier --write --ignore-unknown

feat(ci): add dependency security audit steps
  .github/workflows/ci.yml
Due: npx --prefix frontend prettier --write --ignore-unknown

chore(ci): enforce CI before deploy on push
  .github/workflows/ci.yml
  .github/workflows/deploy-prod.yml
  .github/workflows/deploy-staging.yml
Due: npx --prefix frontend prettier --write --ignore-unknown

feat: gate notifications to production only
  .github/workflows/_deploy.yml
  backend/api/core/logging.py
  backend/discord/core/logging.py
  backend/scrapling/.env.example
  backend/scrapling/main.py
  backend/twitch/core/_notify_mixin.py
  backend/twitch/core/logging.py
  backend/twitch/utils/mod_guard.py
  backend/twitch/utils/reauth.py
Due: npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

test: update notification tests for prod-only gate
  backend/tests/twitch/test_mod_guard.py
  backend/tests/twitch/test_reauth.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(deploy): add rollback and failure notification
  .github/workflows/_deploy.yml
Due: npx --prefix frontend prettier --write --ignore-unknown

chore(secrets): add DEPLOY_WEBHOOK_URL and fix env examples
  .github/secrets/prod.env.example
  .github/secrets/staging.env.example
  backend/discord/.env.example
  backend/scrapling/.env.example
  scripts/env.sh
Due: none

feat(deploy): notify on both deploy success and failure
  .github/workflows/_deploy.yml
Due: npx --prefix frontend prettier --write --ignore-unknown

refactor(deploy): use Discord embeds for webhook notifications
  .github/workflows/_deploy.yml
Due: npx --prefix frontend prettier --write --ignore-unknown

refactor(deploy): apply EmbedFactory chrome to webhook notifications
  .github/workflows/_deploy.yml
Due: npx --prefix frontend prettier --write --ignore-unknown

fix(staging): fix down and migrate commands
  scripts/staging.sh
Due: none

feat(deploy): per-service force inputs and instafix
  .github/workflows/_deploy.yml
  .github/workflows/deploy-staging.yml
Due: npx --prefix frontend prettier --write --ignore-unknown

feat(deploy): show deployed services in webhook notification
  .github/workflows/_deploy.yml
Due: npx --prefix frontend prettier --write --ignore-unknown

refactor(scripts): add staging env tracking to env.sh
  scripts/env.sh
Due: none

fix(frontend): await fetch to catch network errors
  .secretlintignore
  frontend/functions/api/[[path]].ts
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

fix(deps): upgrade starlette 1.0.0 → 1.2.0 (PYSEC-2026-161)
  backend/uv.lock
Due: none

Path conditions:
  npx --prefix frontend eslint --fix: any of: frontend/**/*.{js,jsx,ts,tsx}
  npx --prefix frontend prettier --write --ignore-unknown: ((any of: frontend/**/*.{js,jsx,ts,tsx}) or (any of: docs/**/*.md)) or (any of: **/*.{json,yml,yaml})
  uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff: any of: backend/**/*.py
  uv run --project backend ruff format --config backend/pyproject.toml: any of: backend/**/*.py
  npx --prefix frontend markdownlint --fix: any of: docs/**/*.md
