Repository yPinn/Niibot: changes, and which lint-staged commands are due for each by the changed paths.
All: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml, npx --prefix frontend markdownlint --fix

.lintstagedrc:

{
  "frontend/**/*.{js,jsx,ts,tsx}": [
    "npx --prefix frontend eslint --fix",
    "npx --prefix frontend prettier --write --ignore-unknown"
  ],
  "backend/**/*.py": [
    "uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff",
    "uv run --project backend ruff format --config backend/pyproject.toml"
  ],
  "docs/**/*.md": [
    "npx --prefix frontend markdownlint --fix",
    "npx --prefix frontend prettier --write --ignore-unknown"
  ],
  "**/*.{json,yml,yaml}": [
    "npx --prefix frontend prettier --write --ignore-unknown"
  ]
}

fix(insights): exclude bots from total_messages and top_chatters
  backend/shared/repositories/analytics/_query_mixin.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(auth): add moderator:read:followers to broadcaster scopes
  backend/shared/twitch_scopes.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(ui): sheet border and close animation flash
  frontend/src/pages/dashboard/Insights.tsx
  frontend/src/pages/modules/VideoQueue.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

fix(discord): fix Noto CJK font fallback for full-width glyphs
  backend/discord/core/message_image.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(ui): sheet gap-0 as default
  frontend/src/components/ui/sheet.tsx
  frontend/src/pages/dashboard/Events.tsx
  frontend/src/pages/dashboard/commands/CommandSheet.tsx
  frontend/src/pages/modules/Timers.tsx
  frontend/src/pages/modules/VideoQueue.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

test(frontend): add AuthContext unit tests
  frontend/src/contexts/AuthContext.test.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

feat(analytics): watch-time tracking via bot chatters loop
  backend/shared/migrations/seed_insights_test.sql
  backend/shared/migrations/versions/045_add_watch_seconds.sql
  backend/shared/repositories/analytics/_events_mixin.py
  backend/shared/repositories/analytics/_query_mixin.py
  backend/shared/twitch_scopes.py
  backend/twitch/core/_session_mixin.py
  backend/twitch/core/bot.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(insights): enrich viewer profile with mod/vip/ban info
  backend/api/routers/analytics_router.py
  backend/api/services/twitch_api.py
  backend/shared/twitch_scopes.py
  frontend/src/api/analytics.ts
  frontend/src/pages/dashboard/Insights.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(analytics): include watch_seconds in viewer profile stats CTE
  backend/shared/repositories/analytics/_query_mixin.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(insights): reset loading state on each ViewerSheet open
  frontend/src/pages/dashboard/Insights.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

build: add pypinyin for Chinese phonetic analysis
  backend/pyproject.toml
  backend/uv.lock
Due: none

refactor(ai): improve Discord system prompt and code quality
  backend/discord/cogs/ai.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(ai): add Twitch output chat filter
  backend/data/chat_filter.json
  backend/tests/twitch/test_ai_filter.py
  backend/twitch/components/ai.py
Due: npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

refactor(insights): replace ViewerSheet dual useState with useReducer
  frontend/src/pages/dashboard/Insights.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

fix(modules): animation and semantic tokens in VideoQueue
  frontend/src/pages/modules/VideoQueue.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

fix(modules): animation, tokens, and RWD in GameQueue
  frontend/src/pages/modules/GameQueue.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

feat(twitch): add BotComponent with user token reply
  backend/twitch/core/component.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(twitch): migrate all components to BotComponent._ctx_reply
  backend/twitch/components/ai.py
  backend/twitch/components/command_manager.py
  backend/twitch/components/fortune.py
  backend/twitch/components/game_queue.py
  backend/twitch/components/games.py
  backend/twitch/components/general_commands.py
  backend/twitch/components/owner_commands.py
  backend/twitch/components/tarot.py
  backend/twitch/components/tft.py
  backend/twitch/components/video_queue.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(twitch): track Shared Chat session state
  backend/twitch/core/bot.py
  backend/twitch/core/subscriptions.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

test(twitch): update games tests for _ctx_reply refactor
  backend/tests/twitch/test_games_component.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

chore: bump version to v1.5.0
  backend/pyproject.toml
  frontend/package-lock.json
  frontend/package.json
  package.json
Due: npx --prefix frontend prettier --write --ignore-unknown

fix(docker): use native TLS in uv to fix PyPI download failures
  backend/api/Dockerfile
  backend/discord/Dockerfile
  backend/twitch/Dockerfile
Due: none

chore: sync uv.lock to backend v1.5.0
  backend/uv.lock
Due: none

fix(analytics): initialize last_message_at on insert
  backend/shared/repositories/analytics/_events_mixin.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(auth): persist OAuth token scopes to database
  backend/api/routers/auth_router.py
  backend/api/services/channel_service.py
  backend/api/services/twitch_api.py
  backend/shared/migrations/versions/046_add_token_scopes.sql
  backend/shared/models/channel.py
  backend/shared/repositories/channel.py
  backend/tests/api/test_auth_router.py
  backend/tests/shared/test_channel_repo.py
  backend/tests/twitch/test_bot_token_events.py
  backend/twitch/core/bot.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

refactor(twitch): modernize session mixin token and video APIs
  backend/twitch/core/_session_mixin.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(twitch): save scopes and validate user:bot scope
  backend/scripts/tw_oauth.py
  backend/twitch/core/bot.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(twitch): warn when channel:bot scope is missing
  backend/twitch/core/bot.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(twitch): use _ctx_reply in condemn command
  backend/twitch/components/general_commands.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(twitch): call channels/bots API on subscribe/unsubscribe
  backend/twitch/core/_channel_mixin.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(twitch): use app token for bot badge in chat
  backend/twitch/components/channel_points.py
  backend/twitch/components/events.py
  backend/twitch/components/timer_manager.py
  backend/twitch/core/_channel_mixin.py
  backend/twitch/core/_notify_mixin.py
  backend/twitch/core/_router_mixin.py
  backend/twitch/core/component.py
  backend/twitch/utils/reauth.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(twitch): resolve mypy type errors in components
  backend/twitch/components/channel_points.py
  backend/twitch/components/events.py
  backend/twitch/components/general_commands.py
  backend/twitch/components/owner_commands.py
  backend/twitch/utils/reauth.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

test: fix asyncio markers on async test classes
  backend/tests/discord/test_events.py
  backend/tests/discord/test_message_image.py
  backend/tests/shared/test_migration_runner.py
  backend/tests/twitch/test_reauth.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(ai): add multi-provider LLM chain
  backend/discord/cogs/ai.py
  backend/discord/core/config.py
  backend/discord/core/health_server.py
  backend/shared/ai_provider.py
  backend/twitch/components/ai.py
  backend/twitch/core/config.py
  backend/twitch/core/health_server.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(dashboard): show AI model in system status
  frontend/src/api/bots.ts
  frontend/src/pages/dashboard/SystemStatus.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

chore(ci): add GROQ_API_KEY and GEMINI_API_KEY secrets
  .github/workflows/deploy.yml
  backend/shared.env.example
  secrets.env.example
Due: npx --prefix frontend prettier --write --ignore-unknown

fix: use timezone-aware datetime.now(UTC)
  backend/discord/cogs/eat/cog.py
  backend/discord/cogs/fortune.py
  backend/discord/cogs/giveaway/_embeds.py
  backend/discord/cogs/tarot.py
  backend/discord/core/rate_limiter.py
  backend/twitch/components/fortune.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(api): pass ai_model through bot status response
  backend/api/routers/bots_router.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(twitch): parse VOD duration string to timedelta
  backend/tests/twitch/test_session_mixin.py
  backend/twitch/core/_session_mixin.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(backend): security hardening, bug fixes, and observability
  backend/api/app.py
  backend/api/routers/analytics_router.py
  backend/api/routers/commands_router.py
  backend/api/routers/donation_router.py
  backend/api/routers/stats_router.py
  backend/api/services/command_config_service.py
  backend/api/services/oauth_service.py
  backend/shared/cache.py
  backend/shared/repositories/analytics/_query_mixin.py
  backend/twitch/components/ai.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml
