Repository yPinn/Niibot: changes, and which lint-staged commands are due for each by the changed paths.
All: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml, npx --prefix frontend markdownlint --fix

refactor(bot): update fortune/tarot display format and remove health category
  backend/data/fortune.json
  backend/discord/cogs/fortune.py
  backend/twitch/components/sukaoMao.py
  backend/twitch/components/tarot.py
Due: npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(bot): fix fortune.json trailing commas and suppress CommandNotFound
  backend/data/fortune.json
  backend/twitch/core/bot.py
Due: npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(bot): remove category emoji from fortune format to reduce clutter
  backend/twitch/components/sukaoMao.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

refactor(frontend): standardize CSS tokens, naming, and GameQueue UI
  frontend/src/api/discordOAuth.ts
  frontend/src/api/index.ts
  frontend/src/api/twitchOAuth.ts
  frontend/src/components/OnlineDropdown.tsx
  frontend/src/pages/Commands.tsx
  frontend/src/pages/Events.tsx
  frontend/src/pages/Settings.tsx
  frontend/src/pages/SystemStatus.tsx
  frontend/src/pages/modules/GameQueue.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

refactor(frontend): reorganize pages into nav-based folders and rename files
  frontend/src/App.tsx
  frontend/src/pages/Landing.tsx
  frontend/src/pages/dashboard/Commands.tsx
  frontend/src/pages/dashboard/Events.tsx
  frontend/src/pages/dashboard/Overview.tsx
  frontend/src/pages/dashboard/SystemStatus.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

feat(bot): add Timer and Message Trigger support
  backend/api/app.py
  backend/api/routers/__init__.py
  backend/api/routers/message_triggers_router.py
  backend/api/routers/timers_router.py
  backend/api/services/message_trigger_service.py
  backend/api/services/timer_service.py
  backend/shared/migrations/versions/017_add_timers.sql
  backend/shared/migrations/versions/018_add_message_triggers.sql
  backend/shared/models/message_trigger.py
  backend/shared/models/timer.py
  backend/shared/repositories/message_trigger.py
  backend/shared/repositories/timer.py
  backend/twitch/components/cmds.py
  backend/twitch/components/timer_manager.py
  backend/twitch/core/bot.py
  backend/twitch/core/guards.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(frontend): add Timer page and unify Commands+Triggers management
  frontend/src/App.tsx
  frontend/src/api/config.ts
  frontend/src/api/index.ts
  frontend/src/api/timers.ts
  frontend/src/api/triggers.ts
  frontend/src/config/navigation.ts
  frontend/src/pages/dashboard/Commands.tsx
  frontend/src/pages/modules/Timers.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

refactor(frontend): unify UI language and set sensible form defaults
  frontend/src/pages/dashboard/Commands.tsx
  frontend/src/pages/modules/Timers.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

feat(bot): rename !rk→!tft, add !問/!塔羅 aliases, CLI trigger support
  backend/twitch/components/ai.py
  backend/twitch/components/command_manager.py
  backend/twitch/components/tarot.py
  backend/twitch/components/tft.py
  backend/twitch/components/timer_manager.py
  frontend/eslint.config.js
  frontend/package-lock.json
  frontend/src/contexts/ServiceStatusContext.tsx
  frontend/src/pages/dashboard/Commands.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(bot): persist builtin aliases to DB and show in frontend
  backend/shared/migrations/versions/019_cleanup_rk_command.sql
  backend/shared/repositories/command_config.py
  backend/twitch/components/ai.py
  backend/twitch/components/sukaoMao.py
  backend/twitch/components/tarot.py
  frontend/src/pages/dashboard/Commands.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

refactor(frontend): improve Commands UI and fix sidebar nav layout
  backend/twitch/components/cmds.py
  frontend/src/components/app-sidebar.tsx
  frontend/src/pages/dashboard/Commands.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(frontend): fix DB disconnect toast persistence and remove closeButton
  frontend/src/App.tsx
  frontend/src/contexts/ServiceStatusContext.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

feat(frontend): add Twitch channel link to public commands page and fix descriptions
  backend/api/services/command_config_service.py
  backend/twitch/components/sukaoMao.py
  frontend/src/api/commands.ts
  frontend/src/pages/PublicCommands.tsx
  frontend/src/pages/dashboard/Commands.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat: add trigger usage_count tracking and improve Commands/PublicCommands UI
  backend/shared/migrations/versions/020_add_trigger_usage_count.sql
  backend/shared/models/message_trigger.py
  backend/shared/repositories/message_trigger.py
  backend/twitch/core/bot.py
  frontend/src/api/triggers.ts
  frontend/src/contexts/ServiceStatusContext.tsx
  frontend/src/pages/PublicCommands.tsx
  frontend/src/pages/dashboard/Commands.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

refactor(frontend): improve custom tab default sort and public commands name sort
  frontend/src/pages/PublicCommands.tsx
  frontend/src/pages/dashboard/Commands.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

refactor(frontend): standardize loading states and page title style
  frontend/src/pages/PublicCommands.tsx
  frontend/src/pages/Settings.tsx
  frontend/src/pages/dashboard/Commands.tsx
  frontend/src/pages/dashboard/Events.tsx
  frontend/src/pages/dashboard/SystemStatus.tsx
  frontend/src/pages/modules/GameQueue.tsx
  frontend/src/pages/modules/Timers.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

fix(frontend): fix nav channel live alignment by removing items-start override
  frontend/src/components/nav-channels.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

fix(frontend): replace hardcoded colors with design tokens and fix toasts
  frontend/index.html
  frontend/src/components/nav-channels.tsx
  frontend/src/contexts/ServiceStatusContext.tsx
  frontend/src/hooks/useDocumentTitle.ts
  frontend/src/index.css
  frontend/src/pages/Landing.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

fix(api): add usage_count to MessageTriggerResponse
  backend/api/routers/message_triggers_router.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

refactor: unify public URL format to use username instead of channel ID
  backend/api/routers/game_queue_router.py
  frontend/src/App.tsx
  frontend/src/api/config.ts
  frontend/src/api/gameQueue.ts
  frontend/src/pages/GameQueueOverlay.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix: improve AI config and channel subscription recovery
  backend/discord/.env.example
  backend/discord/cogs/ai.py
  backend/twitch/.env.example
  backend/twitch/components/ai.py
  backend/twitch/core/bot.py
  backend/twitch/core/config.py
  frontend/src/pages/modules/GameQueue.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix: use AsyncOpenAI to prevent event loop blocking and suppress redundant NOTIFY on restart
  backend/discord/cogs/ai.py
  backend/shared/repositories/command_config.py
  backend/twitch/components/ai.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

perf(db): tighten pool heartbeat timeout and connection lifetime
  backend/api/app.py
  backend/discord/bot.py
  backend/shared/database.py
  backend/twitch/core/bot.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

perf(ai): reduce max_tokens, add timeout, and fail-fast model fallback
  backend/discord/cogs/ai.py
  backend/twitch/components/ai.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

perf(ai): add request timing, extract system prompts, add channel to log
  backend/discord/cogs/ai.py
  backend/twitch/components/ai.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(ai): enforce hard per-model timeout with asyncio.wait_for
  backend/discord/cogs/ai.py
  backend/twitch/components/ai.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(ai): forbid newlines and Markdown symbols in Twitch system prompt
  backend/twitch/components/ai.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(ai): enforce Traditional Chinese output in system prompt
  backend/discord/cogs/ai.py
  backend/twitch/components/ai.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(video-queue): implement YouTube video queue with OBS overlay
  backend/api/app.py
  backend/api/routers/__init__.py
  backend/api/routers/video_queue_router.py
  backend/shared/migrations/versions/021_add_video_queue.sql
  backend/shared/models/video_queue.py
  backend/shared/repositories/command_config.py
  backend/shared/repositories/video_queue.py
  backend/twitch/components/channel_points.py
  backend/twitch/components/video_queue_manager.py
  backend/twitch/core/config.py
  frontend/src/App.tsx
  frontend/src/api/config.ts
  frontend/src/api/videoQueue.ts
  frontend/src/pages/VideoQueueOverlay.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat: add YouTube Queue and DB recovery logic
  backend/api/app.py
  backend/discord/bot.py
  backend/shared/database.py
  backend/twitch/.env.example
  backend/twitch/core/bot.py
  backend/twitch/main.py
  frontend/src/App.tsx
  frontend/src/api/account.ts
  frontend/src/api/analytics.ts
  frontend/src/api/channels.ts
  frontend/src/api/commands.ts
  frontend/src/api/config.ts
  frontend/src/api/events.ts
  frontend/src/api/gameQueue.ts
  frontend/src/api/stats.ts
  frontend/src/api/timers.ts
  frontend/src/api/triggers.ts
  frontend/src/api/user.ts
  frontend/src/api/videoQueue.ts
  frontend/src/config/navigation.ts
  frontend/src/pages/dashboard/Events.tsx
  frontend/src/pages/modules/VideoQueue.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(logging): audit all three services
  backend/api/core/logging.py
  backend/api/routers/bots_router.py
  backend/api/routers/channels_router.py
  backend/api/routers/message_triggers_router.py
  backend/api/routers/timers_router.py
  backend/discord/bot.py
  backend/discord/cogs/fortune.py
  backend/discord/cogs/moderation.py
  backend/discord/cogs/tarot.py
  backend/discord/cogs/tft.py
  backend/discord/core/logging.py
  backend/scripts/db_migrate.py
  backend/twitch/components/channel_points.py
  backend/twitch/components/tft.py
  backend/twitch/core/bot.py
  backend/twitch/core/health_server.py
  backend/twitch/core/logging.py
  backend/twitch/main.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(twitch): resolve reconnect loop stall, pool ref staleness, and component load errors
  backend/api/app.py
  backend/discord/bot.py
  backend/twitch/components/event.py
  backend/twitch/components/timer_manager.py
  backend/twitch/core/bot.py
  backend/twitch/core/health_server.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(deps): remove discord-py[voice] extra to eliminate PyNaCl vulnerability
  backend/pyproject.toml
  backend/requirements.txt
Due: none

fix(events): add video_queue to VALID_ACTION_TYPES and update model comment
  backend/api/routers/events_router.py
  backend/shared/models/command_config.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

security: harden deps, build output, and API response headers
  .secretlintignore
  .secretlintrc.json
  backend/api/app.py
  backend/uv.lock
  frontend/package-lock.json
  frontend/package.json
  frontend/vite.config.ts
  package-lock.json
  package.json
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(build): move drop option from build to esbuild config
  frontend/vite.config.ts
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

fix(db): treat None pool as heartbeat failure to ensure reconnect retries
  backend/api/app.py
  backend/discord/bot.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(twitch): add refresh_pool to all components and unify gq_/vq_ naming
  backend/twitch/components/ai.py
  backend/twitch/components/channel_points.py
  backend/twitch/components/cmds.py
  backend/twitch/components/command_manager.py
  backend/twitch/components/event.py
  backend/twitch/components/game_queue.py
  backend/twitch/components/sukaoMao.py
  backend/twitch/components/tarot.py
  backend/twitch/components/tft.py
  backend/twitch/components/video_queue_manager.py
  backend/twitch/core/bot.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(deploy): migrate to oracle vps self-hosted
  backend/api/.env.example
  backend/api/Dockerfile
  backend/api/app.py
  backend/api/core/config.py
  backend/discord/.env.example
  backend/discord/Dockerfile
  backend/discord/bot.py
  backend/discord/core/health_server.py
  backend/scripts/tw_oauth.py
  backend/shared/database.py
  backend/twitch/.env.example
  backend/twitch/Dockerfile
  backend/twitch/core/bot.py
  backend/twitch/core/health_server.py
  backend/twitch/core/pg_listener.py
  backend/twitch/main.py
  backend/uv.lock
  docker-compose.yml
Due: npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

docs: update readmes for oracle vps deployment
  .env.example
  README.md
  backend/api/README.md
  backend/discord/README.md
  backend/twitch/README.md
  frontend/README.md
Due: none

Path conditions:
  npx --prefix frontend eslint --fix: any of: frontend/**/*.{js,jsx,ts,tsx}
  npx --prefix frontend prettier --write --ignore-unknown: ((any of: frontend/**/*.{js,jsx,ts,tsx}) or (any of: docs/**/*.md)) or (any of: **/*.{json,yml,yaml})
  uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff: any of: backend/**/*.py
  uv run --project backend ruff format --config backend/pyproject.toml: any of: backend/**/*.py
  npx --prefix frontend markdownlint --fix: any of: docs/**/*.md
