Repository yPinn/Niibot: changes, and which lint-staged commands are due for each by the changed paths.
All: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml, npx --prefix frontend markdownlint --fix

Merge pull request #288 from yPinn/feat/codex-embed-layout
  backend/discord/cogs/birthday/cog.py
  backend/discord/cogs/codex_resets/_embeds.py
  backend/discord/cogs/codex_resets/cog.py
  backend/discord/cogs/eat/cog.py
  backend/discord/cogs/events/cog.py
  backend/discord/cogs/moderation.py
  backend/discord/cogs/utility.py
  backend/discord/core/__init__.py
  backend/discord/core/slash.py
  backend/scripts/discord_ops/commands.py
  backend/tests/discord/test_codex_resets.py
  backend/tests/discord/test_slash_conventions.py
  backend/tests/scripts/test_discord_ops.py
  docs/guides/discord.md
Due: npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml, npx --prefix frontend markdownlint --fix

fix(vq): rebuild frozen YouTube player
  docs/architecture/video-queue-platforms.md
  frontend/src/pages/modules/videoQueue/SetupGuideSheet.tsx
  frontend/src/pages/videoQueueOverlay/players/shared.ts
  frontend/src/pages/videoQueueOverlay/players/types.ts
  frontend/src/pages/videoQueueOverlay/players/youtube.test.ts
  frontend/src/pages/videoQueueOverlay/players/youtube.ts
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, npx --prefix frontend markdownlint --fix

chore(api): add non-prod client IP probe
  backend/api/app.py
  backend/tests/api/test_app_middleware.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

Merge pull request #290 from yPinn/fix/vq-stall-recovery
  docs/architecture/video-queue-platforms.md
  frontend/src/pages/modules/videoQueue/SetupGuideSheet.tsx
  frontend/src/pages/videoQueueOverlay/players/shared.ts
  frontend/src/pages/videoQueueOverlay/players/types.ts
  frontend/src/pages/videoQueueOverlay/players/youtube.test.ts
  frontend/src/pages/videoQueueOverlay/players/youtube.ts
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, npx --prefix frontend markdownlint --fix

chore(api): add non-prod client IP probe (#291)
  backend/api/app.py
  backend/tests/api/test_app_middleware.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(api): key rate limits on the real client IP
  backend/api/app.py
  backend/api/core/rate_limit.py
  backend/api/main.py
  backend/api/routers/bot_accounts_router.py
  backend/api/routers/client_errors_router.py
  backend/api/routers/community_overlay_router.py
  backend/api/routers/donation_router.py
  backend/api/routers/roleplay_router.py
  backend/api/routers/video_queue_router.py
  backend/tests/api/test_app_middleware.py
  backend/tests/api/test_rate_limit.py
  docs/guides/cloudflare-pages.md
  frontend/functions/api/[[path]].ts
  frontend/functions/api/proxy.test.ts
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml, npx --prefix frontend markdownlint --fix

fix(api): key rate limits on the real client IP (#292)
  backend/api/app.py
  backend/api/core/rate_limit.py
  backend/api/main.py
  backend/api/routers/bot_accounts_router.py
  backend/api/routers/client_errors_router.py
  backend/api/routers/community_overlay_router.py
  backend/api/routers/donation_router.py
  backend/api/routers/roleplay_router.py
  backend/api/routers/video_queue_router.py
  backend/tests/api/test_app_middleware.py
  backend/tests/api/test_rate_limit.py
  docs/guides/cloudflare-pages.md
  frontend/functions/api/[[path]].ts
  frontend/functions/api/proxy.test.ts
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml, npx --prefix frontend markdownlint --fix

feat(web): add rate limits to Monitor, tidy entries
  frontend/src/api/admin.ts
  frontend/src/api/config.ts
  frontend/src/assets/fontawesome/css/fontawesome.subset.css
  frontend/src/components/ui/badge.tsx
  frontend/src/config/navigation.ts
  frontend/src/pages/admin/Monitor.tsx
  frontend/src/pages/admin/monitor/RateLimitViews.test.tsx
  frontend/src/pages/admin/monitor/RateLimitViews.tsx
  frontend/src/pages/admin/monitor/StatusCards.tsx
  frontend/src/pages/admin/monitor/rateLimits.test.ts
  frontend/src/pages/admin/monitor/rateLimits.ts
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

fix(api): match the verified Cloudflare query
  backend/api/services/cloudflare_usage.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(api): rate-limit snapshots for the Monitor
  .github/secrets/prod.env.example
  .github/secrets/stg.env.example
  .github/variables/prod.env.example
  .github/variables/stg.env.example
  backend/api/.env.example
  backend/api/core/config.py
  backend/api/core/rate_limit.py
  backend/api/routers/admin/rate_limits.py
  backend/api/routers/admin_router.py
  backend/api/routers/analytics_router.py
  backend/api/routers/auth_router.py
  backend/api/routers/bot_accounts_router.py
  backend/api/routers/checkin_router.py
  backend/api/routers/client_errors_router.py
  backend/api/routers/community_overlay_router.py
  backend/api/routers/donation_router.py
  backend/api/routers/matcher_router.py
  backend/api/routers/roleplay_router.py
  backend/api/routers/video_queue_router.py
  backend/api/services/_twitch_api/_base.py
  backend/api/services/cloudflare_usage.py
  backend/discord/bot.py
  backend/discord/cogs/social_preview/cog.py
  backend/discord/core/health_server.py
  backend/discord/core/rate_limit_tracker.py
  backend/shared/http_egress.py
  backend/shared/rate_limits.py
  backend/shared/twitch_egress.py
  backend/shared/video_sources.py
  backend/tests/api/test_admin_rate_limits.py
  backend/tests/api/test_cloudflare_usage.py
  backend/tests/api/test_rate_limit.py
  backend/tests/discord/test_rate_limit_tracker.py
  backend/tests/shared/test_rate_limits.py
  backend/twitch/core/bot.py
  backend/twitch/core/health_server.py
  docs/guides/environment.md
  env.manifest.json
  env.registry.toml
Due: npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml, npx --prefix frontend markdownlint --fix

fix(web): don't show a load failure as offline
  frontend/src/pages/admin/Monitor.tsx
  frontend/src/pages/admin/monitor/RateLimitViews.test.tsx
  frontend/src/pages/admin/monitor/RateLimitViews.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

fix(web): don't show a load failure as offline (#295)
  frontend/src/pages/admin/Monitor.tsx
  frontend/src/pages/admin/monitor/RateLimitViews.test.tsx
  frontend/src/pages/admin/monitor/RateLimitViews.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

chore(api): remove the client IP probe
  backend/api/app.py
  backend/tests/api/test_app_middleware.py
  docs/guides/cloudflare-pages.md
Due: npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml, npx --prefix frontend markdownlint --fix

feat(web): fold idle rate limits in Monitor
  frontend/src/pages/admin/monitor/RateLimitViews.test.tsx
  frontend/src/pages/admin/monitor/RateLimitViews.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

Path conditions:
  npx --prefix frontend eslint --fix: any of: frontend/**/*.{js,jsx,ts,tsx}
  npx --prefix frontend prettier --write --ignore-unknown: ((any of: frontend/**/*.{js,jsx,ts,tsx}) or (any of: docs/**/*.md)) or (any of: **/*.{json,yml,yaml})
  uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff: any of: backend/**/*.py
  uv run --project backend ruff format --config backend/pyproject.toml: any of: backend/**/*.py
  npx --prefix frontend markdownlint --fix: any of: docs/**/*.md
