Repository yPinn/Niibot: changes, and which lint-staged commands are due for each by the changed paths.
All: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml, npx --prefix frontend markdownlint --fix

docs: update README and legal pages content
  README.md
  backend/README.md
  frontend/README.md
  frontend/src/pages/docs/Privacy.tsx
  frontend/src/pages/docs/Terms.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

feat(social-preview): add link sender avatar as thumbnail in video embeds
  backend/discord/cogs/social_preview/_embeds.py
  backend/discord/cogs/social_preview/cog.py
  backend/tests/discord/social_preview/_helpers.py
  backend/tests/discord/social_preview/test_bilibili.py
  backend/tests/discord/social_preview/test_tiktok.py
  backend/tests/discord/social_preview/test_twitch.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

copy: remove per-day restriction language from tarot/fortune descriptions
  backend/discord/cogs/tarot.py
  backend/discord/cogs/utility.py
  backend/twitch/components/tarot.py
  frontend/src/components/login-form.tsx
  frontend/src/pages/Landing.tsx
  frontend/src/pages/discord/Dashboard.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

test(frontend): expand AuthContext channel polling and apiCache coverage
  frontend/src/contexts/AuthContext.test.tsx
  frontend/src/lib/apiCache.test.ts
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

test(backend): add shared module unit tests; suppress discord warnings
  backend/pyproject.toml
  backend/tests/shared/test_discord_webhook_handler.py
  backend/tests/shared/test_migration_runner.py
  backend/tests/shared/test_retry_utils.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(ci): replace fixed sleep with retry loop in health check step
  .github/workflows/deploy.yml
Due: npx --prefix frontend prettier --write --ignore-unknown

fix(api): use APP_VERSION env var instead of importlib.metadata
  backend/api/app.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(auth): add reauth and session-expiry notifications
  backend/twitch/components/events.py
  backend/twitch/utils/reauth.py
  frontend/src/components/login-form.tsx
  frontend/src/contexts/AuthContext.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(channels): add bot mod grant API and OAuth scope
  backend/api/core/config.py
  backend/api/routers/channels_router.py
  backend/api/services/twitch_api.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(ui): mod status check and grant button on setup page
  frontend/src/api/channels.ts
  frontend/src/api/config.ts
  frontend/src/pages/dashboard/Events.tsx
  frontend/src/pages/docs/GetStarted.tsx
  frontend/src/pages/modules/Timers.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

feat(bot): send welcome message on channel enable
  backend/twitch/core/_notify_mixin.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(donate): validate gateway URL before redirect
  frontend/src/pages/DonatePage.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

fix(overlay): clear fallback timer on video advance
  frontend/src/pages/VideoQueueOverlay.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

fix(settings): extract locked variable and fix grid layout
  frontend/src/pages/Settings.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

style(ui): responsive spacing and table overflow fixes
  frontend/src/components/theme-provider.tsx
  frontend/src/pages/Landing.tsx
  frontend/src/pages/Login.tsx
  frontend/src/pages/PublicCommands.tsx
  frontend/src/pages/modules/VideoQueue.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

fix(analytics): decode json_agg string returned by asyncpg
  backend/shared/repositories/analytics/_query_mixin.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

test(backend): add router and service tests
  backend/tests/api/test_analytics_router.py
  backend/tests/api/test_channels_router.py
  backend/tests/api/test_commands_router.py
  backend/tests/api/test_events_router.py
  backend/tests/api/test_timers_router.py
  backend/tests/shared/test_analytics_repo.py
  backend/tests/twitch/test_reauth.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

test(frontend): add tests for apiFetch, channels, AuthContext
  frontend/src/api/channels.test.ts
  frontend/src/api/config.test.ts
  frontend/src/contexts/AuthContext.test.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

feat(get-started): move grant-mod button to card header
  frontend/src/pages/docs/GetStarted.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

fix(get-started): restore Badge import removed by mistake
  frontend/src/pages/docs/GetStarted.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

fix(social-preview): persist images and suppress delete log
  backend/discord/cogs/events.py
  backend/discord/cogs/social_preview/cog.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

test(social-preview): fix stream mock and add delete log coverage
  backend/tests/discord/social_preview/conftest.py
  backend/tests/discord/social_preview/test_twitch.py
  backend/tests/discord/test_events.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

style(frontend): hide secondary table columns on mobile
  frontend/src/pages/Settings.tsx
  frontend/src/pages/dashboard/Events.tsx
  frontend/src/pages/dashboard/commands/BuiltinTab.tsx
  frontend/src/pages/dashboard/commands/CustomTab.tsx
  frontend/src/pages/modules/GameQueue.tsx
  frontend/src/pages/modules/Timers.tsx
  frontend/src/pages/modules/VideoQueue.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

fix(twitch): skip shared-chat partner messages
  backend/tests/twitch/test_bot_event_message.py
  backend/twitch/core/bot.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

refactor(twitch): remove dead config exports
  backend/twitch/core/__init__.py
  backend/twitch/core/config.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

refactor(twitch): remove redundant mod guard
  backend/twitch/components/command_manager.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

refactor(twitch): unify LOGGER prefix style
  backend/twitch/components/channel_points.py
  backend/twitch/components/events.py
  backend/twitch/core/_router_mixin.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

docs(env): add BOT_ID and OWNER_ID to shared.env.example
  backend/shared.env.example
Due: none

fix(api): make bot_id optional to prevent startup crash
  backend/api/core/config.py
  backend/api/routers/channels_router.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

ci(deploy): move BOT_ID to shared env
  .github/workflows/deploy.yml
  backend/twitch/.env.example
Due: npx --prefix frontend prettier --write --ignore-unknown

fix(twitch): notify broadcaster on OAuth scope errors
  backend/tests/twitch/test_reauth.py
  backend/twitch/components/channel_points.py
  backend/twitch/components/timer_manager.py
  backend/twitch/utils/reauth.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(scrapling): detect login wall and propagate _reason flag
  backend/discord/cogs/social_preview/cog.py
  backend/scrapling/main.py
  backend/tests/discord/social_preview/test_threads.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

refactor(twitch): improve log messages and remove boilerplate
  backend/twitch/components/ai.py
  backend/twitch/components/command_manager.py
  backend/twitch/components/events.py
  backend/twitch/components/fortune.py
  backend/twitch/components/game_queue.py
  backend/twitch/components/general_commands.py
  backend/twitch/components/owner_commands.py
  backend/twitch/components/tft.py
  backend/twitch/components/video_queue.py
  backend/twitch/core/_router_mixin.py
  backend/twitch/core/config.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

style(frontend): rename Mod to 管理員 and remove redundant comments
  frontend/src/pages/dashboard/Events.tsx
  frontend/src/pages/docs/GetStarted.tsx
  frontend/src/pages/modules/Timers.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

chore: bump version to 1.3.1
  backend/pyproject.toml
  frontend/package.json
Due: npx --prefix frontend prettier --write --ignore-unknown

refactor(api): inject services via Depends() factories and add 404 guards
  backend/api/core/dependencies.py
  backend/api/routers/analytics_router.py
  backend/api/routers/channels_router.py
  backend/api/routers/commands_router.py
  backend/api/routers/events_router.py
  backend/api/routers/game_queue_router.py
  backend/api/routers/message_triggers_router.py
  backend/api/routers/timers_router.py
  backend/api/routers/video_queue_router.py
  backend/shared/repositories/channel.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

chore(api): remove section dividers, redundant docstrings, and WHAT comments
  backend/api/core/config.py
  backend/api/routers/auth_router.py
  backend/api/routers/bots_router.py
  backend/api/routers/donation_router.py
  backend/api/routers/payment_config_router.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

test(api): update fixtures for Depends() pattern and add 404/toggle coverage
  backend/tests/api/test_channels_router.py
  backend/tests/api/test_commands_router.py
  backend/tests/api/test_events_router.py
  backend/tests/api/test_timers_router.py
  backend/tests/api/test_triggers_router.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(ci): use github.event.before to diff all commits in a push
  .github/workflows/deploy.yml
Due: npx --prefix frontend prettier --write --ignore-unknown

fix(ci): add scrapling to all deploy pipeline stages
  .github/workflows/deploy.yml
Due: npx --prefix frontend prettier --write --ignore-unknown

Path conditions:
  npx --prefix frontend eslint --fix: any of: frontend/**/*.{js,jsx,ts,tsx}
  npx --prefix frontend prettier --write --ignore-unknown: ((any of: frontend/**/*.{js,jsx,ts,tsx}) or (any of: docs/**/*.md)) or (any of: **/*.{json,yml,yaml})
  uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff: any of: backend/**/*.py
  uv run --project backend ruff format --config backend/pyproject.toml: any of: backend/**/*.py
  npx --prefix frontend markdownlint --fix: any of: docs/**/*.md
