Repository yPinn/Niibot: changes, and which lint-staged commands are due for each by the changed paths.
All: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml, npx --prefix frontend markdownlint --fix

.lintstagedrc:

{
  "frontend/**/*.{js,jsx,ts,tsx}": [
    "npx --prefix frontend eslint --fix",
    "npx --prefix frontend prettier --write --ignore-unknown"
  ],
  "backend/**/*.py": [
    "uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff",
    "uv run --project backend ruff format --config backend/pyproject.toml"
  ],
  "docs/**/*.md": [
    "npx --prefix frontend markdownlint --fix",
    "npx --prefix frontend prettier --write --ignore-unknown"
  ],
  "**/*.{json,yml,yaml}": [
    "npx --prefix frontend prettier --write --ignore-unknown"
  ]
}

fix(twitch): accept URLs and explain !so failures
  backend/tests/twitch/test_general_commands.py
  backend/twitch/components/general_commands.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(twitch): look up other users with !followage
  backend/tests/twitch/test_viewer_stats.py
  backend/twitch/components/viewer_stats.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(twitch): ignore stray symbols in !tarot, !quote
  backend/tests/twitch/test_quotes.py
  backend/tests/twitch/test_tarot_commands.py
  backend/twitch/components/quotes.py
  backend/twitch/components/tarot.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

chore(deps): bump pyjwt to 2.15.1
  backend/uv.lock
Due: none

fix(twitch): recheck bot mod on freshly booted hosts
  backend/tests/twitch/test_bot_event_message.py
  backend/twitch/core/bot.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

chore(deps): bump brace-expansion in lockfile
  frontend/package-lock.json
Due: npx --prefix frontend prettier --write --ignore-unknown

fix(twitch): consume search_categories with async for
  backend/tests/twitch/test_channel_info.py
  backend/twitch/components/channel_info.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(twitch): always pick closest category in !game
  backend/tests/twitch/test_channel_info.py
  backend/twitch/components/channel_info.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(deploy): retry private service health checks
  .github/workflows/_deploy.yml
Due: npx --prefix frontend prettier --write --ignore-unknown

feat(twitch): weight !game by category popularity
  backend/tests/twitch/test_channel_info.py
  backend/tests/twitch/test_game_match.py
  backend/twitch/components/channel_info.py
  backend/twitch/utils/game_match.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(shared): reject live YouTube streams in vq
  backend/shared/video_sources.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(shared): add conditional vq skip and position
  backend/api/routers/video_queue_router.py
  backend/shared/migrations/versions/153_video_queue_chat_skip_end_reason.sql
  backend/shared/repositories/video_queue.py
  backend/tests/api/test_video_queue_router.py
  backend/tests/shared/test_video_queue_repo.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(shared): apply vq admission policy by actor
  backend/shared/services/video_queue_admission.py
  backend/tests/shared/test_video_queue_admission.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(shared): unify vq chat and redemption copy
  backend/shared/video_queue_messages.py
  backend/tests/shared/test_video_queue_messages.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(shared): move !np into builtin catalog
  backend/shared/builtin_commands.py
  backend/shared/migrations/versions/154_np_builtin_catalog.sql
  backend/tests/shared/test_builtin_catalog.py
  backend/tests/shared/test_video_queue_migrations.py
  backend/tests/twitch/test_command_namespace.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(twitch): role-based vq commands and throttle
  backend/shared/repositories/command_config.py
  backend/tests/twitch/test_channel_points_video_queue.py
  backend/tests/twitch/test_video_queue_component.py
  backend/twitch/components/channel_points.py
  backend/twitch/components/video_queue.py
  backend/twitch/core/guards.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

docs(video-queue): document vq chat actors
  docs/architecture/video-queue-platforms.md
Due: npx --prefix frontend prettier --write --ignore-unknown, npx --prefix frontend markdownlint --fix

fix(deps): bump multidict to 6.9.1
  backend/uv.lock
Due: none

feat(vq): role tiers, unified copy and skip safety (#265)
  backend/api/routers/video_queue_router.py
  backend/shared/builtin_commands.py
  backend/shared/migrations/versions/153_video_queue_chat_skip_end_reason.sql
  backend/shared/migrations/versions/154_np_builtin_catalog.sql
  backend/shared/repositories/command_config.py
  backend/shared/repositories/video_queue.py
  backend/shared/services/video_queue_admission.py
  backend/shared/video_queue_messages.py
  backend/shared/video_sources.py
  backend/tests/api/test_video_queue_router.py
  backend/tests/shared/test_builtin_catalog.py
  backend/tests/shared/test_video_queue_admission.py
  backend/tests/shared/test_video_queue_messages.py
  backend/tests/shared/test_video_queue_migrations.py
  backend/tests/shared/test_video_queue_repo.py
  backend/tests/twitch/test_channel_points_video_queue.py
  backend/tests/twitch/test_command_namespace.py
  backend/tests/twitch/test_video_queue_component.py
  backend/twitch/components/channel_points.py
  backend/twitch/components/video_queue.py
  backend/twitch/core/guards.py
  backend/uv.lock
  docs/architecture/video-queue-platforms.md
Due: npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml, npx --prefix frontend markdownlint --fix

chore(deps): bump source-map-js to 1.2.2
  frontend/package-lock.json
Due: npx --prefix frontend prettier --write --ignore-unknown

chore(deps): bump source-map-js to 1.2.2 (#267)
  frontend/package-lock.json
Due: npx --prefix frontend prettier --write --ignore-unknown

fix(deploy): refresh apt security layer daily
  .github/workflows/_deploy.yml
  backend/api/Dockerfile
  backend/discord/Dockerfile
  backend/scrapling/Dockerfile
  backend/twitch/Dockerfile
Due: npx --prefix frontend prettier --write --ignore-unknown

fix(deploy): refresh apt security layer daily (#268)
  .github/workflows/_deploy.yml
  backend/api/Dockerfile
  backend/discord/Dockerfile
  backend/scrapling/Dockerfile
  backend/twitch/Dockerfile
Due: npx --prefix frontend prettier --write --ignore-unknown

feat(vq): parse time ranges at admission
  backend/api/routers/video_queue_router.py
  backend/shared/safe_urls.py
  backend/shared/services/video_queue_admission.py
  backend/shared/video_queue_messages.py
  backend/shared/video_segments.py
  backend/shared/video_sources.py
  backend/tests/shared/test_video_queue_admission.py
  backend/tests/shared/test_video_queue_messages.py
  backend/tests/shared/test_video_segments.py
  backend/tests/shared/test_video_sources_registry.py
  backend/tests/twitch/test_video_queue_component.py
  docs/architecture/video-queue-platforms.md
Due: npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml, npx --prefix frontend markdownlint --fix

feat(vq): play and show segments in overlay
  frontend/src/pages/modules/videoQueue/HistoryTable.tsx
  frontend/src/pages/modules/videoQueue/NowPlayingCard.tsx
  frontend/src/pages/modules/videoQueue/QueueTable.tsx
  frontend/src/pages/modules/videoQueue/SetupGuideSheet.test.tsx
  frontend/src/pages/modules/videoQueue/SetupGuideSheet.tsx
  frontend/src/pages/modules/videoQueue/index.tsx
  frontend/src/pages/modules/videoQueue/utils.test.ts
  frontend/src/pages/modules/videoQueue/utils.ts
  frontend/src/pages/videoQueueOverlay/players/bilibili.ts
  frontend/src/pages/videoQueueOverlay/players/types.ts
  frontend/src/pages/videoQueueOverlay/players/youtube.test.ts
  frontend/src/pages/videoQueueOverlay/players/youtube.ts
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

fix(vq): make dashboard skip conditional
  frontend/src/api/videoQueue.ts
  frontend/src/pages/modules/videoQueue/index.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

test(schedule): pin isLiveNow to a timezone
  frontend/src/pages/modules/streamSchedule/calendar.test.ts
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

chore(deps): override katex and smol-toml
  frontend/package-lock.json
  frontend/package.json
Due: npx --prefix frontend prettier --write --ignore-unknown

fix(vq): stop when Twitch autoplays another VOD
  frontend/src/pages/videoQueueOverlay/players/twitchVod.test.ts
  frontend/src/pages/videoQueueOverlay/players/twitchVod.ts
  frontend/src/pages/videoQueueOverlay/players/types.ts
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

feat(vq): add broadcaster live insert backend
  backend/api/routers/video_queue_router.py
  backend/shared/migrations/versions/155_video_queue_live_insert.sql
  backend/shared/models/video_queue.py
  backend/shared/repositories/video_queue.py
  backend/shared/services/video_queue_insert.py
  backend/shared/video_queue_messages.py
  backend/shared/video_sources.py
  backend/tests/api/test_video_queue_router.py
  backend/tests/shared/test_video_queue_insert.py
  backend/tests/shared/test_video_queue_messages.py
  backend/tests/shared/test_video_queue_migrations.py
  backend/tests/shared/test_video_queue_repo.py
  backend/tests/shared/test_video_sources_registry.py
  backend/tests/twitch/test_channel_points_video_queue.py
  backend/tests/twitch/test_video_queue_component.py
  backend/twitch/components/channel_points.py
  backend/twitch/components/video_queue.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(vq): play live inserts in overlay and dashboard
  docs/architecture/video-queue-platforms.md
  frontend/src/api/config.ts
  frontend/src/api/videoQueue.ts
  frontend/src/api/videoQueueStream.ts
  frontend/src/assets/fontawesome/css/fontawesome.subset.css
  frontend/src/pages/VideoQueueOverlay.test.tsx
  frontend/src/pages/VideoQueueOverlay.tsx
  frontend/src/pages/modules/videoQueue/InsertCard.test.tsx
  frontend/src/pages/modules/videoQueue/InsertCard.tsx
  frontend/src/pages/modules/videoQueue/index.tsx
  frontend/src/pages/videoQueueOverlay/players/index.ts
  frontend/src/pages/videoQueueOverlay/players/liveInsert.test.ts
  frontend/src/pages/videoQueueOverlay/players/liveInsert.ts
  frontend/src/pages/videoQueueOverlay/players/twitchVod.ts
  frontend/src/pages/videoQueueOverlay/players/types.ts
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, npx --prefix frontend markdownlint --fix

feat(vq): one place to queue, insert and tune output
  docs/architecture/video-queue-platforms.md
  frontend/src/pages/modules/videoQueue/InsertCard.test.tsx
  frontend/src/pages/modules/videoQueue/InsertCard.tsx
  frontend/src/pages/modules/videoQueue/NowPlayingCard.test.tsx
  frontend/src/pages/modules/videoQueue/NowPlayingCard.tsx
  frontend/src/pages/modules/videoQueue/OverlayCard.test.tsx
  frontend/src/pages/modules/videoQueue/OverlayCard.tsx
  frontend/src/pages/modules/videoQueue/QueueCard.tsx
  frontend/src/pages/modules/videoQueue/RulesCard.tsx
  frontend/src/pages/modules/videoQueue/index.tsx
  frontend/src/pages/modules/videoQueue/utils.test.ts
  frontend/src/pages/modules/videoQueue/utils.ts
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, npx --prefix frontend markdownlint --fix

docs(discord): note codex_resets runtime state
  docs/reference/static-data.md
Due: npx --prefix frontend prettier --write --ignore-unknown, npx --prefix frontend markdownlint --fix

feat(discord): notify Codex usage resets
  backend/discord/cogs/codex_resets/__init__.py
  backend/discord/cogs/codex_resets/_embeds.py
  backend/discord/cogs/codex_resets/_state.py
  backend/discord/cogs/codex_resets/cog.py
  backend/discord/cogs/utility.py
  backend/tests/discord/test_codex_resets.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(admin): streamline channel grid and CTAs
  frontend/src/api/admin.ts
  frontend/src/assets/fontawesome/css/fontawesome.subset.css
  frontend/src/pages/admin/channelStatus.ts
  frontend/src/pages/admin/components/ActivationCard.test.tsx
  frontend/src/pages/admin/components/ActivationCard.tsx
  frontend/src/pages/admin/components/ActivationCodes.test.tsx
  frontend/src/pages/admin/components/ActivationCodes.tsx
  frontend/src/pages/admin/components/BotStatusPanel.test.tsx
  frontend/src/pages/admin/components/BotStatusPanel.tsx
  frontend/src/pages/admin/components/ChannelCard.test.tsx
  frontend/src/pages/admin/components/ChannelCard.tsx
  frontend/src/pages/admin/index.test.tsx
  frontend/src/pages/admin/index.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

feat(onboarding): align mod prompt with Get Started
  frontend/src/assets/fontawesome/css/fontawesome.subset.css
  frontend/src/components/ModSetupDialog.test.tsx
  frontend/src/components/ModSetupDialog.tsx
  frontend/src/lib/mod-prompt.ts
  frontend/src/pages/dashboard/Overview.tsx
  frontend/src/pages/docs/GetStarted.test.tsx
  frontend/src/pages/docs/GetStarted.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

feat(vq): one place to queue, insert and tune output (#271)
  docs/architecture/video-queue-platforms.md
  frontend/src/pages/modules/videoQueue/InsertCard.test.tsx
  frontend/src/pages/modules/videoQueue/InsertCard.tsx
  frontend/src/pages/modules/videoQueue/NowPlayingCard.test.tsx
  frontend/src/pages/modules/videoQueue/NowPlayingCard.tsx
  frontend/src/pages/modules/videoQueue/OverlayCard.test.tsx
  frontend/src/pages/modules/videoQueue/OverlayCard.tsx
  frontend/src/pages/modules/videoQueue/QueueCard.tsx
  frontend/src/pages/modules/videoQueue/RulesCard.tsx
  frontend/src/pages/modules/videoQueue/index.tsx
  frontend/src/pages/modules/videoQueue/utils.test.ts
  frontend/src/pages/modules/videoQueue/utils.ts
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, npx --prefix frontend markdownlint --fix

fix(discord): type codex embed builder returns
  backend/discord/cogs/codex_resets/_embeds.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat: streamline admin overview and mod onboarding (#273)
  frontend/src/api/admin.ts
  frontend/src/assets/fontawesome/css/fontawesome.subset.css
  frontend/src/components/ModSetupDialog.test.tsx
  frontend/src/components/ModSetupDialog.tsx
  frontend/src/lib/mod-prompt.ts
  frontend/src/pages/admin/channelStatus.ts
  frontend/src/pages/admin/components/ActivationCard.test.tsx
  frontend/src/pages/admin/components/ActivationCard.tsx
  frontend/src/pages/admin/components/ActivationCodes.test.tsx
  frontend/src/pages/admin/components/ActivationCodes.tsx
  frontend/src/pages/admin/components/BotStatusPanel.test.tsx
  frontend/src/pages/admin/components/BotStatusPanel.tsx
  frontend/src/pages/admin/components/ChannelCard.test.tsx
  frontend/src/pages/admin/components/ChannelCard.tsx
  frontend/src/pages/admin/index.test.tsx
  frontend/src/pages/admin/index.tsx
  frontend/src/pages/dashboard/Overview.tsx
  frontend/src/pages/docs/GetStarted.test.tsx
  frontend/src/pages/docs/GetStarted.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown
