Repository yPinn/Niibot: changes, and which lint-staged commands are due for each by the changed paths.
All: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml, npx --prefix frontend markdownlint --fix

.lintstagedrc:

{
  "frontend/**/*.{js,jsx,ts,tsx}": [
    "npx --prefix frontend eslint --fix",
    "npx --prefix frontend prettier --write --ignore-unknown"
  ],
  "backend/**/*.py": [
    "uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff",
    "uv run --project backend ruff format --config backend/pyproject.toml"
  ],
  "docs/**/*.md": [
    "npx --prefix frontend markdownlint --fix",
    "npx --prefix frontend prettier --write --ignore-unknown"
  ],
  "**/*.{json,yml,yaml}": [
    "npx --prefix frontend prettier --write --ignore-unknown"
  ]
}

feat(analytics): add role sync to backfill mod/VIP/sub badges
  backend/api/routers/analytics_router.py
  backend/api/services/analytics_service.py
  backend/api/services/twitch_api.py
  backend/shared/repositories/analytics/_events_mixin.py
  frontend/src/api/analytics.ts
  frontend/src/api/config.ts
  frontend/src/pages/analytics/Insights.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(analytics): invalidate viewer cache after role sync
  frontend/src/pages/analytics/Insights.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

fix(analytics): bypass HTTP cache on post-sync refetch
  frontend/src/api/analytics.ts
  frontend/src/pages/analytics/Insights.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

refactor(analytics): simplify sync button to icon only
  frontend/src/pages/analytics/Insights.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

fix(twitch): polish bot reply messages
  backend/twitch/components/ai.py
  backend/twitch/components/channel_points.py
  backend/twitch/components/command_manager.py
  backend/twitch/components/game_queue.py
  backend/twitch/components/games.py
  backend/twitch/components/general_commands.py
  backend/twitch/components/video_queue.py
  backend/twitch/utils/reauth.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

perf(twitch): parallel watch-time, 60s interval
  backend/shared/database.py
  backend/twitch/core/_session_mixin.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(layout): fix page scroll containment across routes
  frontend/src/components/PageMain.tsx
  frontend/src/components/layouts/SidebarLayout.tsx
  frontend/src/pages/dashboard/Overview.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

feat(events): add resub and gift_sub event types
  backend/api/routers/events_router.py
  backend/shared/migrations/versions/052_add_resub_gift_sub_event_types.sql
  backend/shared/repositories/event_config.py
  backend/twitch/components/events.py
  frontend/src/api/events.ts
  frontend/src/pages/dashboard/Events.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

perf(analytics): refine engagement score formula
  backend/shared/repositories/analytics/_query_mixin.py
  backend/tests/shared/test_analytics_repo.py
  frontend/src/pages/analytics/Insights.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

refactor(config): promote environment to base settings
  .github/workflows/deploy.yml
  backend/api/core/config.py
  backend/shared/config_base.py
  backend/tests/twitch/test_reauth.py
  backend/twitch/utils/reauth.py
Due: npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

refactor(frontend): unify scroll pattern and align spacing tokens
  frontend/src/pages/Settings.tsx
  frontend/src/pages/analytics/Insights.tsx
  frontend/src/pages/modules/ChatOverlay.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

feat(analytics): organic/gift subs, follow sync
  backend/api/routers/analytics_router.py
  backend/api/services/analytics_service.py
  backend/api/services/twitch_api.py
  backend/shared/migrations/seed_insights_test.sql
  backend/shared/migrations/versions/053_add_best_streak.sql
  backend/shared/repositories/analytics/_events_mixin.py
  backend/shared/repositories/analytics/_query_mixin.py
  backend/shared/repositories/analytics/_session_mixin.py
  frontend/src/api/analytics.ts
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

refactor(insights): extract page into sub-components
  frontend/src/pages/analytics/Insights.tsx
  frontend/src/pages/analytics/insights/SummaryTile.tsx
  frontend/src/pages/analytics/insights/ViewerHeatmap.tsx
  frontend/src/pages/analytics/insights/ViewerList.tsx
  frontend/src/pages/analytics/insights/ViewerScatterChart.tsx
  frontend/src/pages/analytics/insights/ViewerSheet.tsx
  frontend/src/pages/analytics/insights/types.ts
  frontend/src/pages/analytics/insights/utils.ts
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

refactor(design-system): add animation, z-index, text-color tokens
  frontend/src/components/AffiliateLockOverlay.tsx
  frontend/src/components/AnalyticsChart.tsx
  frontend/src/components/LoadingSpinner.tsx
  frontend/src/components/StatsCard.tsx
  frontend/src/components/layouts/SidebarLayout.tsx
  frontend/src/components/nav-main.tsx
  frontend/src/index.css
  frontend/src/lib/motion.ts
  frontend/src/pages/DonatePage.tsx
  frontend/src/pages/Landing.tsx
  frontend/src/pages/Login.tsx
  frontend/src/pages/Privacy.tsx
  frontend/src/pages/Settings.tsx
  frontend/src/pages/Terms.tsx
  frontend/src/pages/dashboard/Events.tsx
  frontend/src/pages/dashboard/Overview.tsx
  frontend/src/pages/dashboard/Timers.tsx
  frontend/src/pages/dashboard/commands/CommandSheet.tsx
  frontend/src/pages/dashboard/commands/index.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

chore(infra): add Docker Compose profiles and root dev scripts
  docker-compose.dev.yml
  docker-compose.yml
  package.json
Due: npx --prefix frontend prettier --write --ignore-unknown

fix(analytics): remove unused React default import in Insights
  frontend/src/pages/analytics/Insights.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

refactor(sidebar): responsive auto-collapse with icon-mode centering
  frontend/src/components/app-sidebar.tsx
  frontend/src/components/ui/sidebar.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

feat(nav): accordion submenus and icon-mode expand
  frontend/src/components/bot-switcher.tsx
  frontend/src/components/nav-main.tsx
  frontend/src/components/nav-secondary.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

refactor(chat-overlay): extract OptionButtonGroup
  frontend/src/pages/modules/ChatOverlay.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

fix(ui): nested button and focus ring in OverlayUrlBlock
  frontend/src/components/OverlayUrlBlock.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

fix(lint): irregular whitespace and tuple type in GetStarted
  frontend/src/pages/docs/GetStarted.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

chore(twitch): unify rank template comments to zh-TW
  backend/twitch/components/general_commands.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(analytics): responsive stats and chart height
  frontend/src/components/AnalyticsChart.tsx
  frontend/src/pages/dashboard/Overview.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

feat(db): add crosshair, activation-code, and request tables
  backend/shared/migrations/versions/054_add_crosshairs.sql
  backend/shared/migrations/versions/055_add_activation_codes.sql
  backend/shared/migrations/versions/056_add_activation_requests.sql
  backend/shared/repositories/activation_code.py
  backend/shared/repositories/activation_request.py
  backend/shared/repositories/crosshair.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(activation): add OTP-based account activation system
  backend/api/core/config.py
  backend/api/routers/auth_router.py
  backend/api/services/oauth_service.py
  backend/tests/api/test_oauth_service.py
  frontend/src/api/user.test.ts
  frontend/src/api/user.ts
  frontend/src/components/ProtectedRoute.test.tsx
  frontend/src/components/ProtectedRoute.tsx
  frontend/src/contexts/AuthContext.test.tsx
  frontend/src/pages/activate/index.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(crosshairs): add crosshair manager module
  backend/api/routers/crosshairs_router.py
  frontend/src/api/crosshairs.ts
  frontend/src/pages/crosshairs/index.tsx
  frontend/src/pages/modules/crosshairs/CrosshairPreview.tsx
  frontend/src/pages/modules/crosshairs/index.tsx
  frontend/src/pages/modules/crosshairs/valorantDecode.ts
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(admin): add admin dashboard
  backend/api/routers/admin_router.py
  backend/api/services/twitch_api.py
  frontend/src/api/admin.ts
  frontend/src/pages/admin/ActivationCodes.tsx
  frontend/src/pages/admin/SystemStatus.tsx
  frontend/src/pages/admin/index.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(twitch): add mod guard and update bot event components
  backend/tests/twitch/test_bot_event_message.py
  backend/tests/twitch/test_mod_guard.py
  backend/tests/twitch/test_notify_mixin.py
  backend/twitch/components/channel_points.py
  backend/twitch/components/events.py
  backend/twitch/components/timer_manager.py
  backend/twitch/core/_notify_mixin.py
  backend/twitch/core/_session_mixin.py
  backend/twitch/core/bot.py
  backend/twitch/utils/mod_guard.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

chore: wire routing, navigation, and add UI components
  backend/api/app.py
  backend/api/routers/__init__.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/api/config.ts
  frontend/src/api/index.ts
  frontend/src/components/AnalyticsChart.tsx
  frontend/src/components/ModSetupDialog.tsx
  frontend/src/components/app-sidebar.tsx
  frontend/src/components/nav-main.tsx
  frontend/src/components/ui/dialog.tsx
  frontend/src/components/ui/index.ts
  frontend/src/components/ui/input-otp.tsx
  frontend/src/config/navigation.ts
  frontend/src/lib/apiCache.test.ts
  frontend/src/lib/clipboard.ts
  frontend/src/pages/dashboard/Events.tsx
  frontend/src/pages/dashboard/Overview.tsx
  frontend/src/pages/modules/VideoQueue.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

chore: bump version to v1.8
  backend/pyproject.toml
  backend/uv.lock
  frontend/package-lock.json
  frontend/package.json
  package-lock.json
  package.json
Due: npx --prefix frontend prettier --write --ignore-unknown

fix(deploy): write OWNER_ID to shared.env so API can read it
  .github/workflows/deploy.yml
  backend/twitch/.env.example
Due: npx --prefix frontend prettier --write --ignore-unknown

chore(auth): log owner_id on startup and is_owner mismatch
  backend/api/app.py
  backend/api/routers/auth_router.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(analytics): fix title loss and race conditions
  backend/shared/repositories/analytics/_session_mixin.py
  backend/twitch/components/general_commands.py
  backend/twitch/core/_session_mixin.py
  backend/twitch/core/bot.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(admin): activation code revoke and requests UI
  backend/api/routers/admin_router.py
  backend/shared/repositories/activation_code.py
  frontend/src/api/admin.ts
  frontend/src/api/config.ts
  frontend/src/pages/admin/ActivationCodes.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(ui): pageMain stacking context for affiliate overlay
  frontend/src/components/AffiliateLockOverlay.tsx
  frontend/src/components/PageMain.tsx
  frontend/src/pages/modules/GameQueue.tsx
  frontend/src/pages/modules/VideoQueue.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

fix(admin): remove duplicate 授權申請 and add page description
  frontend/src/pages/admin/ActivationCodes.tsx
  frontend/src/pages/admin/index.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

fix(test): add missing title key in vod mock
  backend/tests/shared/test_analytics_repo.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(channels): persist Twitch display_name on login
  backend/api/routers/auth_router.py
  backend/api/services/channel_service.py
  backend/shared/migrations/versions/058_add_channel_display_name.sql
  backend/shared/repositories/channel.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(crosshairs): add copy count tracking and refactor public page
  backend/api/routers/crosshairs_router.py
  backend/shared/migrations/versions/057_add_crosshair_copy_count.sql
  backend/shared/repositories/crosshair.py
  frontend/src/api/config.ts
  frontend/src/api/crosshairs.ts
  frontend/src/pages/crosshairs/index.tsx
  frontend/src/pages/modules/crosshairs/CrosshairCardBase.tsx
  frontend/src/pages/modules/crosshairs/CrosshairPreview.tsx
  frontend/src/pages/modules/crosshairs/index.tsx
  frontend/src/pages/modules/crosshairs/valorantDecode.ts
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(ui): sheet animation, chart height, remove SystemStatus
  frontend/src/components/AnalyticsChart.tsx
  frontend/src/components/ui/sheet.tsx
  frontend/src/pages/analytics/SystemStatus.tsx
  frontend/src/pages/dashboard/Overview.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown
