Repository yPinn/Niibot: changes, and which lint-staged commands are due for each by the changed paths.
All: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml, npx --prefix frontend markdownlint --fix

.lintstagedrc:

{
  "frontend/**/*.{js,jsx,ts,tsx}": [
    "npx --prefix frontend eslint --fix",
    "npx --prefix frontend prettier --write --ignore-unknown"
  ],
  "backend/**/*.py": [
    "uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff",
    "uv run --project backend ruff format --config backend/pyproject.toml"
  ],
  "docs/**/*.md": [
    "npx --prefix frontend markdownlint --fix",
    "npx --prefix frontend prettier --write --ignore-unknown"
  ],
  "**/*.{json,yml,yaml}": [
    "npx --prefix frontend prettier --write --ignore-unknown"
  ]
}

fix(security): add ReDoS protection and regex input validation for triggers
  backend/api/routers/message_triggers_router.py
  backend/twitch/utils/trigger_matching.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(security): validate return_url by scheme+netloc; use settings.api_url for webhook
  backend/api/routers/donation_router.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(video-queue): use stable login name for quota; play_immediately returns bool
  backend/api/routers/video_queue_router.py
  backend/shared/repositories/video_queue.py
  backend/twitch/components/channel_points.py
  backend/twitch/components/video_queue.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

perf(analytics): replace double LEFT JOIN with CTEs to fix Cartesian product
  backend/shared/repositories/analytics/_query_mixin.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(frontend/auth): skip bootstrap on public paths; show retry UI on network error
  frontend/src/api/user.ts
  frontend/src/components/ProtectedRoute.tsx
  frontend/src/contexts/AuthContext.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

fix(frontend/nav): replace <a> with Link; remove dead routes; fix Discord URL
  frontend/src/components/app-sidebar.tsx
  frontend/src/components/nav-main.tsx
  frontend/src/config/navigation.ts
  frontend/src/pages/VideoQueueOverlay.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

fix(tests/oauth): align assertions with hardened CSRF failure semantics
  backend/tests/api/test_oauth_service.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(tests/auth-router): remove dead Discord/linked-accounts tests; add callback security tests
  backend/tests/api/test_auth_router.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

test: add router tests for open-redirect and regex validation fixes
  backend/tests/api/test_donation_router.py
  backend/tests/api/test_triggers_router.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(tests/shared): fix stale mocks broken by aliases migration and CTE rewrite
  backend/tests/shared/test_analytics_repo.py
  backend/tests/shared/test_command_config_repo.py
  backend/tests/shared/test_message_trigger_repo.py
  backend/tests/twitch/test_trigger_matching.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(tests/config): remove stale Discord provider tests after OAuth removal
  frontend/src/api/config.test.ts
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

fix(tests/ProtectedRoute): add missing mock fields; cover isInitError UI
  frontend/src/components/ProtectedRoute.test.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

test(api/user): add unit tests for getCurrentUser, updateUserPreferences, logout
  frontend/src/api/user.test.ts
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

test(AuthContext): export isPublicPath; add context behaviour and 401 interceptor tests
  frontend/src/contexts/AuthContext.test.tsx
  frontend/src/contexts/AuthContext.tsx
  frontend/vitest.config.ts
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

chore(deploy): remove VPS/ghcr.io deployment files
  .github/workflows/cd.yml
  docker-compose.local-prod.yml
  docker-compose.prod.yml
  docker-compose.yml
Due: npx --prefix frontend prettier --write --ignore-unknown

chore(deps): update backend and frontend lock files
  backend/uv.lock
  frontend/package-lock.json
Due: npx --prefix frontend prettier --write --ignore-unknown

docs: consolidate and update all README files
  README.md
  backend/README.md
  backend/api/README.md
  backend/discord/README.md
  backend/twitch/README.md
  frontend/README.md
Due: none

chore(env): extract shared backend env vars; fix gitignore and gitattributes
  .gitattributes
  .gitignore
  README.md
  backend/README.md
  backend/api/.env.example
  backend/discord/.env.example
  backend/shared.env.example
  backend/twitch/.env.example
  docker-compose.yml
Due: npx --prefix frontend prettier --write --ignore-unknown

chore: update Discord invite link
  frontend/src/config/navigation.ts
  frontend/src/pages/docs/GetStarted.tsx
  frontend/src/pages/docs/Privacy.tsx
  frontend/src/pages/docs/Terms.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

fix(chart): cast dataKey to string for React key prop; update domain to niibot.llazypilot.com
  frontend/index.html
  frontend/src/components/ui/chart.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

refactor(logging): translate all backend log messages to English
  backend/api/routers/donation_router.py
  backend/api/routers/payment_config_router.py
  backend/api/services/oauth_service.py
  backend/discord/cogs/admin.py
  backend/discord/cogs/eat/cog.py
  backend/discord/cogs/giveaway/_persistence.py
  backend/twitch/components/channel_points.py
  backend/twitch/components/events.py
  backend/twitch/components/general_commands.py
  backend/twitch/core/bot.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

refactor(twitch): update TwitchIO 3 API usage and normalize command names
  backend/twitch/components/ai.py
  backend/twitch/components/fortune.py
  backend/twitch/components/game_queue.py
  backend/twitch/components/tft.py
  backend/twitch/components/video_queue.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

style(twitch): apply ruff format and lint fixes
  backend/twitch/components/command_manager.py
  backend/twitch/core/guards.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(twitch): replace broken ThreadPoolExecutor ReDoS guard with subprocess validation
  backend/tests/twitch/test_trigger_matching.py
  backend/twitch/components/command_manager.py
  backend/twitch/utils/trigger_matching.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

docs: rewrite root README with cleaner structure and accurate feature list
  README.md
Due: none

fix(env): replace em dashes with hyphens in .env comments for Docker parser compatibility
  backend/api/.env.example
  backend/discord/.env.example
  backend/shared.env.example
  backend/twitch/.env.example
Due: none

fix(docker): exclude service .env files from image via dockerignore
  backend/.dockerignore
Due: none

fix(csp): allow Cloudflare Insights beacon script and connect-src
  frontend/public/_headers
Due: none

fix(config): strip trailing slashes from URL settings
  backend/api/core/config.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

ci: add self-hosted deploy workflow with version and commit metadata
  .github/workflows/deploy.yml
Due: npx --prefix frontend prettier --write --ignore-unknown

chore: ignore actions-runner directory
  .gitignore
Due: none

ci(deploy): run from fixed project dir to access gitignored env files
  .github/workflows/deploy.yml
Due: npx --prefix frontend prettier --write --ignore-unknown

ci(deploy): fix git pull with fetch --force to avoid ref lock
  .github/workflows/deploy.yml
Due: npx --prefix frontend prettier --write --ignore-unknown

fix(twitch): use @ mention format in channel point messages
  backend/twitch/components/channel_points.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(frontend): replace Spinner with Skeleton loading states in module pages
  frontend/src/pages/dashboard/commands/index.tsx
  frontend/src/pages/modules/GameQueue.tsx
  frontend/src/pages/modules/Timers.tsx
  frontend/src/pages/modules/VideoQueue.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

feat(frontend): add initialLoading state and Skeleton to dashboard pages
  frontend/src/components/AnalyticsChart.tsx
  frontend/src/components/StatsCard.tsx
  frontend/src/contexts/ServiceStatusContext.tsx
  frontend/src/pages/dashboard/Overview.tsx
  frontend/src/pages/dashboard/SystemStatus.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

feat(shared): add DiscordWebhookHandler for ERROR/CRITICAL log alerts
  backend/shared/discord_webhook_handler.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(api,discord,twitch): wire ERROR_WEBHOOK_URL into all service logging
  backend/api/.env.example
  backend/api/core/config.py
  backend/api/core/logging.py
  backend/discord/.env.example
  backend/discord/core/logging.py
  backend/twitch/.env.example
  backend/twitch/core/logging.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(frontend): useMemo deps, validation guards, and ref improvements
  frontend/src/pages/PublicCommands.tsx
  frontend/src/pages/VideoQueueOverlay.tsx
  frontend/src/pages/dashboard/Events.tsx
  frontend/src/pages/dashboard/Overview.tsx
  frontend/src/pages/dashboard/SystemStatus.tsx
  frontend/src/pages/dashboard/commands/CommandSheet.tsx
  frontend/src/pages/dashboard/commands/index.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

fix(backend): security and reliability improvements
  backend/api/routers/donation_router.py
  backend/api/routers/video_queue_router.py
  backend/api/services/oauth_service.py
  backend/api/services/twitch_api.py
  backend/discord/cogs/giveaway/_persistence.py
  backend/discord/cogs/giveaway/cog.py
  backend/shared/discord_webhook_handler.py
  backend/shared/repositories/video_queue.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml
