Repository yPinn/Niibot: changes, and which lint-staged commands are due for each by the changed paths.
All: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml, npx --prefix frontend markdownlint --fix

fix(commands): truncate regex trigger pattern in table with tooltip
  frontend/src/pages/dashboard/commands/CustomTab.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

feat(backend): track usage count for built-in commands
  backend/twitch/components/ai.py
  backend/twitch/components/sukaoMao.py
  backend/twitch/components/tarot.py
  backend/twitch/components/tft.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(backend): use send_message API for timer broadcasts
  backend/twitch/components/timer_manager.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(frontend): align breakpoints to lg and add horizontal table scroll
  frontend/src/pages/dashboard/Events.tsx
  frontend/src/pages/dashboard/Overview.tsx
  frontend/src/pages/dashboard/SystemStatus.tsx
  frontend/src/pages/dashboard/commands/BuiltinTab.tsx
  frontend/src/pages/dashboard/commands/CustomTab.tsx
  frontend/src/pages/dashboard/commands/index.tsx
  frontend/src/pages/discord/Dashboard.tsx
  frontend/src/pages/modules/GameQueue.tsx
  frontend/src/pages/modules/Timers.tsx
  frontend/src/pages/modules/VideoQueue.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

feat(timer): add announce mode for timer broadcasts
  backend/api/routers/timers_router.py
  backend/api/services/timer_service.py
  backend/shared/migrations/versions/029_add_timer_announce.sql
  backend/shared/models/timer.py
  backend/shared/repositories/timer.py
  backend/twitch/components/timer_manager.py
  frontend/src/api/timers.ts
  frontend/src/pages/modules/Timers.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(command): track last_used_at and source top commands from config
  backend/api/routers/stats_router.py
  backend/shared/migrations/versions/028_add_command_last_used_at.sql
  backend/shared/repositories/analytics/_query_mixin.py
  backend/shared/repositories/command_config.py
  frontend/src/pages/dashboard/Overview.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(events): add cheer (bits) event subscription and simplify UI
  backend/twitch/components/event.py
  backend/twitch/core/subscriptions.py
  frontend/src/pages/dashboard/Events.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(channels): expose stream title and show in sidebar tooltip
  backend/api/routers/channels_router.py
  frontend/src/api/channels.ts
  frontend/src/components/nav-channels.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(bot): flush chatter stats on session end, fix imports, record custom command analytics
  backend/twitch/components/cmds.py
  backend/twitch/core/_message_router_mixin.py
  backend/twitch/core/_session_mixin.py
  backend/twitch/core/bot.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(ai): truncate response at sentence boundary and tighten token cap
  backend/twitch/components/ai.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(ui): replace text-balance with wrap-break-word on tooltip content
  frontend/src/components/ui/tooltip.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

feat(video-queue): detect YouTube Shorts and add vertical layout overlay
  backend/api/routers/video_queue_router.py
  backend/shared/migrations/versions/030_video_queue_add_is_vertical.sql
  backend/shared/models/video_queue.py
  backend/shared/repositories/video_queue.py
  backend/tests/shared/test_video_queue_repo.py
  backend/twitch/components/channel_points.py
  backend/twitch/components/video_queue_manager.py
  frontend/src/api/videoQueue.ts
  frontend/src/pages/VideoQueueOverlay.module.css
  frontend/src/pages/VideoQueueOverlay.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(ui): associate form labels with inputs and add aria-label to switches
  frontend/src/pages/dashboard/Events.tsx
  frontend/src/pages/dashboard/commands/CommandSheet.tsx
  frontend/src/pages/modules/Timers.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

feat(video-queue): add blurred side players with all-ready barrier sync
  backend/api/routers/video_queue_router.py
  backend/shared/repositories/video_queue.py
  backend/twitch/components/video_queue_manager.py
  frontend/src/pages/VideoQueueOverlay.module.css
  frontend/src/pages/VideoQueueOverlay.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

chore(data): reformat eat.json and update recent entries
  backend/data/eat.json
Due: npx --prefix frontend prettier --write --ignore-unknown

fix(backend): address security and correctness issues from code review
  backend/api/core/dependencies.py
  backend/api/routers/auth_router.py
  backend/api/routers/bots_router.py
  backend/api/routers/video_queue_router.py
  backend/api/services/oauth_service.py
  backend/discord/cogs/giveaway/_persistence.py
  backend/discord/cogs/giveaway/cog.py
  backend/shared/repositories/video_queue.py
  backend/tests/api/test_auth_router.py
  backend/tests/api/test_oauth_service.py
  backend/tests/discord/__init__.py
  backend/tests/discord/test_giveaway_persistence.py
  backend/tests/shared/test_video_queue_repo.py
  backend/tests/twitch/test_guards.py
  backend/twitch/core/config.py
  backend/twitch/core/guards.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

refactor(twitch): rename component files for clarity
  backend/twitch/components/ai.py
  backend/twitch/components/channel_points.py
  backend/twitch/components/command_manager.py
  backend/twitch/components/events.py
  backend/twitch/components/fortune.py
  backend/twitch/components/game_queue.py
  backend/twitch/components/general_commands.py
  backend/twitch/components/owner_commands.py
  backend/twitch/components/tft.py
  backend/twitch/components/timer_manager.py
  backend/twitch/components/video_queue.py
  backend/twitch/core/_message_router_mixin.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

refactor(discord): rename cog classes and standardize LOGGER
  backend/discord/cogs/admin.py
  backend/discord/cogs/ai.py
  backend/discord/cogs/birthday/cog.py
  backend/discord/cogs/eat/cog.py
  backend/discord/cogs/events.py
  backend/discord/cogs/fortune.py
  backend/discord/cogs/games.py
  backend/discord/cogs/giveaway/__init__.py
  backend/discord/cogs/giveaway/_persistence.py
  backend/discord/cogs/giveaway/_views.py
  backend/discord/cogs/giveaway/cog.py
  backend/discord/cogs/moderation.py
  backend/discord/cogs/tarot.py
  backend/discord/cogs/tft.py
  backend/discord/cogs/utility.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

test(backend): clean up mock import style in video queue tests
  backend/shared/repositories/video_queue.py
  backend/tests/shared/test_video_queue_repo.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(frontend): add vitest and initial test suite
  frontend/package-lock.json
  frontend/package.json
  frontend/src/api/config.test.ts
  frontend/src/components/ProtectedRoute.test.tsx
  frontend/src/hooks/useDocumentTitle.test.ts
  frontend/src/hooks/usePolling.test.ts
  frontend/src/hooks/useSortState.test.ts
  frontend/src/lib/apiCache.test.ts
  frontend/src/lib/sort.test.ts
  frontend/src/test/setup.ts
  frontend/tsconfig.app.json
  frontend/tsconfig.test.json
  frontend/vitest.config.ts
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

ci: add frontend tests and backend mypy to pipeline
  .github/workflows/ci.yml
  .gitignore
  .markdownlintignore
  .secretlintignore
Due: npx --prefix frontend prettier --write --ignore-unknown

fix(frontend): scope console.error to DEV only
  frontend/src/api/channels.ts
  frontend/src/api/config.ts
  frontend/src/api/discordOAuth.ts
  frontend/src/api/twitchOAuth.ts
  frontend/src/api/user.ts
  frontend/src/components/nav-user.tsx
  frontend/src/contexts/AuthContext.tsx
  frontend/src/contexts/BotContext.tsx
  frontend/src/pages/Settings.tsx
  frontend/src/pages/dashboard/Overview.tsx
  frontend/src/pages/dashboard/SystemStatus.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

refactor(video-queue): extract player management helpers
  frontend/src/pages/VideoQueueOverlay.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

chore: normalize line endings and update uv.lock
  backend/uv.lock
Due: none

docs: remove Oracle VPS references
  .github/workflows/cd.yml
  CLAUDE.md
  README.md
  backend/api/README.md
  backend/discord/README.md
  backend/twitch/README.md
  docker-compose.prod.yml
  docker-compose.yml
  frontend/README.md
Due: npx --prefix frontend prettier --write --ignore-unknown

feat(video-queue): add per-user controls (chat/redemption toggles, cooldown, max-per-user)
  backend/api/routers/video_queue_router.py
  backend/shared/migrations/versions/031_video_queue_user_limits.sql
  backend/shared/models/video_queue.py
  backend/shared/repositories/video_queue.py
  backend/tests/shared/test_video_queue_repo.py
  backend/twitch/components/channel_points.py
  backend/twitch/components/video_queue.py
  frontend/src/api/videoQueue.ts
  frontend/src/pages/modules/VideoQueue.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(frontend): clear error query param on login form mount
  frontend/src/components/login-form.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

refactor(twitch): replace load_env_config() with get_settings() in main.py
  backend/twitch/main.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(backend): log response body on token exchange failure
  backend/api/services/twitch_api.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(twitch): add invoke_fallback=True to !vq command group
  backend/twitch/components/video_queue.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

chore(twitch): normalize import order
  backend/twitch/components/general_commands.py
  backend/twitch/core/_message_router_mixin.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

chore: add JS/TS line ending rules to .gitattributes
  .gitattributes
Due: none

feat(video-queue): add source priority tiers and remove chat-only settings
  backend/api/routers/video_queue_router.py
  backend/shared/migrations/versions/032_video_queue_priority.sql
  backend/shared/migrations/versions/033_video_queue_redemption_duration.sql
  backend/shared/migrations/versions/034_video_queue_remove_chat_settings.sql
  backend/shared/migrations/versions/035_video_queue_redemption_default_600.sql
  backend/shared/models/video_queue.py
  backend/shared/repositories/video_queue.py
  backend/tests/shared/test_video_queue_repo.py
  backend/twitch/components/channel_points.py
  backend/twitch/components/video_queue.py
  frontend/src/api/videoQueue.ts
  frontend/src/pages/VideoQueueOverlay.tsx
  frontend/src/pages/modules/VideoQueue.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(backend): sync video queue test fixture with removed fields
  backend/tests/shared/test_video_queue_repo.py
  frontend/src/assets/images/Avatar.png
  frontend/src/assets/images/Rabbit.jpg
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix(frontend): perf, responsive fixes, and console error gating
  frontend/src/components/AnalyticsChart.tsx
  frontend/src/components/OnlineDropdown.tsx
  frontend/src/components/TwitchPlayer.tsx
  frontend/src/components/login-form.tsx
  frontend/src/contexts/ServiceStatusContext.tsx
  frontend/src/hooks/useOptimisticToggle.ts
  frontend/src/pages/PublicCommands.tsx
  frontend/src/pages/dashboard/Events.tsx
  frontend/src/pages/dashboard/Overview.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

refactor(ui): redesign landing page, module panels, and overlays
  frontend/src/pages/GameQueueOverlay.module.css
  frontend/src/pages/GameQueueOverlay.tsx
  frontend/src/pages/Landing.tsx
  frontend/src/pages/VideoQueueOverlay.module.css
  frontend/src/pages/VideoQueueOverlay.tsx
  frontend/src/pages/modules/GameQueue.tsx
  frontend/src/pages/modules/Timers.tsx
  frontend/src/pages/modules/VideoQueue.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

feat(auth): expose broadcaster_type and add isAffiliate to context
  backend/api/routers/auth_router.py
  frontend/src/api/user.ts
  frontend/src/contexts/AuthContext.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(events,modules): add inline overlay locking for affiliate-only features
  frontend/src/pages/dashboard/Events.tsx
  frontend/src/pages/modules/GameQueue.tsx
  frontend/src/pages/modules/VideoQueue.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

feat(docs): add GetStarted onboarding page at /docs
  frontend/src/App.tsx
  frontend/src/pages/docs/GetStarted.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

fix(ui): redesign 404 page and add home link to bot-switcher
  frontend/src/components/bot-switcher.tsx
  frontend/src/pages/NotFound.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

Path conditions:
  npx --prefix frontend eslint --fix: any of: frontend/**/*.{js,jsx,ts,tsx}
  npx --prefix frontend prettier --write --ignore-unknown: ((any of: frontend/**/*.{js,jsx,ts,tsx}) or (any of: docs/**/*.md)) or (any of: **/*.{json,yml,yaml})
  uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff: any of: backend/**/*.py
  uv run --project backend ruff format --config backend/pyproject.toml: any of: backend/**/*.py
  npx --prefix frontend markdownlint --fix: any of: docs/**/*.md
