Repository yPinn/Niibot: changes, and which lint-staged commands are due for each by the changed paths.
All: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml, npx --prefix frontend markdownlint --fix

.lintstagedrc:

{
  "frontend/**/*.{js,jsx,ts,tsx}": [
    "npx --prefix frontend eslint --fix",
    "npx --prefix frontend prettier --write --ignore-unknown"
  ],
  "backend/**/*.py": [
    "uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff",
    "uv run --project backend ruff format --config backend/pyproject.toml"
  ],
  "docs/**/*.md": [
    "npx --prefix frontend markdownlint --fix",
    "npx --prefix frontend prettier --write --ignore-unknown"
  ],
  "**/*.{json,yml,yaml}": [
    "npx --prefix frontend prettier --write --ignore-unknown"
  ]
}

feat(activation): bot records a grant, not a code+request
  backend/twitch/components/channel_points.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(activation): admin grants list + onboarding funnel
  backend/api/routers/admin_router.py
  backend/tests/api/test_admin_router.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(activation): rework /activate + admin grants UI
  frontend/src/api/admin.ts
  frontend/src/api/config.ts
  frontend/src/api/user.test.ts
  frontend/src/api/user.ts
  frontend/src/assets/fontawesome/css/fontawesome.subset.css
  frontend/src/pages/activate/index.tsx
  frontend/src/pages/admin/components/ActivationCard.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

chore(activation): daily grant cleanup loop; drop legacy shim
  backend/api/app.py
  backend/shared/repositories/activation_code.py
  backend/shared/repositories/activation_request.py
  backend/tests/shared/test_activation_request_repo.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

refactor(activation): lighter pending-request row for the 360px column
  frontend/src/assets/fontawesome/css/fontawesome.subset.css
  frontend/src/pages/admin/components/ActivationCard.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

Rework activation flow: OTP → grant model + onboarding monitoring (#168)
  backend/api/app.py
  backend/api/routers/admin_router.py
  backend/api/routers/auth_router.py
  backend/api/services/admission_service.py
  backend/shared/migrations/versions/089_activation_grants.sql
  backend/shared/repositories/activation_code.py
  backend/shared/repositories/activation_request.py
  backend/tests/api/test_admin_router.py
  backend/tests/api/test_admission_service.py
  backend/tests/api/test_auth_router.py
  backend/tests/shared/test_activation_code_repo.py
  backend/tests/shared/test_activation_request_repo.py
  backend/twitch/components/channel_points.py
  frontend/src/api/admin.ts
  frontend/src/api/config.ts
  frontend/src/api/user.test.ts
  frontend/src/api/user.ts
  frontend/src/pages/activate/index.tsx
  frontend/src/pages/admin/components/ActivationCard.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(monitor): rework log viewer
  frontend/src/api/admin.ts
  frontend/src/pages/admin/monitor/LogRecordRow.test.tsx
  frontend/src/pages/admin/monitor/LogRecordRow.tsx
  frontend/src/pages/admin/monitor/logParsers.ts
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

feat(monitor): parse structlog console lines
  backend/api/routers/admin/logs.py
  backend/tests/api/test_admin_logs.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

refactor(monitor): unify chrome + fix bleed
  frontend/src/components/ui/sidebar.tsx
  frontend/src/pages/admin/Monitor.tsx
  frontend/src/pages/admin/monitor/ClientErrorsPanel.tsx
  frontend/src/pages/admin/monitor/DbConsole.tsx
  frontend/src/pages/admin/monitor/StatusCards.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

chore(frontend): regenerate FA icon subset
  frontend/src/assets/fontawesome/css/fontawesome.subset.css
Due: none

feat(monitor): harden DB console + schema API
  backend/api/routers/admin/db.py
  backend/shared/migrations/versions/090_db_console_role.sql
  backend/tests/api/test_admin_router.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(monitor): schema browser for the db console
  frontend/src/api/admin.ts
  frontend/src/api/config.ts
  frontend/src/pages/admin/monitor/DbConsole.test.tsx
  frontend/src/pages/admin/monitor/DbConsole.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

feat(activate): clarify activation choices
  frontend/src/assets/images/Author.jpg
  frontend/src/pages/activate/index.test.tsx
  frontend/src/pages/activate/index.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

chore(dev): add activate preview route
  frontend/src/App.tsx
  frontend/src/contexts/AuthContext.test.tsx
  frontend/src/contexts/AuthContext.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

feat(landing): present product as a slide deck
  PRODUCT.md
  frontend/src/assets/fontawesome/css/fontawesome.subset.css
  frontend/src/index.css
  frontend/src/pages/Landing.test.tsx
  frontend/src/pages/Landing.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

fix(membership): block suspended product access
  backend/api/core/dependencies.py
  backend/api/routers/bots_router.py
  backend/tests/api/test_bots_router.py
  backend/tests/api/test_membership_dependencies.py
  frontend/src/contexts/AuthContext.test.tsx
  frontend/src/contexts/AuthContext.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(admin): manage suspensions and access overview
  backend/api/routers/admin_router.py
  backend/shared/repositories/channel.py
  backend/tests/api/test_admin_router.py
  backend/tests/shared/test_channel_repo.py
  frontend/src/api/admin.test.ts
  frontend/src/api/admin.ts
  frontend/src/api/config.ts
  frontend/src/pages/admin/components/ActivationCard.test.tsx
  frontend/src/pages/admin/components/ActivationCard.tsx
  frontend/src/pages/admin/components/ChannelCard.test.tsx
  frontend/src/pages/admin/components/ChannelCard.tsx
  frontend/src/pages/admin/index.test.tsx
  frontend/src/pages/admin/index.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

chore(frontend): drop redundant tsconfig baseUrl
  frontend/tsconfig.json
Due: npx --prefix frontend prettier --write --ignore-unknown

chore: bump backend version to v1.14
  backend/pyproject.toml
  backend/uv.lock
Due: none

fix(analytics): track complete snapshots
  backend/scripts/dev/db_seed.py
  backend/shared/migrations/versions/091_add_attendance_observation.sql
  backend/shared/migrations/versions/092_backfill_attendance_projection.sql
  backend/shared/repositories/analytics/_events_mixin.py
  backend/shared/repositories/analytics/_session_mixin.py
  backend/tests/shared/test_analytics_repo.py
  backend/tests/twitch/test_session_service.py
  backend/twitch/core/session_service.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(commands): clarify catalog audiences
  backend/api/routers/commands_router.py
  backend/shared/builtin_commands.py
  backend/tests/shared/test_builtin_catalog.py
  backend/tests/twitch/test_viewer_stats.py
  backend/twitch/components/viewer_stats.py
  frontend/src/api/commands.ts
  frontend/src/pages/PublicCommands.test.tsx
  frontend/src/pages/PublicCommands.tsx
  frontend/src/pages/dashboard/commands/BuiltinTab.test.tsx
  frontend/src/pages/dashboard/commands/BuiltinTab.tsx
  frontend/src/pages/dashboard/commands/CommandSheet.test.tsx
  frontend/src/pages/dashboard/commands/CommandSheet.tsx
  frontend/src/pages/dashboard/commands/constants.ts
  frontend/src/pages/dashboard/commands/index.tsx
  frontend/src/pages/dashboard/commands/types.ts
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

docs(architecture): record tenant extensions
  docs/README.md
  docs/architecture/admission-and-tenancy.md
  docs/architecture/attendance-and-community-overlays.md
  docs/architecture/bot-accounts-and-collaboration.md
  docs/architecture/overview.md
  docs/reference/api-endpoints.md
Due: npx --prefix frontend prettier --write --ignore-unknown, npx --prefix frontend markdownlint --fix

chore(git): ignore review artifacts
  .gitignore
Due: none

feat(vip): add timed reward management
  backend/api/app.py
  backend/api/core/dependencies.py
  backend/api/routers/__init__.py
  backend/api/routers/vip_router.py
  backend/api/services/_twitch_api/_channel.py
  backend/shared/migrations/versions/099_add_timed_vip_management.sql
  backend/shared/models/vip.py
  backend/shared/repositories/vip.py
  backend/shared/services/vip.py
  backend/tests/api/test_twitch_api.py
  backend/tests/api/test_vip_router.py
  backend/tests/shared/test_vip_migrations.py
  backend/tests/shared/test_vip_repo.py
  backend/tests/shared/test_vip_service.py
  backend/tests/twitch/test_channel_points_checkin.py
  backend/tests/twitch/test_channel_points_vip.py
  backend/twitch/components/channel_points.py
  frontend/src/api/config.ts
  frontend/src/api/index.ts
  frontend/src/api/vip.ts
  frontend/src/pages/dashboard/channelPoints/ChannelPointActionsTable.tsx
  frontend/src/pages/dashboard/channelPoints/VipSettingsSheet.tsx
  frontend/src/pages/dashboard/channelPoints/index.test.tsx
  frontend/src/pages/dashboard/channelPoints/index.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(auth): encrypt Twitch credentials at rest
  .github/secrets/prod.env.example
  .github/secrets/staging.env.example
  backend/scripts/encrypt_twitch_tokens.py
  backend/shared.env.example
  backend/shared/config_base.py
  backend/shared/migrations/versions/100_expand_twitch_token_encryption.sql
  backend/shared/repositories/channel.py
  backend/shared/twitch_credential_policy.py
  backend/shared/twitch_token_backfill.py
  backend/shared/twitch_token_crypto.py
  backend/tests/shared/test_bot_account_phase0_migrations.py
  backend/tests/shared/test_channel_repo.py
  backend/tests/shared/test_twitch_credential_policy.py
  backend/tests/shared/test_twitch_token_backfill.py
  backend/tests/shared/test_twitch_token_crypto.py
  docs/guides/environment.md
  env.manifest.json
  env.registry.toml
Due: npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml, npx --prefix frontend markdownlint --fix

feat(bot): add tenant-scoped OAuth invitations
  backend/api/app.py
  backend/api/core/dependencies.py
  backend/api/routers/__init__.py
  backend/api/routers/auth_router.py
  backend/api/routers/bot_accounts_router.py
  backend/api/routers/tenants_router.py
  backend/api/services/_twitch_api/_oauth.py
  backend/api/services/bot_account_service.py
  backend/api/services/tenant_service.py
  backend/shared/migrations/versions/101_add_bot_account_registry.sql
  backend/shared/migrations/versions/102_harden_bot_invite_expected_account.sql
  backend/tests/api/test_auth_router.py
  backend/tests/api/test_bot_account_service.py
  backend/tests/api/test_bot_accounts_router.py
  backend/tests/api/test_membership_dependencies.py
  backend/tests/api/test_tenant_service.py
  backend/tests/api/test_tenants_router.py
  backend/tests/api/test_twitch_api.py
  backend/tests/shared/test_bot_account_phase2_migrations.py
  backend/tests/twitch/test_notify_mixin.py
  backend/twitch/core/_notify_mixin.py
  backend/twitch/core/bot.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

feat(frontend): add bot invite and tenant workspace UI
  frontend/src/App.tsx
  frontend/src/api/botAccounts.test.ts
  frontend/src/api/botAccounts.ts
  frontend/src/api/config.ts
  frontend/src/api/index.ts
  frontend/src/api/tenants.test.ts
  frontend/src/api/tenants.ts
  frontend/src/assets/fontawesome/css/fontawesome.subset.css
  frontend/src/components/ProtectedRoute.test.tsx
  frontend/src/components/ProtectedRoute.tsx
  frontend/src/components/layout/app-sidebar.tsx
  frontend/src/components/layout/workspace-switcher.test.tsx
  frontend/src/components/layout/workspace-switcher.tsx
  frontend/src/components/settings/BotAccountsCard.test.tsx
  frontend/src/components/settings/BotAccountsCard.tsx
  frontend/src/contexts/TenantContext.test.tsx
  frontend/src/contexts/TenantContext.tsx
  frontend/src/lib/apiCache.ts
  frontend/src/pages/BotAuthorizationResult.tsx
  frontend/src/pages/BotInvite.test.tsx
  frontend/src/pages/BotInvite.tsx
  frontend/src/pages/Settings.tsx
  frontend/src/pages/admin/components/BotStatusPanel.test.tsx
  frontend/src/pages/admin/components/BotStatusPanel.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

docs(architecture): document bot account rollout
  docs/architecture/bot-accounts-and-collaboration.md
  docs/architecture/overview.md
  docs/guides/deployment.md
  docs/reference/api-endpoints.md
Due: npx --prefix frontend prettier --write --ignore-unknown, npx --prefix frontend markdownlint --fix

refactor(vip): simplify management sheet
  frontend/src/pages/dashboard/channelPoints/VipSettingsSheet.tsx
  frontend/src/pages/dashboard/channelPoints/index.test.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

refactor(frontend): consolidate workspace navigation
  frontend/src/components/layout/app-sidebar.tsx
  frontend/src/components/layout/nav-channels.test.tsx
  frontend/src/components/layout/nav-channels.tsx
  frontend/src/components/layout/nav-user.test.tsx
  frontend/src/components/layout/nav-user.tsx
  frontend/src/components/layout/workspace-switcher.test.tsx
  frontend/src/components/layout/workspace-switcher.tsx
  frontend/src/components/primitives/TwitchBadge.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

feat(overlay): add block-scoped live display
  backend/api/routers/community_overlay_router.py
  backend/shared/community_overlay_blocks.py
  backend/shared/migrations/versions/103_scope_overlay_themes_by_block.sql
  backend/shared/models/attendance.py
  backend/shared/repositories/community_overlay.py
  backend/shared/services/community_overlay.py
  backend/tests/api/test_community_overlay_router.py
  backend/tests/shared/test_attendance_migrations.py
  backend/tests/shared/test_community_overlay_repo.py
  backend/tests/shared/test_community_overlay_service.py
  docs/architecture/attendance-and-community-overlays.md
  frontend/src/api/communityOverlay.test.ts
  frontend/src/api/communityOverlay.ts
  frontend/src/api/config.ts
  frontend/src/assets/fontawesome/css/fontawesome.subset.css
  frontend/src/components/OverlayUrlBlock.tsx
  frontend/src/components/community-overlay/CheckinCard.module.css
  frontend/src/config/navigation.test.ts
  frontend/src/config/navigation.ts
  frontend/src/pages/CommunityOverlay.test.tsx
  frontend/src/pages/CommunityOverlay.tsx
  frontend/src/pages/dashboard/channelPoints/constants.ts
  frontend/src/pages/modules/CommunityOverlaySettings.test.tsx
  frontend/src/pages/modules/CommunityOverlaySettings.tsx
  frontend/src/pages/modules/communityOverlay/CheckinBlockCard.tsx
  frontend/src/pages/modules/communityOverlay/CheckinTriggerCard.tsx
  frontend/src/pages/modules/communityOverlay/ThemeEditor.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown, uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml, npx --prefix frontend markdownlint --fix

fix: isolate Twitch test environment
  backend/tests/twitch/test_attendance_commands.py
  backend/tests/twitch/test_general_commands.py
  backend/tests/twitch/test_mod_guard.py
  backend/tests/twitch/test_reauth.py
  backend/twitch/components/general_commands.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix: keep generated env docs in sync
  backend/tests/scripts/test_gen_env.py
  env.registry.toml
  scripts/gen_env.py
Due: uv run --project backend ruff check --fix --config backend/pyproject.toml --cache-dir backend/.cache/ruff, uv run --project backend ruff format --config backend/pyproject.toml

fix: stabilize frontend CI tests
  frontend/src/api/botAccounts.test.ts
  frontend/src/api/checkin.test.ts
  frontend/src/api/communityOverlay.test.ts
  frontend/src/pages/modules/CommunityOverlaySettings.test.tsx
  frontend/src/pages/modules/communityOverlay/ThemeEditor.tsx
  frontend/src/test/requestUrl.ts
  frontend/vitest.config.ts
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

feat(admin): group channels by operational status
  frontend/src/pages/admin/index.test.tsx
  frontend/src/pages/admin/index.tsx
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown

chore(deps): refresh backend and frontend locks
  backend/uv.lock
  frontend/package-lock.json
Due: npx --prefix frontend prettier --write --ignore-unknown

fix(deps): split cryptography by production platform
  backend/pyproject.toml
  backend/uv.lock
Due: none

fix(deploy): restore Pages function routes
  frontend/public/_routes.json
  frontend/src/config/deploymentRoutes.test.ts
Due: npx --prefix frontend eslint --fix, npx --prefix frontend prettier --write --ignore-unknown
